﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_Authorize.Master" CodeBehind="A_Authorize.aspx.vb" Inherits="Aroma_HRPortal.A_Authorize" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .style1
        {
            height: 24px;
        }
        .style2
        {
            height: 24px;
            width: 163px;
        }
        .style3
        {
            width: 121px;
        }
        .style4
        {
            width: 122px;
        }
        .style5
        {
            width: 124px;
        }
        .style6
        {
            width: 163px;
        }
        .style7
        {
            height: 24px;
            width: 161px;
        }
        .style9
        {
            height: 24px;
            width: 14px;
        }
        .style10
        {
            width: 14px;
        }
        .style11
        {
            width: 12px;
        }
        .style12
        {
            width: 121px;
            height: 24px;
        }
        .style13
        {
            width: 122px;
            height: 24px;
        }
        .style14
        {
            width: 124px;
            height: 24px;
        }
    </style>
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
    <br />


     <div class="col-lg-12">
                <h3>
                   Authorize
                </h3>
                
                </div>

    <table class="style287" width="100%">
          <%--  <tr>
                <td bgcolor="#F4F4F4" class="style1">
    
                &nbsp;
                            <FONT face="Tahoma">
                            <asp:label id="LabelTitle0" runat="server" 
                                Font-Names="Tahoma" Font-Bold="True" Font-Size="Small" 
                                ForeColor="Black"><FONT face="Tahoma">Authorize >> </FONT></asp:label>
		                    </FONT>
			<font face="tahoma">
    
                            <asp:Label ID="lbtype" runat="server" Text="กำหนดสิทธิ์ผู้ใช้งาน " 
                        Font-Bold="True" Font-Names="Tahoma" ForeColor="Black" 
                        Font-Size="Small"></asp:Label>
			</font>
                    </td>
            </tr>--%>
            <tr>
                <%--<td bgcolor="#E5E5E5" class="style2">
    
                    &nbsp;</td>--%>
            </tr>
            </table>
                  <table class="style1">
                    <tr>
                        <td class="style9">
                            <asp:TextBox ID="TextBox1" runat="server" BorderColor="White" BorderWidth="0px" 
                                Width="31px"></asp:TextBox>
                            </td>
                        <td class="style2">
                            <font face="Tahoma">
                            <asp:Label ID="LabelTitle1" runat="server" Font-Bold="False" 
                                Font-Names="Tahoma" Font-Size="Small" ForeColor="Black" 
                                Font-Italic="False" Width="120px">Username </asp:Label>
                            </font>
                            </td>
                        <td class="style1">
                            <asp:TextBox ID="txtUsername" runat="server" Width="100px"></asp:TextBox>
                        </td>
                        <td class="style1">
                            </td>
                        <td class="style1">
                            </td>
                        <td class="style1">
                            </td>
                        <td class="style1">
                            </td>
                        <td class="style1">
                            </td>
                    </tr>
        
                    <tr>
                        <td class="style10">
                            &nbsp;</td>
                        <td class="style6">
                            <font face="Tahoma">
                            <asp:Label ID="LabelTitle4" runat="server" Font-Bold="False" 
                                Font-Names="Tahoma" Font-Size="Small" ForeColor="Black" 
                                Font-Italic="False" Width="120px">Password </asp:Label>
                            </font>
                            </td>
                        <td class="style1">
                            <asp:TextBox ID="txtPassword" runat="server" Width="200px"></asp:TextBox>
                            </td>
                        <td class="style3">
                            &nbsp;</td>
                        <td class="style4">
                            &nbsp;</td>
                        <td class="style7">
                            &nbsp;</td>
                        <td class="style5">
                            &nbsp;</td>
                        <td class="style223">
                            &nbsp;</td>
                    </tr>
        
                    <tr>
                        <td class="style9">
                            <asp:TextBox ID="txtUsername1" runat="server" Width="40px" BorderWidth="0px"></asp:TextBox>
                        </td>
                        <td class="style2">
                            <font face="Tahoma">
                            <asp:Label ID="LabelTitle5" runat="server" Font-Bold="False" 
                                Font-Names="Tahoma" Font-Size="Small" ForeColor="Black" 
                                Font-Italic="False" Width="120px">Role </asp:Label>
                            </font>
                            </td>
                        <td class="style1">
                                 <font face="Tahoma">
                                 <asp:DropDownList ID="DropRole" runat="server" Width="200px">
                                     <asp:ListItem Value="Admin">Admin</asp:ListItem>
                                    <%-- <asp:ListItem Value="กรุงเทพและปริมณฑล">กรุงเทพและปริมณฑล</asp:ListItem>
                                     <asp:ListItem Value="ภาคกลาง">ภาคกลาง</asp:ListItem>
                                     <asp:ListItem Value="ภาคตะวันออก">ภาคตะวันออก</asp:ListItem>
                                     <asp:ListItem Value="ภาคใต้">ภาคใต้</asp:ListItem>
                                     <asp:ListItem Value="ภาคใต้">ภาคเหนือ</asp:ListItem>
                                     <asp:ListItem Value="ภาคอีสาน">ภาคอีสาน</asp:ListItem>--%>
                                 </asp:DropDownList>
                                 </font>
                             </td>
                        <td class="style12">
                            </td>
                        <td class="style13">
                            </td>
                        <td class="style7">
                            </td>
                        <td class="style14">
                            </td>
                        <td class="style1">
                            </td>
                    </tr>
        
                    <tr>
                        <td class="style10">
                            &nbsp;</td>
                        <td>
                                 <asp:ImageButton ID="btn_add" runat="server" 
                                ImageUrl="~/Images/btnAdd.jpg" Height="30px" Width="93px" />
                                 </td>
                        <td class="style6">
                            &nbsp;</td>
                        <td class="style1">
                                 &nbsp;</td>
                         
                        <td class="style3">
                            &nbsp;</td>
                        <td class="style4">
                            &nbsp;</td>
                        <td class="style7">

                     </td>
                        <td class="style5">
                                 &nbsp;</td>
                        <td class="style223">
                                 &nbsp;</td>
                    </tr>  
                </table>    
    </div>        
                                    
                                          
                                        <%--    <table class="style279">
                                                <tr>
                                                    <td class="style11">
                                                        <asp:TextBox ID="TextBox2" runat="server" BorderColor="White" BorderWidth="0px" 
                                                            Width="31px"></asp:TextBox>
                            <asp:TextBox ID="txtUsername0" runat="server" Width="40px" BorderWidth="0px"></asp:TextBox>
                                                    </td>
                                                    <td class="style289">--%>
                                                        <asp:GridView ID="GridView1" runat="server" AllowPaging="True" 
                                                            AutoGenerateColumns="False" DataKeyNames="username" DataSourceID="SqlDataSource1" 
                                                            Font-Bold="False" Font-Names="Tahoma" Font-Size="Small" ShowFooter="True" 
                                                            Width="100%" CellPadding="1" BackColor="White" BorderColor="#336666" 
                                                            BorderStyle="None" AllowSorting="True" 
                                                            GridLines="Horizontal" Height="157px">
                                                            <FooterStyle BackColor="White" ForeColor="#333333" />
                                                            <PagerStyle BackColor="gray" ForeColor="White" HorizontalAlign="Center" />
                                                            <SelectedRowStyle BackColor="#339966" Font-Bold="True" ForeColor="White" />
                                                            <HeaderStyle BackColor="gray" Font-Bold="true" ForeColor="White" />
                                                            <RowStyle BackColor="White" ForeColor="#333333" />
                                                            <Columns>
                                                                <asp:BoundField DataField="username" HeaderText="Username" ReadOnly="true"  
                                                                    SortExpression="username" InsertVisible="False" >
                                                                    <HeaderStyle HorizontalAlign="Left" />
                                                                </asp:BoundField>
                                                                <asp:BoundField DataField="password" HeaderText="Password" 
                                                                    SortExpression="password" >
                                                                    <HeaderStyle HorizontalAlign="Left" />
                                                                </asp:BoundField>
                                                               
                                                             
                                                                <asp:TemplateField HeaderText="Role" SortExpression="Role">
                                                                    <EditItemTemplate>
                                                                        <asp:DropDownList ID="Drop1" runat="server" 
                                                                            SelectedValue='<%# Bind("Role") %>'>                                                                         
                                                                               <asp:ListItem Value="Admin">Admin</asp:ListItem>
                                                                                 <asp:ListItem Value="กรุงเทพและปริมณฑล">กรุงเทพและปริมณฑล</asp:ListItem>
                                                                                 <asp:ListItem Value="ภาคกลาง">ภาคกลาง</asp:ListItem>
                                                                                 <asp:ListItem Value="ภาคตะวันออก">ภาคตะวันออก</asp:ListItem>
                                                                                 <asp:ListItem Value="ภาคใต้">ภาคใต้</asp:ListItem>
                                                                                 <asp:ListItem Value="ภาคใต้">ภาคเหนือ</asp:ListItem>
                                                                                 <asp:ListItem Value="ภาคอีสาน">ภาคอีสาน</asp:ListItem>
                                                                        </asp:DropDownList>
                                                                    </EditItemTemplate>
                                                                    <ItemTemplate>
                                                                        <asp:Label ID="Role" runat="server" Text='<%# Bind("Role") %>'></asp:Label>
                                                                    </ItemTemplate>
                                                                    <HeaderStyle HorizontalAlign="Left" />
                                                                </asp:TemplateField>
                                                       
                                                               
                                                                <asp:TemplateField HeaderText="Block" SortExpression="status">
                                                                    <EditItemTemplate>
                                                                        <asp:DropDownList ID="Drop2" runat="server" 
                                                                            SelectedValue='<%# Bind("status") %>' Height="23px" Width="82px">
                                                                            <asp:ListItem Value="A">Active</asp:ListItem>
                                                                            <asp:ListItem Value="B">Block</asp:ListItem>
                                                                        </asp:DropDownList>
                                                                    </EditItemTemplate>

                                                                    <ItemTemplate>
                                                                        <asp:CheckBox ID="chk" runat="server" 
                                                                            Checked='<%# If(Eval("status") = "B", True, False) %>'  Enabled="False" />
                                                                    </ItemTemplate>

                                                                    <HeaderStyle HorizontalAlign="Left" />

                                                                 </asp:TemplateField>  
                                                             
                                                                    <asp:CommandField ShowDeleteButton="True" ShowEditButton="True" 
                                                                   
                                                                    DeleteImageUrl="~/Images/icon_delete.ico" 
                                                                    EditImageUrl="~/Images/icon_edit.ico" 
                                                                    ButtonType="Image" 
                                                                    CancelImageUrl="~/Images/icon_close.ico" 
                                                                    UpdateImageUrl="~/Images/icon_Save.ico" >
                                                                         <HeaderStyle HorizontalAlign="Left" />
                                                                   </asp:CommandField>
                                                                   
                                                            </Columns>
                                                        </asp:GridView>
                                                    <%--</td>
                                                </tr>
                                            </table>--%>
    <%--    </asp:Panel>--%>
           
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
        ConnectionString="<%$ ConnectionStrings:HRConnectionString %>" 
        DeleteCommand="DELETE FROM [TB_Authorize] where [username] = @username" 
        SelectCommand="SELECT username, password,role, status FROM [TB_Authorize]   " 
        UpdateCommand="UPDATE [TB_Authorize] set  password=@password, status=@status ,role=@role  where [username] = @username"
        >
        
        <UpdateParameters>
        
           <%-- <asp:Parameter Name="Resource" />--%>
            <asp:Parameter Name="Role" />
            <asp:Parameter Name="status" />
            
            <%--<asp:controlparameter name="username" controlid="lblres_id" />--%>
            <%--<asp:controlparameter name="date" controlid="lbldate" />--%>
           
        </UpdateParameters>
        
    </asp:SqlDataSource>
    
    </div>
</asp:Content>