﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_Authorize.Master" CodeBehind="A_Birthday.aspx.vb" Inherits="Aroma_HRPortal.A_Birthday" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

 


<br />
<br />

                 <div class="col-lg-12">
                <h3>
                   ระบบส่งอีเมลล์ อวยพรวันเกิดพนักงาน
                </h3>
                
                </div>

                   <div class="col-lg-12">

                   <table>
                   
             <tr>
                <td align="right" class="style8">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style5">

                    &nbsp;</td>
                <td align="left" valign="middle" class="style3">
                    &nbsp;</td>
                <td align="left" class="style7">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style1">
                    &nbsp;</td>
                <td align="left" class="style1">
                    &nbsp;</td>
            </tr>
                   
           <%--  <tr>
                <td align="right" class="style8">
                    <asp:Label ID="Label13" runat="server" CssClass="fn_ContentTital" 
                        Text="วันที่ :" ToolTip="" Width="160px"></asp:Label>
                    </td>
                <td align="left" valign="middle" class="style5">

                <asp:TextBox ID="txtLeaveSDate" runat="server" Font-Size="Small" 
                        Width="150px"></asp:TextBox>

                    </td>
                <td align="left" valign="middle" class="style3">
                    <asp:Label ID="Label16" runat="server" CssClass="fn_ContentTital" 
                        Text="ถึงวันที่ :" ToolTip="" Width="50px"></asp:Label>
                    </td>
                <td align="left" class="style7">
                    <asp:TextBox ID="txtLeaveEDate" runat="server" Font-Size="Small" 
                        Width="150px"></asp:TextBox>

                    </td>
                <td align="left" valign="middle" class="style1">
                    &nbsp;</td>
                <td align="left" class="style1">
                    &nbsp;</td>
            </tr>--%>
                   
                    <tr>
                <td align="right" class="style8">
                    <asp:Label ID="Label19" runat="server" CssClass="fn_ContentTital" 
                        Text="เดือน : " Width="160px" Font-Bold="True" Font-Size="Medium"></asp:Label>
                        </td>
                <td align="left" valign="middle" class="style5">

                    <asp:DropDownList ID="drpmonth" runat="server" Width="200px" Height="30px">
                        <asp:ListItem Value="1">มกราคม</asp:ListItem>
                        <asp:ListItem Value="2">กุมภาพันธ์</asp:ListItem>
                        <asp:ListItem Value="3">มีนาคม</asp:ListItem>
                            <asp:ListItem Value="4">เมษายน</asp:ListItem>
                            <asp:ListItem Value="5">พฤษภาคม</asp:ListItem>

                             <asp:ListItem Value="6">มิถุนายน</asp:ListItem>
                            <asp:ListItem Value="7">กรกฎาคม</asp:ListItem>
                             <asp:ListItem Value="8">สิงหาคม</asp:ListItem>
                            <asp:ListItem Value="9">กันยายน</asp:ListItem>
                             <asp:ListItem Value="10">ตุลาคม</asp:ListItem>
                            <asp:ListItem Value="11">พฤศจิกายน</asp:ListItem>
                            <asp:ListItem Value="12">ธันวาคม</asp:ListItem>

                    </asp:DropDownList>
                        </td>
                <td align="left" valign="middle" class="style3">
                    &nbsp;</td>
                <td align="left" class="style7">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style1">
                    &nbsp;</td>
                <td align="left" class="style1">
                    <asp:Button ID="Button1" runat="server" Text="ค้นหา" />
                        </td>
            </tr>
             <tr>
                <td align="right" class="style8">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style5">

                    &nbsp;</td>
                <td align="left" valign="middle" class="style3">
                    &nbsp;</td>
                <td align="left" class="style7">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style1">
                    &nbsp;</td>
                <td align="left" class="style1">
                    &nbsp;</td>
            </tr>
                   </table>
              
                
<asp:GridView ID="GridView" runat="server"   DataKeyNames="Employee_id" 
        AutoGenerateColumns = "False" 
        AlternatingRowStyle-BackColor = "#F0F8FF"  
        HeaderStyle-BackColor = "green" 
        AllowPaging ="True"  ShowFooter = "True"  
        OnPageIndexChanging = "OnPaging" CellPadding="4" Height="100%" BorderStyle="None"
                  Font-Names="Tahoma" BackColor="White" BorderColor="#DEDFDE" 
        BorderWidth="1px" Font-Size="Medium" ForeColor="Black" GridLines="Vertical" 
        PageSize="100" Width="90%" >
                            
<AlternatingRowStyle BackColor="White"></AlternatingRowStyle>
                            
                            <Columns>

                                                            
                             <asp:BoundField DataField="birthday" HeaderText="วันเกิด" />
                            <asp:BoundField DataField="Employee_id" HeaderText="รหัสพนักงาน" />
                             <asp:BoundField DataField="fullname" HeaderText="ชื่อพนักงาน" />
                           
                             <asp:BoundField DataField="department_name" HeaderText="แผนก" />
                           <%-- <asp:BoundField DataField="departments_name" HeaderText="ฝ่าย" />--%>
                              <asp:BoundField DataField="email" HeaderText="อีเมลล์" />
                            <asp:BoundField DataField="BirthdayEmail" HeaderText="วันที่ส่งล่าสุด" />
                          

                                 <asp:HyperLinkField DataNavigateUrlFields="Employee_id" 
                                            DataNavigateUrlFormatString="A_Birthday_SentMail.aspx?Employee_id={0}" 
                                            DataTextField="sent" HeaderText="อวยพรวันเกิด" 
                                            NavigateUrl="A_Birthday_SentMail.aspx?Employee_id={0}"  Target="_self" >
                                        <ControlStyle ForeColor="Blue"></ControlStyle>
                                            <ItemStyle Font-Bold="True" />
                                            <ControlStyle ForeColor = "Blue" />
                                        </asp:HyperLinkField>
                            

                            </Columns>

                            <FooterStyle BackColor="#CCCC99" />
                            <HeaderStyle BackColor="#6B696B" Font-Bold="True" ForeColor="White" />
                            <PagerStyle BackColor="#F7F7DE" ForeColor="Black" HorizontalAlign="Right" />
                            <RowStyle BackColor="#F7F7DE" />
                            <SelectedRowStyle BackColor="#CE5D5A" Font-Bold="True" ForeColor="White" />
                            <SortedAscendingCellStyle BackColor="#FBFBF2" />
                            <SortedAscendingHeaderStyle BackColor="#848384" />
                            <SortedDescendingCellStyle BackColor="#EAEAD3" />
                            <SortedDescendingHeaderStyle BackColor="#575357" />
    </asp:GridView>


                </div>
           


</asp:Content>
