﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_Authorize.Master" CodeBehind="A_Employee.aspx.vb" Inherits="Aroma_HRPortal.A_Employee" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .style1
        {}
        .style3
        {
            width: 99px;
            height: 23px;
        }
        .style4
        {
            width: 4px;
            height: 23px;
        }
        .style5
        {
            height: 23px;
        }
        .style7
        {
            width: 96px;
            height: 23px;
        }
        .style8
        {
            width: 24px;
            height: 23px;
        }
        .style9
        {
            width: 24px;
            height: 36px;
        }
        .style10
        {
            height: 36px;
        }
        </style>
</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

                    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js"></script>

                    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.min.js"></script>

                    <link type="text/css" rel="Stylesheet" href="http://ajax.microsoft.com/ajax/jquery.ui/1.8.16/themes/redmond/jquery-ui.css" />



<%--
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>--%>
                    <%--<link href="~/css/select2.min.css" rel="stylesheet" />--%>
                    <script src="~/css/select2.min.css" rel="stylesheet"></script>
                    <script src="~/js/select2.min.js" type="text/javascript"></script>
                    
                   
                     <script type="text/javascript">
                         $(document).ready(function () {
                             $("#drpEmployee").select2({
                             });
                         });
                    </script>
                     <script type="text/javascript">
                         $(document).ready(function () {
                             $("#drpDepartment").select2({
                             });
                         });
                    </script>


        <br />
        <br />
      
     <div class="col-lg-12">
                <h3>
                   Employee Master Data
                </h3>
                
                </div>

     

<table class="style287" width="100%">
            <%--  <asp:DropDownList ID="drpDepartment" runat="server" AutoPostBack="True" 
                                class="form-control" ClientIDMode="Static" Font-Size="Small" Width="300px">
                            </asp:DropDownList>--%>
            <tr>
                <%--<asp:BoundField DataField="Employee_ID" HeaderText="ID" ReadOnly="true"  
                                                                    SortExpression="Employee_ID" InsertVisible="False" >
                                                                    <HeaderStyle HorizontalAlign="Left" />
                                                                </asp:BoundField>
                                                                --%>
            </tr>
            </table>
                  <table class="style1">
                    <tr>
                        <td class="style9">
                            <asp:TextBox ID="TextBox1" runat="server" BorderColor="White" BorderWidth="0px" 
                                Width="31px"></asp:TextBox>
                        </td>
                        <td class="style10">
                            <asp:Label ID="Label1" runat="server" Font-Names="Tahoma" Font-Size="Small" 
                                Text="Employee" Width="121px"></asp:Label>
                        </td>
                        <td class="style10">

                            <asp:DropDownList ID="drpEmployee" runat="server" 
                               ClientIDMode="Static" Font-Size="Medium" Width="300px" Height="30px">
                            </asp:DropDownList>

                           
                        </td>
                        <td class="style10">
                            </td>
                        <td class="style10">
                            </td>
                        <td class="style10">
                            </td>
                        <td class="style10">
                            </td>
                        <td class="style10">
                            </td>
                    </tr>
        
                    <tr>
                        <td class="style8">
                            </td>
                        <td class="style5">
                            <asp:Label ID="Label2" runat="server" Font-Names="Tahoma" Font-Size="Small" 
                                Text="Department"></asp:Label>
                        </td>
                        <td class="style3">
                          <%--  <asp:DropDownList ID="drpDepartment" runat="server" AutoPostBack="True" 
                                class="form-control" ClientIDMode="Static" Font-Size="Small" Width="300px">
                            </asp:DropDownList>--%>

                            <asp:DropDownList ID="drpDepartment" runat="server" 
                               ClientIDMode="Static" Font-Size="Medium" Width="300px" Height="30px">
                            </asp:DropDownList>

                            </td>
                        <td class="style3">
                            </td>
                        <td class="style4">
                            </td>
                        <td class="style7">
                            </td>
                        <td class="style5">
                            </td>
                        <td class="style5">
                            </td>
                    </tr>
        
                    <tr>
                        <td class="style8">
                            </td>
                        <td class="style4">
                                 </td>
                        <td class="style3">
                             </td>
                        <td class="style3">
                            </td>
                        <td class="style4">
                            </td>
                        <td class="style5">
                            </td>
                        <td class="style5">
                            </td>
                        <td class="style5">
                            </td>
                    </tr>
        
                    <tr>
                        <td class="style8">
                            </td>
                        <td class="style5">
                                 <%--<asp:ImageButton ID="btn_Search" runat="server" ImageUrl="~/Images/btnS.jpg" 
                                     Height="30px" Width="110px" />--%>
                                 <%--<asp:ImageButton ID="btnNew" runat="server" Height="30px" 
                                     ImageUrl="~/Images/btnNew.jpg" Width="110px" />--%>

                        <asp:Button ID="btn_Search" runat="server" Text="Search " class="btn btn-primary"
                                     Font-Bold="True"/>

                        <%--&nbsp;<asp:Button ID="btnImport" runat="server" Text="Import " class="btn btn-warning" 
                                     Font-Bold="True"/>--%>                         
                        </td>
                        <td class="style7">
                            </td>
                        <td class="style7">
                            </td>
                        <td class="style7">
                            </td>
                        <td class="style7">
                            </td>
                        <td class="style7">
                            </td>
                        <td class="style7">
                            </td>
                        <td class="style7">
                            </td>
                        <td class="style7">
                            </td>
                        <td class="style7">
                            </td>
                        <td class="style7">
                            </td>
                        <td class="style7">
                            </td>
                        <td class="style7">
                            </td>
                        <td class="style7">
                            </td>
                        <td class="style7" >
                        &nbsp;<asp:Button ID="btnNew" runat="server" Text="New " class="btn btn-info"  style="text-align:right"
                                     Font-Bold="True"/>
                                 </td>
                        <td class="style7" >
                        &nbsp;<asp:Button ID="btnExport" runat="server" Text="Export " class="btn btn-success" style="text-align:right"
                                     Font-Bold="True"/>
                                 </td>
                    </tr>  
                </table>    
    </div>  
    
        
           
   &emsp;&emsp;&emsp;&emsp;  
   <asp:GridView ID="GridView1" runat="server" AllowPaging="True"  
                                                            
            AutoGenerateColumns="False" DataKeyNames="Employee_ID" DataSourceID="SqlDataSource1" 
                                                            Font-Bold="False" 
            Font-Names="Tahoma" Font-Size="Small" ShowFooter="True" 
                                                            Width="90%" 
            CellPadding="3" BackColor="White" BorderColor="#999999" 
                                                           
                                                            GridLines="Vertical" 
            Height="157px" PageSize="12" BorderWidth="1px" BorderStyle="Solid" 
            ForeColor="Black">
                                                            <FooterStyle BackColor="#CCCCCC" />
                                                            <PagerStyle BackColor="#999999" ForeColor="Black" HorizontalAlign="Center" />
                                                            <SelectedRowStyle BackColor="#000099" Font-Bold="True" ForeColor="White" />
                                                            <HeaderStyle BackColor="Black" Font-Bold="true" ForeColor="White" />
                                                            <AlternatingRowStyle BackColor="#CCCCCC" />
                                                                
                                                            <Columns>
                                                                
                                                                <%--<asp:BoundField DataField="Employee_ID" HeaderText="ID" ReadOnly="true"  
                                                                    SortExpression="Employee_ID" InsertVisible="False" >
                                                                    <HeaderStyle HorizontalAlign="Left" />
                                                                </asp:BoundField>
                                                                --%>
                                                                
                                                                <asp:HyperLinkField DataTextField="Employee_ID" 
                                                                    DataNavigateUrlFields="Employee_ID" DataNavigateUrlFormatString="~/A_EmployeeData.aspx?Id={0}"
                                                                        HeaderText="Employee_ID" ItemStyle-Width = "150" >
                                                                 
                                                            <ItemStyle Width="150px"></ItemStyle>
                                                                </asp:HyperLinkField>
                                                                 
                                                                <asp:BoundField DataField="fullname" HeaderText="Name" 
                                                                    SortExpression="fullname" >
                                                                    <HeaderStyle HorizontalAlign="Left" />
                                                                </asp:BoundField>

                                                                <asp:BoundField DataField="branch" HeaderText="Branch" 
                                                                    SortExpression="branch" ReadOnly="True" >
                                                                    <HeaderStyle HorizontalAlign="Left" />
                                                                </asp:BoundField>
                                                                 <asp:BoundField DataField="department" HeaderText="Department" 
                                                                    SortExpression="department" ReadOnly="True" >
                                                                    <HeaderStyle HorizontalAlign="Left" />
                                                                </asp:BoundField>
                                                               
                                                                <asp:BoundField DataField="position" HeaderText="Position" 
                                                                    SortExpression="position" >
                                                                    <HeaderStyle HorizontalAlign="Left" />
                                                                </asp:BoundField>
                                                                 <asp:BoundField DataField="image_name" HeaderText="Image" 
                                                                    SortExpression="image_name" ReadOnly="True" >
                                                                    <HeaderStyle HorizontalAlign="Left" />
                                                                </asp:BoundField>
                                                                
                                                                <asp:TemplateField HeaderText="Active" SortExpression="status">
                                                                    <EditItemTemplate>
                                                                        <asp:DropDownList ID="Drop2" runat="server" 
                                                                            SelectedValue='<%# Bind("status") %>' Height="23px" Width="82px">
                                                                            <asp:ListItem Value="Active">Active</asp:ListItem>
                                                                            <asp:ListItem Value="InActive">InActive</asp:ListItem>
                                                                        </asp:DropDownList>
                                                                    </EditItemTemplate>

                                                                    <ItemTemplate>
                                                                        <asp:CheckBox ID="chk" runat="server" 
                                                                            Checked='<%# If(Eval("status")= "Active", True, False) %>'  Enabled="False" />
                                                                    </ItemTemplate>

                                                                    <HeaderStyle HorizontalAlign="Left" />

                                                                 </asp:TemplateField>  
                                                             
                                                                    <asp:CommandField ShowDeleteButton="True" ShowEditButton="True" 
                                                                   
                                                                    DeleteImageUrl="~/Images/icon_delete.ico" 
                                                                    EditImageUrl="~/Images/icon_edit.ico" 
                                                                    ButtonType="Image" 
                                                                    CancelImageUrl="~/Images/icon_close.ico" 
                                                                    UpdateImageUrl="~/Images/icon_Save.ico" >
                                                                         <HeaderStyle HorizontalAlign="Left" />
                                                                   </asp:CommandField>
                                                                   
                                                            </Columns>
                                                              <SortedAscendingCellStyle BackColor="#F1F1F1" />
                                                            <SortedAscendingHeaderStyle BackColor="#808080" />
                                                            <SortedDescendingCellStyle BackColor="#CAC9C9" />
                                                            <SortedDescendingHeaderStyle BackColor="#383838" />
                                                        </asp:GridView>
          <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
        ConnectionString="<%$ ConnectionStrings:HRConnectionString %>" 
        DeleteCommand="DELETE FROM  [TB_Employee] where [Employee_ID] = @Employee_ID" 
        SelectCommand="SELECT top 200 emp.[site],emp.[Employee_ID],emp.[fullname] ,emp.[branch]	,dep.[department_name] as department,emp.[position],emp.[image_name],isnull(emp.status,'InActive') as status FROM [TB_Employee] emp left outer join [TB_department] dep on dep.department_id = emp.[department_id] where emp.[status] = 'Active'  order by emp.[Employee_ID] " 
        UpdateCommand="UPDATE [TB_Employee] set  fullname=@fullname, status=@status ,Position=@Position  where [Employee_ID] = @Employee_ID"
        >
        
        <UpdateParameters>      
            <asp:Parameter Name="status" />       
        </UpdateParameters>
        
    </asp:SqlDataSource>
        <table >
        <tr> <td></td></tr>
        <tr> <td></td></tr>
        <tr> <td>&nbsp;</td></tr>
        <tr> <td>&nbsp;</td></tr>
        </table>




<br />
<br />

<br />
<br />

</asp:Content>
