﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR_show.Master" CodeBehind="A_IndexNewsShow.aspx.vb" Inherits="Aroma_HRPortal.A_IndexNewsShow" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .fn_ContentTital
        {
            margin-bottom: 0px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<br />
<br />

                 <div class="col-lg-12">
                <h3>
                    News (ประกาศ/ระเบียบใหม่ , ประชาสัมพันธ์ต่างๆ)</h3>
                
                </div>


<table class="TBBody" style="font-family: tahoma; font-size: small; width: 1283px;" 
        cellpadding="1" cellspacing="2">
          
         
            <tr>
                <td align="right" class="style4">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style14" colspan="2" rowspan="3">


                    <asp:Label ID="Label8" runat="server" CssClass="fn_ContentTital" 
                        Text="ชื่อหัวข้อ :" Font-Bold="True" Font-Size="Medium"></asp:Label>


                    <asp:TextBox ID="txtSubject" runat="server" CssClass="fn_Content" Width="100%" 
                        Font-Bold="True" Font-Size="Medium" BorderColor="White" BorderWidth="0px" 
                        ReadOnly="True"></asp:TextBox>


                <br />


                            <br />


                    </td>
                <td align="left" rowspan="2" colspan="3">


                 <asp:TextBox ID="txtPic" runat="server" BorderColor="White" BorderWidth="0px" 
                                Height="0px" Width="16px" Visible="False"></asp:TextBox>


                    &nbsp;
                    <asp:Image ID="img" runat="server" ImageUrl="~/Images/Employee/noImage.jpg" 
                        Height="124px" Width="244px" BorderWidth="1px" />


                    <asp:Label ID="Label16" runat="server" CssClass="fn_ContentTital" 
                        Text="ID :"></asp:Label>


                    <asp:Label ID="lblNum" runat="server" Text="0"></asp:Label>


                </td>
            </tr>

          
            <tr>
                <td align="right" class="style4">
                    &nbsp;</td>
            </tr>

          
      <%--      <tr>
                <td align="right" class="style4">
                    </td>
                
                 <td class="style1" colspan="3">
                     </td>
                
                <td align="right" class="style18">
                    </td>
                <td align="left" valign="middle" class="style1">
                    </td>
                <td align="left" class="style1">
                    </td>
            </tr>--%>
          
         

            <tr>
                <td align="right" class="style4">



                    &nbsp;</td>
                <td align="left" rowspan="2" colspan="3">


                    &nbsp;</td>
            </tr>

          

            <tr>
                <td align="right" class="style4">



                    &nbsp;</td>
                <td align="left" valign="middle" class="style14" colspan="2">

                    <asp:Label ID="Label15" runat="server" CssClass="fn_ContentTital" 
                        Text="รายละเอียด :" Width="150px" Font-Bold="True" Font-Size="Medium"></asp:Label>


                    


                    </td>
            </tr>

          
            <tr>
                <td align="right" class="style3">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style3" colspan="5">
                   <%-- <asp:TextBox ID="txtDetail" runat="server" Width="100%" Height="500px" 
                        TextMode="MultiLine" BackColor="White" BorderWidth="0px" ReadOnly="True"></asp:TextBox>--%>
                    
                    <pre>
                            <asp:Label ID="txtDetail" runat="server" Text="ไม่มีข้อมูล"></asp:Label>         
                    </pre>
                

                    </td>
            </tr>
          
         
            <tr>
                <td align="right" class="fh5co-spacer-xxs">
                    </td>
                <td align="left" valign="middle" class="style15" colspan="2">
                    </td>
                <td align="right" class="fh5co-spacer-xxs">



                    </td>
                <td align="left" valign="middle" class="fh5co-spacer-xxs">

                            </td>
                <td align="left" class="style13">
                    </td>
            </tr>
          
         
            <tr>
                <td align="right" class="style2">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style14">
                    <asp:Label ID="Label19" runat="server" CssClass="fn_ContentTital" 
                        Text="เอกสาร :" Width="150px" Font-Bold="True" Font-Size="Medium"></asp:Label>
                    </td>
                <td align="left" valign="middle" class="style17">
                    &nbsp;</td>
                <td align="right">



                    &nbsp;</td>
                <td align="left" valign="middle" class="style2">

                            &nbsp;</td>
                <td align="left" class="style11">
                    &nbsp;</td>
            </tr>
          
         
            <tr>
                <td align="right" class="style2">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style14">

                <asp:DataGrid ID="DataGrid1" runat="server" AllowSorting="True" 
                                AutoGenerateColumns="False" BorderColor="Aqua" CssClass="style98" 
                                DataKeyField="Att_ID" Font-Size="Small" Width="445px" 
                        Height="16px" PageSize="1">
                                <Columns>
                                    <asp:BoundColumn DataField="Att_ID" HeaderText="Id "></asp:BoundColumn>
                                    <asp:BoundColumn DataField="Att_Filename" HeaderText="File Name "></asp:BoundColumn>
                                    <asp:ButtonColumn CommandName="Edit" Text="Download"></asp:ButtonColumn>
                                    <asp:ButtonColumn CommandName="Delete" Text="Delete"></asp:ButtonColumn>
                                </Columns>
                                <HeaderStyle BackColor="Aqua" BorderColor="Black" Font-Bold="True" 
                                    Font-Italic="False" Font-Names="Tahoma" Font-Overline="False" 
                                    Font-Strikeout="False" Font-Underline="False" ForeColor="Black" Wrap="False" />
                </asp:DataGrid>

                    </td>
                <td align="left" valign="middle" class="style17">
                    &nbsp;</td>
                <td align="right">



                    &nbsp;</td>
                <td align="left" valign="middle" class="style2">

                            &nbsp;</td>
                <td align="left" class="style11">
                    </td>
            </tr>
          
         
            <tr>
                <td align="right" class="style4">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style16" colspan="2">

                    <br />
                    </td>
                <td align="right" class="style4">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style4">
                    </td>
                <td align="left" class="style12">
                    </td>
            </tr>
                 
         
            <tr>
                <td align="right" class="style2">
                    </td>
                <td align="left" valign="middle" class="style14" colspan="2">
                    &nbsp;</td>
                <td align="right">
                    </td>
                <td align="left" valign="middle" class="style2">
                    </td>
                <td align="left" class="style11">
                    </td>
            </tr>
                 
      
            <tr>
                <td align="right" class="style2">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style14" colspan="2">
                    &nbsp;</td>
                <td align="right">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style2">
                    &nbsp;</td>
                <td align="left" class="style11">
                    &nbsp;</td>
            </tr>
                 
             
         
            <tr>
                <td align="right" class="style2">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style14" colspan="2">
                    &nbsp;</td>
                <td align="right">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style2">
                    &nbsp;</td>
                <td align="left" class="style11">
                    &nbsp;</td>
            </tr>

          
                    
        </table>



</asp:Content>
