﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_Authorize.Master" CodeBehind="A_IndexNews.aspx.vb" Inherits="Aroma_HRPortal.A_IndexNews" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .style1
        {}
        .style2
        {
        }
        .style3
        {
        }
        .style4
        {
            height: 18px;
        }
        .fn_ContentTital
        {}
        .style11
        {
            width: 268435456px;
        }
        .style12
        {
            height: 18px;
            width: 268435456px;
        }
        .style13
        {
            width: 268435456px;
            height: 20px;
        }
        .style14
        {
            width: 455px;
        }
        .style15
        {
            height: 20px;
            width: 455px;
        }
        .style16
        {
            height: 18px;
            width: 455px;
        }
        .style17
        {
            width: 176px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


<br />
<br />

                 <div class="col-lg-12">
                <h3>
                    News (ประกาศ/ระเบียบใหม่ , ประชาสัมพันธ์ต่างๆ)</h3>
                
                </div>


<table class="TBBody" style="font-family: tahoma; font-size: small; width: 1283px;" 
        cellpadding="1" cellspacing="2">
          
         
            <tr>
                <td align="right" class="style4">
                    <asp:Label ID="Label18" runat="server" CssClass="fn_ContentTital" 
                        Text="* " 
                        ToolTip="ประเภททรัพย์สิน" ForeColor="Red"></asp:Label>
                    <asp:Label ID="Label8" runat="server" CssClass="fn_ContentTital" 
                        Text="ชื่อหัวข้อ :"></asp:Label>
                    </td>
                <td align="left" valign="middle" class="style14" colspan="2">


                    <asp:TextBox ID="txtSubject" runat="server" CssClass="fn_Content" Width="500px"></asp:TextBox>


                    </td>
                <td align="left" rowspan="2">


                 <asp:TextBox ID="txtPic" runat="server" BorderColor="White" BorderWidth="0px" 
                                Height="0px" Width="16px" Visible="False"></asp:TextBox>


                    <asp:Image ID="img" runat="server" ImageUrl="~/Images/Employee/noImage.jpg" 
                        Height="104px" Width="201px" BorderWidth="1px" />


                </td>
                <td align="left" valign="middle" class="style1">


                    &nbsp;</td>
                <td align="left" class="style11">
                    &nbsp;
                    <asp:Label ID="Label16" runat="server" CssClass="fn_ContentTital" 
                        Text="ID :"></asp:Label>


                    <asp:Label ID="lblNum" runat="server" Text="0"></asp:Label>


                </td>
            </tr>

          
      <%--      <tr>
                <td align="right" class="style4">
                    </td>
                
                 <td class="style1" colspan="3">
                     </td>
                
                <td align="right" class="style18">
                    </td>
                <td align="left" valign="middle" class="style1">
                    </td>
                <td align="left" class="style1">
                    </td>
            </tr>--%>
          
         

            <tr>
                <td align="right" class="style4">



                    <asp:Label ID="lb2" runat="server" 
                        Text="รูปภาพ : "></asp:Label>
                    </td>
                <td align="left" valign="middle" class="style14" colspan="2">


                            <asp:FileUpload ID="FileUpload1" runat="server" CssClass="sample" 
                                style="font-family: Tahoma" Width="275px" />


                            <br />


                    </td>
                <td align="left" valign="middle" class="style1">


                    &nbsp;</td>
                <td align="left" class="style11">

                    &nbsp;</td>
            </tr>

          
            <tr>
                <td align="right" class="style3">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style3" colspan="5">
                    &nbsp;</td>
            </tr>
          
         
            <tr>
                <td align="right" class="style3">
                    <asp:Label ID="Label15" runat="server" CssClass="fn_ContentTital" 
                        Text="รายละเอียด :" Width="150px"></asp:Label>
                    </td>
                <td align="left" valign="middle" class="style3" colspan="5">
                    <asp:TextBox ID="txtDetail" runat="server" Width="1050px" Height="300px" 
                        TextMode="MultiLine"></asp:TextBox>
          
                

                    </td>
            </tr>
          
         
            <tr>
                <td align="right" class="fh5co-spacer-xxs">
                    </td>
                <td align="left" valign="middle" class="style15" colspan="2">
                    </td>
                <td align="right" class="fh5co-spacer-xxs">



                    </td>
                <td align="left" valign="middle" class="fh5co-spacer-xxs">

                            </td>
                <td align="left" class="style13">
                    </td>
            </tr>
          
         
            <tr>
                <td align="right" class="style2">
                    <asp:Label ID="Label19" runat="server" CssClass="fn_ContentTital" 
                        Text="เอกสาร :" Width="150px"></asp:Label>
                    </td>
                <td align="left" valign="middle" class="style14">
                 <asp:FileUpload ID="FileUpload2" runat="server" CssClass="sample" 
                                style="font-family: Tahoma" Width="340px" Font-Size="Small" />
                    </td>
                <td align="left" valign="middle" class="style17">
                    <asp:Button ID="btnSaveFile" runat="server" BackColor="#0066FF" 
                        BorderWidth="0px" ForeColor="White" Text="Save" Width="50px" />
                    </td>
                <td align="right">



                    &nbsp;</td>
                <td align="left" valign="middle" class="style2">

                            &nbsp;</td>
                <td align="left" class="style11">
                    </td>
            </tr>
          
         
            <tr>
                <td align="right" class="style4">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style16" colspan="2">

                <asp:DataGrid ID="DataGrid1" runat="server" AllowSorting="True" 
                                AutoGenerateColumns="False" BorderColor="Aqua" CssClass="style98" 
                                DataKeyField="Att_ID" Font-Size="Small" Width="445px" 
                        Height="16px" PageSize="1">
                                <Columns>
                                    <asp:BoundColumn DataField="Att_ID" HeaderText="Id "></asp:BoundColumn>
                                    <asp:BoundColumn DataField="Att_Filename" HeaderText="File Name "></asp:BoundColumn>
                                    <asp:ButtonColumn CommandName="Edit" Text="Download"></asp:ButtonColumn>
                                    <asp:ButtonColumn CommandName="Delete" Text="Delete"></asp:ButtonColumn>
                                </Columns>
                                <HeaderStyle BackColor="Aqua" BorderColor="Black" Font-Bold="True" 
                                    Font-Italic="False" Font-Names="Tahoma" Font-Overline="False" 
                                    Font-Strikeout="False" Font-Underline="False" ForeColor="Black" Wrap="False" />
                </asp:DataGrid>

                    <br />
                    </td>
                <td align="right" class="style4">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style4">
                    </td>
                <td align="left" class="style12">
                    </td>
            </tr>
                 
         
            <tr>
                <td align="right" class="style2">
                    </td>
                <td align="left" valign="middle" class="style14" colspan="2">
                    <asp:Button ID="btnSave" runat="server" Text="Save" 
                    BackColor="#990000" Font-Bold="True" ForeColor="White" Height="30px" 
                    ToolTip="Save" Width="100px" Font-Names="Tahoma" Font-Size="Medium" />
                    <asp:Button ID="btnClear" runat="server" Text="Clear" 
                    BackColor="#990000" Font-Bold="True" ForeColor="White" Height="30px" 
                    ToolTip="ยกเลิก" Width="100px" Font-Names="Tahoma" Font-Size="Medium" />
                    <asp:Button ID="btnCancel" runat="server" Text="Cancel" 
                    BackColor="#990000" Font-Bold="True" ForeColor="White" Height="30px" 
                    ToolTip="ยกเลิก" Width="100px" Font-Names="Tahoma" Font-Size="Medium" />
                    </td>
                <td align="right">
                    </td>
                <td align="left" valign="middle" class="style2">
                    </td>
                <td align="left" class="style11">
                    </td>
            </tr>
                 
         
           
         
            <tr>
                <td align="right" class="style2">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style14" colspan="2">
                    &nbsp;</td>
                <td align="right">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style2">
                    &nbsp;</td>
                <td align="left" class="style11">
                    &nbsp;</td>
            </tr>
                 
         
           
         
            <tr>
                <td align="right" class="style2">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style14" colspan="2">
                    &nbsp;</td>
                <td align="right">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style2">
                    &nbsp;</td>
                <td align="left" class="style11">
                    &nbsp;</td>
            </tr>
                 
         
           
         
            <tr>
                <td align="right" class="style2">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style14" colspan="2">
                    &nbsp;</td>
                <td align="right">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style2">
                    &nbsp;</td>
                <td align="left" class="style11">
                    &nbsp;</td>
            </tr>
                 
         
           
         
            <tr>
                <td align="right" class="style2">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style14" colspan="2">
                    &nbsp;</td>
                <td align="right">
                    &nbsp;</td>
                <td align="left" valign="middle" class="style2">
                    &nbsp;</td>
                <td align="left" class="style11">
                    &nbsp;</td>
            </tr>
                 
         
    
          
         
           
         
         
          
                    
        </table>




</asp:Content>
