﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_Asset.Master" CodeBehind="Asset_Search.aspx.vb" Inherits="Aroma_HRPortal.Asset_Search" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

           <%-- <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.min.js"></script>
                    <script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.16/jquery-ui.min.js"></script>
                    <link type="text/css" rel="Stylesheet" href="http://ajax.microsoft.com/ajax/jquery.ui/1.8.16/themes/redmond/jquery-ui.css" />

                    <script type="text/javascript">
                        //ประกาศตัวแปรเพื่อรับใหม่
                        $jq = $.noConflict();
                        $jq().ready(
                 function () {
                     $jq('#<%=txtDate.ClientID%>').datepicker(
                     {
                         showOn: 'button',
                         buttonText: 'Show Date',
                         buttonImageOnly: true,
                         buttonImage: 'http://jqueryui.com/resources/demos/datepicker/images/calendar.gif',
                         dateFormat: 'dd/mm/yy',
                         constrainInput: true
                     }
                     );
                 });
        
                    </script>--%>

                <script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js" type="text/javascript"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#drpDep").select2({
                    });
                });

                $(document).ready(function () {
                    $("#txtName").select2({
                    });
                });
            </script>


    <table class="style287" width="100%">
            <tr>
                <td bgcolor="#F4F4F4" class="style1">
    
                &nbsp;
                            <FONT face="Tahoma">
                            <asp:label id="LabelTitle0" runat="server" 
                                Font-Names="Tahoma" Font-Bold="True" Font-Size="Small" 
                                ForeColor="Black" Width="163px"><FONT face="Tahoma">ค้นหาแบบฟอร์ม</FONT></asp:label>
		                    </FONT>
			<font face="tahoma">
    
                         
			</font>
                    </td>
            </tr>
            <tr>
                <%--    </asp:Panel>--%>
            </tr>
            </table>
                  <table class="style1">
                    <tr>
                        <td class="style9">
                            <asp:TextBox ID="TextBox1" runat="server" BorderColor="White" BorderWidth="0px" 
                                Width="31px"></asp:TextBox>
                        </td>
                        <td class="style10">
                            <asp:Label ID="Label1" runat="server" Font-Names="Tahoma" Font-Size="Small" 
                                Text="Employee ID :" Width="121px"></asp:Label>
                        </td>
                        <td class="style10">
                            <asp:TextBox ID="txtEmpId" runat="server" Width="150px"></asp:TextBox>
                        </td>
                        <td class="style10">
                            </td>
                        <td class="style10">
                            </td>
                        <td class="style10">
                            </td>
                        <td class="style10">
                            </td>
                        <td class="style10">
                            </td>
                    </tr>
        
                    <tr>
                        <td class="style8">
                            </td>
                        <td class="style5">
                            <asp:Label ID="Label2" runat="server" Font-Names="Tahoma" Font-Size="Small" 
                                Text="Employee Name :"></asp:Label>
                        </td>
                        <td class="style3">
                            <asp:TextBox ID="txtName" runat="server" Width="200px"></asp:TextBox>
                            </td>
                        <td class="style3">
                            </td>
                        <td class="style4">
                            </td>
                        <td class="style7">
                            </td>
                        <td class="style5">
                            </td>
                        <td class="style5">
                            </td>
                    </tr>
        
                    <tr>
                        <td class="style8">
                            </td>
                        <td class="style4">
                            <asp:Label ID="Label3" runat="server" Font-Names="Tahoma" Font-Size="Small" 
                                Text="Deparment :"></asp:Label>
                                 </td>
                        <td class="style3">


                    <asp:DropDownList ID="drpDep" runat="server" Font-Size="Small" Width="250px" ClientIDMode="Static"
                        Font-Names="Tahoma" AutoPostBack="True">
                    </asp:DropDownList>


                             </td>
                        <td class="style3">
                            </td>
                        <td class="style4">
                            </td>
                        <td class="style5">
                            </td>
                        <td class="style5">
                            </td>
                        <td class="style5">
                            </td>
                    </tr>
        
                    <tr>
                        <td class="style8">
                            &nbsp;</td>
                        <td class="style4">
                                 &nbsp;</td>
                        <td class="style3">
                             &nbsp;</td>
                        <td class="style3">
                            &nbsp;</td>
                        <td class="style4">
                            &nbsp;</td>
                        <td class="style5">
                            &nbsp;</td>
                        <td class="style5">
                            &nbsp;</td>
                        <td class="style5">
                            &nbsp;</td>
                    </tr>
        
                    <tr>
                        <td class="style2">
                            &nbsp;</td>
                        <td class="style1" colspan="2">
                                 <asp:ImageButton ID="btnNew" runat="server" Height="30px" 
                                     ImageUrl="~/Images/btnNew.jpg" Width="110px" />
                                 <asp:ImageButton ID="btn_Search" runat="server" ImageUrl="~/Images/btnS.jpg" 
                                     Height="30px" Width="110px" />
                                 <asp:ImageButton ID="btnExport" runat="server" Height="30px" 
                                     ImageUrl="~/Images/btnExport.jpg" Width="110px" />
                        </td>
                         
                        <td class="style3">
                            &nbsp;</td>
                        <td class="style4">
                            &nbsp;</td>
                        <td class="style7">

                     </td>
                        <td class="style5">
                                 &nbsp;</td>
                        <td class="style223">
                                 &nbsp;</td>
                    </tr>  
                </table>    
    </div>        
                                                                   
                                            <table class="style279">
                                                <tr>
                        <td class="style6">
                                                    </td>
                                                    <td class="style289">
                                                        <font face="Tahoma">
                                                        <asp:Table ID="TableLevel1" runat="server" CssClass="style40">
                                                            <asp:TableRow ID="TableRow1" runat="server" BackColor="#C1DAFF" 
                                                                BorderColor="#C5C5C5" BorderWidth="1px" Font-Bold="True" Font-Size="X-Small">
                 <%--<asp:TableCell ID="TableCell1" runat="server" BackColor="#C1DAFF" BorderColor="#C5C5C5" 
                     BorderWidth="1px" Text="Supplier"></asp:TableCell>
                 <asp:TableCell ID="TableCell2" runat="server" BackColor="#C1DAFF" BorderColor="#C5C5C5" 
                     BorderWidth="1px" Text="Name"></asp:TableCell>
                 <asp:TableCell ID="TableCell3" runat="server" BackColor="#C1DAFF" BorderColor="#C5C5C5" 
                     BorderWidth="1px" Text="เริ่มประเมิน"></asp:TableCell>
                 <asp:TableCell ID="TableCell4" runat="server" BackColor="#C1DAFF" BorderColor="#C5C5C5" 
                     BorderWidth="1px" Text="วันสิ้นสุด"></asp:TableCell>
                 <asp:TableCell ID="TableCell5" runat="server" BackColor="#C1DAFF" BorderColor="#C5C5C5" 
                     BorderWidth="1px" Text="หน่วยงาน"></asp:TableCell>
                 <asp:TableCell ID="TableCell6" runat="server" BackColor="#C1DAFF" BorderColor="#C5C5C5" 
                     BorderWidth="1px" Text="สร้างโดย"></asp:TableCell>
                 <asp:TableCell ID="TableCell7" runat="server" BackColor="#C1DAFF" 
                     BorderColor="#C5C5C5" BorderWidth="1px" Text="Create"></asp:TableCell>--%>
                                                            </asp:TableRow>
                                                        </asp:Table>
                                                        </font>
                                                    </td>
                                                </tr>
                                            </table>

    
  



</asp:Content>
