﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="Benefits1_2.aspx.vb" Inherits="Aroma_HRPortal.Benefits1_2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<!-- banner -->
<div class="base-banner"><img src="new/images/banner/benefit/banner1.jpg" /></div>
<!-- end banner -->

<!-- content -->

<!--
=====================================================
	Blog Page Details
=====================================================
-->
<article class="blog-details-page">
	<div class="container">
		
		<div class="post-heading">
            <ul>
			    <li><a href="index_hr.aspx">HOME</a></li>
			    <li>/</li>
			    <li><a href="Benefits_Employee.aspx">ระเบียบสวัสดิการ</a></li>
                <li>/</li>
                <li><a href="Benefits1.aspx">กองทุนสำรองเลี้ยงชีพ มอบเกียรติบัตรเงินรางวัล</a></li>
			</ul>
			<h2>กองทุนสำรองเลี้ยงชีพ (เฉพาะส่วนของนายจ้าง กลุ่มบริษัท อโรม่า)</h2>
		</div> <!-- /.post-heading -->
		
		<div class="post-content">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
				<div class="blog-details-post-wrapper">
					<img src="new/images/banner/benefit/img1.jpg" alt="Image">

					<h4>วัตถุประสงค์ของการจัดตั้งกองทุนมีอะไรบ้าง</h4>
					<p>
						<ol>
							<li>เพื่อเป็นการส่งเสริมให้สมาชิกมีการออมทรัพย์</li>
							<li>เพื่อเป็นหลักประกันให้แก่สมาชิกและครอบครัวเมื่อพนักงานเกษียณอายุหรือเสียชีวิต</li>
						</ol>
					</p>

					<h4>พนักงานได้รับอะไรจากการมีกองทุนสำรองเลี้ยงชีพ</h4>
					<p>
						<ol>
							<li>เป็นหลักประกันทางการเงิน
								<ol>
									<li>เป็นการส่งเสริมให้สมาชิกมีการออมทรัพย์และเป็นหลักประกันสมาชิกและครอบครัวเมื่อพนักงานเสียชีวิต หรือ ลาออกจากบริษัทฯ หรือเกษียณอายุการทำงานตามระเบียบของบริษัทหรือลาออกจากกองทุน</li>
									<li>กองทุนที่จัดตั้งขึ้นจะมีจำนวนเงินเพิ่มขึ้นอย่างรวดเร็ว เนื่องจากผลประโยชน์ที่กองทุนได้รับจะไม่ถูกหักภาษีเงินได้แต่ประการใดทำให้สามารถนำไปลงทุนได้เต็มเม็ดเต็มหน่วย</li>
									<li>พนักงานจะได้รับส่วนสมทบที่บริษัทจ่ายสมทบให้รวมทั้งผลประโยชน์ที่จะเกิดขึ้น</li>
								</ol>
							</li>
							<li>ได้สิทธิประโยชน์ทางภาษี
								<ol>
									<li>เงินสะสมที่สมาชิกจ่ายเข้ากองทุนสามารถนำมาหักลดหย่อนได้ตามที่จ่ายจริง 10,000 บาท แต่ไม่เกินร้อยละ 15 ของค่าจ้างและต้องไม่เกิน 290,000 บาท จะได้รับการยกเว้นภาษีเงินได้</li>
									<li>กรณีที่สมาชิกออกจากงานเพราะเหตุเกษียณอายุ ทุพพลภาพ หรือเสียชีวิตได้รับยกเว้นภาษีเงินได้สำหรับเงินสะสมเงินสมทบและผลประโยชน์ทั้งสองส่วนที่ได้รับจากกองทุน ทั้งนี้ต้องเข้าเกณฑ์ที่สรรพากรกำหนดรายละเอียดหลักเกณฑ์เงื่อนไขและวิธีการเกี่ยวกับภาษีเงินได้ (ฉบับที่ 52) กล่าวคือ
										<ul>
											<li>กรณีเกษียณอายุ ลูกจ้างผู้นั้นต้องเป็นสมาชิกกองทุนสำรองเลี้ยงชีพตามกฎหมายว่าด้วยกองทุนสำรองเลี้ยงชีพไม่น้อยกว่า 5 ปี และมีอายุไม่ต่ำกว่า 55 ปีบริบูรณ์</li>
											<li>กรณีทุพพลภาพ ต้องเป็นกรณีที่แพทย์หรือที่ทางราชการรับรอง ได้ตรวจและแสดงความเห็นว่าลูกจ้างผู้นั้นไม่สามารถที่จะทำงานในตำแหน่งซึ่งปฏิบัติอยู่นั้นต่อไป ไม่ว่าเหตุทุพพลภาพนั้น จะเกิดเนื่องจากการปฏิบัติงานให้แก่นายจ้างหรือไม่ก็ตาม</li>
											<li>กรณีเสียชีวิตไม่ว่าการเสียชีวิตนั้นจะเกิดจากการปฏิบัติงานให้แก่นายจ้างหรือไม่ก็ตาม ทั้งนี้ ลูกจ้างต้องมีหลักฐานจากนายจ้างเพื่อรับรองว่าลูกจ้างออกจากงานเพราะเกษียณอายุ ทุพพลภาพหรือเสียชีวิต แล้วแต่กรณีมาแสดงด้วย</li>
										</ul>
									</li>
								</ol>
							</li>
							<li>สมาชิกสามารถโอนเงินกองทุนจากบริษัทนายจ้างเดิมไปยังบริษัทนายจ้างใหม่ได้ หากบริษัทนายจ้างใหม่มีกฎเกณฑ์ระบุไว้ในข้อบังคับว่ารับสมัครเข้าเป็นสมาชิกต่อได้ทั้งนี้สมาชิกจะได้มีสิทธิในการเป็นสมาชิกต่อเนื่อง เพื่อประโยชน์ทางภาษีของสมาชิก</li>
							<li>บริษัทจัดการจะต้องดำเนินการจ่ายเงินจากกองทุนตามสิทธิที่สมาชิกได้รับ เมื่อสมาชิกพ้นสมาชิกภาพ โดยให้จ่ายรวมทั้งหมดครั้งเดียวให้แก่สมาชิกหรือผู้รับประโยชน์ภายใน 30 วัน นับแต่วันที่สิ้นสมาชิกภาพ โดยจะจ่ายเป็นเช็คขีดคร่อมเฉพาะ</li>
							<li>สิทธิและหน้าที่ของสมาชิกกองทุน
								<ul class="a">
									<li>สมาชิกจะต้องปฏิบัติตามข้อบังคับนี้โดยเคร่งครัด และไม่กระทำการใดๆ ที่ก่อให้เกิดความเสียหายต่อผลประโยชน์ หรือการบริหารกองทุน</li>
									<li>สมาชิกจะต้องส่งเงินสะสมส่วนของตนตามอัตราที่กำหนดเข้ากองทุนตามข้อบังคับนี้ โดยยินยอมให้บริษัท หักเงิน สะสมส่วนของตนจากค่าจ้างส่งเข้ากองทุนโดยผ่านคณะกรรมการกองทุน</li>
									<li>สมาชิกมีสิทธิได้รับเงินสะสม เงินสมทบ ผลประโยชน์ที่เกิดจากเงินสะสมและเงินสมทบ และผลประโยชน์อื่นตามที่ได้กำหนดไว้ในข้อบังคับนี้</li>
									<li>สมาชิกมีสิทธิเข้าประชุมใหญ่สมาชิกกองทุน ตลอดจนออกเสียงลงคะแนนใดๆ</li>
									<li>ในกรณีที่สมาชิกออกจากการเป็นลูกจ้างของบริษัทไปทำงานที่อื่น โดยมีวันที่ทำงานติดต่อกันสมาชิกมีสิทธิขอโอนเงินส่วนของตนในกองทุนไปยังอีกกองทุนหนึ่งได้</li>
									<li>สมาชิกมีสิทธิตรวจดูบัญชีและเอกสารของกองทุน ณ สำนักงานของกองทุนได้ในเวลาเปิดทำการ</li>
								</ul>
							</li>
						</ol>
					</p>

					<h4>พนักงานต้องการเป็นสมาชิกกองทุนต้องปฏิบัติอย่างไร</h4>
					<p>
						<ol>
							<li>ต้องเป็นพนักงานประจำของบริษัท จะเป็นพนักงานรายวันหรือรายเดือนก็ได้ มีอายุการทำงานนับตั้งแต่วันแรกที่เข้าทำงานกับบริษัทตั้งแต่ 1 ปีเป็นต้นไป</li>
							<li>ต้องเขียนใบสมัครยื่นต่อคณะกรรมการกองทุน เมื่อได้รับอนุมัติแล้วเริ่มจ่ายเงินสะสมเข้ากองทุน</li>
						</ol>
					</p>

					<h4>อัตราส่วนของเงินสะสม และเงินสมทบมีหลักเกณฑ์อย่างไรบ้าง</h4>
					<p>
						<ol>
							<li>กฎหมายกำหนดอัตราส่วนเงินสะสม และเงินสมทบไว้ตั้งแต่ร้อยละ 2 ถึงร้อยละ 15 ของค่าจ้าง</li>
							<li>บริษัทต้องจ่ายเงินสมทบเข้ากองทุนไม่น้อยกว่าเงินสะสมของพนักงาน และพนักงานต้องจ่ายเงินสะสมเข้ากองทุนไม่ต่ำกว่าร้อยละ 2 ของค่าจ้าง</li>
						</ol>
					</p>

					<h4>สมาชิกภาพ พนักงานที่จะเป็นสมาชิกกองทุนต้องมีคุณสมบัติดังนี้</h4>
					<p>
						<ol>
							<li>พนักงานของบริษัทที่พ้นกำหนดทดลองงานและได้รับการบรรจุเป็นพนักงานประจำของบริษัททั้งรายวันและรายเดือน และมีอายุการทำงานนับตั้งแต่วันแรกที่เข้าทำงานกับบริษัทตั้งแต่ 1 ปีเป็นต้นไป</li>
							<li>พนักงานที่มีคุณสมบัติครบถ้วนตาม ข้อ 1 ประสงค์ที่จะสมัครเป็นสมาชิกกองทุน ให้กรอกใบสมัคร ขอเข้าเป็นสมาชิกกองทุนและลงนามตามแบบฟอร์มที่คณะกรรมการกองทุนกำหนดให้แล้วเสร็จภายใน 30 วันนับจากวันครบอายุการทำงานตามที่ระบุข้างต้นหากพ้นกำหนดนี้แล้ว ให้ถือว่าพนักงานไม่มีความประสงค์สมัครเข้าเป็นสมาชิกกองทุนตลอดระยะเวลาที่ทำงานกับบริษัท</li>
							<li>คณะกรรมการกองทุนจะเป็นผู้พิจารณาการรับเข้าเป็นสมาชิกการเป็นสมาชิกมีผลตั้งแต่วันที่ได้รับอนุมัติเป็นลายลักษณ์อักษรจากคณะกรรมการกองทุนหากพ้นกำหนดนี้แล้วให้ถือว่าพนักงานไม่มีความประสงค์สมัครเข้าเป็นสมาชิกกองทุนตลอดระยะเวลาทำงานกับบริษัท เว้นแต่สมาชิกจะได้รับอนุมัติเป็นลายลักษณ์อักษรจากคณะกรรมการกองทุนเป็นกรณีๆ ไป</li>
							<li>พนักงานนอกเหนือจากข้อ 1 - 3 ที่ได้รับการพิจารณาเป็นกรณีพิเศษจากคณะกรรมการกองทุนอาจได้รับพิจารณาอนุมัติให้สมัครเข้าเป็นสมาชิกกองทุนได้เป็นรายๆ ไป</li>
							<li>สมาชิกที่ลาออกจากกองทุนโดยไม่ออกจากงานไม่มีสิทธิสมัครเข้าเป็นสมาชิกกองทุนใหม่ได้อีก</li>
							<li>สมาชิกทุกคนมีหน้าที่ต้องยอมรับและปฏิบัติตามข้อบังคับของกองทุนฉบับนี้ และที่จะเปลี่ยนแปลง แก้ไขเพิ่มเติมในอนาคต รวมทั้งข้อความที่ปรากฏในใบสมัครเป็นสมาชิกทุกประการ</li>
						</ol>
					</p>

					<h4>สิ้นสมาชิกภาพ ข้อกำหนดเกี่ยวกับเงินสะสมและเงินสมทบและเงื่อนไขการรับเงินกองทุน</h4>
					<p>
						<ol>
							<li>เงินสะสมของสมาชิก ทุกครั้งที่มีการจ่ายค่าจ้างบริษัทจะหักจากค่าจ้างแล้วนำส่งเข้ากองทุนในอัตราร้อยละ 3 ของค่าจ้างต่อเดือน</li>
							<li>เงินสมทบ บริษัทจะจ่ายเงินสมทบเข้ากองทุนในวันเดียวกับที่สมาชิกจ่ายเงินสะสมเข้ากองทุนในอัตราดังนี้</li>
						</ol>
					</p>
					
					<table class="table">
					  <thead class="thead-inverse">
						<tr>
						  <th>อายุการทำงาน</th>
						  <th>อัตราเงินสมทบ (ร้อยละ)</th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>ตั้งแต่ 1 ปี ถึง 5 ปี</td>
						  <td>3</td>
						</tr>
						<tr>
						  <td>มากกว่า 5 ปี ถึง 10 ปี</td>
						  <td>4</td>
						</tr>
						<tr>
						  <td>มากกว่า 10 ปี ขึ้นไป</td>
						  <td>5</td>
						</tr>
					  </tbody>
					</table>

					<h4>เมื่อสมาชิกสิ้นสมาชิกภาพ สมาชิกจะได้รับเงินจากกองทุน ดังนี้</h4>
					<p>
						<ul class="t">
							<li>เงินสะสม รวมทั้งผลประโยชน์ของเงินสะสม สมาชิกจะได้รับทั้งจำนวน 100%</li>
							<li>เงินสมทบ รวมทั้งผลประโยชน์ของเงินสมทบสมาชิกจะได้รับทั้งจำนวน 100% ในกรณี
								<ol>
									<li>ถึงแก่กรรม</li>
									<li>เกษียณอายุ</li>
									<li>ไร้ความสามารถ เสมือนไร้ความสามารถ โดยคำสั่งศาล วิกลจริตหรือทุพพลภาพโดยได้รับคำรับรอง จากแพทย์ที่นายจ้างเลือก</li>
									<li>นายจ้างถอนตัวออกจากกองทุนเนื่องจากเลิกกิจการหรือไม่มีความประสงค์จะดำเนินการจัดตั้งกองทุนเพื่อเป็นสวัสดิการให้พนักงานต่อไป</li>
								</ol>
							</li>
							<li>เมื่อสมาชิกสิ้นสมาชิกภาพ สมาชิกจะได้รับเงินสมทบรวมทั้งผลประโยชน์ของเงินสมทบตามเงื่อนไขอายุงาน ดังนี้</li>
						</ul>														
					</p>
					
					<table class="table">
					  <thead class="thead-inverse">
					  	<tr>
					  	  <th>อายุการทำงาน</th>
					  	  <th>สัดส่วนเงินสมทบและผลประโยชน์สุทธิของเงินสมทบ (ร้อยละ)</th>
					  	</tr>
					  </thead>
					  <tbody>
					  	<tr>
					  	  <td>ไม่ถึง 3 ปี</td>
					  	  <td>0</td>
					  	</tr>
					  	<tr>
					  	  <td>ตั้งแต่ 3 ปีขึ้นไป</td>
						  <td>100</td>
						</tr>
					  </tbody>
					</table>

					<h4>สมาชิกจะไม่ได้รับเงินสมทบและผลประโยชน์จากเงินสมทบทั้งจำนวน หากสมาชิกสิ้นสมาชิกภาพด้วย สาเหตุใดสาเหตุหนึ่ง ดังนี้</h4>
					<p>
						<ol>
							<li>ทุจริตต่อหน้าที่หรือกระทำความผิดอาญาโดยเจตนาแก่บริษัทหรือกองทุน</li>
							<li>จงใจทำให้บริษัทหรือกองทุนได้รับความเสียหาย</li>
							<li>ฝ่าฝืนข้อบังคับหรือระเบียบเกี่ยวกับการทำงาน หรือคำสั่งอันชอบด้วยกฎหมายของบริษัท และบริษัทได้ตักเตือนเป็นหนังสือแล้ว เว้นแต่กรณีร้ายแรง บริษัทไม่จำเป็นต้องตักเตือน</li>
							<li>ละทิ้งหน้าที่เป็นเวลาสามวันทำงานติดต่อกันโดยไม่มีเหตุอันสมควร</li>
							<li>ประมาทเลินเล่อเป็นเหตุให้บริษัท ได้รับความเสียหายร้ายแรง</li>
							<li>ได้รับโทษจำคุกตามคำพิพากษาถึงที่สุดให้จำคุก อันมิใช่การกระทำผิดโดยประมาทหรือเป็นความผิดลหุโทษ</li>
						</ol>
						ในกรณีที่สมาชิกพ้นจากสมาชิกภาพไม่ว่าด้วยเหตุใดๆและตามข้อบังคับสมาชิกไม่มีสิทธิได้รับเงินสมทบทั้งหมดหรือบางส่วนจากกองทุนในกรณีเช่นนี้เงินที่นายจ้างจ่ายสมทบเข้ากองทุน และผลประโยชน์ที่เกิดจากเงินที่นายจ้างจ่ายสมทบไม่ว่าทั้งหมดหรือบางส่วนให้จ่ายคืนนายจ้าง
					</p>

					<div class="blog-details-bt">
						<div class="btn-group">
							<asp:button id="backButton" runat="server" text="Back" class="btn btn-primary" OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>
						</div>
					</div>

				</div>
			</div>

			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
				<aside>
					<div class="sidebar-news-list">
						<h4>CATEGORY</h4>
						<ul>
							<li>
								<a href="Benefits1.aspx" class="tran3s">กองทุนสำรองเลี้ยงชีพ มอบเกียรติบัตรเงินรางวัล</a>
							</li>
							<li>
								<a href="Benefits2_1.aspx" class="tran3s">เงินช่วยเหลืองาน และโอกาสพิเศษต่างๆ</a>
							</li>
							<li>
								<a href="Benefits15.aspx" class="tran3s">เจ็บป่วย ประกันชีวิต สุขภาพ อุบัติเหตุ</a>
							</li>
							<li>
								<a href="Benefits5_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits3_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ต่างประเทศ)</a>
							</li>
							<li>
								<a href="Benefits4_1.aspx" class="tran3s">ปฏิบัติงาน EXHIBITION - EVENT (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits7_1.aspx" class="tran3s">ค่าเลี้ยงรับรอง</a>
							</li>
							<li>
								<a href="Benefits8.aspx" class="tran3s">เงินกู้</a>
							</li>
							<li>
								<a href="Benefits9_1.aspx" class="tran3s">ส่วนลดสินค้า สำหรับพนักงาน</a>
							</li>
							<li>
								<a href="Benefits10_1.aspx" class="tran3s">เบี้ยขยัน</a>
							</li>
							<li>
								<a href="Benefits11_1.aspx" class="tran3s">ตรวจสุขภาพ</a>
							</li>
							<li>
								<a href="#" class="tran3s">สวัสดิการอื่นๆ</a>
							</li>
						</ul>
					</div>
				</aside>
				<aside>
					<div class="sidebar-news-list">
						<h4>Related Links</h4>
						<ul>
							<li>
								<a href="Benefits1_2.aspx" class="tran3s">กองทุนสำรองเลี้ยงชีพ (เฉพาะส่วนของนายจ้างกลุ่มบริษัท อโรม่า)</a>
							</li>
							<li>
								<a href="Benefits1_1.aspx" class="tran3s">รายการสวัสดิการมอบเกียรติบัตร และของรางวัล (ฉบับที่ 1 พ.ศ. 2556) Rev</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>	
		</div>
		
	</div>
</article>

</asp:Content>
