﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="Benefits8_4.aspx.vb" Inherits="Aroma_HRPortal.Benefits8_4" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<!-- banner -->
<div class="base-banner"><img src="new/images/banner/benefit/banner1.jpg" /></div>
<!-- end banner -->

<!--
=====================================================
	Blog Page Details
=====================================================
-->
<article class="blog-details-page">
	<div class="container">
		
		<div class="post-heading">
            <ul>
			    <li><a href="index_hr.aspx">HOME</a></li>
			    <li>/</li>
			    <li><a href="Benefits_Employee.aspx">ระเบียบสวัสดิการ</a></li>
                <li>/</li>
                <li><a href="Benefits8.aspx">เงินกู้</a></li>
			</ul>
			<h2>สวัสดิการเงินกู้บริษัท</h2>
		</div> <!-- /.post-heading -->
		
		<div class="post-content">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
				<div class="blog-details-post-wrapper">
				
					<img src="new/images/banner/benefit/img12.jpg" alt="Image">

					
        		    
         		    <h4>บริษัท เค.วี.เอ็น.อิมปอร์ต เอกซ์ปอร์ต (1991) จำกัด, บริษัท ไลอ้อน ทรี-สตาร์ จำกัด, บริษัท อัลติเมท เบเวอร์เรต โปรดักส์ จำกัด, บริษัท  ฟู้ด แกลเลอรี่  จำกัด, บริษัท บีริช คอฟฟี่ จำกัด</h4>
                    
                    <h4>ระเบียบสวัสดิการเงินกู้ยืม (สำหรับพนักงาน) แก้ไขครั้งที่ 1 พ.ศ. 2557</h4>
                    
                    <h4>วัตถุประสงค์</h4>
					<p>
						เพื่อช่วยบรรเทาความเดือดร้อนในค่าใช้จ่ายการศึกษาเล่าเรียนบุตร ค่ารักษาพยาบาลของพนักงานและครอบครัว การจัดการงานศพบิดา/มารดา/คู่สมรส และบุตรของพนักงานที่ถูกต้องตามกฏหมายหรือค่าใช้จ่ายกรณีจำเป็นเท่านั้น
					</p>
							
					<h4>คุณสมบัติผู้กู้</h4>
					<p>
						<ol>
							<li>เป็นพนักงาน อโรม่า กรุ๊ป ซึ่งผ่านการทดลองงานและบรรจุเป็นพนักงานแล้ว</li>
							<li>มีรายรับสุทธิต่อเดือนเพียงพอต่อการชำระเงินกู้คืนบริษัทฯ</li>
							<li>ไม่มีภาระค้างจ่ายเงินค้ำประกันการทำงาน หรือรายการหักหนี้สิน/ความเสียหายอื่นใดกับทางบริษัทฯ</li>
						</ol>
					</p>
					
					<h4>จำนวนเงินให้กู้</h4>
					<p>
						<ol>
							<li>วงเงินกู้ฉุกเฉินทั่วไป
								<p>ให้กู้ตามความจำเป็นรายละไม่เกิน 1 เท่าของเงินเดือน หรือตามผลการพิจารณาของกรรมการบริหาร</p>
								<ul class="a">
									<li>พิจารณาจากอายุการทำงาน 1 ปีขึ้นไป</li>
									<li>พิจารณาจากผลการประเมินผลการปฏิบัติงานและเวลาทำงาน โดยต้องมีผลประเมินในระดับดีขึ้นไป</li>
									<li>ดุลยพินิจของกรรมการบริหาร</li>
								</ul>
							</li>
							<li>วงเงินกู้ตามมติคณะกรรมการบริหาร
								<p>ให้กู้ตามความจำเป็นรายละไม่เกิน 4 เท่าของเงินเดือน หรือเป็นไปตามมติของคณะกรรมการบริหาร</p>
								<ul class="a">
									<li>พิจารณาจากอายุการทำงาน 3 ปีขึ้นไป</li>
									<li>พิจารณาจากผลการประเมินผลการปฏิบัติงานและเวลาทำงาน โดยต้องมีผลประเมินในระดับดีขึ้นไป</li>
									<li>ดุลยพินิจของกรรมการบริหาร</li>
								</ul>
							</li>
						</ol>
					</p>
					
					<h4>วิธีการชำระเงินกู้ และอัตราดอกเบี้ย</h4>
					<p>
						<ol>
							<li>กู้แบบฉุกเฉินทั่วไป
								<ul class="a">
									<li>อัตราดอกเบี้ย ปลอดดอกเบี้ย</li>
									<li>ชำระเป็นเงินสดเต็มจำนวน หรือ</li>
									<li>ชำระเป็นเงินสดหรือชำระโดยการหักจากบัญชีเงินเดือน โดยผ่อนชำระเป็นงวดๆ ละเท่ากัน (ยกเว้นงวดสุดท้าย) แต่สูงสุดไม่เกิน 12 งวด</li>
								</ul>
							</li>
							<li>กู้ตามมติคณะกรรมการบริหาร
								<ul class="a">
									<li>อัตราดอกเบี้ย ปลอดดอกเบี้ย</li>
									<li>ชำระเป็นเงินสดเต็มจำนวน หรือ</li>
									<li>ชำระเป็นเงินสดหรือชำระโดยการหักจากบัญชีเงินเดือน โดยผ่อนชำระเป็นงวดๆ ละเท่ากัน (ยกเว้นงวดสุดท้าย) แต่สูงสุดไม่เกิน 12 งวด</li>
								</ul>
							</li>
						</ol>
					</p>
					
					<h4>การรับเงินกู้</h4>									
					<p>โดยการโอนเงินเข้าบัญชีธนาคารชื่อบัญชีพนักงาน หรือจ่ายเป็นเงินสดตามแต่กรณี</p>	
					
					<h4>หลักประกันเงินกู้</h4>
					<p>
						<ol>
							<li>กู้แบบฉุกเฉินทั่วไป ให้ผู้บังคับบัญชาต้นสังกัดตามลำดับชั้นเป็นผู้ค้ำประกัน ดังนี้
								<ul class="a">
									<li>ตำแหน่งผู้จัดการฝ่าย ขึ้นไป หรือเทียบเท่า ถึง ตำแหน่งผู้ช่วยรองกรรมการผู้จัดการ/กรรมการผู้จัดการ ผู้ค้ำประกันคือ ผู้บังคับบัญชาต้นสังกัดตามลำดับชั้น หรือพนักงานแผนกงานอื่นๆ ในระดับตำแหน่งงานเดียวกัน หรือเทียบเท่า เป็นผู้ค้ำประกัน</li>
									<li>ตำแหน่งหัวหน้างาน ขึ้นไป หรือเทียบเท่า ถึง ตำแหน่งผู้จัดการแผนก ผู้ค้ำประกันคือ ผู้จัดการฝ่ายต้นสังกัด หรือพนักงานแผนกงานอื่นๆ ในระดับตำแหน่งงานเดียวกัน เป็นผู้ค้ำประกัน</li>
									<li>ตำแหน่งพนักงาน/เจ้าหน้าที่ ผู้ค้ำประกันคือ ผู้จัดการแผนก/หัวหน้าแผนกต้นสังกัด หรือเทียบเท่า หรือพนักงานแผนกงานอื่นๆ ในระดับตำแหน่งงานเดียวกัน เป็นผู้ค้ำประกัน</li>
									<li>กรณีไม่มีบุคคลภายในค้ำประกันให้ ให้ใช้บุคคลภายนอกที่เป็นข้าราชการ ระดับ 3 ขึ้นไป หรือตำรวจ ทหารชั้น สัญญาบัตรขึ้นไป เป็นผู้ค้ำประกัน</li>
									<li>ผู้ค้ำประกันทั้งภายในและภายนอกบริษัท ต้องมีรายรับสุทธิต่อเดือนเพียงพอต่อการชำระเงินกู้คืนบริษัท รวมถึงไม่มีภาระค้างจ่ายเงินค้ำประกันการทำงานหรือรายการหักหนี้สิน/ความเสียหายอื่นใดกับทางบริษัทฯ</li>
								</ul>
							</li>
							<li>กู้ตามมติคณะกรรมการบริหาร ดังนี้
								<ul class="a">
									<li>ให้ผู้บังคับบัญชาต้นสังกัดตามลำดับชั้นเป็นผู้ค้ำประกัน หรือหรือพนักงานแผนกงานอื่นๆ ในระดับตำแหน่งงานเดียวกัน หรือเทียบเท่า เป็นผู้ค้ำประกัน หรือ</li>
									<li>กรณีไม่มีบุคคลภายในค้ำประกันให้ ให้ใช้บุคคลภายนอกที่เป็นข้าราชการ ระดับ 3 ขึ้นไป หรือตำรวจ ทหารชั้น สัญญาบัตรขึ้นไป เป็นผู้ค้ำประกัน หรือ</li>
									<li>ผู้ค้ำประกัน ให้เป็นไปตามมติของคณะกรรมการบริหาร</li>
									<li>ผู้ค้ำประกันทั้งภายในและภายนอกบริษัท ต้องมีรายรับสุทธิต่อเดือนเพียงพอต่อการชำระเงินกู้คืนบริษัท รวมถึงไม่มีภาระค้างจ่ายเงินค้ำประกันการทำงาน หรือรายการหักหนี้สิน/ความเสียหายอื่นใดกับทางบริษัทฯ</li>
								</ul>
							</li>
						</ol>
					</p>
					
					<h4>การดำเนินการ</h4>
					<p>
						<ol>
							<li>พนักงานผู้มีสิทธิและมีความประสงค์เขียนรายการให้ครบถ้วนลงในแบบฟอร์มเสนอพิจารณาอนุมัติเงินกู้ยืม พร้อมแนบเอกสาร/หลักฐานประกอบการเสนอขออนุมัติ</li>
							<li>การนำเสนอพิจารณาอนุมัติ โดยผ่านผู้บังคับบัญชาต้นสังกัดเห็นชอบ, ฝ่ายบัญชีและการเงินตรวจสอบรายการหนี้สิน, ฝ่ายทรัพยากรมนุษย์ตรวจสอบอายุงาน/ผลการประเมิน/รายการหัก เสร็จนำเสนออนุมัติต่อกรรมการบริหาร</li>
							<li>หลังจากผ่านการอนุมัติ พนักงานจะได้รับแจ้งจากฝ่ายทรัพยากรมนุษย์ เพื่อติดต่อเขียนสัญญากู้ยืมเงิน และสัญญาค้ำประกัน</li>
							<li>กำหนดวันดำเนินการข้อที่ 1. - 2. ภายในวันที่ 15 ของเดือน หากแล้วเสร็จพ้นวันที่ดังกล่าวให้ยกไปดำเนินการในเดือนถัดไป</li>
							<li>บริษัทฯ ขอสงวนไว้ซึ่งสิทธิที่จะยกเลิก แก้ไข เพิ่มเติม ระเบียบสวัสดิการเงินกู้ยืมสำหรับพนักงานข้างต้นได้ตามเห็นสมควร</li>
							<li>ขอยกเลิกระเบียบสวัสดิการเงินกู้ยืมสำหรับพนักงาน ฉบับมีผลใช้วันที่ 1 กรกฏาคม 2548 แต่ให้ใช้ระเบียบฯ ฉบับนี้แทน</li>
						</ol>
					</p>
					
					<h4>หมายเหตุ</h4>
					<p>
						<ol>
							<li>รายการสวัสดิการข้างต้น พนักงานที่ได้รับสิทธิจะต้องผ่านการทดลองงานและได้บรรจุเป็นพนักงานบริษัทแล้วเท่านั้น ยกเว้นบางสวัสดิการให้เป็นไปตามหลักเกณฑ์/เงื่อนไขสวัสดิการนั้นๆ กำหนด</li>
							<li>ระดับพนักงาน A คือ ผู้ช่วยรองกรรมการผู้จัดการขึ้นไป, ระดับ B คือ ผู้จัดการฝ่าย - ผู้จัดการทั่วไป, ระดับ C คือ หัวหน้าส่วน - ผู้จัดการแผนก, ระดับ D คือ พนักงาน - หัวหน้างาน</li>
							<li>การเบิกจ่าย พนักงานจะต้องดำเนินการเขียนใบเบิก พร้อมแนบเอกสารหลักฐานประกอบการเบิกทุกครั้ง ถึงจะได้รับการพิจารณาอนุมัติเบิกจ่าย</li>
							<li>กำหนดตั้งเรื่องเบิกจ่ายผ่านฝ่ายทรัพยากรมนุษย์ตรวจสอบ และส่งต่อฝ่ายบัญชีและการเงินทำจ่าย ตามเวลากำหนดข้างต้น มิฉะนั้นจะถือว่าพนักงานสละสิทธิ โดยไม่มีข้อโต้แย้งแต่อย่างใดทั้งสิ้น</li>
							<li>การเบิกสวัสดิการพนักงาน ที่ไม่สามารถใช้สิทธิเบิกได้ มีกรณีต่างๆ ดังนี้ ทำร้ายร่างกายตน การใช้สารเสพติดตามกฏหมายสารเสพติด การกระทำการใดๆ เพื่อความสวยงามโดยไม่มีข้อบ่งชี้ทางการแพทย์ 
 การรักษาที่อยู่ ระหว่างการค้นคว้าทดลอง การรักษาภาวะมีบุตรยาก การตรวจเนื้อเยื่อเพื่อการผ่าตัดเปลี่ยนอวัยวะ การผ่าตัดเปลี่ยนอวัยวะ การเปลี่ยนเพศ การผสมเทียม ทันตกรรม และแว่นตา เป็นต้น</li>
							<li>ผู้มีอำนาจอนุมัติเบิกจ่ายรายการสวัสดิการข้างต้น ได้แก่กรรมการบริหาร หรือผู้ที่ได้รับมอบหมาย</li>
							<li>กรณีตรวจสอบพบว่าผู้บังคับบัญชาต้นสังกัดลงนามรับรองผิดพลาดจากการเหตุการณ์จริง/เดินทางจริง ส่วนที่ผิดพลาดผู้ลงนามรับรองนั้นๆ จะต้องเป็นผู้จ่ายเงินคืนให้บริษัท</li>
							<li>บริษัทขอสงวนไว้ซึ่งสิทธิที่จะยกเลิก แก้ไข เพิ่มเติม เปลี่ยนแปลงอัตราข้างต้นได้ตามเห็นสมควร</li>
							<li>ทั้งนี้ให้มีผลตั้งแต่วันที่ 1 กรกฏาคม 2557 เป็นต้นไป จนกว่าจะมีประกาศเปลี่ยนแปลง</li>
						</ol>
					</p>
							
					<div class="blog-details-bt">
						<div class="btn-group">
							<asp:button id="backButton" runat="server" text="Back" class="btn btn-primary" OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>
						</div>
					</div>
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
				<aside>
					<div class="sidebar-news-list">
						<h4>CATEGORY</h4>
						<ul>
							<li>
								<a href="Benefits1.aspx" class="tran3s">กองทุนสำรองเลี้ยงชีพ มอบเกียรติบัตรเงินรางวัล</a>
							</li>
							<li>
								<a href="Benefits2_1.aspx" class="tran3s">เงินช่วยเหลืองาน และโอกาสพิเศษต่างๆ</a>
							</li>
							<li>
								<a href="Benefits15.aspx" class="tran3s">เจ็บป่วย ประกันชีวิต สุขภาพ อุบัติเหตุ</a>
							</li>
							<li>
								<a href="Benefits5_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits3_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ต่างประเทศ)</a>
							</li>
							<li>
								<a href="Benefits4_1.aspx" class="tran3s">ปฏิบัติงาน EXHIBITION - EVENT (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits7_1.aspx" class="tran3s">ค่าเลี้ยงรับรอง</a>
							</li>
							<li>
								<a href="Benefits8.aspx" class="tran3s">เงินกู้</a>
							</li>
							<li>
								<a href="Benefits9_1.aspx" class="tran3s">ส่วนลดสินค้า สำหรับพนักงาน</a>
							</li>
							<li>
								<a href="Benefits10_1.aspx" class="tran3s">เบี้ยขยัน</a>
							</li>
							<li>
								<a href="Benefits11_1.aspx" class="tran3s">ตรวจสุขภาพ</a>
							</li>
							<li>
								<a href="#" class="tran3s">สวัสดิการอื่นๆ</a>
							</li>
						</ul>
					</div>
				</aside>
				<aside>
					<div class="sidebar-news-list">
						<h4>Related Links</h4>
						<ul>
							<li>
								<a href="Benefits8_1.aspx" class="tran3s">
									สินเชื่อสวัสดิการพนักงาน (MOU ธนาคารธนชาต)
								</a>
							</li>
							<li>
								<a href="Benefits8_2.aspx" class="tran3s">
									สินเชื่อสวัสดิการพนักงาน (MOU ธนาคารกรุงศรีอยุธยา) (1)
								</a>
							</li>
							<li>
								<a href="Benefits8_3.aspx" class="tran3s">
									สินเชื่อสวัสดิการพนักงาน (MOU ธนาคารออมสิน)
								</a>
							</li>
							<li>
								<a href="Benefits8_4.aspx" class="tran3s">
									สวัสดิการเงินกู้บริษัท
								</a>
							</li>
						</ul>
					</div>
				</aside>
				<aside>
					<div class="sidebar-news-list">
						<h4>PDF Links</h4>
						<ul class="p">
							<li>
								<a href="Document/4Benefits/ขั้นตอนการดำเนินการกู้สินเชื่อ ธ.ออมสิน.pdf" class="tran3s">
								ขั้นตอนการดำเนินการกู้สินเชื่อ ธ.ออมสิน</a>
							</li>
							<li>
								<a href="Document/4Benefits/สินเชื่อสวัสดิการพนักงานร่วมกับสถาบันการเงิน.pdf" class="tran3s">
								สินเชื่อสวัสดิการพนักงานร่วมกับสถาบันการเงิน</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
		
	</div>
</article>

</asp:Content>
