﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="Benefits12_1.aspx.vb" Inherits="Aroma_HRPortal.Benefits12_1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">



<br />
<br />
    <style>
    pre {
    background-color: white;
    border-width: 0px;
    font-size: 14px;
    font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;	

}
</style>
 
  <div class="btn-group">
                                 <asp:button id="backButton" runat="server" text="Back" class="btn btn-primary"
OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>

   </div>

<section class="py-5"><div class="container">
               
<pre> 
                            
                                                          <%-- <marquee scrollAmount="3"
            style="width: 10%"><font color="black"><Blink><big><b>ข้อบังคับเกี่ยวกับการทำงาน</b></big></Blink></font></marquee>--%>
         		    <big> <b>บริษัท เค.วี.เอ็น. อิมปอร์ต เอกซ์ปอร์ต (1991) จำกัด / บริษัท ไลอ้อน ทรี-สตาร์ จำกัด</b></big>
 <big> <b> รายการสวัสดิการค่ารักษาพยาบาล/ประกันกลุ่ม (ฉบับที่ 1 พ.ศ. 2556) Rev.04 : 30/8/2560</b></big>

 																					 
ค่าที่พัก	
1.ต่างจังหวัด/นอกเขตพื้นที่ 
 (ช่วงปกติ) 
พนักงานระดับ A 	จำนวนเงิน	1,500	บาท/คืน/ห้อง
พนักงานระดับ B		จำนวนเงิน	1,500	บาท/คืน/ห้อง						 
พนักงานระดับ C 	จำนวนเงิน	 700	บาท/คืน/ห้อง
พนักงานระดับ D 	จำนวนเงิน	 500	บาท/คืน/ห้อง					 
 (ช่วงเทศกาลสงกรานต์และปีใหม่) 
พนักงานระดับ A 	จำนวนเงิน	1,500	บาท/คืน/ห้อง
พนักงานระดับ B		จำนวนเงิน	1,500	บาท/คืน/ห้อง						 
พนักงานระดับ C 	จำนวนเงิน	 700	บาท/คืน/ห้อง
พนักงานระดับ D 	จำนวนเงิน	 700	บาท/คืน/ห้อง					 
2.ในพื้นที่พัทยา , เกาะช้าง (ช่วงวันปกติ) 
พนักงานระดับ A 	จำนวนเงิน	1,500	บาท/คืน/ห้อง
พนักงานระดับ B		จำนวนเงิน	1,500	บาท/คืน/ห้อง						 
พนักงานระดับ C 	จำนวนเงิน	 700	บาท/คืน/ห้อง
พนักงานระดับ D 	จำนวนเงิน	 600	บาท/คืน/ห้อง
 (ช่วงเทศกาลสงกรานต์และปีใหม่) 
พนักงานระดับ A 	จำนวนเงิน	1,500	บาท/คืน/ห้อง
พนักงานระดับ B		จำนวนเงิน	1,500	บาท/คืน/ห้อง						 
พนักงานระดับ C 	จำนวนเงิน	 800	บาท/คืน/ห้อง
พนักงานระดับ D 	จำนวนเงิน	 800	บาท/คืน/ห้อง					 					 
3.ในพื้นที่เกาะสมุย (ช่วงปกติ) 
พนักงานระดับ A 	จำนวนเงิน	1,700	บาท/คืน/ห้อง
พนักงานระดับ B		จำนวนเงิน	1,700	บาท/คืน/ห้อง						 
พนักงานระดับ C 	จำนวนเงิน	 900	บาท/คืน/ห้อง
พนักงานระดับ D 	จำนวนเงิน	 700	บาท/คืน/ห้อง	
 (ช่วงเทศกาลสงกรานต์และปีใหม่) 
พนักงานระดับ A 	จำนวนเงิน	1,700	บาท/คืน/ห้อง
พนักงานระดับ B		จำนวนเงิน	1,700	บาท/คืน/ห้อง						 
พนักงานระดับ C 	จำนวนเงิน	 900	บาท/คืน/ห้อง
พนักงานระดับ D 	จำนวนเงิน	 900	บาท/คืน/ห้อง					 
เกณฑ์พิจารณา
1.ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)
2.เบิกจ่ายตามจริง แต่ไม่เกินอัตรากำหนด
3.กรณีไปคนเดียว (พักเดี่ยว) เบิกอัตราต่อห้อง ต่อคืน ยกเว้นกรณีเดินทางด้วยกันเป็นหมู่คณะให้พักรวมกันสองคนขึ้นไปต่อห้อง โดยอัตราห้องพักคู่ทุกระดับสามารถ
 เบิกเพิ่มจากอัตราพักเดี่ยวได้ตามจริง แต่ไม่เกิน 200 บาทต่อห้อง ต่อคืน
4.พนักงานต่างระดับกัน พักรวมกัน ให้เบิกได้ตามอัตราระดับพนักงานที่สูงกว่า
5.กรณีบริษัทติดต่อที่พักให้ ให้พนักงานเข้าพักตามสถานที่พักที่บริษัทติดต่อให้เท่านั้น
เอกสารประกอบการเบิกจ่าย
1.เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน
 - กรณีพักเดี่ยว ให้เขียนใบเบิก และแยกใบเสร็จเบิก (หนึ่งคน ต่อหนึ่งใบเสร็จ)
 - กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป (พักคู่) ให้เขียนใบเบิก และส่งเบิกพร้อมกัน
2.ใบเสร็จรับเงินค่าที่พักฉบับจริง
3.ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันพักเสร็จสิ้น หรือจบทริปนั้นๆ

ค่าเบี้ยเลี้ยง เพื่อช่วยเหลือค่าอาหาร และค่าใช้จ่ายอื่นๆ แต่กรณี (ต่างจังหวัด)
พนักงานระดับ A จำนวนเงิน	270	 บาท/วัน
พนักงานระดับ B	จำนวนเงิน	270	 บาท/วัน
พนักงานระดับ C จำนวนเงิน	240 บาท/วัน
พนักงานระดับ D จำนวนเงิน	240 บาท/วัน
เกณฑ์พิจารณา
1.ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)
2.การเบิกจ่ายเบี้ยเลี้ยง สำหรับพนักงานที่บันทึกเวลาและคิดสาย หากเดินทางจากสำนักงาน/สาขา ให้พนักงานสแกน/บันทึกเวลาทุกครั้งประกอบการเบิกจ่าย กรณีฝ่าฝืนการปฏิบัติจะถูกงดจ่ายเบี้ยเลี้ยง
 ในช่วงอัตราที่เดินทางนั้นๆ 
 - อัตราเต็มวัน กรณีฝ่าฝืนจะจ่ายเป็นอัตราครึ่งวัน
 - อัตราครึ่งวัน กรณีฝ่าฝืน จะงดจ่าย/ไม่ได้รับ
3.อัตราเบี้ยเลี้ยงแบ่งเป็น 2 อัตรา
 - อัตราเต็มวัน โดยพิจารณาการเดินทางก่อนเที่ยง (เวลา 12.00 น.) เทียบจากเวลา 24.01 - 12.00 น.ของวันเดินทางนั้นๆ
 - อัตราครึ่งวัน โดยพิจารณาการเดินทางหลังเที่ยง (เวลา 12.01 น.) เทียบจากเวลา 12.01 - 24.00 น.ของวันการเดินทางนั้นๆ
 ระดับ A , B อัตราครึ่งวัน 135 บาท 
 ระดับ C , D อัตราครึ่งวัน 120 บาท
 - ยกเว้นจังหวัดที่ต้องเดินทางตั้งแต่ 12 ชั่วโมงเป็นต้นไป จะได้รับเบี้ยเลี้ยงเต็มวัน (เทียบจากตารางเวลาเดินรถบริษัทขนส่ง จำกัด จากต้นทาง ถึง ปลายทาง)
4.กรณีสถานที่ปฏิบัติงานมีอาหารเช้า หรือกลางวัน หรือเย็นเลี้ยง มื้อใดมื้อหนึ่ง หรือสองมื้อจะงดจ่ายเบี้ยเลี้ยงครึ่งหนึ่ง (เต็มวันได้รับครึ่งวัน , ครึ่งวันจะไม่ได้รับ)
5.กรณีสถานที่ปฏิบัติงานมีอาหารเช้า กลางวัน และเย็นเลี้ยง ทั้งสามมื้อจะงดจ่ายเบี้ยเลี้ยง (ไม่ได้รับ)
6.กรณีฝึกอบรม , สัมมนา , ดูงานที่จัดเป็น Package ไม่สามารถเบิกเบี้ยเลี้ยงได้
7.กรณีพนักงานที่ปฏิบัติงานนอกสถานที่เป็นการประจำ หากมีการปฏิบัติงานทำงานตรงกับวันหยุดจะไม่ได้รับเบี้ยเลี้ยง แต่ให้ได้รับค่าทำงานวันหยุดตามสิทธิแทน
เอกสารประกอบการเบิกจ่าย
1.เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน
 กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน
2.ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันงานเสร็จสิ้น หรือจบทริปนั้นๆ

ค่าพาหนะเดินทางในการปฏิบัติงานนอกสถานที่ 	
1.เดินทางโดยเครื่องบิน
พนักงานระดับ A 	ได้รับสิทธิเดินทางโดยเครื่องบิน 
พนักงานระดับ B		ได้รับสิทธิเดินทางโดยเครื่องบิน 
พนักงานระดับ D - C 	กรณีจำเป็นเดินทางโดยเครื่องบิน ให้ทำเอกสารเสนออนุมัติต่อกรรมการบริหารก่อนเดินทางเป็นรายกรณีๆ ไป เนื่องจากเป็นงานเฉพาะฉุกเฉิน/เร่งด่วนและเป็นประโยชน์ต่อทางธุรกิจ
  เป็นเที่ยวๆ ไปเท่านั้น (เที่ยวไป หรือเที่ยวกลับ)
เกณฑ์พิจารณา/เอกสารประกอบการเบิกจ่าย
-ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)
-กรณีพนักงานเดินทางในประเทศด้วยสายการบิน บริษัทฯ กำหนดให้ใช้สายการบิน Low Cost Airline ในการเดินทาง อาทิเช่นสายการบิน Air Asia , Nok Air, Lion Air 
 เป็นต้น กรณีพนักงานมีความประสงค์ที่ใช้สายการบินอื่น ต้องทำการเปรียบเทียบค่าใช้จ่ายกับสายการบิน Low Cost และสายการบินนั้นต้องมีค่าใช้จ่ายที่เท่ากับหรือถูกกว่าสายการบิน Low Cost
-กรณีพนักงานเดินทางต่างประเทศ บริษัทฯ กำหนดให้เดินทางโดยสายการบินชั้น Economy Class เท่านั้น
 ขั้นตอนปฏิบัติกรณีเดินทางด้วยเครื่องบิน ทั้งในและต่างประเทศ (ใหม่)
 1.หน่วยงานผู้ขอจัดทำ
	1.1 เขียนรายละเอียดการเดินทางลงในแบบฟอร์มขออนุมัติการเดินทาง (PRE-TRIP REQUISTION FORM) 
 1.2 ดำเนินการติดต่อประสานงานเพื่อสำรองที่นั่ง กับ Agency ที่ทางฝ่ายจัดซื้อได้จัดหาและคัดเลือกไว้ให้ เพื่อสำรองที่นั่ง และทาง Agency จะทำการออกใบเสนอราคาและออกใบแจ้งหนี้ 
	 (Invoice) 
 		 -เดินทางในประเทศ (กรณีต่างประเทศ ให้ตรวจสอบเป็นรายประเทศไป) ชื่อบริษัท บิ๊กสตาร์ กรุ๊ป แอนด์ เอ็ดดูเคชั่น จำกัด ติดต่อคุณมิว โทรศัพท์ 02-917-8833 ,080-152-2256
		 -เดินทางต่างประเทศ ชื่อบริษััท อาฟเตอร์ยูแทรเวิล จ ำกัด ติดต่อคุณปรียาภรณ์(น้อง) โทรศัพท์ 02-931-3343 , 093-564-5593
		 -ทั้งนี้รายชื่อบริษัทเพื่อสำรองที่นั่ง อาจเปลี่ยนแปลงได้ตามความเหมาะสม โดยทางฝ่ายทรัพยากรมนุษ์จะแจ้งเป็นคราวๆ ไป
 1.3 ฝ่ายงบประมาณทำการรับรองการใช้งบประมาณ
 1.4 นำเสนอพิจารณาอนุมัติแบบฟอร์มขออนุมัติการเดินทาง (PRE-TRIP REQUISTION FORM) ตามอำนาจอนุมัติ พร้อมแนบใบเสนอราคา/ใบแจ้งหนี้ (Invoice) 
	1.5 ส่งเอกสารฉบับจริงที่ผ่านการอนุมัติให้กับทางจัดซื้อ ได้แก่ ใบเสนอราคา/ใบแจ้งหนี้ (Invoice) และแบบฟอร์มขออนุมัติการเดินทาง/PRE-TRIP REQUISTION FORM 
	 เพื่อออกใบสั่งซื้อ (PO) 
 2.ฝ่ายจัดซื้อในประเทศ
	2.1 จัดทำใบสั่งซื้อ (PO)
	2.2 ส่งเอกสารต่อบัญชี ได้แก่ ใบขออนุมัติการเดินทาง , ใบเสนอราคา/ใบแจ้งหนี้ (Invoice) , ใบสั่งซื้อ (PO)
 3.บัญชี
	3.1 บันทึกค่าใช้จ่าย 
 4.การเงิน
	4.1 ทำจ่ายเงิน ตามเงื่อนไขการจ่ายเงิน (เครดิต 30 วัน)
 อำนาจอนุมัติการเดินทาง
 1.กรณีเดินทางต่างประเทศ พนักงานทุกระดับต้องได้รับการอนุมัติการเดินทางจาก กรรมการผู้จัดการ เท่านั้น
 2.กรณีเดินทางในประเทศ พนักงานระดับ B (ตามระเบียบได้รับสิทธิเดินทางเครื่องบิน) ผู้อนุมัติได้แก่ ผู้อำนวยการฝ่าย/Director
 3.พนักงานระดับ D – C (ตามระเบียบไม่ได้รับสิทธิเดินทางเครื่องบิน) ผู้ทำการอนุมัติได้แก่ กรรมการผู้จัดการ

2.เดินทางโดยรถโดยสารสาธารณะ ในการปฏิบัติงานนอกเขตพื้นที่ระหว่างสำนักงานกรุงเทพกับสาขา หรือระหว่างสาขากับสำนักงานกรุงเทพ 
พนักงานระดับ A , B , C , D ได้รับสิทธิ
เกณฑ์พิจารณา
1.ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)
2.เบิกจ่ายตามจริง ตามอัตราค่าโดยสารรถประจำทาง VIP ชั้น 1 (24 ที่นั่ง) ทั้งรถขนส่งและรถร่วมบริการ กรณีเดินทางโดยวิธีอื่น ให้เบิกได้สูงสุดตามอัตรารถประจำทางของ บริษัท ขนส่ง จำกัด 
 VIP ชั้น 1 (24 ที่นั่ง) เท่านั้น
3.การเดินทางเชื่อมต่อระหว่างขนส่งมายังสำนักงาน หรือจากสำนักงานไปยังขนส่ง 
 เบิกจ่ายตามจริง หากกรณีเส้นทางเดียวกัน ให้เดินทางไปด้วยกันและให้เบิกรวมกัน กรณีจำเป็นต้องบรรทุกสิ่งของ/อุปกรณ์การทำงาน อนุโลมขึ้น Taxi ได้ เนื่องจากมีความจำเป็น รวมถึงกรณีเดินทาง
 เป็นหมู่คณะเมื่อเทียบค่าใช้จ่ายแล้วไม่เกินค่ารถโดยสารสาธารณะ/รถเมล์ อนุโลมให้ขึ้น Taxi ได้
เอกสารประกอบการเบิกจ่าย
1.เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน
 กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน
2.ตั๋วรถ หรือใบเสร็จรับเงินค่าโดยสาร/ค่าน้ำมัน (ฉบับจริง)
3.ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันเดินทางเสร็จสิ้น หรือจบทริปนั้นๆ

4.ใช้รถส่วนตัวปฏิบัติงานนอกสถานที่
พนักงานระดับ A , B , C , D ได้รับสิทธิ
เกณฑ์พิจารณา
1.ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)
2.ใช้รถยนต์ส่วนตัว เบิกค่าน้ำมันรถรวมค่าสึกหรอตามจริง แต่ไม่เกินเลขไมล์กิโลเมตรละ 4 บาท
3.ใช้รถจักรยานยนต์ส่วนตัว เบิกค่าน้ำมันรถรวมค่าสึกหรอตามจริง แต่ไม่เกินเลขไมล์กิโลเมตรละ 2 บาท
4.ใช้รถยนต์/จักรยานยนต์บริษัท หรือที่บริษัทเช่าใช้ปฏิบัติงานนอกสถานที่/นอกเขตพื้นที่
	-ค่าน้ำมันเบิกจ่ายตามจริง หรือตามวงเงินบัตรน้ำมันกำหนด 
	-ให้ปฏิบัติตามระเบียบการใช้รถบริษัท/เช่ามาใช้ในการปฏิบัติงาน/ใช้ในงานบริษัทเท่านั้น
	-รถบริษัท/เช่า สำหรับใช้ในงานกิจการบริษัทเท่านั้น
	-บัตรน้ำมันใช้กับรถเฉพาะคันที่ระบุไว้เท่านั้น
เอกสารประกอบการเบิกจ่าย
1.เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน
 กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน
2.ตั๋วรถ หรือใบเสร็จรับเงินค่าโดยสาร/ค่าน้ำมัน (ฉบับจริง)
3.ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันเดินทางเสร็จสิ้น หรือจบทริปนั้นๆ

หมายเหตุ
1.รายการสวัสดิการข้างต้น พนักงานที่ได้รับสิทธิจะต้องผ่านการทดลองงานและได้บรรจุเป็นพนักงานบริษัทแล้วเท่านั้น ยกเว้นบางสวัสดิการให้เป็นไปตามหลักเกณฑ์/เงื่อนไขสวัสดิการนั้นๆ กำหนด
2.ระดับพนักงาน A คือ ผู้ช่วยรองกรรมการผู้จัดการขึ้นไป , ระดับ B คือ ผู้จัดการฝ่าย - ผู้จัดการทั่วไป , ระดับ C คือ หัวหน้าส่วน - ผู้จัดการแผนก , ระดับ D คือ พนักงาน - หัวหน้างาน 
3.การเบิกจ่าย พนักงานจะต้องดำเนินการเขียนใบเบิก พร้อมแนบเอกสารหลักฐานประกอบการเบิกทุกครั้ง ถึงจะได้รับการพิจารณาอนุมัติเบิกจ่าย
4.กำหนดตั้งเรื่องเบิกจ่ายผ่านฝ่ายทรัพยากรมนุษย์ตรวจสอบ และส่งต่อฝ่ายบัญชีและการเงินทำจ่าย ตามเวลากำหนดข้างต้น มิฉะนั้นจะถือว่าพนักงานสละสิทธิ โดยไม่มีข้อโต้แย้งแต่อย่างใดทั้งสิ้น 
5.การเบิกสวัสดิการพนักงาน ที่ไม่สามารถใช้สิทธิเบิกได้ มีกรณีต่างๆ ดังนี้ ทำร้ายร่างกายตน การใช้สารเสพติดตามกฏหมายสารเสพติด การกระทำการใดๆ เพื่อความสวยงามโดยไม่มีข้อบ่งชี้ทางการแพทย์ 
 การรักษาที่อยู่ ระหว่างการค้นคว้าทดลอง การรักษาภาวะมีบุตรยาก การตรวจเนื้อเยื่อเพื่อการผ่าตัดเปลี่ยนอวัยวะ การผ่าตัดเปลี่ยนอวัยวะ การเปลี่ยนเพศ การผสมเทียม ทันตกรรม และแว่นตา เป็นต้น
6.ผู้มีอำนาจอนุมัติเบิกจ่ายรายการสวัสดิการข้างต้น ได้แก่กรรมการบริหาร หรือผู้ที่ได้รับมอบหมาย 
7.กรณีตรวจสอบพบว่าผู้บังคับบัญชาต้นสังกัดลงนามรับรองผิดพลาดจากการเหตุการณ์จริง/เดินทางจริง ส่วนที่ผิดพลาดผู้ลงนามรับรองนั้นๆ จะต้องเป็นผู้จ่ายเงินคืนให้บริษัท
8.บริษัทขอสงวนไว้ซึ่งสิทธิที่จะยกเลิก แก้ไข เพิ่มเติม เปลี่ยนแปลงอัตราข้างต้นได้ตามเห็นสมควร
9.ทั้งนี้ให้มีผลตั้งแต่วันที่ 1 ตุลาคม 2560 เป็นต้นไป จนกว่าจะมีประกาศเปลี่ยนแปลง
        </pre>


      </div>
    </section>
            
 <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    
       <!-- Bootstrap core CSS -->
<%--    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">--%>

    <!-- Custom styles for this template -->
    <link href="css/full-width-pics.css" rel="stylesheet">


</asp:Content>
