﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="Benefits5_1.aspx.vb" Inherits="Aroma_HRPortal.Benefits5_1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<!-- banner -->
<div class="base-banner"><img src="new/images/banner/benefit/banner1.jpg" /></div>
<!-- end banner -->

<!--
=====================================================
	Blog Page Details
=====================================================
-->
<article class="blog-details-page">
	<div class="container">
		
		<div class="post-heading">
            <ul>
			    <li><a href="index_hr.aspx">HOME</a></li>
			    <li>/</li>
			    <li><a href="Benefits_Employee.aspx">ระเบียบสวัสดิการ</a></li>
			</ul>
			<h2>ปฏิบัติงานนอกสถานที่ (ในประเทศ)</h2>
		</div> <!-- /.post-heading -->
		
		<div class="post-content">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
				<div class="blog-details-post-wrapper">
				
					<img src="new/images/banner/benefit/hr_portal2Benefits5_1.jpg" alt="Image">
					
         		    <h4>บริษัท เค.วี.เอ็น. อิมปอร์ต เอกซ์ปอร์ต (1991) จำกัด / บริษัท ไลอ้อน ทรี-สตาร์ จำกัด</h4>

					<h4>ค่าที่พัก</h4>
					<p>
						<ol>
							<li>ต่างจังหวัด/นอกเขตพื้นที่<br>(ช่วงปกติ)
								<table class="table">
								  <tbody>
									<tr>
									  <td>พนักงานระดับ A</td>
									  <td>จำนวนเงิน</td>
									  <td>1,500</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ B</td>
									  <td>จำนวนเงิน</td>
									  <td>1,500</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ C</td>
									  <td>จำนวนเงิน</td>
									  <td>700</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ D</td>
									  <td>จำนวนเงิน</td>
									  <td>500</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
								  </tbody>
								</table>
								(ช่วงเทศกาลสงกรานต์และปีใหม่)
							  	<table class="table">
							 	   <tbody>
									<tr>
								 	 <td>พนักงานระดับ A</td>
								  	 <td>จำนวนเงิน</td>
								 	 <td>1,500</td>
								 	 <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ B</td>
									  <td>จำนวนเงิน</td>
									  <td>1,500</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ C</td>
									  <td>จำนวนเงิน</td>
									  <td>700</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ D</td>
									  <td>จำนวนเงิน</td>
									  <td>700</td>
								 	 <td>บาท/คืน/ห้อง</td>
									</tr>
							  	  </tbody>
							    </table>
							</li>
							<li>ในพื้นที่พัทยา, เกาะช้าง<br>(ช่วงวันปกติ)
								<table class="table">
								  <tbody>
									<tr>
									  <td>พนักงานระดับ A</td>
									  <td>จำนวนเงิน</td>
									  <td>1,500</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ B</td>
									  <td>จำนวนเงิน</td>
									  <td>1,500</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ C</td>
									  <td>จำนวนเงิน</td>
									  <td>700</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ D</td>
									  <td>จำนวนเงิน</td>
									  <td>600</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
								  </tbody>
								</table>
								(ช่วงเทศกาลสงกรานต์และปีใหม่) <br>
								 <table class="table">
								  <tbody>
									<tr>
									  <td>พนักงานระดับ A</td>
									  <td>จำนวนเงิน</td>
									  <td>1,500</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ B</td>
									  <td>จำนวนเงิน</td>
									  <td>1,500</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ C</td>
									  <td>จำนวนเงิน</td>
									  <td>800</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ D</td>
									  <td>จำนวนเงิน</td>
									  <td>800</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
								  </tbody>
								</table>	
							</li>
							<li>ในพื้นที่เกาะสมุย<br>
								(ช่วงปกติ)
								 <table class="table">
								  <tbody>
									<tr>
									  <td>พนักงานระดับ A</td>
									  <td>จำนวนเงิน</td>
									  <td>1,700</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ B</td>
									  <td>จำนวนเงิน</td>
									  <td>1,700</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ C</td>
									  <td>จำนวนเงิน</td>
									  <td>900</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ D</td>
									  <td>จำนวนเงิน</td>
									  <td>700</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
								  </tbody>
								</table>
								<%-- <table class="table">
								  <tbody>
									<tr>
									  <td>พนักงานระดับ A</td>
									  <td>จำนวนเงิน</td>
									  <td>1,500</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ B</td>
									  <td>จำนวนเงิน</td>
									  <td>1,500</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ C</td>
									  <td>จำนวนเงิน</td>
									  <td>700</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ D</td>
									  <td>จำนวนเงิน</td>
									  <td>500</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
								  </tbody>
								</table>--%>
								(ช่วงเทศกาลสงกรานต์และปีใหม่) <br>
								  <table class="table">
								  <tbody>
									<tr>
									  <td>พนักงานระดับ A</td>
									  <td>จำนวนเงิน</td>
									  <td>1,700</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ B</td>
									  <td>จำนวนเงิน</td>
									  <td>1,700</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ C</td>
									  <td>จำนวนเงิน</td>
									  <td>900</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ D</td>
									  <td>จำนวนเงิน</td>
									  <td>900</td>
									  <td>บาท/คืน/ห้อง</td>
									</tr>
								  </tbody>
								</table>
							</li>
						</ol>
					</p>
					
					<h4>เกณฑ์พิจารณา</h4>
					<p>
						<ol>
							<li>ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)</li>
							<li>เบิกได้ตามสิทธิ์ ในอัตราที่กำหนด</li>
							<li>กรณีไปคนเดียว (พักเดี่ยว) เบิกอัตราต่อห้อง ต่อคืน ยกเว้นกรณีเดินทางด้วยกันเป็นหมู่คณะให้พักรวมกันสองคนขึ้นไปต่อห้อง โดยอัตราห้องพักคู่ทุกระดับสามารถ
 เบิกเพิ่มจากอัตราพักเดี่ยวได้ตามจริง แต่ไม่เกิน 200 บาทต่อห้อง ต่อคืน</li>
							<li>พนักงานต่างระดับกัน พักรวมกัน ให้เบิกได้ตามอัตราระดับพนักงานที่สูงกว่า</li>
							<li>กรณีบริษัทติดต่อที่พักให้ ให้พนักงานเข้าพักตามสถานที่พักที่บริษัทติดต่อให้เท่านั้น</li>
						</ol>
					</p>
					
					<h4>เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ol>
							<li>เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน
								<ul class="a">
									<li>กรณีพักเดี่ยว ให้เขียนใบเบิก และแยกใบเสร็จเบิก (หนึ่งคน ต่อหนึ่งใบเสร็จ)</li>
									<li>กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป (พักคู่) ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
								</ul>
							</li>
							<li>ใบเสร็จรับเงินค่าที่พักฉบับจริง</li>
							<li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันพักเสร็จสิ้น หรือจบทริปนั้นๆ</li>
						</ol>
					</p>
					
					<h4>ค่าเบี้ยเลี้ยง เพื่อช่วยเหลือค่าอาหาร และค่าใช้จ่ายอื่นๆ แต่กรณี (ต่างจังหวัด)</h4>
					<p>
						<table class="table">
						  <tbody>
							<tr>
							  <td>พนักงานระดับ A</td>
							  <td>จำนวนเงิน</td>
							  <td>270</td>
							  <td>บาท/วัน</td>
							</tr>
							<tr>
							  <td>พนักงานระดับ B</td>
							  <td>จำนวนเงิน</td>
							  <td>270</td>
							  <td>บาท/วัน</td>
							</tr>
							<tr>
							  <td>พนักงานระดับ C</td>
							  <td>จำนวนเงิน</td>
							  <td>240</td>
							  <td>บาท/วัน</td>
							</tr>
							<tr>
							  <td>พนักงานระดับ D</td>
							  <td>จำนวนเงิน</td>
							  <td>240</td>
							  <td>บาท/วัน</td>
							</tr>
						  </tbody>
						</table>
					</p>
					
					<h4>เกณฑ์พิจารณา</h4>
					<p>
						<ol>
							<li>ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)</li>
							<li>การเบิกจ่ายเบี้ยเลี้ยง สำหรับพนักงานที่บันทึกเวลาและคิดสาย หากเดินทางจากสำนักงาน/สาขา ให้พนักงานสแกน/บันทึกเวลาทุกครั้งประกอบการเบิกจ่าย กรณีฝ่าฝืนการปฏิบัติจะถูกงดจ่ายเบี้ยเลี้ยง
 ในช่วงอัตราที่เดินทางนั้นๆ
								<ul class="a">
									<li>อัตราเต็มวัน กรณีฝ่าฝืนจะจ่ายเป็นอัตราครึ่งวัน</li>
									<li>อัตราครึ่งวัน กรณีฝ่าฝืน จะงดจ่าย/ไม่ได้รับ</li>
								</ul>
							</li>
							<li>อัตราเบี้ยเลี้ยงแบ่งเป็น 2 อัตรา
								<ul class="a">
									<li>อัตราเต็มวัน โดยพิจารณาการเดินทางก่อนเที่ยง (เวลา 12.00 น.) เทียบจากเวลา 24.01 - 12.00 น.ของวันเดินทางนั้นๆ</li>
									<li>อัตราครึ่งวัน โดยพิจารณาการเดินทางหลังเที่ยง (เวลา 12.01 น.) เทียบจากเวลา 12.01 - 24.00 น.ของวันการเดินทางนั้นๆ
										<ul class="b">
											<li>ระดับ A, B อัตราครึ่งวัน 135 บาท</li>
											<li>ระดับ C, D อัตราครึ่งวัน 120 บาท</li>
										</ul>
									</li>
									<li>ยกเว้นจังหวัดที่ต้องเดินทางตั้งแต่ 12 ชั่วโมงเป็นต้นไป จะได้รับเบี้ยเลี้ยงเต็มวัน (เทียบจากตารางเวลาเดินรถบริษัทขนส่ง จำกัด จากต้นทาง ถึง ปลายทาง)</li>
								</ul>
							</li>
							<li>กรณีสถานที่ปฏิบัติงานมีอาหารเช้า หรือกลางวัน หรือเย็นเลี้ยง มื้อใดมื้อหนึ่ง หรือสองมื้อจะงดจ่ายเบี้ยเลี้ยงครึ่งหนึ่ง (เต็มวันได้รับครึ่งวัน, ครึ่งวันจะไม่ได้รับ)</li>
							<li>กรณีสถานที่ปฏิบัติงานมีอาหารเช้า กลางวัน และเย็นเลี้ยง ทั้งสามมื้อจะงดจ่ายเบี้ยเลี้ยง (ไม่ได้รับ)</li>
							<li>กรณีฝึกอบรม , สัมมนา , ดูงานที่จัดเป็น Package ไม่สามารถเบิกเบี้ยเลี้ยงได้</li>
							<li>กรณีพนักงานที่ปฏิบัติงานนอกสถานที่เป็นการประจำ หากมีการปฏิบัติงานทำงานตรงกับวันหยุดจะไม่ได้รับเบี้ยเลี้ยง แต่ให้ได้รับค่าทำงานวันหยุดตามสิทธิแทน</li>
						</ol>
					</p>
					
					<h4>เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ol>
							<li>เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
							<li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันงานเสร็จสิ้น หรือจบทริปนั้นๆ</li>
						</ol>
					</p>
					
					<h4>ค่าพาหนะเดินทางในการปฏิบัติงานนอกสถานที่</h4>
					<p>
						<ol>
							<li><h4>เดินทางโดยเครื่องบิน</h4>
								<ul class="a">
									<li>พนักงานระดับ A ได้รับสิทธิเดินทางโดยเครื่องบิน</li>
									<li>พนักงานระดับ B ได้รับสิทธิเดินทางโดยเครื่องบิน</li>
									<li>พนักงานระดับ C - D กรณีจำเป็นเดินทางโดยเครื่องบิน ให้ทำเอกสารเสนออนุมัติต่อกรรมการบริหารก่อนเดินทางเป็นรายกรณีๆ ไป เนื่องจากเป็นงานเฉพาะฉุกเฉิน/เร่งด่วนและเป็นประโยชน์ต่อทางธุรกิจ เป็นเที่ยวๆ ไปเท่านั้น (เที่ยวไป หรือเที่ยวกลับ)</li>
								</ul>
								<h4>เกณฑ์พิจารณา/เอกสารประกอบการเบิกจ่าย</h4>
								<ul class="a">
									<li>ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)</li>
									<li>กรณีพนักงานเดินทางในประเทศด้วยสายการบิน บริษัทฯ กำหนดให้ใช้สายการบิน Low Cost Airline ในการเดินทาง อาทิเช่นสายการบิน Air Asia, Nok Air, Lion Air 
		 เป็นต้น กรณีพนักงานมีความประสงค์ที่ใช้สายการบินอื่น ต้องทำการเปรียบเทียบค่าใช้จ่ายกับสายการบิน Low Cost และสายการบินนั้นต้องมีค่าใช้จ่ายที่เท่ากับหรือถูกกว่าสายการบิน Low Cost</li>
									<li>กรณีพนักงานเดินทางต่างประเทศ บริษัทฯ กำหนดให้เดินทางโดยสายการบินชั้น Economy Class เท่านั้น</li>
								</ul>
								ขั้นตอนปฏิบัติกรณีเดินทางด้วยเครื่องบิน ทั้งในและต่างประเทศ (ใหม่)
								<ul class="t">
									<li>หน่วยงานผู้ขอจัดทำ
										<ul class="a">
											<li>เขียนรายละเอียดการเดินทางลงในแบบฟอร์มขออนุมัติการเดินทาง (PRE-TRIP REQUISTION FORM)</li>
											<li>ดำเนินการติดต่อประสานงานเพื่อสำรองที่นั่ง กับ Agency ที่ทางฝ่ายจัดซื้อได้จัดหาและคัดเลือกไว้ให้ เพื่อสำรองที่นั่ง และทาง Agency จะทำการออกใบเสนอราคาและออกใบแจ้งหนี้ 
			 (Invoice)
												<ul class="b">
													<li>เดินทางในประเทศ (กรณีต่างประเทศ ให้ตรวจสอบเป็นรายประเทศไป) ชื่อบริษัท บิ๊กสตาร์ กรุ๊ป แอนด์ เอ็ดดูเคชั่น จำกัด ติดต่อคุณมิว โทรศัพท์ 02-917-8833, 080-152-2256</li>
													<li>เดินทางต่างประเทศ ชื่อบริษััท อาฟเตอร์ยูแทรเวิล จำกัด ติดต่อคุณปรียาภรณ์(น้อง) โทรศัพท์ 02-931-3343, 093-564-5593</li>
													<li>ทั้งนี้รายชื่อบริษัทเพื่อสำรองที่นั่ง อาจเปลี่ยนแปลงได้ตามความเหมาะสม โดยทางฝ่ายทรัพยากรมนุษ์จะแจ้งเป็นคราวๆ ไป</li>
												</ul>
											</li>
											<li>ฝ่ายงบประมาณทำการรับรองการใช้งบประมาณ</li>
											<li>นำเสนอพิจารณาอนุมัติแบบฟอร์มขออนุมัติการเดินทาง (PRE-TRIP REQUISTION FORM) ตามอำนาจอนุมัติ พร้อมแนบใบเสนอราคา/ใบแจ้งหนี้ (Invoice)</li>
											<li>ส่งเอกสารฉบับจริงที่ผ่านการอนุมัติให้กับทางจัดซื้อ ได้แก่ ใบเสนอราคา/ใบแจ้งหนี้ (Invoice) และแบบฟอร์มขออนุมัติการเดินทาง/PRE-TRIP REQUISTION FORM 
			 เพื่อออกใบสั่งซื้อ (PO)</li>
										</ul>
									</li>
									<li>ฝ่ายจัดซื้อในประเทศ
										<ul class="a">
											<li>จัดทำใบสั่งซื้อ (PO)</li>
											<li>ส่งเอกสารต่อบัญชี ได้แก่ ใบขออนุมัติการเดินทาง, ใบเสนอราคา/ใบแจ้งหนี้ (Invoice), ใบสั่งซื้อ (PO)</li>
										</ul>
									</li>
									<li>บัญชี
										<ul class="a">
											<li>บันทึกค่าใช้จ่าย</li>
										</ul>
									</li>
									<li>การเงิน
										<ul class="a">
											<li>ทำจ่ายเงิน ตามเงื่อนไขการจ่ายเงิน (เครดิต 30 วัน)</li>
										</ul>
									</li>									
								</ul>
								<h4>อำนาจอนุมัติการเดินทาง</h4>
								<ol>
									<li>กรณีเดินทางต่างประเทศ พนักงานทุกระดับต้องได้รับการอนุมัติการเดินทางจาก กรรมการผู้จัดการ เท่านั้น</li>
									<li>กรณีเดินทางในประเทศ พนักงานระดับ B (ตามระเบียบได้รับสิทธิเดินทางเครื่องบิน) ผู้อนุมัติได้แก่ ผู้อำนวยการฝ่าย/Director</li>
									<li>พนักงานระดับ D – C (ตามระเบียบไม่ได้รับสิทธิเดินทางเครื่องบิน) ผู้ทำการอนุมัติได้แก่ กรรมการผู้จัดการ</li>
								</ol>
							</li>
							<li><h4>เดินทางปฏิบัติงานนอกเขตพื้นที่ระหว่างสำนักงานกรุงเทพกับสาขา หรือระหว่างสาขากับสำนักงานกรุงเทพ</h4>
								<ul class="a">
									<li>พนักงานระดับ A, B, C, D ได้รับสิทธิ</li>
								</ul>
								<h4>เกณฑ์พิจารณา</h4>
								<ol>
									<li>ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)</li>
                                    <li>เบิกจ่ายตามจริง ตามอัตราค่าโดยสารรถประจำทาง VIP ชั้น 1 (24 ที่นั่ง) ทั้งรถขนส่งและรถร่วมบริการ กรณีเดินทางโดยวิธีอื่น ให้เบิกได้สูงสุดตามอัตรารถประจำทางของ บริษัท  ขนส่ง  จำกัด  VIP ชั้น 1 (24 ที่นั่ง) เท่านั้น</li>
									<!--li>ใช้รถยนต์ส่วนตัว เบิกค่าน้ำมันรถรวมค่าสึกหรอตามจริง แต่ไม่เกินเลขไมล์กิโลเมตรละ 4 บาท</li>
									<li>ใช้รถจักรยานยนต์ส่วนตัว เบิกค่าน้ำมันรถรวมค่าสึกหรอตามจริง แต่ไม่เกินเลขไมล์กิโลเมตรละ 2 บาท</li>
									<li>ใช้รถยนต์/จักรยานยนต์บริษัท หรือที่บริษัทเช่าใช้ปฏิบัติงานนอกสถานที่/นอกเขตพื้นที่
										<ul class="a">
											<li>ค่าน้ำมันเบิกจ่ายตามจริง หรือตามวงเงินบัตรน้ำมันกำหนด</li>
											<li>ให้ปฏิบัติตามระเบียบการใช้รถบริษัท/เช่ามาใช้ในการปฏิบัติงาน/ใช้ในงานบริษัทเท่านั้น</li>
											<li>รถบริษัท/เช่า สำหรับใช้ในงานกิจการบริษัทเท่านั้น</li>
											<li>บัตรน้ำมันใช้กับรถเฉพาะคันที่ระบุไว้เท่านั้น</li>
										</ul>
									</li-->
								</ol>
								<h4>เอกสารประกอบการเบิกจ่าย</h4>
								<ol>
                                    <li>เขียนใบเบิก  พร้อมแนบรายงานการปฏิบัติงาน กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
                                    <li>ตั๋วรถ หรือใบเสร็จรับเงินค่าโดยสาร/ค่าน้ำมัน (ฉบับจริง)</li>
                                    <li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันเดินทางเสร็จสิ้น หรือจบทริปนั้นๆ</li>
									<!--li>เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
									<li>ตั๋วรถ หรือใบเสร็จรับเงินค่าโดยสาร/ค่าน้ำมัน (ฉบับจริง)</li>
									<li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันเดินทางเสร็จสิ้น หรือจบทริปนั้นๆ</li-->
								</ol>
							</li>
							<li><h4>การเดินทางเชื่อมต่อระหว่างขนส่ง/สถานที่ปฏิบัติงานมายังสำนักงาน หรือจากสำนักงาน/สถานที่ปฏิบัติงานไปยังขนส่ง</h4>
                                <p style="padding: 20px 0;">
                                    ให้เดินทางด้วยรถโดยสารสาธารณะ โดยเบิกจ่ายตามจริงตามอัตราค่าโดยสาร หากกรณีเส้นทางเดียวกัน ให้เดินทางไปด้วยกันและให้เบิกรวมกัน  กรณีจำเป็นต้องบรรทุกสิ่งของ/อุปกรณ์การทำงาน อนุโลมขึ้น Taxi ได้ เนื่องจากมีความจำเป็น รวมถึงกรณีเดินทางเป็นหมู่คณะเมื่อเทียบค่าใช้จ่ายแล้วไม่เกินค่ารถโดยสารสาธารณะ/รถเมล์  อนุโลมให้ขึ้น Taxi ได้ 
                                </p>

                                <h4>เอกสารประกอบการเบิกจ่าย</h4>
                                <p>
                                    <ol>
                                        <li>เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
                                        <li>ตั๋วรถ หรือใบเสร็จรับเงินค่าโดยสาร/ค่าน้ำมัน (ฉบับจริง)</li>
                                        <li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันเดินทางเสร็จสิ้น  หรือจบทริปนั้นๆ</li>
                                    </ol>
                                </p>
							</li>
							<li><h4>ใช้รถส่วนตัวปฏิบัติงานนอกสถานที่</h4>
                                <ul class="a">
									<li>พนักงานระดับ A, B, C, D ได้รับสิทธิ</li>
								</ul>
								
								<h4>เกณฑ์พิจารณา</h4>
                               	<ol>
                               		<li>ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)</li>
                               		<li>ใช้รถยนต์ส่วนตัว เบิกค่าน้ำมันรถรวมค่าสึกหรอตามจริง แต่ไม่เกินเลขไมล์กิโลเมตรละ 4 บาท</li>
                               		<li>ใช้รถจักรยานยนต์ส่วนตัว เบิกค่าน้ำมันรถรวมค่าสึกหรอตามจริง แต่ไม่เกินเลขไมล์กิโลเมตรละ 2 บาท</li>
                               	</ol>

                                <h4>เอกสารประกอบการเบิกจ่าย</h4>
                                <ol>
                                	<li>เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
                                	<li>ตั๋วรถ หรือใบเสร็จรับเงินค่าโดยสาร/ค่าน้ำมัน (ฉบับจริง) หรือใช้ใบรับรองแทนใบเสร็จรับเงิน</li>
                                	<li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันเดินทางเสร็จสิ้น หรือจบทริปนั้นๆ</li>
                                </ol>
							</li>
							<li><h4>ใช้รถยนต์/จักรยานยนต์บริษัท  หรือที่บริษัทเช่าใช้ปฏิบัติงานนอกสถานที่/นอกเขตพื้นที่</h4>
                            	<ol>
                                	<li>ค่าน้ำมันเบิกจ่ายตามจริง หรือตามวงเงินบัตรน้ำมันกำหนด</li>
                                	<li>ให้ปฏิบัติตามระเบียบการใช้รถบริษัท/เช่ามาใช้ในการปฏิบัติงาน/ใช้ในงานบริษัทเท่านั้น</li>
                                	<li>รถบริษัท/เช่า สำหรับใช้ในงานกิจการบริษัทเท่านั้น</li>
                                	<li>บัตรน้ำมันใช้กับรถเฉพาะคันที่ระบุไว้เท่านั้น</li>
                                </ol>

                                 <h4>เอกสารประกอบการเบิกจ่าย</h4>
                                 <ol>
                                 	<li>เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
                                 	<li>ตั๋วรถ หรือใบเสร็จรับเงินค่าโดยสาร/ค่าน้ำมัน (ฉบับจริง)</li>
                                 	<li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันเดินทางเสร็จสิ้น หรือจบทริปนั้นๆ</li>
                                 </ol>
							</li>
							<li><h4>การนับระยะทางการเดินทางไปและกลับปฏิบัติงานนอกสถานที่ ประกอบการเบิกค่าใช้จ่ายการเดินทางจริง หรือเบิกตามกิโลไมล์</h4>
								<ol>
									<li>ขาไป ให้เริ่มนับระยะทางจากสำนักงานบริษัทที่พนักงานปฏิบัติงานประจำอยู่ จนถึงสถานที่ปลายทาง โดยให้ระบุสถานที่ปลายทางด้วยชื่อซอย ตำบล/แขวง อำเภอ/เขต และจังหวัดใด
 (การเดินทางจริง สามารถเดินทางจากบ้านได้ แต่ค่าเดินทางจะเริ่มนับระยะทางให้จากสำนักงาน)</li>
									<li>ขากลับ ให้เริ่มนับจากสถานที่ปฏิบัติงานอยู่ จนถึงสำนักงานบริษัทที่พนักงานปฏิบัติงานประจำอยู่</li>
									<li>กรณีวันหยุด หรือไม่ได้เริ่มออกเดินทางจากสำนักงาน ให้เปรียบเทียบระยะทางในการเดินทางจากสถานที่เริ่มออกเดินทางจริงไปยังสถานที่ปลายทาง เปรียบเทียบกับระยะทางที่เริ่มจากสำนักงาน ไปยังสถานที่ปลายทาง ว่าอย่างใดประหยัดกว่า (ให้เลือกเดินทางนั้น) โดยให้เบิกค่าใช้จ่ายตามจริง หรือเบิกตามกิโลไมล์ (ตามแต่กรณี)</li>
								</ol>
								<h4>หมายเหตุ</h4>
								<ol>
									<li>รายการสวัสดิการข้างต้น พนักงานที่ได้รับสิทธิจะต้องผ่านการทดลองงานและได้บรรจุเป็นพนักงานบริษัทแล้วเท่านั้น ยกเว้นบางสวัสดิการให้เป็นไปตามหลักเกณฑ์/เงื่อนไขสวัสดิการนั้นๆ กำหนด</li>
									<li>ระดับพนักงาน A คือ ผู้ช่วยรองกรรมการผู้จัดการขึ้นไป, ระดับ B คือ ผู้จัดการฝ่าย - ผู้จัดการทั่วไป, ระดับ C คือ หัวหน้าส่วน - ผู้จัดการแผนก, ระดับ D คือ พนักงาน - หัวหน้างาน</li>
									<li>การเบิกจ่าย พนักงานจะต้องดำเนินการเขียนใบเบิก พร้อมแนบเอกสารหลักฐานประกอบการเบิกทุกครั้ง ถึงจะได้รับการพิจารณาอนุมัติเบิกจ่าย</li>
									<li>กำหนดตั้งเรื่องเบิกจ่ายผ่านฝ่ายทรัพยากรมนุษย์ตรวจสอบ และส่งต่อฝ่ายบัญชีและการเงินทำจ่าย ตามเวลากำหนดข้างต้น มิฉะนั้นจะถือว่าพนักงานสละสิทธิ โดยไม่มีข้อโต้แย้งแต่อย่างใดทั้งสิ้น</li>
									<li>การเบิกสวัสดิการพนักงาน ที่ไม่สามารถใช้สิทธิเบิกได้ มีกรณีต่างๆ ดังนี้ ทำร้ายร่างกายตน การใช้สารเสพติดตามกฏหมายสารเสพติด การกระทำการใดๆ เพื่อความสวยงามโดยไม่มีข้อบ่งชี้ทางการแพทย์ การรักษาที่อยู่ ระหว่างการค้นคว้าทดลอง การรักษาภาวะมีบุตรยาก การตรวจเนื้อเยื่อเพื่อการผ่าตัดเปลี่ยนอวัยวะ การผ่าตัดเปลี่ยนอวัยวะ การเปลี่ยนเพศ การผสมเทียม ทันตกรรม และแว่นตา เป็นต้น</li>
									<li>ผู้มีอำนาจอนุมัติเบิกจ่ายรายการสวัสดิการข้างต้น ได้แก่กรรมการบริหาร หรือผู้ที่ได้รับมอบหมาย</li>
									<li>กรณีตรวจสอบพบว่าผู้บังคับบัญชาต้นสังกัดลงนามรับรองผิดพลาดจากการเหตุการณ์จริง/เดินทางจริง ส่วนที่ผิดพลาดผู้ลงนามรับรองนั้นๆ จะต้องเป็นผู้จ่ายเงินคืนให้บริษัท</li>
									<li>บริษัทขอสงวนไว้ซึ่งสิทธิที่จะยกเลิก แก้ไข เพิ่มเติม เปลี่ยนแปลงอัตราข้างต้นได้ตามเห็นสมควร</li>
									<li>ทั้งนี้ให้มีผลตั้งแต่วันที่ 1 ตุลาคม 2560 เป็นต้นไป จนกว่าจะมีประกาศเปลี่ยนแปลง</li>
								</ol>
							</li>
						</ol>
					</p>
					
					<div class="blog-details-bt">
						<div class="btn-group">
							<asp:button id="backButton" runat="server" text="Back" class="btn btn-primary" OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>
						</div>
					</div>
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
				<aside>
					<div class="sidebar-news-list">
						<h4>CATEGORY</h4>
						<ul>
							<li>
								<a href="Benefits1.aspx" class="tran3s">กองทุนสำรองเลี้ยงชีพ มอบเกียรติบัตรเงินรางวัล</a>
							</li>
							<li>
								<a href="Benefits2_1.aspx" class="tran3s">เงินช่วยเหลืองาน และโอกาสพิเศษต่างๆ</a>
							</li>
							<li>
								<a href="Benefits15.aspx" class="tran3s">เจ็บป่วย ประกันชีวิต สุขภาพ อุบัติเหตุ</a>
							</li>
							<li>
								<a href="Benefits5_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits3_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ต่างประเทศ)</a>
							</li>
							<li>
								<a href="Benefits4_1.aspx" class="tran3s">ปฏิบัติงาน EXHIBITION - EVENT (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits7_1.aspx" class="tran3s">ค่าเลี้ยงรับรอง</a>
							</li>
							<li>
								<a href="Benefits8.aspx" class="tran3s">เงินกู้</a>
							</li>
							<li>
								<a href="Benefits9_1.aspx" class="tran3s">ส่วนลดสินค้า สำหรับพนักงาน</a>
							</li>
							<li>
								<a href="Benefits10_1.aspx" class="tran3s">เบี้ยขยัน</a>
							</li>
							<li>
								<a href="Benefits11_1.aspx" class="tran3s">ตรวจสุขภาพ</a>
							</li>
							<li>
								<a href="#" class="tran3s">สวัสดิการอื่นๆ</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
		
	</div>
</article>

</asp:Content>