﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="Benefits3_1.aspx.vb" Inherits="Aroma_HRPortal.Benefits3_1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<!-- banner -->
<div class="base-banner"><img src="new/images/banner/benefit/banner1.jpg" /></div>
<!-- end banner -->

<!--
=====================================================
	Blog Page Details
=====================================================
-->
<article class="blog-details-page">
	<div class="container">
		
		<div class="post-heading">
            <ul>
			    <li><a href="index_hr.aspx">HOME</a></li>
			    <li>/</li>
			    <li><a href="Benefits_Employee.aspx">ระเบียบสวัสดิการ</a></li>
			</ul>
			<h2>ปฏิบัติงานนอกสถานที่ (ต่างประเทศ)</h2>
		</div> <!-- /.post-heading -->
		
		<div class="post-content">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
				<div class="blog-details-post-wrapper">
				
					<img src="new/images/banner/benefit/img6.jpg" alt="Image">
					
   					<h4>บริษัท เค.วี.เอ็น. อิมปอร์ต เอกซ์ปอร์ต (1991) จำกัด / บริษัท ไลอ้อน ทรี-สตาร์ จำกัด<br>
   						รายการสวัสดิการอัตราค่าเบี้ยเลี้ยง ค่าอาหาร ค่าที่พัก ค่าเดินทาง ค่าใช้จ่ายเบ็ดเตล็ด การปฏิบัติงานนอกสถานที่ และอื่นๆ (สำหรับต่างประเทศ) ฉบับที่ 1 พ.ศ. 2559 Rev.02:30/8/2560</h4>
   					<p>
   						ค่าใช้จ่ายในการเดินทางไปต่างประเทศชั่วคราว เพื่อประชุม เจรจาธุรกิจ ดูงานที่เกี่ยวข้องในงานตนเอง หรือตามความจำเป็นอื่นใดที่ได้รับมอบหมายจากบริษัท
   					</p>
   					
   					<h4>อัตราเบี้ยเลี้ยงเหมาจ่าย (ต่อวัน ต่อคน)</h4>
   					<p>
   						<ol>
   							<li>ทวีปเอเชีย/แอฟริกา
   								<table class="table">
								  <tbody>
									<tr>
									  <td>พนักงานระดับ A</td>
									  <td>จำนวนเงิน</td>
									  <td>2,100</td>
									  <td>บาท/วัน</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ B</td>
									 <td>จำนวนเงิน</td>
									  <td>2,100</td>
									  <td>บาท/วัน</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ C</td>
									  <td>จำนวนเงิน</td>
									  <td>1,500</td>
									  <td>บาท/วัน</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ D</td>
									  <td>จำนวนเงิน</td>
									  <td>1,500</td>
									  <td>บาท/วัน</td>
									</tr>
								  </tbody>
								</table>
   							</li>
   							<li>ทวีบยุโรป/ออสเตรเลีย/อเมริกา
   								<table class="table">
								  <tbody>
									<tr>
									  <td>พนักงานระดับ A</td>
									  <td>จำนวนเงิน</td>
									  <td>3,100</td>
									  <td>บาท/วัน</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ B</td>
									 <td>จำนวนเงิน</td>
									  <td>3,100</td>
									  <td>บาท/วัน</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ C</td>
									  <td>จำนวนเงิน</td>
									  <td>2,000</td>
									  <td>บาท/วัน</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ D</td>
									  <td>จำนวนเงิน</td>
									  <td>2,000</td>
									  <td>บาท/วัน</td>
									</tr>
								  </tbody>
								</table>
   							</li>
   						</ol>
   					</p>

					<h4>เกณฑ์พิจารณา</h4>
					<p>
						<ol>
							<li>ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)</li>
							<li>การนับวันเวลาไป-กลับ ให้นับตามจำนวนคืนที่พักโรงแรม หากในวันเดินทางกลับกรณี Check out หลังเวลา 10.00 น. ให้ได้รับเบี้ยเลี้ยงตามอัตราต่อวันด้วย
 (โดยระหว่างเดินทางไป-กลับ จะไม่ได้สิทธิเบิกค่าเบี้ยเลี้ยง)</li>
							<li>การเดินทางล่วงหน้า หรือหลังปฏิบัติงานเสร็จสิ้น โดยเหตุผลส่วนตัว จะไม่นับวันเวลาเดินทาง (จะไม่ได้สิทธิเบิกค่าเบี้ยเลี้ยง)</li>
							<li>กรณีไม่มีผู้ให้การสนับสนุนจากภายนอก หรือทางบริษัทไม่ได้จัดเลี้ยงอาหารให้ ให้เบิกค่าเบี้ยเลี้ยงเหมาจ่ายตามอัตราบริษัทกำหนด</li>
							<li>กรณีมีผู้ให้การสนับสนุนจากภายนอก หรือทางบริษัทจัดเลี้ยงอาหารให้ ให้เบิกค่าเบี้ยเลี้ยงได้ ดังนี้
								<ul class="a">
									<li>กรณีไปทริปเฉพาะพนักงาน โดยบริษัทไม่มีเลี้ยงอาหาร ให้พนักงานเบิกเบี้ยเลี้ยงได้ตามสิทธิ</li>
									<li>กรณีไปทริปพนักงาน โดยทางบริษัทไม่มีเลี้ยงอาหาร แต่มีเลี้ยงลูกค้ามื้อใด มื้อหนึ่ง ให้พนักงานเบิกเบี้ยเลี้ยงได้ตามสิทธิ</li>
									<li>กรณีไปทริปพนักงานกับลูกค้า ให้เบิกค่าอาหารตามจริง ตามความเหมาะสม (ไม่เบิกเบี้ยเลี้ยง)</li>
								</ul>
							</li>
							<li>กรณีไปท่องเที่ยว ,ทริปพิเศษจากรางวัลการขาย/โปรโมชั่น ให้งดเบิกค่าเบี้ยเลี้ยง</li>
						</ol>
					</p>
					
					<h4>เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ol>
							<li>เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
							<li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันเดินทางเสร็จสิ้น หรือจบทริปนั้นๆ</li>
							<li>กรรมการบริหารพิจารณาอนุมัติเป็นคราวๆ ไป</li>
						</ol>
					</p>
					
					<h4>ค่าที่พัก</h4>
					<p>
						<table class="table">
						  <tbody>
							<tr>
							  <td>พนักงานระดับ A</td>
							  <td>โรงแรม 4 ดาว</td>
							</tr>
							<tr>
							  <td>พนักงานระดับ B</td>
							  <td>โรงแรม 4 ดาว</td>
							</tr>
							<tr>
							  <td>พนักงานระดับ C</td>
							  <td>โรงแรม 3 ดาว</td>
							</tr>
							<tr>
							  <td>พนักงานระดับ D</td>
							  <td>โรงแรม 3 ดาว</td>
							</tr>
						  </tbody>
						</table>
					</p>
					
					<h4>เกณฑ์พิจารณา</h4>
					<p>
						<ol>
							<li>ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)</li>
							<li>เบิกจ่ายตามจริง แต่ไม่เกินระดับโรงแรมกำหนด หรือโดยประหยัด โดยอัตราเบิกสูงสุดต้องไม่เกินบัญชีหมายเลข 7 ค่าเช่าที่พักในการเดินทางไปราชการ ต่างประเทศชั่วคราว ตามระเบียบกระทรวงการคลัง ว่าด้วยการเบิกค่าใช้จ่ายในการ เดินทางไปราชการ (ฉบับที่ 2) พ.ศ. 2554 หรือฉบับอื่นที่จะประกาศใช้ในอนาคต</li>
							<li>กรณีไปคนเดียว (พักเดี่ยว) เบิกอัตราต่อห้อง ต่อคืน ยกเว้นกรณีเดินทางด้วยกันเป็นหมู่คณะให้พักรวมกันสองคนขึ้นไปต่อห้อง โดยอัตราห้องพักคู่ทุกระดับสามารถเบิกเพิ่มจากอัตราพักเดี่ยวได้ตามจริง</li>
							<li>พนักงานต่างระดับกัน พักรวมกัน ให้เบิกได้ตามอัตราระดับพนักงานที่สูงกว่า</li>
							<li>กรณีบริษัทติดต่อที่พักให้ ให้พนักงานเข้าพักตามสถานที่พักที่บริษัทติดต่อให้เท่านั้น</li>
							<li>กรณีบางประเทศ ไม่มีที่พักระดับ 3 ดาว ให้เข้าพักไม่เกินประเภท 4 ดาวแทน โดยชี้แจงข้อมูลประกอบการเบิกจ่ายเป็นรายครั้งไปที่เข้าพัก</li>
						</ol>
					</p>
					
					<h4>เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ol>
							<li>เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
							<li>ใบเสร็จรับเงินค่าที่พัก (ฉบับจริง)</li>
							<li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันเดินทางเสร็จสิ้น หรือจบทริปนั้นๆ</li>
							<li>กรรมการบริหารพิจารณาอนุมัติเป็นคราวๆ ไป</li>
						</ol>
					</p>
					
					<h4>ค่าพาหนะเดินทางไป-กลับ</h4>
					<p>
						<ol>
							<li>พนักงานระดับ A เดินทางโดยเครื่องบิน ชั้น Economy Class หรือสูงกว่าได้ตามความจำเป็น</li>
							<li>พนักงานระดับ B	เดินทางโดยเครื่องบิน ชั้น Economy Class ทั้งไป-กลับ เบิกได้ตามจริง</li>
							<li>พนักงานระดับ C เดินทางโดยเครื่องบิน ชั้น Economy Class ทั้งไป-กลับ เบิกได้ตามจริง</li>
							<li>พนักงานระดับ D เดินทางโดยเครื่องบิน ชั้น Economy Class ทั้งไป-กลับ เบิกได้ตามจริง</li>
						</ol>
					</p>
				
					<h4>เกณฑ์พิจารณา/เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ul class="a">
							<li>ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)</li>
							<li>ขั้นตอนปฏิบัติกรณีเดินทางด้วยเครื่องบิน ทั้งในและต่างประเทศ (ใหม่)</li>
						</ul>
						<ul class="t">
							<li>หน่วยงานผู้ขอจัดทำ
								<ul class="a">
									<li>เขียนรายละเอียดการเดินทางลงในแบบฟอร์มขออนุมัติการเดินทาง (PRE-TRIP REQUISTION FORM)</li>
									<li>ดำเนินการติดต่อประสานงานเพื่อสำรองที่นั่ง กับ Agency ที่ทางฝ่ายจัดซื้อได้จัดหาและคัดเลือกไว้ให้ เพื่อสำรองที่นั่ง และทาง Agency จะทำการออกใบเสนอราคาและออกใบแจ้งหนี้ (Invoice)
										<ul class="b">
											<li>เดินทางในประเทศ (กรณีต่างประเทศ ให้ตรวจสอบเป็นรายประเทศไป) ชื่อบริษัท บิ๊กสตาร์ กรุ๊ป แอนด์ เอ็ดดูเคชั่น จำกัด ติดต่อคุณมิว โทรศัพท์ 02-917-8833, 080-152-2256</li>
											<li>เดินทางต่างประเทศ ชื่อบริษััท อาฟเตอร์ยูแทรเวิล จำกัด ติดต่อคุณปรียาภรณ์(น้อง) โทรศัพท์ 02-931-3343, 093-564-5593</li>
											<li>ทั้งนี้รายชื่อบริษัทเพื่อสำรองที่นั่ง อาจเปลี่ยนแปลงได้ตามความเหมาะสม โดยทางฝ่ายทรัพยากรมนุษ์จะแจ้งเป็นคราวๆ ไป</li>
										</ul>
									</li>
									<li>ฝ่ายงบประมาณทำการรับรองการใช้งบประมาณ</li>
									<li>นำเสนอพิจารณาอนุมัติแบบฟอร์มขออนุมัติการเดินทาง (PRE-TRIP REQUISTION FORM) ตามอำนาจอนุมัติ พร้อมแนบใบเสนอราคา/ใบแจ้งหนี้ (Invoice)</li>
									<li>ส่งเอกสารฉบับจริงที่ผ่านการอนุมัติให้กับทางจัดซื้อ ได้แก่ ใบเสนอราคา/ใบแจ้งหนี้ (Invoice) และแบบฟอร์มขออนุมัติการเดินทาง/PRE-TRIP REQUISTION FORM เพื่อออกใบสั่งซื้อ (PO)</li>
								</ul>
							</li>
							<li>ฝ่ายจัดซื้อในประเทศ
								<ul class="a">
									<li>จัดทำใบสั่งซื้อ (PO)</li>
									<li>ส่งเอกสารต่อบัญชี ได้แก่ ใบขออนุมัติการเดินทาง, ใบเสนอราคา/ใบแจ้งหนี้ (Invoice), ใบสั่งซื้อ (PO)</li>
								</ul>
							</li>
							<li>บัญชี
								<ul class="a">
									<li>บันทึกค่าใช้จ่าย</li>
								</ul>
							</li>
							<li>การเงิน
								<ul class="a">
									<li>ทำจ่ายเงิน ตามเงื่อนไขการจ่ายเงิน (เครดิต 30 วัน)</li>
								</ul>
							</li>									
						</ul>
					</p>
					
					<h4>อำนาจอนุมัติการเดินทาง</h4>
					<p>
						<ol>
							<li>กรณีเดินทางต่างประเทศ พนักงานทุกระดับต้องได้รับการอนุมัติการเดินทางจาก กรรมการผู้จัดการ เท่านั้น</li>
							<li>กรณีเดินทางในประเทศ พนักงานระดับ B (ตามระเบียบได้รับสิทธิเดินทางเครื่องบิน) ผู้อนุมัติได้แก่ ผู้อำนวยการฝ่าย/Director</li>
							<li>พนักงานระดับ D – C (ตามระเบียบไม่ได้รับสิทธิเดินทางเครื่องบิน) ผู้ทำการอนุมัติได้แก่ กรรมการผู้จัดการ</li>
						</ol>
					</p>
					
					<h4>ค่าพาหนะเดินทางเชื่อมต่อ</h4>
					<ul class="a">
						<li>พนักงานทุกระดับ (A, B, C, D)</li>
					</ul>
					
					<h4>เกณฑ์พิจารณา</h4>
					<p>
						<ol>
							<li>ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)</li>
							<li>ค่าพาหนะเดินทางเชื่อมต่อไปกลับระหว่างสถานที่พัก หรือสถานที่ปฏิบัติงานต่างประเทศ ให้ใช้ยานพาหนะประจำทาง และเบิกค่ายานพาหนะได้เท่าที่จ่ายจริงโดยประหยัด กรณีไม่มียานพาหนะประจำทาง หรือมีความจำเป็น ให้ขึ้น Taxi หรือยานพาหนะอื่นๆ ได้โดยชี้แจ้งเหตุผลความจำเป็น</li>
						</ol>
					</p>
		
					<h4>เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ol>
							<li>เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
							<li>ใบเสร็จรับเงิน/ตั๋วรถ เป็นต้น (ฉบับจริง)</li>
							<li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันเดินทางเสร็จสิ้น หรือจบทริปนั้นๆ</li>
							<li>กรรมการบริหารพิจารณาอนุมัติเป็นคราวๆ ไป</li>
						</ol>
					</p>
					
					<h4>ค่าประกันภัย/ค่าหนังสือเดินทาง/ตรวจลงตรา/ค่าอื่นๆ</h4>
					<p>
						<ol>
							<li>ค่าทำความสะอาดเสื้อผ้า
								<table class="table">
								  <tbody>
									<tr>
									  <td>พนักงานระดับ A จำนวนเงิน</td>
									  <td>500 บาท/วัน</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ B จำนวนเงิน</td>
									  <td>500 บาท/วัน</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ C จำนวนเงิน</td>
									  <td>500 บาท/วัน</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ D จำนวนเงิน</td>
									  <td>500 บาท/วัน</td>
									</tr>
								  </tbody>
								</table>
								<h4>เกณฑ์พิจารณา</h4>
								<ul class="a">
									<li>ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)</li>
									<li>กรณีเดินทางไปต่างประเทศชั่วคราวเกินกว่า 7 วัน ให้เบิกค่าทำความสะอาดเสื้อผ้าได้ตามที่จ่ายจริงโดยประหยัดต่อคน ต่อวัน แต่ไม่เกินอัตรากำหนด</li>
								</ul>							
							</li>
							<li>การประกันภัยการเดินทางต่างประเทศ
								<table class="table">
								  <tbody>
									<tr>
									  <td>พนักงานระดับ A</td>
									  <td>แผน 2</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ B</td>
									  <td>แผน 2</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ C</td>
									  <td>แผน 1</td>
									</tr>
									<tr>
									  <td>พนักงานระดับ D</td>
									  <td>แผน 1</td>
									</tr>
								  </tbody>
								</table>
								 <h4>เกณฑ์พิจารณา</h4>
								 <ul class="a">
								 	<li>ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)</li>
								 	<li>การเดินทางไปต่างประเทศ จัดให้มีการซื้อประกันภัยการเดินทางทุกครั้ง โดยผ่านฝ่ายจัดซื้อบริษัทเท่านั้น
								 		<ul class="b">
								 			<li>แผน 1 การเสียชีวิต เจ็บป่วย อุบัติเหตุ อื่นๆ ทุนประกันไม่เกิน 1,500,000 บาท</li>
								 			<li>แผน 2 การเสียชีวิต เจ็บป่วย อุบัติเหตุ อื่นๆ ทุนประกันไม่เกิน 2,000,000 บาท</li>
										</ul>
								 	</li>
								 </ul>
							</li>
							<li>ค่าใช้จ่ายอื่นๆ
								<ul class="a">
									<li>พนักงานทุกระดับ (A, B, C, D)</li>
								</ul>
								ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)
								<ul class="b">
									<li>ค่าธรรมเนียมหนังสือเดินทาง (Passport) เบิกจ่ายตามจริง</li>
									<li>ค่าธรรมเนียมการตรวจลงตรา (Visa) เบิกจ่ายตามจริง</li>
									<li>ค่ารับรองลูกค้า หรือของที่ระลึกสำหรับลูกค้า เบิกจ่ายตามจริง โดยทำเอกสารแจ้งรายละเอียดและเหตุผลนำเสนอกรรมการบริหารพิจารณาอุนุมัติเป็นรายกรณีๆ ไป (ก่อนการเดินทาง)</li>
									<li>ค่าอื่นๆ เกี่ยวกับข้อกำหนดของประเทศที่ต้องเดินทางไปนั้นๆ</li>
								</ul>						
							</li>
						</ol>
					</p>
													
					<h4>เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ol>
							<li>เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
							<li>ใบเสร็จรับเงิน (ฉบับจริง)</li>
							<li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันเดินทางเสร็จสิ้น หรือจบทริปนั้นๆ</li>
							<li>กรรมการบริหารพิจารณาอนุมัติเป็นคราวๆ ไป</li>
						</ol>
					</p>
					
					<h4>ค่าโทรศัพท์</h4>
					<ul class="a">
						<li>พนักงานทุกระดับ (A, B, C, D)</li>
					</ul>
					<h4>เกณฑ์พิจารณา</h4>
					<p>
						<ul class="a">
							<li>ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)</li>
							<li>เบิกจ่ายตามจริง แต่ไม่เกินอัตราผู้ให้บริการเรียกเก็บ โดยให้ทำเอกสารเสนออนุมัติต่อกรรมการบริหารสายงานก่อนเดินทางเป็นรายกรณีๆ ไป เนื่องจากเป็นงานฉุกเฉิน/เร่งด่วนมีความจำเป็น และเป็นประโยชน์ต่อทางธุรกิจ เท่านั้น</li>
						</ul>
					</p>
					
					<h4>เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ol>
							<li>เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
							<li>ใบเสร็จรับเงิน (ฉบับจริง)</li>
							<li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันเดินทางเสร็จสิ้น หรือจบทริปนั้นๆ</li>
							<li>กรรมการบริหารพิจารณาอนุมัติเป็นคราวๆ ไป</li>
						</ol>
					</p>
					
					<h4>หมายเหตุ</h4>
					<p>
						<ol>
							<li>รายการสวัสดิการข้างต้น พนักงานที่ได้รับสิทธิจะต้องผ่านการทดลองงานและได้บรรจุเป็นพนักงานบริษัทแล้วเท่านั้น ยกเว้นบางสวัสดิการให้เป็นไปตามหลักเกณฑ์/เงื่อนไขสวัสดิการนั้นๆ กำหนด</li>
							<li>ระดับพนักงาน A คือ ผู้ช่วยรองกรรมการผู้จัดการขึ้นไป , ระดับ B คือ ผู้จัดการฝ่าย - ผู้จัดการทั่วไป , ระดับ C คือ หัวหน้าส่วน - ผู้จัดการแผนก , ระดับ D คือ พนักงาน - หัวหน้างาน</li>
							<li>การเบิกจ่าย พนักงานจะต้องดำเนินการเขียนใบเบิก พร้อมแนบเอกสารหลักฐานประกอบการเบิกทุกครั้ง ถึงจะได้รับการพิจารณาอนุมัติเบิกจ่าย</li>
							<li>กำหนดตั้งเรื่องเบิกจ่ายผ่านฝ่ายทรัพยากรมนุษย์ตรวจสอบ และส่งต่อฝ่ายบัญชีและการเงินทำจ่าย ตามเวลากำหนดข้างต้น มิฉะนั้นจะถือว่าพนักงานสละสิทธิ โดยไม่มีข้อโต้แย้งแต่อย่างใดทั้งสิ้น</li>
							<li>การเบิกสวัสดิการพนักงาน ที่ไม่สามารถใช้สิทธิเบิกได้ มีกรณีต่างๆ ดังนี้ ทำร้ายร่างกายตน การใช้สารเสพติดตามกฏหมายสารเสพติด การกระทำการใดๆ เพื่อความสวยงามโดยไม่มีข้อบ่งชี้ทางการแพทย์ การรักษาที่อยู่ ระหว่างการค้นคว้าทดลอง การรักษาภาวะมีบุตรยาก การตรวจเนื้อเยื่อเพื่อการผ่าตัดเปลี่ยนอวัยวะ การผ่าตัดเปลี่ยนอวัยวะ การเปลี่ยนเพศ การผสมเทียม ทันตกรรม และแว่นตา เป็นต้น</li>
							<li>ผู้มีอำนาจอนุมัติเบิกจ่ายรายการสวัสดิการข้างต้น ได้แก่กรรมการบริหาร หรือผู้ที่ได้รับมอบหมาย</li>
							<li>กรณีตรวจสอบพบว่าผู้บังคับบัญชาต้นสังกัดลงนามรับรองผิดพลาดจากการเหตุการณ์จริง/เดินทางจริง ส่วนที่ผิดพลาดผู้ลงนามรับรองนั้นๆ จะต้องเป็นผู้จ่ายเงินคืนให้บริษัท</li>
							<li>บริษัทขอสงวนไว้ซึ่งสิทธิที่จะยกเลิก แก้ไข เพิ่มเติม เปลี่ยนแปลงอัตราข้างต้นได้ตามเห็นสมควร<</li>
							<li>ทั้งนี้ให้มีผลตั้งแต่วันที่ 1 ตุลาคม 2560 เป็นต้นไป จนกว่าจะมีประกาศเปลี่ยนแปลง</li>
						</ol>
					</p>
					
					<div class="blog-details-bt">
						<div class="btn-group">
							<asp:button id="backButton" runat="server" text="Back" class="btn btn-primary" OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>
						</div>
					</div>
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
				<aside>
					<div class="sidebar-news-list">
						<h4>CATEGORY</h4>
						<ul>
							<li>
								<a href="Benefits1.aspx" class="tran3s">กองทุนสำรองเลี้ยงชีพ มอบเกียรติบัตรเงินรางวัล</a>
							</li>
							<li>
								<a href="Benefits2_1.aspx" class="tran3s">เงินช่วยเหลืองาน และโอกาสพิเศษต่างๆ</a>
							</li>
							<li>
								<a href="Benefits15.aspx" class="tran3s">เจ็บป่วย ประกันชีวิต สุขภาพ อุบัติเหตุ</a>
							</li>
							<li>
								<a href="Benefits5_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits3_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ต่างประเทศ)</a>
							</li>
							<li>
								<a href="Benefits4_1.aspx" class="tran3s">ปฏิบัติงาน EXHIBITION - EVENT (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits7_1.aspx" class="tran3s">ค่าเลี้ยงรับรอง</a>
							</li>
							<li>
								<a href="Benefits8.aspx" class="tran3s">เงินกู้</a>
							</li>
							<li>
								<a href="Benefits9_1.aspx" class="tran3s">ส่วนลดสินค้า สำหรับพนักงาน</a>
							</li>
							<li>
								<a href="Benefits10_1.aspx" class="tran3s">เบี้ยขยัน</a>
							</li>
							<li>
								<a href="Benefits11_1.aspx" class="tran3s">ตรวจสุขภาพ</a>
							</li>
							<li>
								<a href="#" class="tran3s">สวัสดิการอื่นๆ</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
		
	</div>
</article>

</asp:Content>
