﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="Benefits4_1.aspx.vb" Inherits="Aroma_HRPortal.Benefits4_1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<!-- banner -->
<div class="base-banner"><img src="new/images/banner/benefit/banner1.jpg" /></div>
<!-- end banner -->

<!--
=====================================================
	Blog Page Details
=====================================================
-->
<article class="blog-details-page">
	<div class="container">
		
		<div class="post-heading">
            <ul>
			    <li><a href="index_hr.aspx">HOME</a></li>
			    <li>/</li>
			    <li><a href="Benefits_Employee.aspx">ระเบียบสวัสดิการ</a></li>
			</ul>
			<h2>ปฏิบัติงาน EXHIBITION - EVENT (ในประเทศ)</h2>
		</div> <!-- /.post-heading -->
		
		<div class="post-content">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
				<div class="blog-details-post-wrapper">
				
					<img src="new/images/banner/benefit/hr_portal2Benefits4_1.jpg" alt="Image">
					
   					<h4>บริษัท เค.วี.เอ็น. อิมปอร์ต เอกซ์ปอร์ต (1991) จำกัด / บริษัท ไลอ้อน ทรี-สตาร์ จำกัด<br>
   						รายการสวัสดิการอัตราค่าเบี้ยเลี้ยงหรือค่าเดินทาง ค่าที่พักการปฏิบัติงาน Exhibition / Event (สำหรับภายในประเทศ) ฉบับที่ 1 พ.ศ. 2556 Rev.04 : 30/8/2560</h4>
					
					<h4>ค่าเบี้ยเลี้ยงในการปฏิบัติงานนอกสถานที่ เพื่อช่วยเหลือค่าอาหารและค่าเดินทาง ตามแต่กรณี<br>
						งาน Exhibition / Event ในเขตกรุงเทพ-ปริมณฑล (สมุทรปราการ,ปทุมธานี,นนทบุรี)</h4>
					<p>
						ในงานบริษัทจัดอาหารให้,แต่ไม่มีรถรับส่ง (ไปปฏิบัติงานที่เมืองทองธานี, ศูนย์การประชุมแห่งชาติสิริกิติ์, ไบเทค บางนา, เซ็นทรัลเวิล์ด/สยามพารากอน) สำหรับพนักงานที่ได้รับค่าน้ำมัน, ค่าสึกหรอ, Car Allowance, ค่าเดินทาง, ค่าพาหนะ, มีรถให้ใช้<br>
						พนักงานระดับ A, B, C, D 
					</p>
					
					<h4>เกณฑ์พิจารณา</h4>
					<p>
						<ol>
							<li>ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)</li>
							<li>ไม่ได้จ่ายเบี้ยเลี้ยง</li>
							<li>วันจัดงานจะเลี้ยงอาหารกลางวันให้</li>
							<li>วันติดตั้ง/รื้อถอนจะเลี้ยงอาหารเย็นอีกหนึ่งมื้อสำหรับผู้อยู่ติดตั้ง/รื้อถอน หรือเลิกงาน ถึง 20.00 น.</li>
							<li>ค่าที่จอดรถให้เบิกตามอัตราค่าที่จอดของสถานที่กำหนด และตามเวลาการปฏิบัติงานที่บริษัทฯ กำหนด
								<ul class="a">
									<li>กรณีเป็นเซลล์ให้เบิกเป็นค่าใช้จ่ายประจำเดือน</li>
									<li>กรณีพนักงานอื่นๆ ให้เบิกเป็นค่าใช้จ่ายในการออกงาน</li>
								</ul>
							</li>
						</ol>
					</p>
					
					<h4>เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ol>
							<li>เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน/ใบลงเวลาเข้า-ออกงาน Exhibition / Event กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
							<li>งาน Exhibition / Event ทุกงานไม่มีสิทธิเบิกค่าทางด่วนต่างหากจากสิทธิที่อาจได้รับอยู่เดิม ยกเว้นเฉพาะงานฉุกเฉิน/เร่งด่วน และเป็นประโยชน์ต่อทางธุรกิจเป็นเที่ยวๆ ไปเท่านั้น</li>
							<li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันงานเสร็จสิ้น</li>
						</ol>
					</p>
					
					<h4>ค่าเบี้ยเลี้ยงในการปฏิบัติงานนอกสถานที่ เพื่อช่วยเหลือค่าอาหารและค่าเดินทาง ตามแต่กรณี<br>
					งาน Exhibition / Event ในเขตกรุงเทพ-ปริมณฑล (สมุทรปราการ, ปทุมธานี, นนทบุรี)</h4>
					<p>
						ในงานบริษัทจัดอาหารให้,แต่ไม่มีรถรับส่ง (ไปปฏิบัติงานที่เมืองทองธานี , ศูนย์การประชุมแห่งชาติสิริกิติ์ ,ไบเทค บางนา , เซ็นทรัลเวิล์ด/สยามพารากอน) สำหรับพนักงานที่ไม่ได้รับค่าน้ำมัน, ค่าสึกหรอ, Car Allowance, ค่าเดินทาง, ค่าพาหนะ, มีรถให้ใช้<br>
						พนักงานระดับ A, B, C, D ได้รับสิทธิ
					</p>
					
					<h4>เกณฑ์พิจารณา</h4>
					<p>
						<ol>
							<li>ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)</li>
							<li>ไม่ได้จ่ายเบี้ยเลี้ยง แต่จะจ่ายค่าเดินทางให้แทน 200 บาท กรณีปฏิบัติงานเต็มวัน</li>
							<li>วันจัดงานจะเลี้ยงอาหารกลางวันให้</li>
							<li>วันติดตั้ง/รื้อถอนจะเลี้ยงอาหารเย็นอีกหนึ่งมื้อสำหรับผู้อยู่ติดตั้ง/รื้อถอน หรือเลิกงาน ถึง 20.00 น.</li>
							<li>ไม่ได้สิทธิเบิกค่าที่จอดรถ เนื่องจากได้ช่วยเหลือค่าเดินทางแทน</li>
							<li>การเบิกจ่ายค่าเดินทาง สำหรับพนักงานที่บันทึกเวลาและคิดสาย หากเดินทางจาก สำนักงาน/สาขา ให้พนักงานสแกน/บันทึกเวลาทุกครั้ง ประกอบการเบิกจ่าย กรณีฝ่าฝืนการปฏิบัติจะถูกงดจ่าย
								<ul class="a">
									<li>ค่าเดินทางในช่วงอัตราที่เดินทางนั้นๆ</li>
									<li>ค่าเดินทาง กรณีฝ่าฝืนจะจ่ายเป็นอัตราครึ่งวัน (100 บาท)</li>
								</ul>
							</li>
						</ol>
					</p>
					
					<h4>เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ol>
							<li>เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน/ใบลงเวลาเข้า-ออกงาน Exhibition / Event กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
							<li>งาน Exhibition / Event ทุกงานไม่มีสิทธิเบิกค่าทางด่วนต่างหากจากสิทธิที่อาจได้รับอยู่เดิม ยกเว้นเฉพาะงานฉุกเฉิน/เร่งด่วน และเป็นประโยชน์ต่อทางธุรกิจเป็นเที่ยวๆ ไปเท่านั้น</li>
							<li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันงานเสร็จสิ้น</li>
						</ol>
					</p>
					
					<h4>งาน Exhibition / Event ในเขตกรุงเทพ-ปริมณฑล (สมุทรปราการ,ปทุมธานี,นนทบุรี)</h4>
					<p>
						สถานที่ใกล้เคียงบริษัท สถานที่รถโดยสารสาธารณะ/รถเมล์เดินทางถึง อาทิ เดอะมอลล์บางกะปิ , SCB Park ,สถานที่ใกล้เคียงอื่นใด เป็นต้น<br>
						พนักงานระดับ A, B, C, D
					</p>
					
					<h4>เกณฑ์พิจารณา</h4>
					<p>
						<ol>
							<li>พนักงานทุกคน จะไม่ได้รับเบี้ยเลี้ยง/ค่าเดินทาง เนื่องจากสถานที่ใกล้เคียงบริษัท</li>
							<li>วันจัดงานจะเลี้ยงอาหารกลางวันให้</li>
							<li>วันติดตั้ง/รื้อถอนจะเลี้ยงอาหารเย็นอีกหนึ่งมื้อสำหรับผู้อยู่ติดตั้ง/รื้อถอน หรือเลิกงาน ถึง 20.00 น.</li>
						</ol>
					</p>
					
					<h4>เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ol>
							<li>เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน/ใบลงเวลาเข้า-ออกงาน Exhibition / Event กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
							<li>งาน Exhibition / Event ทุกงานไม่มีสิทธิเบิกค่าทางด่วนต่างหากจากสิทธิที่อาจได้รับอยู่เดิม ยกเว้นเฉพาะงานฉุกเฉิน/เร่งด่วน และเป็นประโยชน์ต่อทางธุรกิจเป็นเที่ยวๆ ไปเท่านั้น</li>
							<li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันงานเสร็จสิ้น</li>
						</ol>
					</p>
					
					<h4>งาน Exhibition / Event ต่างจังหวัด</h4>
					<p>
						ค่าเบี้ยเลี้ยง งาน Exhibition / Event ต่างจังหวัด เพื่อช่วยเหลือค่าอาหาร และค่าใช้จ่ายอื่นๆ แต่กรณี
						<table class="table">
						  <tbody>
							<tr>
							  <td>พนักงานระดับ A จำนวนเงิน</td>
							  <td>270 บาท/วัน</td>
							</tr>
							<tr>
							   <td>พนักงานระดับ B จำนวนเงิน</td>
							  <td>270 บาท/วัน</td>
							</tr>
							<tr>
							   <td>พนักงานระดับ C จำนวนเงิน</td>
							  <td>240 บาท/วัน</td>
							</tr>
							<tr>
							   <td>พนักงานระดับ D จำนวนเงิน</td>
							  <td>240 บาท/วัน</td>
							</tr>
						  </tbody>
						</table>
					</p>
					
					<h4>เกณฑ์พิจารณา</h4>
					<p>
						<ol>
							<li>ได้รับสิทธิเบิกนับตั้งแต่เริ่มงานวันแรก (หากมีเบิก/จำเป็นเบิก)</li>
							<li>การเบิกจ่ายเบี้ยเลี้ยง สำหรับพนักงานที่บันทึกเวลาและคิดสาย หากเดินทางจากสำนักงาน/สาขา ให้พนักงานสแกน/บันทึกเวลาทุกครั้ง ประกอบการเบิกจ่าย กรณีฝ่าฝืนการปฏิบัติจะถูกงดจ่ายเบี้ยเลี้ยง ในช่วงอัตราที่เดินทางนั้นๆ
								<ul class="a">
									<li>อัตราเต็มวัน กรณีฝ่าฝืนจะจ่ายเป็นอัตราครึ่งวัน</li>
									<li>อัตราครึ่งวัน กรณีฝ่าฝืน จะงดจ่าย/ไม่ได้รับ</li>
								</ul>
							</li>
							<li>อัตราเบี้ยเลี้ยงแบ่งเป็น 2 อัตรา
								<ul class="a">
									<li>อัตราเต็มวัน โดยพิจารณาการเดินทางก่อนเที่ยง (เวลา 12.00 น.) เทียบจากเวลา 24.01 - 12.00 น.ของวันเดินทางนั้นๆ</li>
									<li>อัตราครึ่งวัน โดยพิจารณาการเดินทางหลังเที่ยง (เวลา 12.01 น.) เทียบจากเวลา 12.01 - 24.00 น.ของวันการเดินทางนั้นๆ
										<ul class="b">
											<li>ระดับ A, B อัตราครึ่งวัน 135 บาท</li>
											<li>ระดับ C , D อัตราครึ่งวัน 120 บาท</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>กรณีสถานที่ปฏิบัติงานมีอาหารเช้า หรือกลางวัน หรือเย็นเลี้ยง มื้อใดมื้อหนึ่ง หรือ สองมื้อจะงดจ่ายเบี้ยเลี้ยงครึ่งหนึ่ง (เต็มวันได้รับครึ่งวัน , ครึ่งวันจะไม่ได้รับ)</li>
							<li>กรณีสถานที่ปฏิบัติงานมีอาหารเช้า กลางวัน และเย็นเลี้ยง ทั้งสามมื้อจะงดจ่ายเบี้ยเลี้ยง (ไม่ได้รับ)</li>
							<li>กรณีบริษัทติดต่อที่พักให้ ให้พนักงานเข้าพักตามสถานที่พักที่บริษัทติดต่อให้เท่านั้น</li>
							<li>กรณีพนักงานที่ปฏิบัติงานนอกสถานที่เป็นการประจำ หากมีการปฏิบัติงานทำงานตรงกับวันหยุดจะไม่ได้รับเบี้ยเลี้ยง แต่ให้ได้รับค่าทำงานวันหยุดตามสิทธิแทน</li>
						</ol>
					</p>
					
					<h4>เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ol>
							<li>เขียนใบเบิก พร้อมแนบรายงานการปฏิบัติงาน/ใบลงเวลาเข้า-ออกงาน Exhibition / Event กรณีไปปฏิบัติงานตั้งแต่ 2 คนขึ้นไป ให้เขียนใบเบิก และส่งเบิกพร้อมกัน</li>
							<li>ให้ทำเรื่องเบิกจ่ายภายใน 7 วันนับจากวันงานเสร็จสิ้น</li>
						</ol>
					</p>
					
					<h4>ค่าที่พัก งาน Exhibition / Event ต่างจังหวัด</h4>
					<p>อ้างอิงเบิกตามอัตรารายการสวัสดิการอัตราค่าเบี้ยเลี้ยง ค่าที่พัก ค่าเดินทางในการ ปฏิบัติงานนอกสถานที่ และอื่นๆ (สำหรับภายในประเทศ)</p>
					
					<h4>ค่าพาหนะเดินทางในการปฏิบัติงานนอก/ในสถานที่ งาน Exhibition / Event ต่างจังหวัด</h4>
					<p>อ้างอิงเบิกตามอัตรารายการสวัสดิการอัตราค่าเบี้ยเลี้ยง ค่าที่พัก ค่าเดินทางในการ ปฏิบัติงานนอกสถานที่ และอื่นๆ (สำหรับภายในประเทศ)</p>
					
					<h4>หมายเหตุ</h4>
					<p>
						<ol>
							<li>รายการสวัสดิการข้างต้น พนักงานที่ได้รับสิทธิจะต้องผ่านการทดลองงานและได้บรรจุเป็นพนักงานบริษัทแล้วเท่านั้น ยกเว้นบางสวัสดิการให้เป็นไปตามหลักเกณฑ์/เงื่อนไขสวัสดิการนั้นๆ กำหนด</li>
							<li>ระดับพนักงาน A คือ ผู้ช่วยรองกรรมการผู้จัดการขึ้นไป, ระดับ B คือ ผู้จัดการฝ่าย - ผู้จัดการทั่วไป, ระดับ C คือ หัวหน้าส่วน - ผู้จัดการแผนก, ระดับ D คือ พนักงาน - หัวหน้างาน</li>
							<li>การเบิกจ่าย พนักงานจะต้องดำเนินการเขียนใบเบิก พร้อมแนบเอกสารหลักฐานประกอบการเบิกทุกครั้ง ถึงจะได้รับการพิจารณาอนุมัติเบิกจ่าย</li>
							<li>กำหนดตั้งเรื่องเบิกจ่ายผ่านฝ่ายทรัพยากรมนุษย์ตรวจสอบ และส่งต่อฝ่ายบัญชีและการเงินทำจ่าย ตามเวลากำหนดข้างต้น มิฉะนั้นจะถือว่าพนักงานสละสิทธิ โดยไม่มีข้อโต้แย้งแต่อย่างใดทั้งสิ้น</li>
							<li>การเบิกสวัสดิการพนักงาน ที่ไม่สามารถใช้สิทธิเบิกได้ มีกรณีต่างๆ ดังนี้ ทำร้ายร่างกายตน การใช้สารเสพติดตามกฏหมายสารเสพติด การกระทำการใดๆ เพื่อความสวยงามโดยไม่มีข้อบ่งชี้ทางการแพทย์ การรักษาที่อยู่ ระหว่างการค้นคว้าทดลอง การรักษาภาวะมีบุตรยาก การตรวจเนื้อเยื่อเพื่อการผ่าตัดเปลี่ยนอวัยวะ การผ่าตัดเปลี่ยนอวัยวะ การเปลี่ยนเพศ การผสมเทียม ทันตกรรม และแว่นตา เป็นต้น</li>
							<li>ผู้มีอำนาจอนุมัติเบิกจ่ายรายการสวัสดิการข้างต้น ได้แก่กรรมการบริหาร หรือผู้ที่ได้รับมอบหมาย</li>
							<li>กรณีตรวจสอบพบว่าผู้บังคับบัญชาต้นสังกัดลงนามรับรองผิดพลาดจากการเหตุการณ์จริง/เดินทางจริง ส่วนที่ผิดพลาดผู้ลงนามรับรองนั้นๆ จะต้องเป็นผู้จ่ายเงินคืนให้บริษัท</li>
							<li>บริษัทขอสงวนไว้ซึ่งสิทธิที่จะยกเลิก แก้ไข เพิ่มเติม เปลี่ยนแปลงอัตราข้างต้นได้ตามเห็นสมควร</li>
							<li>ทั้งนี้ให้มีผลตั้งแต่วันที่ 1 ตุลาคม 2560 เป็นต้นไป จนกว่าจะมีประกาศเปลี่ยนแปลง</li>
						</ol>
					</p>
					
					<div class="blog-details-bt">
						<div class="btn-group">
							<asp:button id="backButton" runat="server" text="Back" class="btn btn-primary" OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>
						</div>
					</div>
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
				<aside>
					<div class="sidebar-news-list">
						<h4>CATEGORY</h4>
						<ul>
							<li>
								<a href="Benefits1.aspx" class="tran3s">กองทุนสำรองเลี้ยงชีพ มอบเกียรติบัตรเงินรางวัล</a>
							</li>
							<li>
								<a href="Benefits2_1.aspx" class="tran3s">เงินช่วยเหลืองาน และโอกาสพิเศษต่างๆ</a>
							</li>
							<li>
								<a href="Benefits15.aspx" class="tran3s">เจ็บป่วย ประกันชีวิต สุขภาพ อุบัติเหตุ</a>
							</li>
							<li>
								<a href="Benefits5_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits3_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ต่างประเทศ)</a>
							</li>
							<li>
								<a href="Benefits4_1.aspx" class="tran3s">ปฏิบัติงาน EXHIBITION - EVENT (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits7_1.aspx" class="tran3s">ค่าเลี้ยงรับรอง</a>
							</li>
							<li>
								<a href="Benefits8.aspx" class="tran3s">เงินกู้</a>
							</li>
							<li>
								<a href="Benefits9_1.aspx" class="tran3s">ส่วนลดสินค้า สำหรับพนักงาน</a>
							</li>
							<li>
								<a href="Benefits10_1.aspx" class="tran3s">เบี้ยขยัน</a>
							</li>
							<li>
								<a href="Benefits11_1.aspx" class="tran3s">ตรวจสุขภาพ</a>
							</li>
							<li>
								<a href="#" class="tran3s">สวัสดิการอื่นๆ</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
		
	</div>
</article>

</asp:Content>
