﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="Benefits15_1.aspx.vb" Inherits="Aroma_HRPortal.Benefits15_1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<!-- banner -->
<div class="base-banner"><img src="new/images/banner/benefit/banner1.jpg" /></div>
<!-- end banner -->

<!--
=====================================================
	Blog Page Details
=====================================================
-->
<article class="blog-details-page">
	<div class="container">
		
		<div class="post-heading">
            <ul>
			    <li><a href="index_hr.aspx">HOME</a></li>
			    <li>/</li>
			    <li><a href="Benefits_Employee.aspx">ระเบียบสวัสดิการ</a></li>
                <li>/</li>
                <li><a href="Benefits15.aspx">เจ็บป่วย ประกันชีวิต สุขภาพ อุบัติเหตุ</a></li>
			</ul>
			<h2>รายการสวัสดิการค่ารักษาพยาบาล-ประกันกลุ่ม (ฉบับที่ 1 พ.ศ. 2556) Rev</h2>
		</div> <!-- /.post-heading -->
		
		<div class="post-content">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
				<div class="blog-details-post-wrapper">
				
					<img src="new/images/banner/benefit/hr_portal2Benefits15_1.jpg" alt="Image" 
                        width="1000">
					
  					<h4>บริษัท  เค.วี.เอ็น. อิมปอร์ต  เอกซ์ปอร์ต  (1991) จำกัด  / บริษัท  ไลอ้อน  ทรี-สตาร์  จำกัด</h4>
					
					<h4>ค่ารักษาพยาบาลกรณีผู้ป่วยนอก เพื่อช่วยเหลือกรณีผู้ป่วยนอกซึ่งไม่สะดวกใช้บริการสิทธิประกันสังคม</h4>
					<p>
						<table class="table">
						  <tbody>
							<tr>
							  <td>พนักงานระดับ A</td>
							  <td>จำนวนเงิน</td>
							  <td>1,500</td>
							  <td>บาท/ครั้ง</td>
							</tr>
							<tr>
							  <td>พนักงานระดับ B2-B3</td>
							  <td>จำนวนเงิน</td>
							  <td>1,500</td>
							  <td>บาท/ครั้ง</td>
							</tr>
							<tr>
							  <td>พนักงานระดับ B1</td>
							  <td>จำนวนเงิน</td>
							  <td>1,200</td>
							  <td>บาท/ครั้ง</td>
							</tr>
							<tr>
							  <td>พนักงานระดับ C</td>
							  <td>จำนวนเงิน</td>
							  <td>1,000</td>
							  <td>บาท/ครั้ง</td>
							</tr>
							<tr>
							  <td>พนักงานระดับ D</td>
							  <td>จำนวนเงิน</td>
							  <td>800</td>
							  <td>บาท/ครั้ง</td>
							</tr>
						  </tbody>
						</table>
					</p>
					
					<h4>เกณฑ์พิจารณา</h4>
					<p>
						<ol>
							<li>เบิกค่าใช้จ่ายจากบริษัท</li>
							<li>เบิกได้ไม่เกิน 30 ครั้งต่อปี</li>
							<li>เบิกค่าใช้จ่ายตามจริง แต่ไม่เกินอัตรากำหนดต่อครั้ง</li>
						</ol>
					</p>
					
					<h4>เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ol>
							<li>เขียนใบเบิกสวัสดิการ</li>
							<li>ใบรับรองแพทย์ (ฉบับจริง)</li>
							<li>ใบเสร็จรับเงิน (ฉบับจริง) หากเบิกประกันด้วยให้ทางสถานพยาบาลรับรองสำเนาให้แทน</li>
							<li>ทำเรื่องเบิกจ่ายภายใน 30 วันนับจากวันเกิดเหตุ</li>
						</ol>
					</p>
					
					<h4>
						ประกันกลุ่ม (ประกันชีวิต ประกันอุบัติเหตุ และค่ารักษาพยาบาลผู้ป่วยใน) โดยสัญญาประกันเป็นปีๆ ไป หรือตามความจำเป็นทางธุรกิจบริษัท พนักงานทุกระดับ (A, B, C, D)
					</h4>
					
					<h4>เกณฑ์พิจารณา</h4>
					<p>
						<ol>
							<li>บริษัทเป็นผู้ออกค่าใช้จ่ายเบี้ยประกันให้เต็มจำนวน</li>
							<li>ผลประโยชน์/ทดแทน (ตามตารางคุ้มครองและสิทธิประโยชน์ประกันกลุ่มเป็นปีๆ ไป)</li>
							<li>พนักงานสามารถใช้ร่วมกับประกันสังคม เพื่ออัพเกรดห้องผู้ป่วยในได้</li>
						</ol>
					</p>
					
					<h4>เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ol>
							<li>ใช้สิทธิเฉพาะพนักงานเท่านั้น หากเกิดเหตุให้รีบแจ้งฝ่ายทรัพยากรมนุษย์ทันที</li>
							<li>ใช้สิทธิสถานพยาบาลในเครือข่ายไม่ต้องจ่ายค่าใช้จ่าย ยกเว้นจ่ายค่าส่วนต่าง/ส่วนเพิ่ม</li>
							<li>ผลประโยชน์/ทดแทน และเงื่อนไขการใช้เป็นไปตามกรมธรรม์ประกันกำหนด</li>
						</ol>
					</p>
					
					<h4>
						ประกันอุบัติเหตุกลุ่มสำหรับพนักงานควบคุมเครื่องจักร, จัดส่ง, คลังสินค้า, ช่างเทคนิค, พนักงานหน้าร้าน, ผู้จัดการพื้นที่, งานผลิตที่คุมเครื่องจักร, Set Up ร้าน/สาขา, Audit ร้าน/สาขา หรือพนักงานอื่นใดที่ต้องปฏิบัติงานนอกสถานที่เป็นการประจำ หรือครั้งคราว ซึ่งมีความเสี่ยงจากงาน และสถานที่ทำงาน
					</h4>
					
					<h4>เกณฑ์พิจารณา</h4>
					<p>
						<ol>
							<li>พนักงานได้รับสิทธิตั้งแต่วันแรกของการทำงาน</li>
							<li>บริษัทเป็นผู้ออกค่าใช้จ่ายเบี้ยประกันให้เต็มจำนวน</li>
							<li>ผลประโยชน์/ทดแทน
								<ul class="a">
									<li>เสียชีวิตทั่วไป 10,000 บาท</li>
									<li>เสียชีวิตอุบัติเหตุ 100,000 บาท</li>
									<li>ค่ารักษาพยาบาล 10,000 บาท/ครั้ง</li>
									<li>หรือผลประโยชน์/ทดแทน เป็นไปตามแผนประกันที่ทางบริษัทกำหนด</li>
								</ul>
							</li>
						</ol>
					</p>
					
					<h4>เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ol>
							<li>ใช้สิทธิเฉพาะเกิดอุบัติเหตุเท่านั้น และให้รีบแจ้งฝ่ายทรัพยากรมนุษย์ทันที</li>
							<li>แสดงบัตรประกัน PA Card ทุกครั้งที่ใช้บริการ</li>
							<li>อายุบัตรประกัน PA Card เป็นรายปีไป (1 ปี)</li>
							<li>ใช้สิทธิสถานพยาบาลในเครือข่ายไม่ต้องจ่ายค่าใช้จ่าย ยกเว้นจ่ายค่าส่วนต่าง/ส่วนเพิ่ม</li>
							<li>ผลประโยชน์/ทดแทน และเงื่อนไขการใช้เป็นไปตามกรมธรรม์ประกันกำหนด</li>
						</ol>
					</p>
					
					<h4>หมายเหตุ</h4>
					<p>
						<ol>
							<li>รายการสวัสดิการข้างต้น พนักงานที่ได้รับสิทธิจะต้องผ่านการทดลองงานและได้บรรจุเป็นพนักงานบริษัทแล้วเท่านั้น ยกเว้นบางสวัสดิการให้เป็นไปตามหลักเกณฑ์/เงื่อนไขสวัสดิการนั้นๆ กำหนด</li>
							<li>ระดับพนักงาน A คือ ผู้ช่วยรองกรรมการผู้จัดการขึ้นไป, ระดับ B คือ ผู้จัดการฝ่าย - ผู้จัดการทั่วไป, ระดับ C คือ หัวหน้าส่วน - ผู้จัดการแผนก, ระดับ D คือ พนักงาน - หัวหน้างาน</li>
							<li>การเบิกจ่าย พนักงานจะต้องดำเนินการเขียนใบเบิก พร้อมแนบเอกสารหลักฐานประกอบการเบิกทุกครั้ง ถึงจะได้รับการพิจารณาอนุมัติเบิกจ่าย</li>
							<li>กำหนดตั้งเรื่องเบิกจ่ายผ่านฝ่ายทรัพยากรมนุษย์ตรวจสอบ และส่งต่อฝ่ายบัญชีและการเงินทำจ่าย ตามเวลากำหนดข้างต้น มิฉะนั้นจะถือว่าพนักงานสละสิทธิ โดยไม่มีข้อโต้แย้งแต่อย่างใดทั้งสิ้น</li>
							<li>การเบิกสวัสดิการพนักงาน ที่ไม่สามารถใช้สิทธิเบิกได้ มีกรณีต่างๆ ดังนี้ ทำร้ายร่างกายตน การใช้สารเสพติดตามกฏหมายสารเสพติด การกระทำการใดๆ เพื่อความสวยงามโดยไม่มีข้อบ่งชี้ทางการแพทย์ การรักษาที่อยู่ ระหว่างการค้นคว้าทดลอง การรักษาภาวะมีบุตรยาก การตรวจเนื้อเยื่อเพื่อการผ่าตัดเปลี่ยนอวัยวะ การผ่าตัดเปลี่ยนอวัยวะ การเปลี่ยนเพศ การผสมเทียม ทันตกรรม และแว่นตา เป็นต้น</li>
							<li>ผู้มีอำนาจอนุมัติเบิกจ่ายรายการสวัสดิการข้างต้น ได้แก่กรรมการบริหาร หรือผู้ที่ได้รับมอบหมาย</li>
							<li>กรณีตรวจสอบพบว่าผู้บังคับบัญชาต้นสังกัดลงนามรับรองผิดพลาดจากการเหตุการณ์จริง/เดินทางจริง ส่วนที่ผิดพลาดผู้ลงนามรับรองนั้นๆ จะต้องเป็นผู้จ่ายเงินคืนให้บริษัท</li>
							<li>บริษัทขอสงวนไว้ซึ่งสิทธิที่จะยกเลิก แก้ไข เพิ่มเติม เปลี่ยนแปลงอัตราข้างต้นได้ตามเห็นสมควร</li>
							<li>ทั้งนี้ให้มีผลตั้งแต่วันที่ 1 ตุลาคม 2560 เป็นต้นไป จนกว่าจะมีประกาศเปลี่ยนแปลง</li>
						</ol>
					</p>
					
					<div class="blog-details-bt">
						<div class="btn-group">
							<asp:button id="backButton" runat="server" text="Back" class="btn btn-primary" OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>
						</div>
					</div>
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
				<aside>
					<div class="sidebar-news-list">
						<h4>CATEGORY</h4>
						<ul>
							<li>
								<a href="Benefits1.aspx" class="tran3s">กองทุนสำรองเลี้ยงชีพ มอบเกียรติบัตรเงินรางวัล</a>
							</li>
							<li>
								<a href="Benefits2_1.aspx" class="tran3s">เงินช่วยเหลืองาน และโอกาสพิเศษต่างๆ</a>
							</li>
							<li>
								<a href="Benefits15.aspx" class="tran3s">เจ็บป่วย ประกันชีวิต สุขภาพ อุบัติเหตุ</a>
							</li>
							<li>
								<a href="Benefits5_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits3_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ต่างประเทศ)</a>
							</li>
							<li>
								<a href="Benefits4_1.aspx" class="tran3s">ปฏิบัติงาน EXHIBITION - EVENT (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits7_1.aspx" class="tran3s">ค่าเลี้ยงรับรอง</a>
							</li>
							<li>
								<a href="Benefits8.aspx" class="tran3s">เงินกู้</a>
							</li>
							<li>
								<a href="Benefits9_1.aspx" class="tran3s">ส่วนลดสินค้า สำหรับพนักงาน</a>
							</li>
							<li>
								<a href="Benefits10_1.aspx" class="tran3s">เบี้ยขยัน</a>
							</li>
							<li>
								<a href="Benefits11_1.aspx" class="tran3s">ตรวจสุขภาพ</a>
							</li>
							<li>
								<a href="#" class="tran3s">สวัสดิการอื่นๆ</a>
							</li>
						</ul>
					</div>
				</aside>
				<aside>
					<div class="sidebar-news-list">
						<h4>Related Links</h4>
						<ul>
							<li>
								<a href="Benefits15_1.aspx" class="tran3s">รายการสวัสดิการค่ารักษาพยาบาล-ประกันกลุ่ม (ฉบับที่ 1 พ.ศ. 2556) Rev</a>
							</li>
						</ul>
					</div>
				</aside>
				<aside>
					<div class="sidebar-news-list">
						<h4>PDF Links</h4>
						<ul class="p">
							<li>
								<a href="Document/4Benefits/ตารางคุ้มครองและสิทธิประโยชน์ประกันกลุ่มปี 60-61.pdf" target="_blank" class="tran3s">
									ตารางคุ้มครองและสิทธิประโยชน์ประกันกลุ่มปี 60-61
								</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
		
	</div>
</article>

</asp:Content>
