﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="Benefits9_1.aspx.vb" Inherits="Aroma_HRPortal.Benefits9_1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<!-- banner -->
<div class="base-banner"><img src="new/images/banner/benefit/banner1.jpg" /></div>
<!-- end banner -->

<!--
=====================================================
	Blog Page Details
=====================================================
-->
<article class="blog-details-page">
	<div class="container">
		
		<div class="post-heading">
            <ul>
			    <li><a href="index_hr.aspx">HOME</a></li>
			    <li>/</li>
			    <li><a href="Benefits_Employee.aspx">ระเบียบสวัสดิการ</a></li>
			</ul>
			<h2>ส่วนลดสินค้าสำหรับพนักงาน</h2>
		</div> <!-- /.post-heading -->
		
		<div class="post-content">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
				<div class="blog-details-post-wrapper">
				
					<img src="new/images/banner/benefit/img13.jpg" alt="Image">
					
					<p style="padding: 30px 0 0;">
						ตามที่บริษัท ได้มีสวัสดิการส่วนลดสินค้าสำหรับพนักงาน อโรม่า กรุ๊ป ตามประกาศว่าด้วยเรื่อง ส่วนลดสินค้าสวัสดิการพนักงาน ฉบับครั้งที่ 3/2546 ลงวันที่ 7 เมษายน 2546 แล้วนั้น ดังนั้นเพื่อให้การใช้สิทธิส่วนลด และการซื้อสินค้าสวัสดิการเป็นไปอย่างระเบียบเรียบร้อย ทางบริษัทจึงเห็นสมควรทบทวนสวัสดิการส่วนลดสินค้า การซื้อสินค้าบริษัทสำหรับพนักงาน อโรม่า กรุ๊ป ใหม่ และขอยกเลิกประกาศฉบับก่อนนี้ โดยให้ถือใช้ประกาศฉบับนี้แทน ดังนี้
					</p>
					
					<h4>คุณสมบัติของผู้ที่จะใช้สิทธิส่วนลด</h4>
					<p>เป็นพนักงานของ อโรม่า กรุ๊ป ซึ่งได้ผ่านการทดลองงาน และบรรจุเป็นพนักงานบริษัทแล้ว</p>
					
					<h4>วัตถุประสงค์ในการใช้สิทธิส่วนลดซื้อสินค้าบริษัท</h4>
					<p>
						<ol>
							<li>เพื่อใช้ในการอุปโภค หรือบริโภคภายในครอบครัวพนักงาน</li>
							<li>เพื่อเป็นของฝาก ของเยี่ยมสำหรับญาติ พี่น้องของพนักงาน ตามช่วงเทศกาล หรือวันสำคัญต่างๆ หรือตามความเหมาะสม</li>
						</ol>
					</p>
					
					<h4>สินค้า/ผลิตภัณฑ์ที่ทางบริษัทจำหน่ายให้แก่พนักงาน (รายละเอียดส่วนลด จำนวนและวันที่สั่งซื้อ ตามเอกสารแนบท้าย)</h4>
					<p>
						<ol>
							<li>สินค้า/ผลิตภัณฑ์ บริษัท เค.วี.เอ็น. อิมปอร์ต เอกซ์ปอร์ต (1991) จำกัด อาทิ กาแฟ, ชา, โกโก้ เป็นต้น</li>
							<li>สินค้า/ผลิตภัณฑ์ บริษัท ไลอ้อน ทรี-สตาร์ จำกัด อาทิ เครื่องและอุปกรณ์ชงกาแฟ เป็นต้น</li>
							<li>สินค้า/ผลิตภัณฑ์ บริษัท อัลติเมท เบเวอร์เรต โปรดักส์ จำกัด อาทิ ใช้บริการที่ร้านกาแฟ 94 Coffee เป็นต้น</li>
							<li>สินค้า/ผลิตภัณฑ์ บริษัท อโรม่า ไฟน์ ฟู้ด จำกัด อาทิ เบเกอรี่, เค้ก เป็นต้น</li>
							<li>สินค้า/ผลิตภัณฑ์ บริษัท ฟู้ด แกลเลอรี่ จำกัด อาทิ น้ำผลไม้, ผลไม้ เป็นต้น</li>
							<li>สินค้า/ผลิตภัณฑ์อื่นๆ ตามที่บริษัทประกาศแจ้งให้ทราบเป็นคราวๆ ไป</li>
						</ol>
					</p>
					
					<h4>สินค้า/ผลิตภัณฑ์ที่ทางบริษัทไม่จำหน่ายให้แก่พนักงาน</h4>
					<p>
						<ol>
							<li>สินค้า/ผลิตภัณฑ์ที่ผลิตสำหรับลูกค้าเฉพาะราย หรือตามข้อตกลงกับลูกค้า</li>
							<li>สินค้า/ผลิตภัณฑ์ที่มีลิขสิทธิ์เฉพาะ</li>
							<li>สินค้า/ผลิตภัณฑ์อื่นๆ ตามที่บริษัทเห็นควร</li>
						</ol>
					</p>
					
					<h4>วิธีการสั่งซื้อ</h4>
					<p>
						<ol>
							<li>เขียนคำขอสั่งซื้อลงในแบบฟอร์มขอเบิกสวัสดิการ/ซื้อสินค้าสวัสดิการ/เบิกสิ่งของ/แจ้งให้ดำเนินการในเรื่องอื่นฯ</li>
							<li>ผู้บังคับบัญชาต้นสังกัดลงนามเห็นชอบ และส่งต่อฝ่ายทรัพยากรมนุษย์ตรวจสอบ/รับรองสิทธิ หากซื้อตามสิทธิไม่ต้องนำเสนออนุมัติต่อกรรมการบริหาร ยกเว้นเกี่ยวกับเครื่องและอุปกรณ์ชงกาแฟ ค่าอะไหล่เครื่อง/อุปกรณ์ชงกาแฟ รวมถึงสั่งซื้อมากกว่าสิทธิที่กำหนดไว้ ผู้ลงนามอนุมัติโดยกรรมการบริหาร</li>
							<li>พนักงานติดต่อขอสั่งซื้อที่เจ้าหน้าที่ประสานงานขาย สำนักงานใหญ่ อโรม่า กรุ๊ป ได้เดือนละ 1 ครั้ง วันที่ 1 - 5 ของเดือน ก่อนเวลา 16.00 น. โดยจะได้รับสินค้าไม่เกินวันที่ 10 ของเดือน</li>
						</ol>
					</p>
					
					<h4>การเบิกจ่าย และการขนส่ง</h4>
					<p>
						<ol>
							<li>ติดต่อรับสินค้า ณ สถานที่เบิกจ่ายสำนักงานใหญ่ หรือสถานที่ที่บริษัทกำหนด</li>
							<li>กรณีมีการขนส่งทางบริษัทจะคิดค่าขนส่งตามอัตราค่าบริการที่บริษัทกำหนด</li>
						</ol>
					</p>
					
					<h4>อื่นๆ</h4>
					<p>
						<ol>
							<li>บริษัท ขอสงวนไว้ซึ่งสิทธิที่จะแก้ไข เพิ่มเติม เปลี่ยนแปลงสวัสดิการส่วนลดสินค้าสำหรับพนักงาน รายการสินค้า การซื้อสินค้าบริษัท และการบริการได้ตามเห็นสมควร โดยจะแจ้งให้ทราบเป็นคราวๆ ไป</li>
							<li>ประกาศฉบับนี้ ให้มีผลบังคับใช้นับตั้งแต่วันที่ 1 มกราคม 2558 เป็นต้นไป</li>
						</ol><br>
						จึงประกาศมาเพื่อทราบโดยทั่วกัน<br>
						ประกาศ ณ วันที่ 1 มกราคม 2558<br>
					</p>
					
					<h4>แนบท้ายสวัสดิการส่วนลดสินค้าสำหรับพนักงาน การซื้อสินค้าบริษัท (เพิ่มเติม) Rev.1/1/2558</h4>
					
					<h4>ส่วนลดสินค้าสำหรับพนักงาน/การซื้อสินค้าบริษัท</h4>
					<p>
						<ol>
							<li>กาแฟ (ร้อน/เย็น) ลด 30% ไม่เกิน 2 กิโลกรัม/เดือน</li>
							<li>ชา (ร้อน/เย็น) ลด 30% ไม่เกิน 2 กิโลกรัม/เดือน</li>
							<li>โกโก้ (ร้อน/เย็น) ลด 15% ไม่เกิน 2 กิโลกรัม/เดือน</li>
							<li>Aroma Express Cup ลด 30% ไม่เกิน 30 ถ้วย/เดือน</li>
							<li>ไซรัป ลด 25% ไม่เกิน 1 ขวด/ 3 เดือน</li>
							<li>ใช้บริการที่ร้านกาแฟ 94 Coffee ลด 20% เฉพาะรายการเครื่องดื่มสินค้าบริษัท โดยแสดงบัตรพนักงาน และเฉพาะสาขาบริษัทเท่านั้น</li>
							<li>เครื่องชงกาแฟ ลด 25% ที่บริษัทนำเข้ามาเอง (1เครื่องต่อ 2 ปี)</li>
							<li>ค่าอะไหล่เครื่อง/อุปกรณ์ชงกาแฟ ลด 25% ตามจริง</li>
							<li>ค่าบริการซ่อมเครื่อง/อุปกรณ์ (ฟรี) โดยต้องนำเครื่องมาซ่อมเองที่บริษัท ไม่จำกัดจำนวนครั้ง</li>						
						</ol>
					</p>
					
					<h4>อื่นๆ</h4>
					<p>
						<ol>
							<li>รายการสวัสดิการข้างต้น หรือสินค้า/ผลิตภัณฑ์อื่นๆ บวกภาษีมูลค่าเพิ่ม 7 %</li>
							<li>สินค้า/ผลิตภัณฑ์ บริษัท อโรม่า ไฟน์ ฟู้ด จำกัด อาทิ เบเกอรี่/เค้ก ส่วนลดเป็นไปตามประกาศแจ้งเป็นคราวๆ ไป</li>
							<li>สินค้า/ผลิตภัณฑ์ บริษัท ฟู้ด แกลเลอรี่ จำกัด อาทิ ผลไม้/น้ำผลไม้ ส่วนลดเป็นไปตามประกาศแจ้งเป็นคราวๆ ไป</li>
							<li>สินค้า/ผลิตภัณฑ์ อื่นๆ ส่วนลดเป็นไปตามประกาศแจ้งเป็นคราวๆ ไป</li>
							<li>กรณีพนักงานประสงค์ซื้อมากกว่าสิทธิกำหนดให้ซื้อได้ในราคาขายปกติ หรือตามที่ได้รับอนุมัติจากกรรมการบริหาร โดยพิจารณาตามความเหมาะสมเป็นกรณีๆ ไป</li>
						</ol>
					</p>
					
					<h4>หมายเหตุ</h4>
					<p>
						<ol>
							<li>รายการสวัสดิการข้างต้น พนักงานที่ได้รับสิทธิจะต้องผ่านการทดลองงานและได้บรรจุเป็นพนักงานบริษัทแล้วเท่านั้น ยกเว้นบางสวัสดิการให้เป็นไปตามหลักเกณฑ์/เงื่อนไขสวัสดิการนั้นๆ กำหนด</li>
							<li>ระดับพนักงาน A คือ ผู้ช่วยรองกรรมการผู้จัดการขึ้นไป, ระดับ B คือ ผู้จัดการฝ่าย - ผู้จัดการทั่วไป, ระดับ C คือ หัวหน้าส่วน - ผู้จัดการแผนก, ระดับ D คือ พนักงาน - หัวหน้างาน</li>
							<li>การเบิกจ่าย พนักงานจะต้องดำเนินการเขียนใบเบิก พร้อมแนบเอกสารหลักฐานประกอบการเบิกทุกครั้ง ถึงจะได้รับการพิจารณาอนุมัติเบิกจ่าย</li>
							<li>กำหนดตั้งเรื่องเบิกจ่ายผ่านฝ่ายทรัพยากรมนุษย์ตรวจสอบ และส่งต่อฝ่ายบัญชีและการเงินทำจ่าย ตามเวลากำหนดข้างต้น มิฉะนั้นจะถือว่าพนักงานสละสิทธิ โดยไม่มีข้อโต้แย้งแต่อย่างใดทั้งสิ้น</li>
							<li>การเบิกสวัสดิการพนักงาน ที่ไม่สามารถใช้สิทธิเบิกได้ มีกรณีต่างๆ ดังนี้ ทำร้ายร่างกายตน การใช้สารเสพติดตามกฏหมายสารเสพติด การกระทำการใดๆ เพื่อความสวยงามโดยไม่มีข้อบ่งชี้ทางการแพทย์ 
							 การรักษาที่อยู่ ระหว่างการค้นคว้าทดลอง การรักษาภาวะมีบุตรยาก การตรวจเนื้อเยื่อเพื่อการผ่าตัดเปลี่ยนอวัยวะ การผ่าตัดเปลี่ยนอวัยวะ การเปลี่ยนเพศ การผสมเทียม ทันตกรรม และแว่นตา เป็นต้น</li>
							<li>ผู้มีอำนาจอนุมัติเบิกจ่ายรายการสวัสดิการข้างต้น ได้แก่กรรมการบริหาร หรือผู้ที่ได้รับมอบหมาย</li>
							<li>กรณีตรวจสอบพบว่าผู้บังคับบัญชาต้นสังกัดลงนามรับรองผิดพลาดจากการเหตุการณ์จริง/เดินทางจริง ส่วนที่ผิดพลาดผู้ลงนามรับรองนั้นๆ จะต้องเป็นผู้จ่ายเงินคืนให้บริษัท</li>
							<li>บริษัทขอสงวนไว้ซึ่งสิทธิที่จะยกเลิก แก้ไข เพิ่มเติม เปลี่ยนแปลงอัตราข้างต้นได้ตามเห็นสมควร</li>
							<li>ทั้งนี้ให้มีผลตั้งแต่วันที่ 1 มกราคม 2558 เป็นต้นไป จนกว่าจะมีประกาศเปลี่ยนแปลง</li>
						</ol>
					</p>
					
					<div class="blog-details-bt">
						<div class="btn-group">
							<asp:button id="backButton" runat="server" text="Back" class="btn btn-primary" OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>
						</div>
					</div>
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
				<aside>
					<div class="sidebar-news-list">
						<h4>CATEGORY</h4>
						<ul>
							<li>
								<a href="Benefits1.aspx" class="tran3s">กองทุนสำรองเลี้ยงชีพ มอบเกียรติบัตรเงินรางวัล</a>
							</li>
							<li>
								<a href="Benefits2_1.aspx" class="tran3s">เงินช่วยเหลืองาน และโอกาสพิเศษต่างๆ</a>
							</li>
							<li>
								<a href="Benefits15.aspx" class="tran3s">เจ็บป่วย ประกันชีวิต สุขภาพ อุบัติเหตุ</a>
							</li>
							<li>
								<a href="Benefits5_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits3_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ต่างประเทศ)</a>
							</li>
							<li>
								<a href="Benefits4_1.aspx" class="tran3s">ปฏิบัติงาน EXHIBITION - EVENT (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits7_1.aspx" class="tran3s">ค่าเลี้ยงรับรอง</a>
							</li>
							<li>
								<a href="Benefits8.aspx" class="tran3s">เงินกู้</a>
							</li>
							<li>
								<a href="Benefits9_1.aspx" class="tran3s">ส่วนลดสินค้า สำหรับพนักงาน</a>
							</li>
							<li>
								<a href="Benefits10_1.aspx" class="tran3s">เบี้ยขยัน</a>
							</li>
							<li>
								<a href="Benefits11_1.aspx" class="tran3s">ตรวจสุขภาพ</a>
							</li>
							<li>
								<a href="#" class="tran3s">สวัสดิการอื่นๆ</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
		
	</div>
</article>

</asp:Content>
