﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="Benefits7_1.aspx.vb" Inherits="Aroma_HRPortal.Benefits7_1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<!-- banner -->
<div class="base-banner"><img src="new/images/banner/benefit/banner1.jpg" /></div>
<!-- end banner -->

<!--
=====================================================
	Blog Page Details
=====================================================
-->
<article class="blog-details-page">
	<div class="container">
		
		<div class="post-heading">
            <ul>
			    <li><a href="index_hr.aspx">HOME</a></li>
			    <li>/</li>
			    <li><a href="Benefits_Employee.aspx">ระเบียบสวัสดิการ</a></li>
			</ul>
			<h2>ค่าเลี้ยงรับรอง</h2>
		</div> <!-- /.post-heading -->
		
		<div class="post-content">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
				<div class="blog-details-post-wrapper">
				
					<img src="new/images/banner/benefit/hr_portal2Benefits7_1.jpg" alt="Image">
					
         		    <h4>บริษัท เค.วี.เอ็น. อิมปอร์ต เอกซ์ปอร์ต (1991) จำกัด / บริษัท ไลอ้อน ทรี-สตาร์ จำกัด<br>
         		    	รายการสวัสดิการค่าเลี้ยงรับรอง ค่ารับรองลูกค้า ฉบับที่ 1 พ.ศ. 2557 Rev.01 : 30/8/2560</h4>
         		    
					<h4>ค่าเลี้ยงรับรอง ค่ารับรองลูกค้า (ทั้งภายใน และนอกประเทศ)</h4>
					<p>
						<ol>
							<li>เป็นค่าเลี้ยงรับรอง ค่ารับรองลูกค้าอันจำเป็นทางธุรกิจ และเพื่ออำนวยประโยชน์ให้แก่บริษัท</li>
							<li>บุคคลซึ่งได้รับการรับรองต้องมิใช่พนักงาน หรือกรรมการของบริษัท เว้นแต่มีหน้าที่เข้าร่วมในการรับรองนั้นด้วย</li>
							<li>ค่าเลี้ยงรับรอง ค่ารับรองลูกค้า ที่ได้รับสิทธิเบิกได้
								<ul class="a">
									<li>ค่าเลี้ยงรับรอง, ค่าที่พัก, ค่ายานพาหนะ</li>
									<li>ค่าจัดการแสดงหรือค่าเข้าชมการแสดงเพื่อเผยแพร่ศิลปวัฒนธรรมไทย</li>
									<li>ค่าของขวัญ (ไม่เกินคนละ 2,000 บาทในแต่ละคราวที่มีการรับรอง)</li>
									<li>ค่าใช้จ่ายอื่นๆ ที่เกี่ยวกับการรับรอง</li>
								</ul>
							</li>
							<li>ค่าเลี้ยงรับรอง ค่ารับรองลูกค้า จะคิดจากเป้าการขายปี เป็นรายปีไป</li>
						</ol>
					</p>
					
					<h4>ค่าเลี้ยงรับรอง ค่ารับรองลูกค้า สำหรับพนักงานปฏิบัติงานขายเท่านั้น</h4>
					<ul class="a">
						<li>พนักงานระดับ A4 ขึ้นไปเบิกได้ตามจริง</li>
						<li>พนักงานระดับ A1-A3 เบิกได้ครั้งละไม่เกิน 5,000 บาท /ครั้ง /เดือน</li>
						<li>พนักงานระดับ B1-B3 เบิกได้ครั้งละไม่เกิน 3,000 บาท /ครั้ง /เดือน</li>
						<li>พนักงานระดับ C3 เบิกได้ครั้งละไม่เกิน 2,000 บาท /ครั้ง /เดือน</li>
					</ul>
					
					<h4>เกณฑ์พิจารณา</h4>
					<ol>
						<li>ได้รับสิทธิตั้งแต่วันแรกการทำงาน หรือตามความจำเป็น</li>
						<li>ค่ารับรองเบิกได้ ตามเงื่อนไขของแต่ละระดับตำแหน่งที่กำหนด</li>
						<li>ค่ารับรองเบิกได้ เดือนละ 1 ครั้ง /ลูกค้า เท่านั้น</li>
						<li>ค่ารับรองของลูกค้าแต่ละราย จะต้องมียอดขาย 3 เดือนก่อนหน้าเดือนที่จะรับรอง และต้องมียอดขายเดือนละไม่น้อยกว่า 1,000,000 บาทขึ้นไป (หนึ่งล้านบาท)</li>
						<li>ระดับที่สามารถเบิกค่ารับรองได้ ตั้งแต่ระดับ C3 ขึ้นไป</li>
						<li>ค่ารับรองเบิกได้ในระดับ C3 - B3 โดยใน 1 เดือนจะสามารถเบิกได้ 1 ครั้ง/เดือน เท่านั้น กรณีรับรองพร้อมกันของแต่ละระดับ สามารถเบิกได้จากระดับที่มีอัตราสูงสุดเพียงอัตราเดียวเท่านั้น</li>
						<li>ไม่สามารถสะสมยอดในการรับรองของลูกค้าแต่ละรายได้</li>
						<li>กรณีมีความจำเป็นต้องเลี้ยงรับรองลูกค้าที่มียอดขายต่ำกว่า 1 ล้านบาท จะต้องทำเอกสารเพื่อพิจารณาอนุมัติจากผู้บริหารต้นสังกัดระดับ A1 - A3 ก่อนการรับรองพร้อมระบุเหตุผลอันสมควร</li>
						<li>กรณีมอบหมายให้ระดับที่ต่ำกว่าเงื่อนไขที่กำหนด ไปรับรองลูกค้าแทนจะต้องทำเอกสารมอบหมายเป็นลายลักษณ์อักษร และผ่านการอนุมัติจากต้นสังกัด ตามระดับที่สามารถรับรองได้ตามเงื่อนไขก่อน แล้วเท่านั้น</li>
					</ol>
					
					<h4>ค่าเลี้ยงรับรอง ค่ารับรองลูกค้า สำหรับพนักงานปฏิบัติงานประจำสำนักงาน</h4>
					<p>
						พนักงานทระดับงาน A, B ได้รับสิทธิ
					</p>
					
					<h4>เกณฑ์พิจารณา</h4>
					<p>
						<ol>
							<li>ได้รับสิทธิตั้งแต่วันแรกการทำงาน หรือตามความจำเป็น</li>
							<li>ค่าเลี้ยงรับรอง ค่ารับรองลูกค้า กรณีทางผู้จัดการฝ่ายต้นสังกัดเห็นสมควรต้องรับรอง ให้ทำหนังสือชี้แจงข้อเท็จจริงประกอบการพิจารณาอนุมัติต่อกรรมการบริหารต้นสังกัด ก่อนถึงจะเลี้ยงรับรองลูกค้าได้ โดยพิจารณาจากความจำเป็นทางธุรกิจ และเพื่ออำนวยประโยชน์ให้แก่บริษัทตามดุลพินิจของท่านกรรมการบริหารเป็นกรณีๆ ไป</li>
						</ol>
					</p>
				
					<h4>เอกสารประกอบการเบิกจ่าย</h4>
					<p>
						<ol>
							<li>หนังสือขออนุมัติเลี้ยงรับรอง ค่ารับรองลูกค้าที่ผ่านการอนุมัติจากกรรมการ</li>
							<li>ให้ัตั้งเรื่องเบิกเงินทดรองจ่าย</li>
							<li>เอกสารแนบประกอบการเคลียร์เงิน คือ ใบเสร็จรับเงิน</li>
						</ol>
					</p>
					
					<h4>หมายเหตุ</h4>
					<p>
						<ol>
							<li>รายการสวัสดิการข้างต้น พนักงานที่ได้รับสิทธิจะต้องผ่านการทดลองงานและได้บรรจุเป็นพนักงานบริษัทแล้วเท่านั้น ยกเว้นบางสวัสดิการให้เป็นไปตามหลักเกณฑ์/เงื่อนไขสวัสดิการนั้นๆ กำหนด</li>
							<li>ระดับพนักงาน A คือ ผู้ช่วยรองกรรมการผู้จัดการขึ้นไป, ระดับ B คือ ผู้จัดการฝ่าย - ผู้จัดการทั่วไป, ระดับ C คือ หัวหน้าส่วน - ผู้จัดการแผนก, ระดับ D คือ พนักงาน - หัวหน้างาน</li>
							<li>การเบิกจ่าย พนักงานจะต้องดำเนินการเขียนใบเบิก พร้อมแนบเอกสารหลักฐานประกอบการเบิกทุกครั้ง ถึงจะได้รับการพิจารณาอนุมัติเบิกจ่าย</li>
							<li>กำหนดตั้งเรื่องเบิกจ่ายผ่านฝ่ายทรัพยากรมนุษย์ตรวจสอบ และส่งต่อฝ่ายบัญชีและการเงินทำจ่าย ตามเวลากำหนดข้างต้น มิฉะนั้นจะถือว่าพนักงานสละสิทธิ โดยไม่มีข้อโต้แย้งแต่อย่างใดทั้งสิ้น</li>
							<li>การเบิกสวัสดิการพนักงาน ที่ไม่สามารถใช้สิทธิเบิกได้ มีกรณีต่างๆ ดังนี้ ทำร้ายร่างกายตน การใช้สารเสพติดตามกฏหมายสารเสพติด การกระทำการใดๆ เพื่อความสวยงามโดยไม่มีข้อบ่งชี้ทางการแพทย์ การรักษาที่อยู่ ระหว่างการค้นคว้าทดลอง การรักษาภาวะมีบุตรยาก การตรวจเนื้อเยื่อเพื่อการผ่าตัดเปลี่ยนอวัยวะ การผ่าตัดเปลี่ยนอวัยวะ การเปลี่ยนเพศ การผสมเทียม ทันตกรรม และแว่นตา เป็นต้น</li>
							<li>ผู้มีอำนาจอนุมัติเบิกจ่ายรายการสวัสดิการข้างต้น ได้แก่กรรมการบริหาร หรือผู้ที่ได้รับมอบหมาย</li>
							<li>กรณีตรวจสอบพบว่าผู้บังคับบัญชาต้นสังกัดลงนามรับรองผิดพลาดจากการเหตุการณ์จริง/เดินทางจริง ส่วนที่ผิดพลาดผู้ลงนามรับรองนั้นๆ จะต้องเป็นผู้จ่ายเงินคืนให้บริษัท</li>
							<li>บริษัทขอสงวนไว้ซึ่งสิทธิที่จะยกเลิก แก้ไข เพิ่มเติม เปลี่ยนแปลงอัตราข้างต้นได้ตามเห็นสมควร</li>
							<li>ทั้งนี้ให้มีผลตั้งแต่วันที่ 1 ตุลาคม 2560 เป็นต้นไป จนกว่าจะมีประกาศเปลี่ยนแปลง</li>
						</ol>
					</p>
					
					<div class="blog-details-bt">
						<div class="btn-group">
							<asp:button id="backButton" runat="server" text="Back" class="btn btn-primary" OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>
						</div>
					</div>
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
				<aside>
					<div class="sidebar-news-list">
						<h4>CATEGORY</h4>
						<ul>
							<li>
								<a href="Benefits1.aspx" class="tran3s">กองทุนสำรองเลี้ยงชีพ มอบเกียรติบัตรเงินรางวัล</a>
							</li>
							<li>
								<a href="Benefits2_1.aspx" class="tran3s">เงินช่วยเหลืองาน และโอกาสพิเศษต่างๆ</a>
							</li>
							<li>
								<a href="Benefits15.aspx" class="tran3s">เจ็บป่วย ประกันชีวิต สุขภาพ อุบัติเหตุ</a>
							</li>
							<li>
								<a href="Benefits5_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits3_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ต่างประเทศ)</a>
							</li>
							<li>
								<a href="Benefits4_1.aspx" class="tran3s">ปฏิบัติงาน EXHIBITION - EVENT (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits7_1.aspx" class="tran3s">ค่าเลี้ยงรับรอง</a>
							</li>
							<li>
								<a href="Benefits8.aspx" class="tran3s">เงินกู้</a>
							</li>
							<li>
								<a href="Benefits9_1.aspx" class="tran3s">ส่วนลดสินค้า สำหรับพนักงาน</a>
							</li>
							<li>
								<a href="Benefits10_1.aspx" class="tran3s">เบี้ยขยัน</a>
							</li>
							<li>
								<a href="Benefits11_1.aspx" class="tran3s">ตรวจสุขภาพ</a>
							</li>
							<li>
								<a href="#" class="tran3s">สวัสดิการอื่นๆ</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
		
	</div>
</article>

</asp:Content>
