﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="Benefits10_1.aspx.vb" Inherits="Aroma_HRPortal.Benefits10_1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<!-- banner -->
<div class="base-banner"><img src="new/images/banner/benefit/banner1.jpg" /></div>
<!-- end banner -->

<!--
=====================================================
	Blog Page Details
=====================================================
-->
<article class="blog-details-page">
	<div class="container">
		
		<div class="post-heading">
            <ul>
			    <li><a href="index_hr.aspx">HOME</a></li>
			    <li>/</li>
			    <li><a href="Benefits_Employee.aspx">ระเบียบสวัสดิการ</a></li>
			</ul>
			<h2>เบี้ยขยัน</h2>
		</div> <!-- /.post-heading -->
		
		<div class="post-content">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
				<div class="blog-details-post-wrapper">
				
					<img src="new/images/banner/benefit/img14.jpg" alt="Image">
					     		    
         		    <p style="padding: 30px 0 10px;">เพื่อการบริหารงานทรัพยากรมนุษย์เป็นไปด้วยความระเบียบเรียบร้อย บริษัทจึงเห็นสมควรทบทวนว่าด้วยเรื่อง ระเบียบการจ่ายเบี้ยขยัน สำหรับพนักงาน อโรม่า กรุ๊ป ดังนี้</p>
					
					<p>
						<ol>
							<li>พนักงานที่มีสิทธิได้รับเบี้ยขยันตามระเบียบการจ่ายเบี้ยขยัน คือ
								<ul class="a">
									<li>พนักงานที่บริษัทกำหนดให้มีการบันทึกเวลาการมาทำงาน และมีการคิดเวลามาทำงานสาย</li>
									<li>พนักงานซึ่งพักอยู่บ้านพักของทางบริษัทจัดให้ โดยได้มีการลงบันทึกเวลาการมาทำงาน และมีการคิดเวลามาทำงานสาย</li>
								</ul>
							</li>
							<li>พนักงานที่ไม่มีสิทธิได้รับเบี้ยขยันตามระเบียบการจ่ายเบี้ยขยัน คือ
								<ul class="a">
									<li>พนักงานในตำแหน่งผู้บริหาร (A),ผู้บังคับบัญชาระดับชั้นสูง (B) , ผู้บังคับบัญชาระดับชั้นต้น (C) เนื่องจากไม่มีการคิดเวลามาทำงานสาย หรือพนักงานอื่นใดที่ทางบริษัท ไม่มีการคิดเวลาทำงานสาย</li>
									<li>พนักงานผู้ซึ่งได้มีการขาด ลา มาสาย ป่วย ไม่แสกน/ไม่บันทึก/รูดบัตร ลืมแสกน/รูดบัตร อย่างใดอย่างหนึ่ง (ยกเว้นการลาหยุดพักผ่อนประจำปี) กรณีพนักงานเข้าทำงานใหม่ โดยวันทำงานไม่เต็มงวดการคิดเงินเดือน จะได้รับพิจารณาเริ่มมีสิทธิได้รับเบี้ยขยันในงวดเดือนถัดไป</li>
									<li>พนักงานประจำสาขา/ภูมิภาค/ห้าง/ร้าน</li>
								</ul>
							</li>
							<li>การจ่ายเบี้ยขยันมี ดังนี้
								<ul class="a">
									<li>สถิติการมาทำงานครบถ้วน คือ การไม่ขาด ลา มาสาย ป่วย ไม่ลืมสแกนเวลา/รูดบัตร แสกนเวลา/รูดบัตรครบถ้วนทุกวันที่ปฏิบัติงาน (ยกเว้นการลาหยุดพักผ่อนประจำปี)</li>
									<li>พนักงานที่เสียสถิติการมาทำงานครบถ้วน คือ การไม่ปฏิบัติตามข้อ 3.1 ในเรื่องใดเรื่องหนึ่ง</li>
									<li>ระดับสถิติการมาทำงานครบถ้วน
										<ul class="b">
											<li>ระดับ A สถิติการมาทำงานครบถ้วนติดต่อกันเป็นงวดที่ 1 - 3 จะได้รับ เบี้ยขยัน 350 บาท/งวด (สามร้อยห้าสิบบาทถ้วน)</li>
											<li>ระดับ B สถิติการมาทำงานครบถ้วนติดต่อกันเป็นงวดที่ 4 - 6 จะได้รับ เบี้ยขยัน 500 บาท/งวด (ห้าร้อยบาทถ้วน)</li>
											<li>ระดับ C สถิติการมาทำงานครบถ้วนติดต่อกันเป็นงวดที่ 7 - 9 จะได้รับ เบี้ยขยัน 600 บาท/งวด (หกร้อยบาทถ้วน)</li>
											<li>ระดับ D สถิติการมาทำงานครบถ้วนติดต่อกันเป็นงวดที่ 10 - 11 จะได้รับ เบี้ยขยัน 700 บาท/งวด (เจ็ดร้อยบาทถ้วน)</li>
											<li>ระดับ E สถิติการมาทำงานครบถ้วนครบทั้ง 12 งวด/ปี จะได้รับเบี้ยขยัน 1,000 บาท (หนึ่งพันบาทถ้วน)</li>
										</ul>
									<li>กรณีพนักงานเสียสถิติการมาทำงานครบถ้วนระดับใดก็ตาม พนักงานจะถูกลบสถิติการมาทำงานที่ผ่านมา โดยให้เริ่มนับสถิติการมาทำงานครบถ้วนใหม่ลดไปหนึ่งระดับ ดังนี้ 
										<ul class="b">
											<li>กรณีระดับ A เริ่มนับใหม่ที่ระดับ A, ระดับ B เริ่มนับใหม่ที่ระดับ A, ระดับ C เริ่มนับใหม่ที่ระดับ B, ระดับ D เริ่มนับใหม่ที่ระดับ C, ระดับ E เริ่มนับใหม่ที่ระดับ A ตั้งแต่งวดเดือนถัดไป เป็นต้นไป</li>
										</ul>
									</li>
								</ul>
							</li>
							<li>กำหนดวันจ่ายเบี้ยขยัน บริษัทจะจ่ายให้แก่พนักงานพร้อมกับเงินเดือน ในวันทำงานสุดท้ายของเดือน</li>
							<li>ระดับสถิติการมาทำงานครบถ้วน ให้เริ่มนับสถิติตั้งแต่เดือน มกราคม สิ้นสุดเดือน ธันวาคม ของทุกปี โดยไม่สามารถนับสถิติต่อเนื่องไปใช้ในปีถัดไป</li>
							<li>บริษัทขอสงวนไว้ซึ่งสิทธิที่จะยกเลิก แก้ไข เปลี่ยนแปลงหลักเกณฑ์/เงื่อนไขการจ่ายเบี้ยขยันข้างต้นได้ตามความเหมาะสม โดยอยู่ในดุลยพินิจของกรรมการบริหารบริษัท</li>
						</ol><br>
						
						ทั้งนี้ให้มีผลบังคับใช้ตั้งแต่วันที่ 1 มกราคม 2558 เป็นต้นไป<br><br>

						จึงประกาศมาเพื่อทราบโดยทั่วกัน<br>
						ประกาศ ณ วันที่ 1 มกราคม 2558
					</p>
					
					<div class="blog-details-bt">
						<div class="btn-group">
							<asp:button id="backButton" runat="server" text="Back" class="btn btn-primary" OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>
						</div>
					</div>
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
				<aside>
					<div class="sidebar-news-list">
						<h4>CATEGORY</h4>
						<ul>
							<li>
								<a href="Benefits1.aspx" class="tran3s">กองทุนสำรองเลี้ยงชีพ มอบเกียรติบัตรเงินรางวัล</a>
							</li>
							<li>
								<a href="Benefits2_1.aspx" class="tran3s">เงินช่วยเหลืองาน และโอกาสพิเศษต่างๆ</a>
							</li>
							<li>
								<a href="Benefits15.aspx" class="tran3s">เจ็บป่วย ประกันชีวิต สุขภาพ อุบัติเหตุ</a>
							</li>
							<li>
								<a href="Benefits5_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits3_1.aspx" class="tran3s">ปฏิบัติงานนอกสถานที่ (ต่างประเทศ)</a>
							</li>
							<li>
								<a href="Benefits4_1.aspx" class="tran3s">ปฏิบัติงาน EXHIBITION - EVENT (ในประเทศ)</a>
							</li>
							<li>
								<a href="Benefits7_1.aspx" class="tran3s">ค่าเลี้ยงรับรอง</a>
							</li>
							<li>
								<a href="Benefits8.aspx" class="tran3s">เงินกู้</a>
							</li>
							<li>
								<a href="Benefits9_1.aspx" class="tran3s">ส่วนลดสินค้า สำหรับพนักงาน</a>
							</li>
							<li>
								<a href="Benefits10_1.aspx" class="tran3s">เบี้ยขยัน</a>
							</li>
							<li>
								<a href="Benefits11_1.aspx" class="tran3s">ตรวจสุขภาพ</a>
							</li>
							<li>
								<a href="#" class="tran3s">สวัสดิการอื่นๆ</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
		
	</div>
</article>

</asp:Content>
