﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="Employee_Image.aspx.vb" Inherits="Aroma_HRPortal.Employee_Image" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .style1
        {
            width: 268435744px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server" enctype="multipart/form-data">
    <div>
        <table style="width: 763px; height: 334px;">
            <tr>
                <td>
                    <asp:Label ID="lblemp_id" runat="server" Text="Label"></asp:Label>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <asp:Image ID="imgTag" runat="server" ImageUrl="~/Images/logo-aroma.png" 
                        Height="77px" Width="94px" />
                </td>
                <td></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td class="style296" colspan="2">
                            &nbsp;</td>

                <td>&nbsp;</td>

                <td>&nbsp;</td>

                <td>&nbsp;</td>
                <td class="style1">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
                </td>
                <td>
                    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
                </td>
                <td>
                            <asp:FileUpload ID="FileUpload1" runat="server" CssClass="sample" 
                                style="font-family: Tahoma" Width="275px" />
                            </td>
                <td>
                    <asp:Button ID="Button1" runat="server" Text="บันทึกรูปภาพ" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
                </td>
                <td>
                    <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
                </td>
                <td>
                            <asp:FileUpload ID="FileUpload2" runat="server" CssClass="sample" 
                                style="font-family: Tahoma" Width="275px" />
                            </td>
                <td>
                    <asp:Button ID="Button2" runat="server" Text="Button" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <asp:TextBox ID="TextBox3" runat="server" Width="117px"></asp:TextBox>
                </td>
                <td>
                    <asp:Label ID="Label3" runat="server" Text="Label"></asp:Label>
                </td>
                <td>
                            <asp:FileUpload ID="FileUpload3" runat="server" CssClass="sample" 
                                style="font-family: Tahoma" Width="275px" />
                            </td>
                <td>
                    <asp:Button ID="Button3" runat="server" Text="Button" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <asp:TextBox ID="TextBox4" runat="server"></asp:TextBox>
                </td>
                <td>
                    <asp:Label ID="Label4" runat="server" Text="Label"></asp:Label>
                </td>
                <td>
                            <asp:FileUpload ID="FileUpload4" runat="server" CssClass="sample" 
                                style="font-family: Tahoma" Width="275px" />
                            </td>
                <td>
                    <asp:Button ID="Button4" runat="server" Text="Button" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <asp:TextBox ID="TextBox5" runat="server"></asp:TextBox>
                </td>
                <td>
                    <asp:Label ID="Label5" runat="server" Text="Label"></asp:Label>
                </td>
                <td>
                            <asp:FileUpload ID="FileUpload5" runat="server" CssClass="sample" 
                                style="font-family: Tahoma" Width="275px" />
                            </td>
                <td>
                    <asp:Button ID="Button5" runat="server" Text="Button" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <asp:TextBox ID="TextBox6" runat="server"></asp:TextBox>
                </td>
                <td>
                    <asp:Label ID="Label6" runat="server" Text="Label"></asp:Label>
                </td>
                <td>
                            <asp:FileUpload ID="FileUpload6" runat="server" CssClass="sample" 
                                style="font-family: Tahoma" Width="275px" />
                            </td>
                <td>
                    <asp:Button ID="Button6" runat="server" Text="Button" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <asp:TextBox ID="TextBox7" runat="server"></asp:TextBox>
                </td>
                <td>
                    <asp:Label ID="Label7" runat="server" Text="Label"></asp:Label>
                </td>
                <td>
                            <asp:FileUpload ID="FileUpload7" runat="server" CssClass="sample" 
                                style="font-family: Tahoma" Width="275px" />
                            </td>
                <td>
                    <asp:Button ID="Button7" runat="server" Text="Button" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <asp:TextBox ID="TextBox8" runat="server"></asp:TextBox>
                </td>
                <td>
                    <asp:Label ID="Label8" runat="server" Text="Label"></asp:Label>
                </td>
                <td>
                            <asp:FileUpload ID="FileUpload8" runat="server" CssClass="sample" 
                                style="font-family: Tahoma" Width="275px" />
                            </td>
                <td>
                    <asp:Button ID="Button8" runat="server" Text="Button" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <asp:TextBox ID="TextBox9" runat="server"></asp:TextBox>
                </td>
                <td>
                    <asp:Label ID="Label9" runat="server" Text="Label"></asp:Label>
                </td>
                <td>
                            <asp:FileUpload ID="FileUpload9" runat="server" CssClass="sample" 
                                style="font-family: Tahoma" Width="275px" />
                            </td>
                <td>
                    <asp:Button ID="Button9" runat="server" Text="Button" />
                </td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <asp:TextBox ID="TextBox10" runat="server"></asp:TextBox>
                </td>
                <td>
                    <asp:Label ID="Label10" runat="server" Text="Label"></asp:Label>
                </td>
                <td>
                            <asp:FileUpload ID="FileUpload10" runat="server" CssClass="sample" 
                                style="font-family: Tahoma" Width="275px" />
                            </td>
                <td>
                    <asp:Button ID="Button10" runat="server" Text="Button" />
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>
    
    </div>
    </form>
</body>
</html>
