﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="HRPolicy_BusinessEthicsIT1.aspx.vb" Inherits="Aroma_HRPortal.HRPolicy_BusinessEthicsIT1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<!-- banner -->
<div class="base-banner"><img src="new/images/banner/hr-policy/hr.jpg" alt=""/></div>
<!-- end banner -->

<article class="blog-details-page">
	<div class="container">
		
		<div class="post-heading">
            <ul>
                <li><a href="index_hr.aspx">HOME</a></li>
                <li>/</li>
                <li><a href="HRPolicy_Announce.aspx">ระเบียบต่างๆ</a></li>
                <li>/</li>
                <li><a href="HRPolicy_BusinessEthicsIT.aspx">ประกาศ คำสั่ง ระเบียบเกี่ยวกับเทคโนโลยีสารสนเทศ</a></li>
            </ul>
			<h2>ระเบียบการใช้คอมพิวเตอร์ และระบบเครือข่าย</h2>
		</div> <!-- /.post-heading -->
		
		<div class="post-content">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
				<div class="blog-details-post-wrapper">
				
					<img src="new/images/banner/hr-policy/img21.jpg" alt=""/>
					
					<p style="padding: 30px 0 0;">
         		    	เพื่อให้การใช้งานคอมพิวเตอร์และระบบเครือข่าย เป็นไปอย่างมีประสิทธิภาพต่อการทำงานของบริษัทมากยิ่งขึ้นอีกทั้งเพื่อป้องกันความผิดพลาด หรือความเสียหายที่อาจเกิดขึ้นต่อคอมพิวเตอร์ และระบบเครือข่าย บริษัทจึงเห็นสมควร กำหนดระเบียบว่าด้วยการใช้งานคอมพิวเตอร์และระบบเครือข่ายขึ้น และใคร่ขอความร่วมมือมายังพนักงานทุกท่านของอโรม่า กรุ๊ป ในการปฏิบัติเกี่ยวกับการใช้งานคอมพิวเตอร์และระบบเครือข่าย ดังต่อไปนี้
         		    	<ol style="margin: 10px 0 0;">
         		    		<li>ระเบียบนี้ เรียกว่า “ระเบียบว่าด้วยการใช้งานคอมพิวเตอร์และระบบเครือข่าย พ.ศ. 2552”</li>
							<li>อุปกรณ์ระบบคอมพิวเตอร์และระบบเครือข่ายมีไว้ใช้เพื่อพนักงานของบริษัท ใช้งานในองค์กร และเพื่อวัตถุประสงค์ในทางธุรกิจของบริษัทเท่านั้น ห้ามใช้เพื่อประโยชน์ในทางส่วนตัวของพนักงาน 
							 หรือเพื่อวัตถุประสงค์อื่นอันมิใช่ประโยชน์ในทางธุรกิจของบริษัทโดยเด็ดขาด ตลอดจนห้ามใช้งานในลักษณะที่เป็นการละเมิดต่อพระราชบัญญัติว่าด้วยลิขสิทธิ์ พ.ศ. 2537 
							 พระราชบัญญัติว่าด้วยการกระทำความผิดเกี่ยวกับคอมพิวเตอร์ พ.ศ. 2550 และ/ หรือที่เป็นการขัดต่อศีลธรรมอันดี และกฎหมายอื่น</li>
							<li>บัญชีผู้ใช้งาน (User ID)
							 ผู้ใช้จะต้องไม่อนุญาตให้ผู้อื่นใช้งานระบบคอมพิวเตอร์ผ่านบัญชีของตน (User ID) การ Logon (เข้าใช้) ด้วUser ID และใส่ Password ถือเป็นเรื่องสำคัญมาก 
							 ผู้ใช้จะต้องรักษาหรือวิธีอื่นใด จะไม่ให้ผู้อื่นนำไปใช้งาน เพื่อป้องกันผู้อื่นมาใช้เครื่อง หรือแอบอ้างใช้ระบบโดยใช้ User ของท่าน บริษัทให้บัญชีผู้ใช้งาน (User ID) 
							 เป็นการเฉพาะบุคคลเท่านั้น ผู้ใช้งานจะโอน จำหน่าย หรือจ่ายแจกสิทธินีให้กับผู้อื่นไม่ได้บัญชีผู้ใช้งาน (User ID) ที่บริษัทให้กับผู้ใช้งานนั้น ผู้ใช้งานต้องเป็นผู้รับผิดชอบผลต่างๆ 
							 อันอาจจะเกิดมีขึ้น รวมถึงผลเสียหายต่างๆ ที่เกิดจาก บัญชีผู้ใช้งาน (User ID) นั้นๆ เว้นแต่จะพิสูจน์ได้ว่าผลเสียหายนั้นเกิดจากการกระทำของผู้อื่น</li>
							<li>การใช้ e-mail
								<ul class="a">
									<li>บริษัท อนุญาตให้ใช้ e-mail เพื่อวัตถุประสงค์ในทางธุรกิจของบริษัท เท่านั้น ห้ามรับ - ส่ง e-mail ในการเผยแพร่ภาพหรือข้อมูล ที่มิใช่เพื่อวัตถุประสงค์ในทางธุรกิจของบริษัท
									 ไม่ว่าเป็นการส่งไปยังพนักงานด้วยกัน หรือไปยังบุคคลภายนอก ซึ่งอาจทำให้เกิดผลกระทบต่อช่องทาง การสื่อสารของระบบเครือข่ายของบริษัท การส่ง e-mail ที่ทำให้บุคคลอื่นเสียหาย 
										ถือเป็นการกระทำผิดกฎข้อบังคับการทำงานของบริษัท อย่างร้ายแรง พนักงานต้องรับผิดชอบต่อความเสียหายที่เกิดขึ้นโดยลำพังตนเอง ทั้งนี้ บริษัทจะไม่รับผิดชอบต่อความเสียหายใดๆ ทั้งสิ้น</li>
									<li>การนำข้อมูลอันเป็นความลับของบริษัท ไปเผยแพร่ โดยไม่ได้มีหน้าที่ หรืออยู่ในความรับผิดชอบ และ/หรือ โดยมิได้รับอนุญาตจากผู้บังคับบัญชา ถือเป็นการกระทำความผิดตามกฎข้อบังคับการ
									 ทำงานของบริษัท อย่างร้ายแรง ทั้งนี้บริษัทสงวนสิทธิที่จะดำเนินตามกฎหมายต่อไป</li>
									<li>การแนบ file เพื่อส่งออกต้องมีขนาดไม่เกิน 5 MB และห้าม Download file ที่มีขนาดมากกว่า 5 MB เพราะจะทำให้การใช้งาน Internet โดยรวมช้าลง มีผลต่อระบบ
										คอมพิวเตอร์ ทั้งยังอาจมีไวรัสติดมาด้วย หากมีความจำเป็นต้อง Download file ขนาดใหญ่ ต้องแจ้งฝ่ายเทคโนโลยีสารสนเทศ เพื่อดำเนินการต่อไป</li>
									<li>หากได้รับ e-mail ที่มีไวรัส ต้องแจ้งฝ่ายเทคโนโลยีสารสนเทศ เพื่อดำเนินการแก้ไขทันที</li>
									<li>การส่ง e-mail ทั้งภายในและภายนอกบริษัท ให้ใช้เป็นรูปแบบมาตรฐาน ห้ามใส่พื้นหลัง (Background) ลงใน e-mail</li>
								</ul>
							<li>การใช้ Internet
								<ul class="a">
									<li>บริษัท ไม่อนุญาตให้พนักงานใช้ Public E-mail อาทิ hotmail, gmail, yahoo ฯลฯ ที่ให้ บริการอยู่ในรูป Internet โดยให้ใช้ได้เฉพาะผู้ที่ได้รับอนุญาตเท่านั้น
									 เพราะเป็นช่องทางที่นำไวรัสเข้ามาในระบบคอมพิวเตอร์ของบริษัทได้จากสถิติการใช้ที่ผ่านมา พบว่ามีการใช้ public mail จำนวนสูงมาก มีผลโดยรวมทำให้ความเร็วของ Internet 
										ช้าลง</li>
									<li>บริษัท อนุญาตให้ใช้ Internet เพื่อเป็นเครื่องมือในการศึกษาหาความรู้ หรือค้นหาข้อมูล เพื่อให้บรรลุเป้าหมาย ในการทำงานเท่านั้น ห้ามใช้เพื่อการสันทนาการและ/หรือความบันเทิง เช่น
										การดู TV Online, Game online, ฟังเพลง Online และการ Download ไฟล์ภาพต่างๆ ฯลฯ ในเวลาทำงาน ซึ่งมีผลให้ระบบการสื่อสารโดยรวมช้าลง</li>
									<li>ห้ามเข้า Website ที่พาดพิงหรือเกี่ยวข้องกับ ชาติ ศาสนา และพระมหากษัตริย์ และที่เกี่ยวข้องกับสิ่งผิดกฎหมาย หรือผิดศีลธรรม จริยธรรม ลามก อนาจาร</li>
									<li>ห้ามใช้โปรแกรมสนทนา (Chat) ทั้งที่เป็นแบบเสียง ภาพ และแบบพิมพ์ข้อความ ใช้ได้เฉพาะ ผู้ที่ได้รับอนุญาต เท่านั้น</li>
								</ul>
							<li>การใช้เครื่องคอมพิวเตอร์
								<ul class="a">
									<li>ห้ามติดตั้งและ/หรือ ใช้งานโปรแกรมและอุปกรณ์คอมพิวเตอร์ใดๆ ซึ่งนอกเหนือจากที่บริษัท ได้ติดตั้งไว้ให้ใช้งาน หากมีความจำเป็นต้องทำการดังกล่าวให้มีเอกสารจากผู้บังคับบัญชา 
										ตามสายงานของท่านอนุญาตให้ทำการติดตั้งโปรแกรมและอุปกรณ์คอมพิวเตอร์ดังกล่าว</li>
									<li>บริษัทอนุญาตให้ใช้คอมพิวเตอร์ เฉพาะในกิจการของบริษัท เท่านั้น</li>
									<li>ห้ามมิให้เก็บข้อมูลส่วนตัว หรือไฟล์ที่ไม่เกี่ยวข้องกับงาน เช่น เพลง (MP3,WMV) ภาพยนต์ รูปภาพ ลามกอนาจารไว้้ เพราะไฟล์ประเภทนี้ใช้พื้นที่ในการจัดเก็บมากกว่าไฟล์ปกติ 
										รวมทั้งเป็นไฟล์ที่อาจจะละเมิดลิขสิทธิ์ และอาจมีไวรัสติดมาได้ และงดเปิดเพลงโดยใช้คอมพิวเตอร์ของบริษัท</li>
									<li>เมื่อไม่ได้ใช้เครื่องคอมพิวเตอร์ หรือไม่ได้อยู่ที่เครื่อง ต้อง Lock คอมพิวเตอร์ให้อยู่ในหน้าจอของการใส่ User ID และ Password ทุกครั้ง</li>
									<li>พนักงานต้องไม่นำเครื่องคอมพิวเตอร์ส่วนตัวที่พนักงานเป็นเจ้าของ เข้ามาใช้งานกับระบบเครือข่ายของบริษัท เว้นแต่ได้รับอนุญาตจากผู้บังคับบัญชาตามสายงานเป็นลายลักษณ์อักษร 
									 ในกรณีที่ได้รับอนุญาต ให้แจ้งฝ่ายเทคโนโลยีสารสนเทศทราบทันที เพื่อทำการตรวจสอบ และ ติดตั้งโปรแกรมที่จำเป็นสำหรับการป้องกันความปลอดภัยของระบบเครือข่าย</li>
									<li>การใช้สื่อบันทึกต่างๆ เช่น Handy Drive, Hard disk Movable ให้ทำการตรวจเช็คไวรัสทุกครั้ง เพราะเป็นช่องทางหนึ่งในการนำไวรัสเข้าสู่ระบบเครือข่าย 
									 การติดไวรัสเพียงเครื่องเดียวในบริษัท อาจทำให้มีผลโดยรวมกับเครื่องทั้งหมดในบริษัท ได้</li>
									<li>ในช่วงพักเที่ยง ให้ทำการปิดสวิชต์หน้าจอคอมพิวเตอร์ทุกครั้ง รวมถึงช่วงเย็นที่พนักงานเสร็จสิ้น การปฏิบัติงานประจำวัน ให้ทำการ Shut Down เครื่องซีพียู 
										และปิดสวิชต์หน้าจอคอมพิวเตอร์ทุกครั้ง</li>
								</ul>
							<li>กรณีทางบริษัท หรือตัวแทนบริษัท พบว่าพนักงานท่านใดฝ่าฝืน เพิกเฉย ละเลยการปฏิบัติ ทางบริษัทจำเป็นอย่างยิ่งที่จะต้องลงโทษทางวินัย พนักงานท่านนั้นๆ ตามระเบียบวินัยต่อไป</li>
         		    	</ol>
         		    	จึงประกาศมาเพื่อทราบโดยทั่วกัน และปฏิบัติอย่างเคร่งครัดตั้งแต่บัดนี้ เป็นต้นไป<br><br>

						ประกาศ ณ วันที่ 1 ตุลาคม 2552
					</p>
					
					<div class="blog-details-bt">
						<div class="btn-group">
							<asp:button id="backButton" runat="server" text="Back" class="btn btn-primary" OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>
						</div>
					</div>
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
				<aside>
					<div class="sidebar-news-list">
						<h4>CATEGORY</h4>
						<ul>
							<li>
								<a href="HRPolicy_BusinessEthicsHR.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบทรัพยากรมนุษย์</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAS.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบเกี่ยวกับทรัพย์สิน</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAC.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบเกี่ยวกับบัญชี การเงิน งบประมาณ จัดซื้อ</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsIT.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบเกี่ยวกับเทคโนโลยีสารสนเทศ</a>
							</li>
							<li>
								<a href="Benefits1_1.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบอื่นๆ</a>
							</li>
						</ul>
					</div>
				</aside>
				<aside>
					<div class="sidebar-news-list">
						<h4>Related Links</h4>
						<ul>
							<li>
								<a href="HRPolicy_BusinessEthicsIT1.aspx" class="tran3s">
									ระเบียบการใช้คอมพิวเตอร์ และระบบเครือข่าย
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsIT2.aspx" class="tran3s">
									นโยบายการใช้งานระบบสารสนเทศของ Aroma Group
								</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
		
	</div>
</article>

</asp:Content>