﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="HRPolicy_BrandStory5.aspx.vb" Inherits="Aroma_HRPortal.HRPolicy_BrandStory5" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">



<br />
<br />
<br />
<br />
<br />

  <div class="btn-group">
                                 <asp:button id="backButton" runat="server" text="Back" class="btn btn-primary"
OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>

   </div>

     <div class="container">
        <center>
        <h3>
          Our business
        </h3>
        </center>
       
        <div class="border">
        </div>
        <div class="row">

            <pre>
            <font size = "3" >

           Aroma Group คือผู้นำธุรกิจกาแฟคั่วบด และเครื่องดื่มแบบครบวงจร ที่มีความเชี่ยวชาญ และสั่งสมประสบการณ์มาอย่างยาวนานกว่า 50 ปี ธุรกิจของเรา
ครอบคลุมตลอดต้นน้ำจนถึงปลายน้ำ ตั้งแต่การคัดสรรและจัดจำหน่ายวัตถุดิบชั้นดี การจำหน่ายเครื่องมือ และอุปกรณ์คุณภาพสูง สถาบันสอนพัฒนาธุรกิจร้านกาแฟ ไปจนกระทั่ง
ธุรกิจร้านกาแฟเพื่อรังสรรค์รสชาติกาแฟชั้นเลิศให้แก่ผู้บริโภค จวบจนทุกวันนี้บริษัทได้รับความไว้วางใจจากลูกค้ามากมาย เช่น โรงแรมชั้นนำ ร้านอาหาร ซูปเปอร์มาร์เก็ต 
ร้านสะดวกซื้อ และร้านเบเกอรี่ ทั้งจากตัวแทนจำหน่ายสินค้า Aroma กว่า 2,000 ราย ร้านค้าปลีกกว่า 7,000 ร้านค้า และ Aroma shop กว่า 30 ร้านค้า 
พร้อมเสียงตอบรับที่มากขึ้นทุกวัน
 
ธุรกิจภายใต้ Aroma Group

1.  ธุรกิจคัดสรรวัตถุดิบ
บริษัทมุ่งเน้นคัดสรรแต่วัตถุดิบชั้นเลิศ ทั้งเมล็ดกาแฟ ใบชา โกโก้ และน้ำผลไม้จากหลากหลายแหล่งปลูกชั้นดี  โดยบริษัทให้ความสำคัญ และความใส่ใจตลอดทุกกระบวนการ 
ตั้งแต่การคัดเลือกวัตถุดิบ ตรวจสอบคุณภาพทุกครั้งก่อนสั่งซื้อ การเก็บรักษาวัตถุดิบอย่างมีประสิทธิภาพ การใช้ระบบคั่วกาแฟที่มีเทคโนโลยีทันสมัย การบรรจุผลิตภัณฑ์ด้วย
เครื่องจักรอัตโนมัติ มีระบบตรวจสอบคุณภาพอย่างเข้มข้น มีคลังจัดเก็บสินค้าพื้นที่กว่า 3,000 ตารางเมตร พร้อมด้วยทีมวิจัย และพัฒนาสินค้าที่มีประสิทธิภาพเพื่อ
ตอบสนองความต้องการของตลาดที่เปลี่ยนแปลงอยู่เสมอ พร้อมรับรองคุณภาพด้วยมาตรฐาน ISO 14001, ISO 22000, ISO 9000 + HACCP และมาตรฐานรับรอง GMP 
 
2.  เครื่องชงกาแฟและอุปกรณ์การชงกาแฟ พร้อมบริการหลังการขาย
บริษัทนำเข้าเครื่องชงกาแฟ อุปกรณ์การชงกาแฟ และอะไหล่จากแบรนด์ชั้นนำในต่างประเทศ ที่มีคุณภาพและเทคโนโลยีที่ทันสมัย เช่น Expobar Faema Wega Gaggia เป็นต้น 
พร้อมทั้งบริการหลังการขายจากทีมพนักงานที่มีความเชี่ยวชาญกว่า 80 คน ปัจจุบันมีศูนย์บริการ และตัวแทนจำหน่ายกว่า 22 แห่งทั่วประเทศ
 
3.  ร้านค้าปลีก อโรม่า ช็อป
อโรม่า ช็อป ครบครันทุกเรื่องกาแฟ ตั้งแต่ ผลิตภัณฑ์กาแฟคุณภาพดี บริการหลังการขาย รวมไปถึงการจัดอบรมส่งต่อความรู้ ซึ่งทางบริษัทได้จัดโครงการอบรม 
“Train to Trainer” เพื่อสร้างมาตรฐานชั้นเลิศให้กับ อโรม่า ช็อป ทุกสาขาในการให้บริการลูกค้า และการจัดฝึกอบรมต่างๆ ปัจจุบัน อโรม่า ช็อป มีทั้งหมด 26 สาขา 
ครอบคลุมหัวเมืองใหญ่ทั่วประเทศ และเพิ่มจำนวนมากขึ้นอย่างต่อเนื่อง
 
4.  ธุรกิจจัดเลี้ยงนอกสถานที่ (Catering)
บริษัทเลือกสรรแต่วัตถุดิบที่มีคุณภาพ และสร้างสรรค์ผลงานอย่างสวยงาม พร้อมด้วยบริการอย่างมืออาชีพ สามารถตอบสนองทุกความต้องการของลูกค้า เพื่อความประทับใจ
ในทุกโอกาสพิเศษ 
 
5.  แฟรนไชส์
•   94 Coffee ร้านกาแฟสดระดับพรีเมี่ยมของคนไทย 100% เป็นธุรกิจในรูปแบบแฟรนไชส์เปิดโอกาสให้ผู้สนใจทำธุรกิจร่วมลงทุน ด้วยคอนเซ็ปท์ Variety of Life 
โดนใจทุกความต้องการของคอกาแฟตัวจริง พิถีพิถันในทุกรายละเอียด ตั้งแต่การคัดเลือกเมล็ดกาแฟ การพัฒนาสูตรให้มีความอร่อยเฉพาะตัว บริการด้วยความเป็นมิตร รวมถึง
การตกแต่งและสร้างบรรยากาศที่มีเอกลักษณ์โดดเด่นรู้ใจผู้หลงใหลกาแฟทุกคน พร้อมเมนูอาหาร เครื่องดื่มอื่นๆ และเครื่องดื่มสุขภาพภายใต้แบรนด์ Tutti Fruitti
•   กาแฟชาวดอย ตอบรับผู้ชื่นชอบกาแฟในราคาคุ้มค่า หาซื้อง่าย ด้วยสโลแกน “เข้มไม่เกรงใจใคร” ปัจจุบันร้านชาวดอยมีมากกว่า 300 สาขาทั่วประเทศ มีเจตนารมณ์ที่ตั้งใจ
ส่งเสริมให้ผู้ที่ร่วมธุรกิจได้รับประโยชน์จากการซื้อแฟรนไชส์อย่างแท้จริง นอกจากนั้นบริษัทยังเปิดโอกาสที่มากกว่าให้กับผู้ร่วมธุรกิจ ด้วยสินค้าชานมไข่มุกภายใต้แบรนด์ 
“ชาวดอย บับเบิ้ล ที” เจาะกลุ่มลูกค้าที่นิยมเครื่องดื่มทางเลือกนอกเหนือจากกาแฟ มีจุดเด่นคือ วัตถุดิบที่มีคุณภาพสูงได้มาตรฐาน เป็นชาซีลอน ใบชาเกรดพรีเมี่ยม 
พร้อมกรรมวิธีการชงสดจากใบชา ผ่านเครื่องสกัดชาเอสเปรสโซ่ สามารถปรุงรสชาติตามความต้องการ หลากหลายท้อปปิ้ง ด้วยสโลแกน “ชงสดใหม่ ดีต่อสุขภาพ”
 
6.  สถาบัน ACA (Aroma Coffee Academy)
	ACA คือ สถาบันสอนพัฒนาธุรกิจร้านกาแฟซึ่งก่อตั้งมากว่า 7 ปี สามารถสร้างบุคลากรคุณภาพเข้าสู่วงการกาแฟกว่า 3,000 คนต่อปี มุ่งเน้นให้ผู้จบการศึกษา
    สามารถนำไปใช้ได้จริง พร้อมประกาศนียบัตร โดยมีหลักสูตรการฝึกสอนทำเครื่องดื่มกาแฟ และเมนูเครื่องดื่มอื่นๆ ภายในร้านกาแฟ 
 
บริษัทย่อยในเครือของ Aroma Group

	ด้วยวิสัยทัศอันกว้างไกลที่จะเป็นผู้นำในธุรกิจอาหาร และเครื่องดื่มอย่างแท้จริง Aroma Group จึงขยายบริษัทในเครือทั้งหมด 5 บริษัท ตอบรับความต้องการ
    ของผู้บริโภคครบวงจร ซึ่งแต่ละบริษัทมีความเชี่ยวชาญโดดเด่นแตกต่างกันดังนี้
 
1.  บริษัท K.V.N Import Export (1991) Co.,Ltd (เค.วี.เอ็น.อิมปอร์ต เอกซ์ปอร์ต (1991) จำกัด)
บริษัทเป็นผู้ผลิตกาแฟคั่วบด  ชา โกโก้ และน้ำผลไม้ และผลิตภัณฑ์เครื่องดื่มอื่นๆ เช่น ชากลิ่นผลไม้ ชาไทย ชาเขียว โกโก้ และน้ำผลไม้ภายใต้แบรนด์ “อโรม่า” 
พร้อมส่งเสริมผู้เริ่มต้นทำธุรกิจกาแฟภายใต้แบรนด์ “กาแฟสด ชาวดอย”
 
2.  บริษัท Ultimate Beverage Products Co.,Ltd (อัลติเมท เบเวอร์เรต โปรดักส์ จำกัด)
บริษัทดำเนินธุรกิจ และขยายธุรกิจแฟรนไชส์หลากหลายแบรนด์ด้วยธุรกิจแบบ B2C เช่น 94 Coffee นอกจากนั้นทางบริษัทยังมีธรุกิจจัดเลี้ยงนอกสถานที่ และศูนย์การเรียนรู้
และพัฒนาบุคลากรในด้านธุรกิจกาแฟ ACA
 
3.  บริษัท Lion3star Co.,Ltd  (ไลอ้อน ทรี-สตาร์ จำกัด) 
บริษัทมุ่งเน้นในธุรกิจนำเข้าเครื่องชงกาแฟ อุปกรณ์การชงกาแฟ และ อะไหล่แบรนด์ชั้นนำจากต่างประเทศ รวมถึงสรรหาตัวแทนจำหน่ายภายในประเทศ พร้อมให้
บริการดูแลรักษาเครื่องชงกาแฟ และอุปกรณ์ต่างๆ 
 
4.  บริษัท Aroma Fine Food (อโรม่า ไฟน์ ฟู้ด จำกัด)
บริษัทผลิตเบเกอรี่ระดับพรีเมี่ยม ซึ่งมีผลิตภัณฑ์ให้เลือกมากมาย เช่น เค้กสไตล์โฮมเมด ชีสเค้ก คุกกี้ ครัวซอง เดนิช พั้ฟ ฯลฯ นอกจากเบเกอรี่แล้ว บริษัทยังผลิตแซนด์วิช 
สลัด น้ำสลัดชนิดต่างๆ และอาหารสำหรับร้านกาแฟทั่วไปอีกด้วย
 
5.  บริษัท Food Gallery (ฟู้ดแกลเลอรี่ จำกัด)
บริษัทดำเนินการจัดหา และนำเข้าสินค้าประเภทอาหาร เครื่องดื่ม ผัก ผลไม้ และเบเกอรี่ระดับพรีเมี่ยมหลากหลายประเภท 
 
    ด้วยสินค้าที่มีคุณภาพ บริการที่ตอบสนองทุกความต้องการ ความจริงใจในการดำเนินธุรกิจ รวมถึงวิสัยทัศน์ และแนวคิดที่ทันสมัยของผู้บริหาร ประกอบกับทีมงาน
ที่มีความเชี่ยวชาญ ในธุรกิจกาแฟมาอย่างยาวนาน สิ่งเหล่านี้เป็นองค์ประกอบสำคัญในการผลักดัน Aroma Group ให้ประสบความสำเร็จ และได้รับความไว้วางใจ
จากลูกค้ามากว่า 50 ปี และด้วยความตั้งใจ ที่จะเป็นผู้นำในธุรกิจกาแฟอย่างแท้จริง เราจึงไม่หยุดยั้งที่จะพัฒนา และสรรหาสินค้า บริการ รวมถึงความสำเร็จ
รูปแบบใหม่ๆ เพื่อนำเสนอต่อลูกค้า คู่ค้า และผู้บริโภค รวมทั้งวงการกาแฟไทยต่อไป อย่างต่อเนื่อง
	มาร่วมกันสร้างประสบการณ์ใหม่ และความสำเร็จอย่างยั่งยืนไปกับเรา Aroma Group
 




					
            </font>
            </pre>

        </div>
    </div>


</asp:Content>
