﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="HRPolicy_BusinessEthicsHR9.aspx.vb" Inherits="Aroma_HRPortal.HRPolicy_BusinessEthicsHR9" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

   <br />
        <br />
        <br />
        <br />
        <br />

       
  <div class="btn-group">
                                 <asp:button id="backButton" runat="server" text="Back" class="btn btn-primary"
OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>

   </div>
 

 
      <div class="container">
        <center>
        <h3>
           ประกาศ
        </h3>
        </center>
        <center>
        <h3>เรื่อง  ระเบียบการแต่งกายสำหรับพนักงานประจำสำนักงาน
        </h3>
        </center>

        <div class="border">
        </div>
        <div class="row">

            <pre>
          เพื่อให้เกิดภาพลักษณ์ที่ดี และมีความเป็นระเบียบเรียบร้อยในการปฏิบัติงาน  ทาง อโรม่า  กรุ๊ป และบริษัทในเครือ  จึงเห็นสมควรกำหนด และขอความร่วมมือมายัง
พนักงานประจำสำนักงานทุกท่านในการปฏิบัติอย่างเคร่งครัดเรื่อง การแต่งกายทุกวันที่มาปฏิบัติงาน  ดังนี้

ประกาศฉบับนี้ไม่บังคับใช้พนักงานซึ่งปฏิบัติงานประจำสายการผลิต  โรงงานบางปะกง  งานปฏิบัติการ/หน้าร้าน   งานบริการลูกค้า
(ช่างเทคนิค)   สาขาทั้งกรุงเทพ- ปริมณฑล และต่างจังหวัด   งานแนะนำสินค้า  (พีซี)   เนื่องจากกำหนดให้สวมใส่ชุดฟอร์มทุกวันที่ปฏิบัติงาน 

1.ทรงผม  
 		- พนักงานชาย ให้ไว้ผมทรงสั้น  รองทรง  รวมทั้งจัดทรงให้ดูแล้วสุภาพเรียบร้อย  หากยาวให้มัดจัดเก็บทรงให้เรียบร้อย
 		- พนักงานหญิง หากผมยาวให้จัดทรงให้ดูแล้วสุภาพเรียบร้อย 
 
2.บัตรพนักงาน
 	   	- บัตรพนักงานทั้งพนักงานชายและหญิง  ให้คล้องบัตรพนักงานทุกวันที่ทำงาน  และตลอดเวลาปฏิบัติงาน

	3.การแต่งกาย  ทำงานวันจันทร์ – วันพฤหัสบดี
 	   3.1 เสื้อ 
 	   	- พนักงานชาย ให้ใส่เสื้อเชิ้ต หรือเสื้อโปโล (คอปก)  โดยต้องสวมใส่ไว้ข้างในกางเกงตลอดเวลาปฏิบัติงาน
        - พนักงานหญิง ให้ใส่เสื้อเชิ้ต หรือเสื้อโปโล (คอปก) หรือเสื้อสุภาพสตรีทำงานที่สุภาพ  งดใส่เสื้อเกาะอก  สายเดี่ยว
       3.2 กางเกง/กระโปรง 
 		- พนักงานชาย  ให้สวมกางเกงขายาวผ้าทำงาน  งดสวมกางเกงยีนส์  
 		- พนักงานหญิง  ให้สวมกระโปรง   หรือกางเกงขายาวแบบผ้าทำงาน  งดสวมกระโปรง/กางเกงยีนส์ รวมถึงงดสวม
 		   กระโปรงสั้น  (กระโปรงสั้น คือ ชายกระโปรงสั้นนับจากเหนือเข่าเกินหนึ่งฝ่ามือ  หรือเกิน  3  นิ้ว)  
        -  ทั้งพนักงานชาย และหญิง งดสวมกางเกงหรือกระโปรง โดยจงใจใส่เอวต่ำให้เห็นบ็อกเซอร์  หรือเอวต่ำแล้วเห็นขอบชั้นใน  เป็นต้น
 		- พนักงานช่างเทคนิค  คลังสินค้า  จัดส่ง โดยอนุโลมให้สวมกางเกงยีนส์สีเข้มมาปฏิบัติงานได้  อันเนื่องจากลักษณะงาน
                                  และพนักงานฝ่ายขายและการตลาด กรณีต้องไปติดตั้ง/เก็บบูทงานแสดงสินค้าต่างๆ เท่านั้น   
   3.3 รองเท้า  
 	   	- พนักงานชาย  ให้สวมรองเท้าหนัง หรือผ้าใบ 
 		- พนักงานหญิง  ให้สวมรองเท้าคัทชู หรือรองเท้าผ้าใบ (ตามความเหมาะสม) หรือรองเท้าสุภาพสตรีทำงาน 
        - งดสวมรองเท้าแตะ
	
 	4.การแต่งกาย  ทำงานวันศุกร์
 	    4.1 กรณีพนักงานใส่เสื้อ อโรม่า  กรุ๊ป  เสื้อแบรนด์สินค้าบริษัท  โดยอนุโลมให้พนักงานสวมกับกางเกงขายาว/กระโปรงยีนส์
          สุภาพสีเข้มได้    ยกเว้นพนักงานท่านใดใส่เสื้อ  อโรม่า  กรุ๊ป  ไปพบ/ติดต่อลูกค้า  ให้พนักงานสวมกางเกงขายาว/กระโปรงผ้า
          ทำงานสุภาพสีเข้มเท่านั้น  รวมทั้งสวมรองเท้าหนัง  หรือคัทชูหุ้มส้น หรือรองเท้าสุภาพสตรีรัดส้นให้เรียบร้อย  (งดยีนส์ และ
          รองเท้าผ้าใบ)
 	    4.2 กรณีพนักงานไม่ได้ใส่เสื้อ อโรม่า  กรุ๊ป  เสื้อแบรนด์สินค้าบริษัท  ให้พนักงานแต่งกายเช่นเดียวกันกับวันจันทร์ – พฤหัสบดี
	    4.3 งดใส่เสื้อเกาะอก  สายเดี่ยว
	    4.4 งดสวมกระโปรงสั้น
        4.5 งดสวมกางเกงหรือกระโปรง โดยจงใจใส่เอวต่ำให้เห็นบ็อกเซอร์  หรือเอวต่ำแล้วเห็นขอบชั้นใน
        4.6 รองเท้า  
 	   	- พนักงานชาย  ให้สวมรองเท้าหนัง หรือผ้าใบ 
 		- พนักงานหญิง  ให้สวมรองเท้าคัทชู หรือรองเท้าผ้าใบ (ตามความเหมาะสม) หรือรองเท้าสุภาพสตรีทำงาน 
        - งดสวมรองเท้าแตะ
 
ทั้งนี้  หากพบว่าพนักงานท่านใดจงใจ   ฝ่าฝืน   เพิกเฉย  ละเลยไม่ให้ความร่วมมือปฏิบัติตามระเบียบดังกล่าว  โดยไม่มีเหตุผลอันควร    
ทางบริษัทขอกำหนดให้พนักงานจะต้องเปลี่ยนและสวมใส่ชุดตามแบบที่บริษัทจัดเตรียมไว้ให้  โดยไม่มีข้อโต้แย้งแต่อย่างใดทั้งสิ้น   
และมีความจำเป็นอย่างยิ่งที่จะต้องลงโทษตามระเบียบวินัยขั้นตอนบริษัท   ซึ่งจะมีผลต่อการประเมินผลปรับเงินเดือน/โบนัสประจำปีด้วย    

พร้อมกันนี้  ทางบริษัทฯ ขอชื่นชมพนักงานท่านที่แต่งกายถูกต้องอยู่ ณ ปัจจุบันนี้  มา ณ โอกาสนี้ด้วย  
 
     	ระเบียบนี้ ให้ถือปฏิบัติตั้งแต่บัดนี้เป็นต้นไป

จึงประกาศมาเพื่อทราบ และขอความร่วมมือปฏิบัติอย่างเคร่งครัดโดยทั่วกัน  
 
        ประกาศ ณ วันที่  21  ตุลาคม  2556
		
		    

			            



            </pre>

        </div>
    </div>

</asp:Content>
