﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="HRPolicy_BusinessEthicsHR2.aspx.vb" Inherits="Aroma_HRPortal.HRPolicy_BusinessEthicsHR2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<style>
	.swiper-container {
		width: 100%;
		height: 100%;
	}
	.swiper-slide {
		text-align: center;
		background: #fff;
	}
	.swiper-slide img 
	{
		width: 100%;
	}
	.swiper-pagination-bullet-active {
		opacity: 1;
		background: #af2f2f;
	}
	/*.table {
		text-align: center;
	}
	.table .thead-inverse th {
		text-align: center;
	}*/
</style>

<!-- banner -->
<div class="base-banner"><img src="new/images/banner/hr-policy/hr.jpg" alt=""/></div>
<!-- end banner -->

<!--
=====================================================
	Blog Page Details
=====================================================
-->
<article class="blog-details-page">
	<div class="container">
		
		<div class="post-heading">
            <ul>
                <li><a href="index_hr.aspx">HOME</a></li>
                <li>/</li>
                <li><a href="HRPolicy_Announce.aspx">ระเบียบต่างๆ</a></li>
                <li>/</li>
                <li><a href="HRPolicy_BusinessEthicsHR.aspx">ประกาศ คำสั่ง ระเบียบทรัพยากรมนุษย์</a></li></li>
            </ul>
			<h2>การลาพักผ่อนประจำปี</h2>
		</div> <!-- /.post-heading -->
		
		<div class="post-content">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
				<div class="blog-details-post-wrapper">
				
					<img src="new/images/banner/hr-policy/img6.jpg" alt=""/>
         		    	
         		    <p style="padding: 30px 0 0;">เพื่อการบริหารงานทรัพยากรมนุษย์เป็นไปด้วยความระเบียบเรียบร้อย และให้สอดคล้องกับประกาศกำหนดระดับพนักงาน บริษัทฯ จึงเห็นสมควรกำหนดสิทธิการหยุดพักผ่อนประจำปีขึ้นใหม่ และขอยกเลิกประกาศฉบับก่อนหน้านี้ทั้งหมด ว่าด้วยเรื่องสิทธิในการลาพักผ่อนประจำปีของพนักงานระดับต่างๆ โดยให้ถือปฏิบัติใช้ประกาศฉบับนี้แทน ดังนี้</p>
         		    
         		    <ol style="margin: 10px 0;">
         		    	<li>กรณีพนักงานผ่านทดลองงานในปีแรก ได้เข้าทำงานระหว่างปีโดยเริ่มนับอายุการทำงานตั้งแต่วันที่ผ่านทดลองงาน จนถึงวันสิ้นเดือน ธันวาคม ของปีนั้นๆ บริษัทกำหนดให้พนักงานมีสิทธิหยุดพักผ่อนประจำปีได้ โดยคำนวณตามสัดส่วนจำนวนเดือนที่เข้าทำงาน และระดับพนักงาน ดังนี้
         		    	<table class="table">
         		    	  <thead class="thead-inverse">
         		    	    <tr>
							  <th>เดือนที่เข้าทำงาน</th>
							  <th>อายุงาน</th>
							  <th>พนักงานระดับ A</th>
							  <th>พนักงานระดับ B</th>
							  <th>พนักงานระดับ C</th>
							  <th>พนักงานระดับ D</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <td>มกราคม</td>
							  <td>12 เดือน</td>
							  <td>12 วัน</td>
							  <td>9 วัน</td>
							  <td>9 วัน</td>
							  <td>6 วัน</td>
							</tr>
							<tr>
							  <td>กุมภาพันธ์</td>
							  <td>11 เดือน</td>
							  <td>11  วัน</td>
							  <td>8 วัน</td>
							  <td>8 วัน</td>
							  <td>6 วัน</td>
							</tr>
							<tr>
							  <td>มีนาคม</td>
							  <td>10 เดือน</td>
							  <td>10  วัน</td>
							  <td>8 วัน</td>
							  <td>8 วัน</td>
							  <td>5 วัน</td>
							</tr>
							<tr>
							  <td>เมษายน</td>
							  <td>9 เดือน</td>
							  <td>9 วัน</td>
							  <td>7 วัน</td>
							  <td>7 วัน</td>
							  <td>5 วัน</td>
							</tr>
							<tr>
							  <td>พฤษภาคม</td>
							  <td>8 เดือน</td>
							  <td>8 วัน</td>
							  <td>6 วัน</td>
							  <td>6 วัน</td>
							  <td>4 วัน</td>
							</tr>
							<tr>
							  <td>มิถุนายน</td>
							  <td>7 เดือน</td>
							  <td>7 วัน</td>
							  <td>5 วัน</td>
							  <td>5 วัน</td>
							  <td>4 วัน</td>
							</tr>
							<tr>
							  <td>กรกฎาคม</td>
							  <td>6 เดือน</td>
							  <td>6 วัน</td>
							  <td>5 วัน</td>
							  <td>5 วัน</td>
							  <td>3 วัน</td>
							</tr>
							<tr>
							  <td>สิงหาคม</td>
							  <td>5 เดือน</td>
							  <td>5 วัน</td>
							  <td>4 วัน</td>
							  <td>4 วัน</td>
							  <td>3 วัน</td>
							</tr>
							<tr>
							  <td>กันยายน</td>
							  <td>4 เดือน</td>
							  <td>4 วัน</td>
							  <td>3 วัน</td>
							  <td>3 วัน</td>
							  <td>2 วัน</td>
							</tr>
							<tr>
							  <td>ตุลาคม</td>
							  <td>3 เดือน</td>
							  <td>3 วัน</td>
							  <td>2 วัน</td>
							  <td>2 วัน</td>
							  <td>2 วัน</td>
							</tr>
							<tr>
							  <td>พฤศจิกายน</td>
							  <td>2 เดือน</td>
							  <td>2 วัน</td>
							  <td>2 วัน</td>
							  <td>2 วัน</td>
							  <td>1 วัน</td>
							</tr>
							<tr>
							  <td>ธันวาคม</td>
							  <td>1 เดือน</td>
							  <td>1 วัน</td>
							  <td>1 วัน</td>
							  <td>1 วัน</td>
							  <td>1 วัน</td>
							</tr>
						  </tbody>
						</table>
        		    		
        		    	*การลาหยุดพักผ่อนประจำปีในกรณีนี้ พนักงานจะมีสิทธิลาหยุดได้ ตัวอย่าง เช่น นาย ก. พนักงานระดับ D เริ่มเข้าทำงาน 1 กันยายน 2548 โดยนาย ก. จะทำงานครบหนึ่งปีในวันที่ 31 สิงหาคม 2549 ซึ่งมีสิทธิลาหยุดพักผ่อนประจำปีได้ตั้งแต่วันที่ 1 กันยายน 2549 จนถึง 31 ธันวาคม 2549 จำนวน 2 วัน และในปีถัดไปเริ่มตั้งแต่เดือน มกราคม 2550 ถึงสิ้นเดือน ธันวาคม 2550 มีสิทธิลาหยุดได้ 6 วัน เป็นต้น<br><br>
         		    	</li>
         		    	<li>กรณีพนักงานผ่านทดลองงาน บริษัทกำหนดให้พนักงานมีสิทธิหยุดพักผ่อนประจำปีได้ โดยกำหนดตามอายุการทำงาน และระดับพนักงาน ดังนี้
						<table class="table">
						   <thead class="thead-inverse">
							<tr>
							  <th>อายุงาน</th>
							  <th>พนักงานระดับ A</th>
							  <th>พนักงานระดับ B</th>
							  <th>พนักงานระดับ C</th>
							  <th>พนักงานระดับ D</th>
							</tr>
						  </thead>
						  <tbody>
							<tr>
							  <td>เกิน  1 ปีแต่ไม่เกิน  5 ปี</td>
							  <td>12 วัน</td>
							  <td>9 วัน</td>
							  <td>9 วัน</td>
							  <td>6 วัน</td>
							</tr>
							<tr>
							  <td>เกิน  5 ปีแต่ไม่เกิน 10 ปี</td>
							  <td>15 วัน</td>
							  <td>12 วัน</td>
							  <td>12 วัน</td>
							  <td>9 วัน</td>
							</tr>
							<tr>
							  <td>เกิน  10 ปีแต่ไม่เกิน 15 ปี</td>
							  <td>17 วัน</td>
							  <td>15 วัน</td>
							  <td>15 วัน</td>
							  <td>12 วัน</td>
							</tr>
							<tr>
							  <td>ตั้งแต่ 15 ปีขึ้นไป</td>
							  <td>19 วัน</td>
							  <td>17 วัน</td>
							  <td>17 วัน</td>
							  <td>15 วัน</td>
							</tr>
						  </tbody>
						</table>         		    		
         		    	</li>
         		    	<li>พนักงานที่มีสิทธิหยุดพักผ่อนประจำปี  ต้องปฏิบัติว่าด้วยการลาหยุดพักผ่อนประจำปี  ดังนี้
         		    		<ul class="a">
         		    			<li>การลาพักผ่อนประจำปีดังกล่าว จะต้องแจ้งล่วงหน้าและได้รับการอนุมัติเป็นลายลักษณ์อักษรจากผู้บังคับบัญชาชั้นสูง ในฝ่ายงาน/หน่วยงานนั้นๆ  หรือระดับเหนือกว่า ไม่น้อยกว่า 7 วันจึงจะหยุดได้ โดยได้รับค่าจ้างเท่ากับวันทำงานปกติ</li>
							  	<li>การลาพักผ่อนประจำปีจะต้องไม่ต่อเนื่องจากวันหยุดที่บริษัทประกาศหยุดติดต่อกันตั้งแต่ 3 วันขึ้นไป แต่กรณีพนักงานคนใดมีเหตุจำเป็นที่จะขอลาพักผ่อนประจำปี  ต่อเนื่องจากวันหยุดที่มีการหยุดติดต่อกันตั้งแต่ 3 วันขึ้นไป ให้อยู่ในดุลยพินิจของบริษัท (กรรมการ ผู้มีอำนาจกระทำการแทนบริษัท เท่านั้น) ที่จะพิจารณาอนุญาตหรือไม่ก็ได้ตามสมควรแก่สถานะสภาพของพนักงานเป็น กรณี ๆ ไป</li>
							  	<li>สิทธิหยุดพักผ่อนประจำปี ไม่สามารถจะสะสมวันหยุด เพื่อนำไปใช้หยุดในปีถัดไป</li>
							  	<li>สิทธิหยุดพักผ่อนประจำปี สำหรับพนักงานที่มีหน้าที่การผลิต การจำหน่าย และการบริการ บริษัทจะเป็นผู้กำหนดวันหยุดพักผ่อนประจำปีดังกล่าวให้แก่พนักงานล่วงหน้าได้  ซึ่งจะแจ้งประกาศให้ทราบเป็นกรณีๆ ไป</li>
         		    		</ul>         		    		
         		    	</li>
         		    </ol>
         		    
         		    <p><br>
						ทั้งนี้ให้มีผลบังคับใช้ตั้งแต่วันที่  1 มกราคม  2549  เป็นต้นไป<br><br>

						จึงประกาศมาเพื่อทราบโดยทั่วกัน<br>
						ประกาศ ณ วันที่   26  ธันวาคม  2548<br><br>
         		    </p>
         		    
         		    <h4>ที่ H100/023-1/51</h4>
								        
					<h4>ประกาศ<br>
					เรื่อง กำหนดวันหยุดพักผ่อนประจำปีพนักงาน (เพิ่มเติม)</h4>
					
					<p>เพื่อการบริหารงานทรัพยากรมนุษย์เป็นไปด้วยความระเบียบเรียบร้อย ว่าด้วยเรื่อง การหยุดพักผ่อนประจำปี ทางกลุ่มบริษัท อโรม่า จึงเห็นสมควรกำหนดและประกาศแจ้งมายังพนักงานทุกท่านทราบ และปฏิบัติ ดังนี้</p>
        		    <p>
        		    	<ol>
        		    		<li>สิทธิหยุดพักผ่อนประจำปี ให้เป็นไปตามประกาศเรื่อง การหยุดพักผ่อนประจำปี ลงวันที่ 26 ธันวาคม 2548</li>
							<li>สิทธิหยุดพักผ่อนประจำปีจะเริ่มตั้งแต่เดือน มกราคม และจะสิ้นสุดสิ้นเดือนธันวาคม ของปีนั้นๆ</li>
							<li>ขอยกเลิกประกาศเรื่อง การหยุดพักผ่อนประจำปี ลงวันที่ 26 ธันวาคม 2548 เฉพาะข้อ 3.เกี่ยวกับวิธีปฏิบัติการหยุดพักผ่อนประจำปี แต่บริษัทฯ ขอกำหนดและทบทวนวิธีการหยุดพักผ่อนประจำปีให้
							 กับพนักงานทุกท่านใหม่แทน ดังนี้
							 	<ul class="a">
									<li>กำหนดให้ผู้บังคับบัญชาต้นสังกัดนั้นๆ ตามลำดับชั้น ร่วมกับฝ่ายทรัพยากรมนุษย์ เป็นผู้กำหนดวันหยุดพักผ่อนประจำปีให้กับพนักงานในสังกัด ตามจำนวนสิทธิที่พนักงานได้รับและตามลักษณะงาน 
								 โดยมิให้มีผลเสียหายแก่งาน</li>
									<li>ให้ผู้บังคับบัญชาต้นสังกัดนั้นๆ ตามลำดับชั้น ร่วมกับฝ่ายทรัพยากรมนุษย์ มีอำนาจในการกำหนดจำนวนวันหยุดพักผ่อนประจำปีให้กับพนักงานในสังกัดติดต่อกันสูงสุดไม่เกิน 3 วัน 
								 โดยไม่ติดต่อวันหยุดที่บริษัทประกาศหยุดตามข้อ 3.5</li>
									<li>กำหนดให้พนักงานเขียนใบขออนุมัติหยุดพักผ่อนประจำปีเป็นลายลักษณ์อักษร เพื่อยืนยันการใช้สิทธิตามวันที่ตัวแทนบริษัทกำหนดให้หยุด เสนอต่อผู้บังคับบัญชาต้นสังกัดตามลำดับชั้นล่วงหน้า
								 ไม่น้อยกว่า 7 วันถึงจะหยุดได้ โดยได้รับค่าจ้างเงินเดือนเท่ากับวันทำงานปกติ</li>
									<li>กรณีผู้บังคับบัญชาต้นสังกัดนั้นๆ ตามลำดับชั้น ร่วมกับฝ่ายทรัพยากรมนุษย์ กำหนดวันหยุดพักผ่อนประจำปีให้กับพนักงานแล้ว แต่พนักงานมิได้หยุดโดยไม่มีเหตุอันควร และมิได้แจ้งผู้บังคับบัญชา
									ต้นสังกัดตามระดับชั้น หรือฝ่ายทรัพยากรมนุษย์ หรือบริษัททราบ ทางบริษัทฯ จะถือว่าพนักงานได้ใช้สิทธิหยุดแล้วรวมทั้งมีความประสงค์สละสิทธิเกี่ยวกับการหยุดพักผ่อนประจำปี/ค่าจ้างเงินเดือน
									สำหรับวันหยุดพักผ่อนประจำปี โดยไม่มีข้อโต้แย้งแต่อย่างใดทั้งสิ้น</li>
									<li>การหยุดพักผ่อนประจำปีจะต้องไม่ต่อเนื่องจากวันหยุดที่บริษัทประกาศหยุดติดต่อกันตั้งแต่ 3 วันขึ้นไป แต่กรณีพนักงานท่านใดมีเหตุจำเป็นที่จะขอหยุดพักผ่อนประจำปีต่อเนื่องจากวันหยุดที่มีการ
								 หยุดติดต่อกันตั้งแต่ 3 วันขึ้นไป ให้อยู่ในดุลยพินิจของบริษัท (กรรมการผู้มีอำนาจกระทำการแทนบริษัท/ผู้ที่ได้รับมอบหมาย เท่านั้น) ที่จะพิจารณาอนุญาตหรือไม่ก็ได้ ตามสมควรแก่สถานะ
									สภาพของพนักงานเป็น กรณี ๆ ไป</li>
									<li>สิทธิหยุดพักผ่อนประจำปี ไม่สามารถจะสะสมวันหยุด เพื่อนำไปใช้หยุดในปีถัดไป</li>
							 	</ul>
        		    	</ol>
        		    </p>
        		    
        		    <p><br>
        		    	จึงประกาศมาเพื่อทราบโดยทั่วกัน และปฏิบัติอย่างเคร่งครัดตั้งแต่วันที่ 1 มกราคม 2551 เป็นต้นไป<br><br>

						ประกาศ ณ วันที่ 19 สิงหาคม 2551	
        		    </p>
         		    
					<div class="blog-details-bt">
						<div class="btn-group">
							<asp:button id="backButton" runat="server" text="Back" class="btn btn-primary" OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>
						</div>
					</div>
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
				<aside>
					<div class="sidebar-news-list">
						<h4>CATEGORY</h4>
						<ul>
							<li>
								<a href="HRPolicy_BusinessEthicsHR.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบทรัพยากรมนุษย์</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAS.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบเกี่ยวกับทรัพย์สิน</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAC.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบเกี่ยวกับบัญชี การเงิน งบประมาณ จัดซื้อ</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsIT.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบเกี่ยวกับเทคโนโลยีสารสนเทศ</a>
							</li>
							<li>
								<a href="Benefits1_1.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบอื่นๆ</a>
							</li>
						</ul>
					</div>
				</aside>
				<aside>
					<div class="sidebar-news-list">
						<h4>Related Links</h4>
						<ul>
							<li>
								<a href="HRPolicy_BusinessEthicsHR1.aspx" class="tran3s">
									การคล้อง ติดบัตรพนักงาน
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsHR2.aspx" class="tran3s">
									การลาพักผ่อนประจำปี
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsHR3.aspx" class="tran3s">
									การแต่งกายพนักงานขาย (พีซี)
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsHR4.aspx" class="tran3s">
									การลงนามอนุมัติเกินอำนาจดำเนินการ หรือความเสียหายจากการปฏิบัติหน้าที่
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsHR5.aspx" class="tran3s">
									ระเบียบบ้านพักพนักงาน
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsHR6.aspx" class="tran3s">
									ระเบียบการลงโทษพนักงานทุจริต
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsHR7.aspx" class="tran3s">
									ทดลองจัดวันเวลาทำงานและวันหยุด (เป็นกรณีพิเศษ) ทำงานวันจันทร์ - ศุกร์
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsHR8.aspx" class="tran3s">
									ระเบียบการแต่งกายพนักงานประจำสำนักงาน
								</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
		
	</div>
</article>
    
<!-- Swiper JS -->
<script src="new/js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
	var swiper1 = new Swiper('.swiper1', {
		spaceBetween: 30,
		pagination: {
        el: '.swiper-pagination1',
        clickable: true,
      },
    });
</script>

</asp:Content>
