﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="HRPolicy_BrandStory2.aspx.vb" Inherits="Aroma_HRPortal.HRPolicy_BrandStory2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


<br />
<br />
<br />
<br />
<br />

  <div class="btn-group">
                                 <asp:button id="backButton" runat="server" text="Back" class="btn btn-primary"
OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>

   </div>

     <div class="container">
        <center>
        <h3>
           Message from CEO
        </h3>
        </center>
       
        <div class="border">
        </div>
        <div class="row">

            <pre>
            <font size = "3" >

    กิจจา วงศ์วารี 
    กรรมการบริหารบริษัท อโรม่า กรุ๊ป 

    จากประสบการณ์ของ อโรม่า กรุ๊ป ในเส้นทางสายกาแฟของเรา เราได้สั่งสมความรู้ไม่ว่าจะเป็นทั้งภาคทฤษฎีและภาคปฏิบัตินั้นมีมากมายผมถือว่าเป็นหัวใจสำคัญที่ทำให้ 
 อโรม่า กรุ๊ป ยืนหยัดอย่างเข้มแข็ง ในฐานะผู้นำทางธุรกิจกาแฟจนถึงทุกวันนี้ 

    ผมมองว่า ‘บริษัทที่สร้างกำไรมากที่สุด อาจไม่ใช่บริษัทที่เจริญที่สุด’ ถ้าคุณต้องการเจริญเติบโตจะต้องไม่เอารัดเอาเปรียบใคร คำว่า Business ในมุมมองของผม
 แปลว่า‘การอยู่ร่วมกัน’ ต้องอยู่แบบไม่เอาเปรียบนะครับ เราอยู่ได้ เขาอยู่ได้ แต่ถ้าคุณมองว่า Business คือ กำไร มันจะเกิดการแข่งขันทันที ยิ่งแข่งก็ยิ่งแพ้ ไม่มีใครชนะ 
 ทุกคนต้องอยู่ร่วมกันให้ได้ เป็นพันธมิตรกัน 
 แล้วกำไรจะตามมาเอง 
 
    เป้าหมายการทำธุรกิจของเราอย่างหนึ่งก็คือ ทำให้ทุกคนมีชีวิตความเป็นอยู่ที่ดีกว่าเดิม เราต้องทำให้เขาเติบโตให้ได้ เพราะเราก็ต้องการเติบโตเช่นกันครับ ถ้าเขามี
 รายได้ดีขึ้นก็จะอยู่กับเราไปเรื่อยๆ บริษัทของเรายินดีสนับสนุนเต็มที่อย่างเวลาไปออกบูธขายกาแฟในงานแสดงสินค้า ต้องมีค่าเช่าพื้นที่แต่ทางบริษัทพร้อมออกค่าใช้จ่าย
 ส่วนนี้ให้นะ ถามว่าเราได้อะไร? กาแฟของเราขายได้ไงครับ แบรนด์เราจะเป็นที่รู้จักมากขึ้น เราออกค่าเช่า ส่วนเขาซื้อกาแฟเราไปขาย การทำธุรกิจมันต้องแบ่งกันกิน 
 อย่าอ้วนอยู่คนเดียว เพราะสุดท้ายแล้วเขาจะไปต่อไม่ไหว เราต้องโตไปด้วยกัน 
 
    ทุกวันนี้รายได้หลักของบริษัทมาจากตลาดกาแฟภายในประเทศ แต่ผมยังมีแผนการตลาดที่จะพัฒนาบริษัทให้เติบโตแบบไม่หยุดยั้ง ส่งเสริมให้ไปไกลระดับต่างประเทศด้วย 
 ส่วนก้าวต่อไปใน ระยะเวลาอันใกล้คือการขยายเอาท์เลตให้ครอบคลุมทั่วประเทศ สร้างการรับรู้มากขึ้น เพื่อให้คนมาร่วมเป็นพันธมิตรกับ Aroma Shop และที่สำคัญก็คือ 
 อยากให้คนไทยดื่มเอสเปรสโซ่เป็น เพราะจะได้ดื่มด่ำรสชาติกาแฟที่แท้จริง 




					
            </font>
            </pre>

        </div>
    </div>

</asp:Content>
