﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="HRPolicy_BrandStory7.aspx.vb" Inherits="Aroma_HRPortal.HRPolicy_BrandStory7" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


<br />
<br />
<br />
<br />
<br />

  <div class="btn-group">
                                 <asp:button id="backButton" runat="server" text="Back" class="btn btn-primary"
OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>

   </div>

     <div class="container">
        <center>
        <h3>
           TH Indy Barista
        </h3>
        </center>
       
        <div class="border">
        </div>
        <div class="row">

            <pre>
            <font size = "3" >

        ในโลกการค้าเสรี ธุรกิจการบริการทางด้านกาแฟและเครื่องดื่มอื่นๆมีการขยายตัวมากขึ้นอย่างรวดเร็ว ส่งผลให้การแข่งขันในการดึงดูดลูกค้าให้มาใช้บริการมากขึ้น 
โดยแต่ละบริษัทต่างก็พยายามหาข้อได้เปรียบมาใช้เป็นกลยุทธ์ในการแข่งขัน ซึ่งกลยุทธ์หลักที่บริษัทส่วนใหญ่ให้ความสำคัญเป็นอันดับแรก ๆ คือ คุณภาพของการให้บริการ 
คุณภาพกาแฟและเครื่องดื่ม โดยมุ่งเน้นที่การบริการที่ดีเลิศ
        Aroma Group ผู้นำธุรกิจกาแฟแบบครบวงจร และสมาคมกาแฟและชาไทยได้เห็นความสำคัญดังกล่าวจึงเสนอจัดโครงการแข่งขัน 
“Thailand Indy Barista Championship ครั้งที่ 6” ขึ้น โดยมุ่งเสริมสร้างคุณภาพ ฝีมือ และทักษะ ในการชงกาแฟที่ถูกต้องตามมาตรฐานการชงกาแฟ
แบบเอสเพรสโซ่ เพื่อให้ผู้ที่เข้าร่วมแข่งขันมีการพัฒนาฝีมือการชงกาแฟ เรียนรู้วิธีการใช้เครื่องชงกาแฟที่ถูกต้องและสร้างสรรค์
        โดยการแข่งขัน Thailand Indy Barista Championship ครั้งที่ 6 นี้ มีกติกาเพิ่มเติมจากครั้งก่อนๆคือ ให้ใช้เมล็ดกาแฟไทยเท่านั้น
ทั้งนี้เพื่อเป็นการส่งเสริมเกษตรกรผู้ปลูกกาแฟไทย และเมล็ดกาแฟคุณภาพของไทยเราให้เป็นที่รู้จักและยอมรับมากยิ่งขึ้นอีกด้วย
 
วัตถุประสงค์
1. เพื่อพัฒนาและสร้างอาชีพ Barista ของไทยให้เกิดความรู้และ ตระหนักถึงความสำคัญของเทคนิค มาตราฐานการชงกาแฟ ให้มีความเชี่ยวชาญ และมีทักษะ 
    สามารถชงกาแฟอย่างถูกต้องตามมาตรฐานสากล
2. เพื่อเสริมสร้างให้ Barista มีทักษะความรู้อย่างแท้จริง สร้างแรงบันดาลใจให้เกิดความคิดริเริ่มสร้างสรรค์เครื่องดื่มในหลากหลายรูปแบบ
3. เพื่อสร้างความภาคภูมิใจให้อาชีพ Barista
4. เพื่อให้ Barista ได้มีการแลกเปลี่ยนความรู้ ซึ่งกันและกัน
5. เพื่อส่งเสริมเกษตรกร และเมล็ดกาแฟไทย
6. เพื่อให้เวทีนี้เป็นเวทีเริ่มสู่การเป็น Barista มืออาชีพ ต่อยอดถึงการแข่งขันระดับประเทศ และระดับโลกต่อไป



					
            </font>
            </pre>

        </div>
    </div>


</asp:Content>
