﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="HRPolicy_BusinessEthics1.aspx.vb" Inherits="Aroma_HRPortal.HRPolicy_BusinessEthics1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<!-- banner -->
<div class="base-banner"><img src="new/images/banner/hr-policy/hr.jpg" alt=""/></div>
<!-- end banner -->

<!--
=====================================================
	Blog Page Details
=====================================================
-->
<article class="blog-details-page">
	<div class="container">
		
		<div class="post-heading">
            <ul>
                <li><a href="index_hr.aspx">HOME</a></li>
                <li>/</li>
                <li><a href="HRPolicy_BusinessEthics.aspx">ข้อบังคับเกี่ยวกับการทำงาน</a></li>
            </ul>
			<h2>ระเบียบข้อบังคับในการทำงาน KVN พ.ศ.2551</h2>
		</div> <!-- /.post-heading -->
		
		<div class="post-content">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
				<div class="blog-details-post-wrapper">
				
					<img src="new/images/banner/hr-policy/img1.jpg" alt=""/>
					
					<h4>บริษัท เค.วี.เอ็น.อิมปอร์ต เอกซ์ปอร์ต (1991) จำกัด พ.ศ. 2551</h4>
       				<p>โดยที่เห็นเป็นการสมควรปรับปรุงข้อบังคับเกี่ยวกับการทำงานของพนักงานให้เหมาะสม จึงให้ยกเลิกข้อบังคับเกี่ยวกับการทำงานพนักงานทุกฉบับที่ได้ประกาศมาก่อนหน้านี้ และให้ใช้ข้อบังคับเกี่ยวกับการทำงานนี้แทน ดังนี้</p>

					<h4>หมวดที่ 1 ข้อความทั่วไป ในระเบียบนี้</h4>
					<p>
						<ul class="a">
							<li>“บริษัท” ให้หมายถึง	บริษัท เค.วี.เอ็น.อิมปอร์ต เอกซ์ปอร์ต (1991) จำกัด ทั้งในส่วนสำนักงานใหญ่ สำนักงานสาขา หรือโรงงาน</li>
							<li>“ผู้บริหาร” ให้หมายถึง ประธานกรรมการบริหาร รองประธานกรรมการบริหาร คณะกรรมการบริหาร และกรรมการผู้จัดการ
							<li>“พนักงาน” ให้หมายถึง พนักงานที่บริษัท มีคำสั่งทดลองปฏิบัติงาน หรือบรรจุเป็นพนักงานประจำ</li>
							<li>“รอบปีดำเนินงาน” ให้หมายถึง ระหว่างวันที่ 1 มกราคม ถึง 31 ธันวาคม ของปี</li>
							<li>“วันทำงาน” ให้หมายถึง วันที่บริษัท กำหนดให้เปิดทำงานตามปกติ</li>
							<li>“วันหยุด” ให้หมายถึง วันที่บริษัท กำหนดให้พนักงานหยุดประจำสัปดาห์ หยุดตามประเพณี หรือหยุดพักผ่อนประจำปี</li>
						</ul>
					</p>
					
					<h4>หมวดที่ 2 บริษัท เค.วี.เอ็น. อิมปอร์ต เอกซ์ปอร์ต (1991) จำกัด</h4>
					<h4>สำนักงานใหญ่</h4>
					<p>
						<div class="blog-details-tb-address">
							<div class="blog-details-tb-address-row">
								<div class="blog-details-tb-address-l">ตั้งอยู่ที่</div>
								<div class="blog-details-tb-address-l2">:</div>
								<div class="blog-details-tb-address-r">962 ซอยลาดพร้าว 47 (สะพาน 2) ถนนลาดพร้าว แขวงวังทองหลาง เขตวังทองหลาง กรุงเทพมหานคร 10310</div>
								<div class="clearfix"></div>
							</div>
							<div class="blog-details-tb-address-row">
								<div class="blog-details-tb-address-l">โทรศัพท์</div>
								<div class="blog-details-tb-address-l2">:</div>
								<div class="blog-details-tb-address-r">0-2933-2353-4, 0-2538-5556, 0-2538-2388</div>
								<div class="clearfix"></div>
							</div>
							<div class="blog-details-tb-address-row">
								<div class="blog-details-tb-address-l">โทรสาร</div>
								<div class="blog-details-tb-address-l2">:</div>
								<div class="blog-details-tb-address-r">0-2538-8144</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</p>
					
					<h4>โรงงานบางปะกง</h4>
					<p>
						<div class="blog-details-tb-address">
							<div class="blog-details-tb-address-row">
								<div class="blog-details-tb-address-l">ตั้งอยู่ที่</div>
								<div class="blog-details-tb-address-l2">:</div>
								<div class="blog-details-tb-address-r">16/1-3 หมู่ 4 ซอยวัดพิมพา ถนนบางนา-ตราด ตำบลพิมพา อำเภอบางปะกง จังหวัดฉะเชิงเทรา 24130</div>
								<div class="clearfix"></div>
							</div>
							<div class="blog-details-tb-address-row">
								<div class="blog-details-tb-address-l">โทรศัพท์</div>
								<div class="blog-details-tb-address-l2">:</div>
								<div class="blog-details-tb-address-r">0-3852-2102-3</div>
								<div class="clearfix"></div>
							</div>
							<div class="blog-details-tb-address-row">
								<div class="blog-details-tb-address-l">โทรสาร</div>
								<div class="blog-details-tb-address-l2">:</div>
								<div class="blog-details-tb-address-r">0-3852-2100</div>
								<div class="clearfix"></div>
							</div>
							<div class="blog-details-tb-address-row">
								<div class="blog-details-tb-address-l">หน้าที่</div>
								<div class="blog-details-tb-address-l2">:</div>
								<div class="blog-details-tb-address-r">บริษัท เค.วี.เอ็น. อิมปอร์ต เอกซ์ปอร์ต (1991) จำกัด คือผู้ผลิตกาแฟคั่วและผู้ให้บริการเกี่ยวกับกาแฟในทุกๆ ด้าน หน้าที่หลักของเราคือการอุทิศและทุ่มเทให้กับการลงทุน เพื่อพัฒนาผลิตภัณฑ์กาแฟและบริการเพื่อบรรลุถึงความพึงพอใจสูงสุดของ ลูกค้า และเผยแพร่คุณภาพที่ดีที่สุดของกาแฟไทยภายใต้ชื่อ “อโรม่า” ให้เป็นที่รู้จักของผู้รักกาแฟทั่วโลก</div>
								<div class="clearfix"></div>
							</div>
							<div class="blog-details-tb-address-row">
								<div class="blog-details-tb-address-l">กิจกรรม</div>
								<div class="blog-details-tb-address-l2">:</div>
								<div class="blog-details-tb-address-r">ผลิตและจำหน่ายผลิตภัณฑ์กาแฟ ชา โกโก้ ตรา “อโรม่า” นำเข้าและจำหน่ายสินค้าเบ็ดเตล็ดอื่นๆ จากต่างประเทศ</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</p>
					
					<h4>หมวดที่ 3 คุณสมบัติของพนักงาน</h4>
					<h4>คุณสมบัติของพนักงานมีดังต่อไปนี้</h4>
					<p>
						<ol>
							<li>มีสัญชาติไทยหรือสัญชาติอื่นที่ได้รับอนุญาตจากรัฐบาลไทยให้ประกอบอาชีพในประเทศไทยได้</li>
							<li>อายุไม่ต่ำกว่า 18 ปีบริบูรณ์</li>
							<li>ไม่เป็นผู้มีร่างกายทุพลภาพจนไม่สามารถปฏิบัติหน้าที่ได้ ไร้ความสามารถ หรือจิตฟั่นเฟือนไม่สมประกอบ โดยต้องมีใบรับรองแพทย์ของโรงพยาบาลตามที่บริษัทมีความเชื่อถือได้ว่าไม่เป็นโรค
								<p>ตามหลักเกณฑ์ของบริษัทกำหนด ในการรับเข้าสมัครเป็นพนักงาน รวมทั้งไม่เป็นโรคดังต่อไปนี้</p>
								<ul class="a">
									<li>โรคเรื้อน</li>
									<li>วัณโรคในระยะอันตราย</li>
									<li>โรคเท้าช้างในระยะที่ปรากฏอาการเป็นที่รังเกียจแก่สังคม</li>
									<li>โรคยาเสพติด เสพสารเสพติด</li>
									<li>โรคพิษสุราเรื้อรัง
									<li>โรคติดต่อร้ายแรงอื่นๆ</li>
								</ul>
							</li>
							<li>ไม่เป็นผู้มีความประพฤติเสื่อมเสีย หรือบกพร่องในศีลธรรมอันดี</li>
							<li>ไม่เป็นผู้มีหนี้สินล้นพ้นตัว</li>
							<li>ไม่เป็นหรือเคยเป็นบุคคลล้มละลาย</li>
							<li>ไม่เป็นผู้เคยรับโทษจำคุกโดยคำพิพากษาถึงที่สุดให้จำคุก เว้นแต่เป็นคดีอาญาที่ได้กระทำโดยประมาทหรือความผิด ลหุโทษ</li>
							<li>ไม่เป็นผู้เคยถูกลงโทษให้ออก หรือปลดออก หรือไล่ออก จากหน่วยงานใด ๆ เพราะกระทำผิดวินัย หรือทุจริตต่อหน้าที่</li>
							<li>ต้องมีคุณวุฒิ หรือ วิทยฐานะ หรือมีความสามารถตรงตามที่บริษัท ต้องการและตรงกับที่ได้แจ้งไว้กับทางบริษัท ในใบสมัคร และเอกสารประกอบการสมัครงาน</li>
							<li>ไม่เป็นกรรมการ ผู้จัดการ ที่ปรึกษา หรือดำรงตำแหน่งอื่นใดให้กับบริษัท หรือหน่วยงานอื่นๆขณะปฏิบัติงานอยู่กับบริษัท เว้นแต่ได้รับความเห็นชอบจากผู้บริหารของบริษัท</li>
							<li>คุณสมบัติอื่น ๆ ที่บริษัท จะได้พิจารณากำหนดขึ้นเป็นกรณี ๆ ไป ตามสภาพการจ้างแต่ละบุคคล แต่ละหน้าที่งาน</li>
							<li>หากพนักงานผู้ใดขาดคุณสมบัติข้างต้น ไม่ว่าข้อใดข้อหนึ่ง หรือกรอกข้อความอันเป็นเท็จในใบสมัครงาน บริษัทบอกเลิกสัญญาจ้างได้ทันที</li>
						</ol>
					</p>
					
					<h4>หมวดที่ 4 หลักประกัน หรือการค้ำประกันความเสียหาย</h4>
					<p>บริษัท ขอสงวนไว้ซึ่งสิทธิในอันที่จะเรียกหรือรับหลักประกันการทำงาน หรือหลักประกันความเสียหายในการทำงาน หรือการไม่ปฏิบัติตามคำสั่งหรือระเบียบของบริษัท
					จากการกระทำหรืองดเว้นการกระทำของพนักงาน ตามลักษณะ หรือสภาพของงานที่ทำนั้นพนักงานที่ต้องรับผิดชอบเกี่ยวกับการเงิน หรือทรัพย์สินของบริษัท ซึ่งอาจก่อให้เกิดความเสียหาย
					แก่บริษัทได้ โดยจะเรียกเก็บจากพนักงานตามหลักเกณฑ์และวิธีการเรียกเก็บเงินที่รัฐมนตรีว่าการกระทรวงแรงงานประกาศกำหนด และพนักงานจะต้องมีบุคคลค้ำประกันความเสียหายก่อนและ
					หรือหลังวันเริ่มปฏิบัติงานจำนวนไม่น้อยกว่า 1 คนตามแต่กรณี ซึ่งต้องเป็นบุคคลที่บริษัทยอมรับได้เท่านั้น ทั้งนี้ให้เป็นไปตามเงื่อนไขข้อตกลงในสัญญาค้ำประกัน โดยพนักงานขอรับรอง
					ว่าผู้ค้ำประกันที่ได้จัดหามามีความสามารถชดใช้ค่าเสียหายให้แก่บริษัทได้ทันทีโดยไม่เกินความเสียหายที่เกิดขึ้นจริง และบริษัทขอสงวนสิทธิในการยกเลิก หรือเพิกถอนผู้ค้ำประกัน 
					หากภายหลังผู้ค้ำประกันเสียชีวิต หรือบริษัทไม่สามารถติดต่อผู้ค้ำประกันได้ พนักงานผู้นั้นต้องหาผู้ค้ำประกันรายใหม่มาทำสัญญาค้ำประกันแทนภายในระยะเวลาที่บริษัทกำหนด 
					มิฉะนั้นบริษัทจะถือว่าขาดคุณสมบัติการเป็นพนักงานของบริษัททันที โดยเฉพาะเมื่อพนักงานทราบถึงสถานภาพของบุคคลค้ำประกัน ว่ามีการเปลี่ยนแปลงทางสถานภาพทางกฎหมาย 
					ต้องรีบแจ้งให้ทางบริษัททราบและรีบจัดหาผู้ค้ำประกันรายใหม่มาทำสัญญาค้ำประกันเป็นการด่วน</p>
					
					<h4>คุณสมบัติของผู้ค้ำประกัน มีดังนี้</h4>
					<p>
						<ol>
							<li>พนักงานรัฐวิสาหกิจหรือบริษัทเอกชน(ยกเว้นสามี/ภรรยา/บุตรของพนักงาน) มีฐานเงินเดือนไม่ต่ำกว่าอัตราค่าจ้างขั้นต่ำรายเดือนนขึ้นไป หรือตามที่บริษัทเห็นควร หรือ</li>
							<li>ข้าราชการตั้งแต่ระดับ 3 ขึ้นไป หรือ ตำรวจ ทหาร ชั้นสัญญาบัตรขึ้นไป</li>
							<li>ผู้ค้ำประกันมีอายุไม่เกิน 50 ปี</li>
							<li>ผู้ค้ำประกัน ได้ผ่านการทดลองงงานและบรรจุแล้ว โดยมีอายุการทำงานในสถานที่ปัจจุบันไม่ต่ำกว่า 6 เดือน</li>
							<li>ต้องยื่นและแสดงเอกสาร ดังนี้
								<ul class="a">
									<li>สำเนาบัตรข้าราชการ หรือสำเนาบัตรประชาชน ตามแต่กรณี พร้อมแสดงเอกสารตัวจริง</li>
									<li>สำเนาทะเบียนบ้าน พร้อมแสดงเอกสารตัวจริง</li>
									<li>หนังสือรับรองการทำงาน พร้อมระบุตำแหน่งเงินเดือน หรือสลิปเงินเดือนปัจจุบัน (ฉบับจริง)</li>
								</ul>
							</li>
						</ol>
					</p>
					
					<h4>การคืนหลักประกัน</h4>
					<p>บริษัท จะคืนหลักประกัน ให้กับพนักงานที่บริษัทเลิกจ้าง หรือพนักงานลาออกถูกต้อง หรือสิ้นสุดสัญญาจ้าง หลังจากที่ได้ตรวจสอบหนี้สินความเสียหายของทรัพย์สินของบริษัทเสร็จสิ้น ภายใน 7 วัน อนึ่งหลักประกันความเสียหายที่คืนให้นั้น บริษัท จะคืนให้หลังจากที่หักค่าหนี้สินความเสียหายต่างๆ ที่เกิดขึ้นแล้วเท่านั้น</p>
					
					<h4>หลักการจ้างของบริษัท มีดังต่อไปนี้</h4>
					<p>ประเภทที่ 1 การจ้างชั่วคราว</p>
					<p>
						<ol>
							<li>พนักงานที่จ้างในโครงการเฉพาะที่มิใช่งานปกติของธุรกิจ หรือการค้าของบริษัท ซึ่งต้องมีระยะเวลาเริ่มต้น และสิ้นสุดของงานที่แน่นอน หรือในงานอันมีลักษณะเป็นครั้งคราว ที่มีกำหนดการสิ้นสุด หรือความสำเร็จของงาน หรือ ในงานที่เป็นไปตามฤดูกาลและได้จ้างในช่วงเวลาของฤดูกาลนั้น ซึ่งงานจะต้องแล้วเสร็จภายในระยะเวลาไม่เกินสองปี โดยบริษัท และพนักงานได้ทำสัญญาเป็นหนังสือไว้ตั้งแต่เมื่อเริ่มจ้าง ทางบริษัท จะเลิกจ้างพนักงานเมื่อครบกำหนดโดยไม่จ่ายเงินค่าชดเชย</li>
							<li>หากพนักงานชั่วคราวขาดงาน ทางบริษัท จะงดจ่ายค่าจ้างตามจำนวนวันที่ขาดงาน</li>
						</ol>
					</p>
					
					<p>ประเภทที่ 2 การจ้างตามสัญญา</p>
					<p>
						<ul class="a">
							<li>สำหรับพนักงานที่ได้รับการว่าจ้างให้ปฏิบัติหน้าที่ในโครงการพิเศษในระยะเวลาที่กำหนดไว้อย่างแน่นอน จะมีการทำสัญญาว่าจ้างแยกต่างหากเป็นกรณีไป</li>
						</ul>
					</p>
					
					<p>ประเภทที่ 3 การทดลองงาน และการจ้างประจ</p>
					<p>
						<ol>
							<li>พนักงานทุกคนต้องผ่านระยะทดลองงานไม่เกิน 119 วัน ก่อนได้รับบรรจุเป็นพนักงานประจำ</li>
							<li>บริษัท อาจขยายระยะเวลาทดลองงานต่อได้ หากเมื่อประเมินผลแล้วพนักงานไม่ผ่านการทดลองงานตามข้อแรก</li>
							<li>ในระยะทดลองงานพนักงานทุกคนจะมีการทำสัญญาจ้างกำหนดระยะเวลาแน่นอน หากพนักงานคนใดประพฤติ ปฏิบัติไม่เหมาะสม หรือมีผลงานไม่เป็นที่น่าพอใจไม่ว่าด้วยเหตุใดก็ตาม สัญญาจ้างย่อมสิ้นสุดลงเมื่อครบกำหนดระยะเวลาในสัญญาจ้างโดยมิต้องบอกกล่าวล่วงหน้า โดยไม่จ่ายเงินค่าชดเชย</li>
							<li>ถ้าพนักงานทดลองงานขาดงาน ทางบริษัท จะงดจ่ายค่าจ้างตามจำนวนวันที่ขาด</li>
							<li>พนักงานที่มีคุณสมบัติตามข้อกำหนดของบริษัท และปฏิบัติงานได้เป็นที่พอใจ อีกทั้งแสดงให้เห็นถึงการมีทัศนคติที่ดี หลังจากผ่านการจ้างตามสัญญาจ้างข้อแรกแล้ว จะได้รับการยืนยันการจ้างงานและบรรจุเป็นพนักงานประจำเป็นลายลักษณ์อักษรจากผู้บริหารของบริษัท หรือผู้ที่ได้รับมอบอำนาจจากบริษัท หรือจากฝ่ายทรัพยากรมนุษย์ของบริษัทตามที่ได้รับมอบหมาย</li>
							<li>เมื่อพนักงานทำงานให้บริษัทจนเป็นที่พอใจ บริษัทเห็นควรปรับเปลี่ยน โยกย้าย และหรือเลื่อนตำแหน่งให้กับพนักงานได้ตามสมควร เพื่อไปปฏิบัติงานให้กับหน่วยงานหนึ่งหน่วยงานใดของบริษัทหรือในเครือของบริษัท ทั้งในประเทศและต่างประเทศ</li>
						</ol>
					</p>
					
					<h4>หมวดที่ 6 วันทำงาน เวลาทำงานปกติ วันหยุด และเวลาพัก</h4>
					<p>
						<ol>
							<li>พนักงานต้องมีชั่วโมงการทำงานปกติ 8 ชั่วโมงต่อวัน หรือสัปดาห์ละ 48 ชั่วโมงโดยไม่รวมเวลาพักและรับประทานอาหารกลางวันละ 1 ชั่วโมง</li>
							<li>สำหรับพนักงานประจำสำนักงานวันทำงานปกติคือ ตั้งแต่วันจันทร์ ถึง วันเสาร์ เวลาทำงานปกติตั้งแต่ 08.00 น. - 17.00 น. เวลาพักรับประทานอาหารกำหนดให้ไม่เกิน
							หนึ่งชั่วโมงระหว่างเวลา 12.00 น. - 13.00 น. วันหยุดประจำสัปดาห์คือวันอาทิตย์ ในกรณีที่มีการทำงานล่วงเวลาต่อจากเวลาทำงานปกติไม่น้อยกว่า 2 ชั่วโมง ให้พนักงานพัก 
							30 นาทีก่อนที่พนักงานเริ่มทำงานล่วงเวลา</li>
							<li>สำหรับพนักงานประจำสำนักงานสาขา ประจำจุดขาย ประจำจุดบริการ ทำงานสัปดาห์ละ 6 วัน โดยไม่เกินสัปดาห์ละ 48 ชั่วโมง มีเวลาพักไม่เกินหนึ่งชั่วโมงต่อวัน</li>
							<li>การลงเวลาทำงาน (ให้หมายถึง การบันทึกเวลา/ตอกบัตร/รูดบัตรทำงาน) พนักงานทุกคนต้องลงเวลาทำงาน เข้า – ออก ตามแบบที่บริษัทกำหนด เว้นแต่พนักงานระดับตำแหน่ง
							 ผู้จัดการฝ่ายอาวุโสขึ้นไป หรือพนักงานอื่นที่ผู้ บริหารได้มีมติอนุมัติเป็นรายบุคคลและเป็นการชั่วคราวให้ปฏิบัติเป็นแบบอื่นแทนการลงเวลาทำงาน อาทิ ดูจากการลงนามเอกสาร
							 การเข้าประชุม เป็นต้น การลงเวลาทำงานถือเป็นหลักฐานการปฏิบัติงานของ พนักงาน กรณีที่ไม่ลงเวลา ทำงาน ให้ถือว่าพนักงานผู้นั้นขาดงาน ยกเว้นพนักงานที่ต้องปฏิบัติงานนอกสถานที่ 
							 หากไม่สามารถลงเวลาทำงานได้เมื่อกลับเข้าบริษัทแล้วต้องลงเวลาเข้า – ออก และแจ้งให้ผู้บังคับบัญชาทราบถึงการปฏิบัติ เพื่อจะได้ลงลายมือชื่อรับทราบในแบบบันทึกเวลา 
							 ถ้าไม่ปฏิบัติตามจะถือว่าพนักงานผู้นั้นขาดงานในวันดังกล่าว</li>
							<li>ห้ามพนักงานบันทึกเวลาแทนกันโดยเด็ดขาด ไม่ว่าจะมีเจตนาหรือไม่มีเจตนาก็ตาม บริษัทถือว่าเป็นการกระทำผิดระเบียบ ข้อบังคับเกี่ยวกับการทำงานขั้นร้ายแรง</li>
							<li>พนักงานซึ่งปฏิบัติงานประจำสาขาของบริษัท/ห้าง/ร้าน ให้ลงเวลา และยึดถือปฏิบัติ ตามระเบียบข้อบังคับของบริษัท/ห้าง/ร้าน ที่พนักงานปฏิบัติหน้าที่ประจำอยู่</li>
							<li>วันหยุดตามประเพณี คือวันหยุดทำงานในรอบปีดำเนินงานตามที่บริษัท ประกาศกำหนด ไม่น้อยกว่าปีละสิบสามวัน โดยรวมวันแรงงานแห่งชาติ ซึ่งทางบริษัทจะประกาศให้
							พนักงานทราบล่วงหน้าในแต่ละปี และจ่ายค่าจ้างให้เท่ากับวันทำงานตามปกติ ถ้าวันหยุดตามประเพณีวันใดตรงกับวันหยุดประจำสัปดาห์ให้เลื่อนวันหยุดตามประเพณีนั้นไปหยุดชดเชย
							ในวันทำงานถัดไป</li>
							<li>วันหยุดพักผ่อนประจำปี คือ วันที่พนักงานมีสิทธิหยุดได้ตามหลักเกณฑ์ดังนี้
								<ul class="a">
									<li>พนักงานประจำทุกคนที่ทำงานครบ 1 ปี มีสิทธิได้หยุดพักผ่อนประจำปีตามอายุงานและระดับดังนี้
										<table class="table">
										  <thead class="thead-inverse">
											<tr>
											  <th>อายุงาน</th>
											  <th>ระดับ A</th>
											  <th>ระดับ B</th>
											  <th>ระดับ C</th>
											  <th>ระดับ D</th>
											</tr>
										  </thead>
										  <tbody>
											<tr>
											  <td>เกิน 1 ปีแต่ไม่เกิน 5 ปี</td>
											  <td>12 วัน</td>
											  <td>9 วัน</td>
											  <td>9 วัน</td>
											  <td>6 วัน</td>
											</tr>
											<tr>
											  <td>เกิน 5 ปีแต่ไม่เกิน 10 ปี</td>
											  <td>15 วัน</td>
											  <td>12 วัน</td>
											  <td>12 วัน</td>
											  <td>9 วัน</td>
											</tr>
											<tr>
											  <td>เกิน 10 ปีแต่ไม่เกิน 15 ปี</td>
											  <td>17 วัน</td>
											  <td>15 วัน</td>
											  <td>15 วัน</td>
											  <td>12 วัน</td>
											</tr>
											<tr>
											  <td>เกิน 15 ปีแต่ไม่เกิน 19 ปี</td>
											  <td>17 วัน</td>
											  <td>17 วัน</td>
											  <td>15 วัน</td>
											  <td></td>
											</tr>
										  </tbody>
										</table>
										ทั้งนี้ระดับพนักงาน A, B, C และ D ให้เป็นไปตามประกาศกำหนดระดับพนักงานของบริษัท<br><br>
									</li>
									<li>พนักงานประจำจะได้รับค่าจ้างระหว่างวันหยุดพักผ่อนประจำปีด้วย</li>
									<li>วันหยุดพักผ่อนประจำปีจะนำไปสะสมหยุดในปีต่อไปไม่ได้</li>
									<li>บริษัท จะเป็นผู้กำหนดวันหยุดพักผ่อนประจำปีให้แก่พนักงานล่วงหน้าในแต่ละปี แต่พนักงานจะต้องแจ้งขอหยุดพักผ่อนประจำปีเป็นลายลักษณ์อักษรตามแบบฟอร์มที่บริษัท กำหนดล่วงหน้า เป็นเวลาอย่างน้อย 7 วันต่อผู้บังคับบัญชาเพื่ออนุมัติก่อน จึงจะหยุดได้โดยได้รับค่าจ้าง</li>
								</ul>
							</li>
						</ol>
					</p>
					
					<h4>หมวดที่ 7 การจ่ายเงินเดือน ค่าล่วงเวลา ค่าทำงานในวันหยุด ค่าล่วงเวลาในวันหยุด และสวัสดิการพนักงาน</h4>
					<p>
						<ol>
							<li>บริษัท จะจ่ายเงินเดือน ค่าล่วงเวลา ค่าทำงานในวันหยุด และค่าล่วงเวลาในวันหยุดเดือนละหนึ่งครั้งในวันทำงานปกติวันสุดท้ายของเดือน โดยจะจ่ายผ่านทางธนาคารตามที่บริษัทกำหนด 
							 หรือจ่ายเป็นเงินสด ตามแต่กรณี</li>
							<li>บริษัท อาจให้พนักงานทำงานล่วงเวลาในวันทำงาน หรือทำงานในวันหยุด รวมถึงล่วงเวลาในวันหยุดได้เป็นครั้งคราว โดยได้รับความยินยอมจากพนักงานเป็นแต่ละคราวไป เว้นแต่ในกรณีที่ลักษณะ
							 หรือสภาพของงานต้องทำติดต่อกันไป ถ้าหยุดจะเสียหายแก่งาน หรือเป็นงานฉุกเฉิน บริษัทจะให้พนักงานทำงานล่วงเวลาในวันทำงาน ทำงานในวันหยุด 
							 และทำงานล่วงเวลาในวันหยุดได้เท่าที่จำเป็น โดยไม่ต้องได้รับความยินยอมจากพนักงานก่อน การทำงานล่วงเวลาในวันทำงาน ทำงานในวันหยุด และล่วงเวลาในวันหยุด จะไม่เกินสัปดาห์ละ 36 ชั่วโมง</li>
							<li>เมื่อผู้บังคับบัญชาเห็นสมควรให้พนักงานปฏิบัติงานนอกหรือเกินเวลาทำงานปกติหรือทำงานในวันหยุด ให้เสนอเรื่องต่อผู้บังคับบัญชาตามลำดับชั้น เมื่อได้รับอนุมัติจากผู้บังคับบัญชาตามลำดับชั้นแล้ว 
							 จึงจะปฏิบัติงานนอกหรือเกินเวลาทำงานปกติหรือทำงานในวันหยุดได้</li>
							<li>การทำงานในวันหยุดโดยปกติให้เริ่มและสิ้นสุดการปฏิบัติงานในวันนั้น ๆ เช่นเดียวกับเวลาทำงานของวันทำงานปกติ เว้นแต่ผู้บังคับบัญชาเห็นสมควรให้พนักงานทำงานเกินเวลาดังกล่าว
							 เพื่อประโยชน์ของบริษัทและจะต้องมีหนังสืออนุมัติจากผู้บังคับบัญชาตามลำดับชั้น</li>
							<li>บริษัท กำหนดให้มีการจ่ายค่าล่วงเวลาและค่าทำงานในวันหยุดตามอัตราดังนี้
								<ul class="a">
									<li>ค่าล่วงเวลาในวันทำงานปกติ หมายถึง ค่าล่วงเวลาที่เกิดจากการทำงานนอกหรือเกินเวลาทำงานปกติ โดยบริษัทจะจ่ายค่าตอบแทนให้ในอัตรา 1.5 เท่าของอัตราค่าจ้างต่อชั่วโมง คูณด้วยจำนวนชั่วโมงที่ทำงาน</li>
									<li>ค่าทำงานในวันหยุดประจำสัปดาห์ วันหยุดตามประเพณี และวันหยุดพักผ่อนประจำปี หมายถึง ค่าตอบแทนการทำงานในเวลาทำงานปกติในวันหยุดประจำสัปดาห์ วันหยุดตามประเพณี และวันหยุดพักผ่อนประจำปีบริษัทจะจ่ายค่าทำงานในวันหยุดให้แก่พนักงานในอัตรา ดังต่อไปนี้
										<ul class="b">
											<li>สำหรับพนักงานที่ได้รับค่าจ้างในวันหยุด บริษัทจะจ่ายให้เพิ่มขึ้น 1 เท่าของอัตราค่าจ้างต่อชั่วโมงในวันทำงานตามจำนวนชั่วโมงที่ทำงาน</li>
											<li>สำหรับพนักงานที่ไม่มีสิทธิ์ได้รับค่าจ้างในวันหยุด บริษัทจะจ่ายให้ 2 เท่าของอัตราค่าจ้างต่อชั่วโมงในวันทำงานตามจำนวนชั่วโมงที่ทำงาน</li>
										</ul>	
									</li>
									<li>ค่าล่วงเวลาในวันหยุดประจำสัปดาห์ วันหยุดตามประเพณี และวันหยุดพักผ่อนประจำปี หมายถึง ค่าล่วงเวลาที่เกิดขึ้นจากการทำงานนอกหรือเกินเวลาทำงานปกติ 8 ชั่วโมงแรกในวันหยุด บริษัทจะจ่ายค่าตอบแทนให้ในอัตรา 3 เท่า ของอัตราค่าจ้างต่อชั่วโมงในวันทำงานตามจำนวนชั่วโมงที่ทำงาน</li>
									<li>ค่าล่วงเวลาและค่าทำงานในวันหยุดประจำสัปดาห์ วันหยุดตามประเพณี และวันหยุดพักผ่อนประจำปี จะจ่ายให้ในวันเดียวกับการจ่ายเงินเดือน</li>
								</ul>
							</li>
							<li>ในกรณีที่บริษัทเลิกจ้างพนักงาน บริษัทจะจ่ายค่าจ้าง ค่าล่วงเวลา ค่าทำงานในวันหยุด และค่าล่วงเวลาในวันหยุดตามที่พนักงานมีสิทธิได้รับ ให้แก่พนักงานภายใน 3 วันนับแต่วันที่เลิกจ้าง</li>
							<li>บริษัท กำหนดให้มีสวัสดิการให้แก่พนักงานตามสมควร ดังนี้ 
								<ul class="a">
									<li>ซื้อสินค้าบริษัท ในราคาสวัสดิการ</li>
							 		<li>เบี้ยขยัน</li>
							 		<li>ค่าโทรศัพท์มือถือเพื่อใช้ในการติดต่องานของบริษัท</li>
							 		<li>ค่าน้ำมันรวมค่าสึกหรอยานพาหนะ</li>
							 		<li>เครื่องแบบพนักงาน ตามแต่ตำแหน่งงาน</li>
							 		<li>ค่าเบี้ยเลี้ยงและค่าที่พักในกรณีเดินทางไปติดต่องานนอกสถานที่ต่างจังหวัดหรือต่างประเทศ</li>
							 		<li>บ้านพักพนักงาน เป็นกรณีๆ ไป
							 		<li>ค่าคอมมิชชั่น เป็นต้น</li>
								</ul>
							</li>
						</ol>
					</p>
					
					<h4>หมวดที่ 8 การลาและหลักเกณฑ์การลา</h4>
					<p>การลาป่วย ลากิจ และการหยุดพักผ่อนประจำปี ไม่นับวันหยุดทำงานของบริษัท รวมเข้าเป็นวันลาด้วย ไม่ว่าวันหยุดนั้นจะอยู่ในระหว่างหรือก่อนหรือหลังวันลาการลา การหยุดทุกกรณี พนักงานต้องใช้แบบฟอร์มตามที่บริษัทกำหนด</p>
					<p>
						<ol>
							<li>การลาป่วย
								<ul class="a">
							 		<li>พนักงานมีสิทธิลาป่วยได้เท่าที่ป่วยจริง โดยได้รับค่าจ้างไม่เกิน 30 วันทำงานในหนึ่งปี ตามที่กำหนดไว้ใน กฎหมายแรงงาน</li>
							 		<li>เมื่อเกิดอาการเจ็บป่วย พนักงานต้องแจ้งให้ผู้บังคับบัญชาทราบก่อนเริ่มงาน หรือทันที โดยการแจ้งด้วยตนเอง โทรศัพท์ โทรสาร อีเมล์ หรือวิธีอื่นใดที่จะให้ผู้บังคับบัญชาทราบ</li>
							 		<li>พนักงานต้องยื่นใบลาป่วยต่อผู้บังคับบัญชาในวันแรกที่กลับมาทำงาน</li>
							 		<li>การลาป่วยตั้งแต่ 3 วันทำงานขึ้นไปไม่ว่าจะมีวันหยุดอื่นคั่นหรือไม่ก็ตาม พนักงานจะต้องแสดงใบรับรองแพทย์แผนปัจจุบันชั้น 1 และต้องยื่นใบลาป่วยต่อผู้บังคับบัญชาในวันแรกที่กลับมาทำงาน ในกรณีพนักงานไม่อาจแสดงใบรับรองของแพทย์แผนปัจจุบันชั้นหนึ่ง หรือของสถานพยาบาลของทางราชการได้ ให้พนักงานชี้แจงให้บริษัททราบ ถ้าบริษัทจัดแพทย์ไว้ให้แพทย์นั้นเป็นผู้ออกใบรับรอง เว้นแต่พนักงานไม่สามารถให้แพทย์นั้นตรวจได้ พนักงานผู้ใดละเลยหรือเจตนาหลีกเลี่ยงไม่ปฏิบัติตามข้อ 1.2, 1.3 และ 1.4 ให้ถือเป็นการขาดงานซึ่งมิใช่การลาป่วย</li>
							 	</ul>
							</li>
							<li>การลากิจ
								<ul class="a">
									<li>พนักงานมีสิทธิลากิจธุระอันจำเป็นโดยได้รับค่าจ้างไม่เกิน 6 วันทำงานในหนึ่งปี โดยมีเหตุอันควร แต่ช่วงระหว่างทดลองงานพนักงานลากิจธุระอันจำเป็นได้แต่ไม่ได้รับค่าจ้าง</li>
							 		<li>พนักงานที่มีความประสงค์จะลากิจจะต้องแจ้งเป็นลายลักษณ์อักษรต่อผู้บังคับบัญชาเพื่ออนุมัติล่วงหน้าอย่างน้อย 2 วัน ในกรณีฉุกเฉินไม่สามารถส่งใบลาล่วงหน้าได้ให้แจ้งต่อผู้บังคับบัญชา โดยทางโทรศัพท์ โดยเร็วที่สุด และให้ส่งใบลาในวันแรกที่มาปฏิบัติงาน พร้อมแสดงเอกสารหลักฐานแนบประกอบการลา</li>
							 	</ul>
							</li>
							<li>การลาคลอดบุตร<br>
								<ul class="a">
									<li>พนักงานซึ่งเป็นหญิงมีสิทธิลาคลอดครรภ์หนึ่งไม่เกิน 90 วันปฏิทิน โดยจะได้รับค่าจ้าง 45 วันปฏิทิน</li>
									<li>พนักงานซึ่งเป็นหญิงที่จะลาคลอดจะต้องแจ้งให้ผู้บังคับบัญชาทราบถึงวันครบกำหนดคลอดล่วงหน้า 2 เดือน และจะต้องยื่นใบขอลาคลอดให้ฝ่ายทรัพยากรมนุษย์ ก่อนวันครบกำหนดคลอด การลาคลอดจะต้องมีใบรับรองแพทย์แผนปัจจุบันชั้น 1 ประกอบการลาด้วย</li>
									<li>พนักงานหญิงมีครรภ์ ให้แจ้งบริษัททราบทันที ที่ทราบถึงการตั้งครรภ์</li>
									<li>ในกรณีพนักงานซึ่งเป็นหญิงมีครรภ์มีใบรับรองของแพทย์แผนปัจจุบันชั้น 1 มาแสดงว่าไม่อาจทำงานในหน้าที่เดิมต่อไปได้ ให้พนักงานซึ่งเป็นหญิงมีครรภ์มีสิทธิขอให้บริษัทเปลี่ยนงาน ในหน้าที่เดิมเป็นการชั่วคราวก่อนหรือหลังคลอดได้ และทางบริษัทจะพิจารณาเปลี่ยนงานที่เหมาะสมให้แก่พนักงานนั้น</li>
								</ul>	
							</li>
							<li>พนักงานมีสิทธิลาเพื่อทำหมันได้ และมีสิทธิลาเนื่องจากการทำหมันโดยได้รับค่าจ้างตามระยะเวลาที่แพทย์แผนปัจจุบันชั้นหนึ่งกำหนด และออกใบรับรอง</li>
							<li>การลาอุปสมบทหรือลาไปประกอบพิธีฮัจย์ ณ เมืองเมกกะ ประเทศซาอุดิอาระเบีย พนักงานที่ยังไม่เคยอุปสมบทหรือประกอบพิธีฮัจย์ และมีอายุการทำงานในบริษัทมาแล้วไม่น้อยกว่าหนึ่งปี 
							 จะลาอุปสมบทหรือประกอบพิธีฮัจย์ได้มีกำหนดไม่เกินสามสิบวันโดยไม่ได้รับค่าจ้าง โดยให้ยื่นใบลาเป็นลายลักษณ์อักษรล่วงหน้าอย่างน้อย 30 วันต่อผู้บังคับบัญชาต้นสังกัดเพื่อทราบ
							 และให้นำเสนอต่อผู้บริหารเพื่ออนุมัติ และเมื่อลาสิกขาบทหรือเดินทางกลับจากการประกอบพิธีฮัจย์แล้ว ต้องกลับเข้าทำงานทันทีและถือว่าสิทธิการลาประเภทนี้สิ้นสุดแม้จะยังไม่ครบวันลา</li>
							<li>การลาเพื่อเข้ารับราชการทหาร ให้ได้รับค่าจ้างตามระยะเวลาที่ทางราชการกำหนดแต่ปีหนึ่งไม่เกิน 60 วัน พนักงานที่ได้รับหมายเรียกหรือหนังสือเพื่อเข้ารับราชการทหาร
							 ให้แจ้งและเขียนใบลาเสนอต่อผู้บังคับบัญชาพร้อมแสดงหมายเรียกหรือหนังสือเพื่อเข้ารับราชการทหารในทันที การถูกเกณฑ์เข้ารับราชการทหารไม่อยู่ภายใต้บังคับของการลาประเภทนี้
							 เมื่อพ้นจากการถูกเกณฑ์เข้ารับราชการทหาร โดยไม่มีความเสียหายอาจขอกลับเข้าทำงานในบริษัท ได้อีกถ้ามีตำแหน่งว่างและเหมาะสม ทั้งนี้ให้อยู่ในดุลยพินิจของผู้บริหาร</li>
							<li>การลาเพื่อฝึกอบรมหรือพัฒนาความรู้ ให้พนักงานมีสิทธิลาเพื่อการฝึกอบรมหรือพัฒนาความรู้ความสามารถ โดยไม่ได้ัรับค่าจ้าง ในกรณีดังต่อไปนี้
								<ul class="a">
									<li>เพื่อประโยชน์ต่อการแรงงานและสวัสดิการสังคม หรือการเพิ่มทักษะความชำนาญเพื่อประสิทธิภาพในการทำงานของพนักงาน</li>
									<li>การสอบวัดผลทางการศึกษาที่ทางราชการจัดหรืออนุญาตให้จัดขึ้น แต่ไม่รวมไปถึงการลาศึกษาต่อ</li>
									<li>ให้ยื่นใบลาเป็นลายลักษณ์อักษรล่วงหน้าไม่น้อยกว่า 7 วันต่อผู้บังคับบัญชาต้นสังกัดเพื่อทราบ และให้นำเสนอต่อผู้บริหารเพื่ออนุมัติ เมื่อบริษัทอนุญาตแล้วจึงจะลาหยุดเพื่อการดังกล่าวได้</li>
								</ul> 	
							</li>
							<li>การลาพิเศษ พนักงานมีสิทธิขอลานอกเหนือไปจากการลาหยุดพักผ่อนประจำปีและหลักเกณฑ์ที่กำหนดไว้ในข้อ 1 ถึงข้อ 7 ได้โดยไม่ได้รับค่าจ้างและเงินตอบแทน โดยถือเป็นการลาพิเศษ 
							 โดยจะต้องมีการพิจารณาเป็นรายกรณีไป</li>
							<li>อำนาจในการอนุญาตให้ลา
								<ul class="a">
									<li>ลาป่วย ลากิจ หยุดพักผ่อนประจำปี ไม่เกิน 3 วัน เป็นอำนาจของผู้บังคับบัญชาตั้งแต่ระดับหัวหน้างานขึ้นไป จนถึงระดับผู้จัดการฝ่ายหรือเทียบเท่า ตามแต่กรณี</li>
									<li>ลาป่วย ลากิจ ลาหยุดพักผ่อนประจำปี เกิน 3 วันขึ้นไป ลาคลอดบุตร ลาทำหมัน ลาเพื่อเข้ารับราชการทหาร ลาอุปสมบทหรือลาไปประกอบพิธีฮัจย์ ลาเพื่อฝึกอบรมหรือพัฒนาความรู้ เป็นอำนาจของผู้บริหาร หรือผู้ที่ได้รับมอบหมายแล้วแต่กรณี</li>
									<li>กรณีพนักงานขอลาที่ถือเป็นการลาพิเศษ ให้เป็นอำนาจของผู้บริหาร หรือผู้ที่ได้รับมอบหมายแล้วแต่กรณี ทั้งนี้โดยให้คำนึงถึงความเสียหายของบริษัท ว่าจะเกิดความเสียหายหรือไม่</li>
								</ul>	
							</li>
						</ol>
					</p>
					
					<h4>หมวดที่ 9 วินัย</h4>
					<p>
						นโยบายโดยทั่วไปสำหรับวินัยของพนักงานบริษัทนั้น คือทางบริษัทต้องการให้พนักงานแต่ละคนปฏิบัติงานในหน้าที่ให้ดีที่สุดตามความสามารถของแต่ละคน และต้องประพฤติปฏิบัติตนทั้งในขณะ ปฏิบัติหน้าที่และเมื่ออยู่ภายนอกบริษัท เพื่อก่อให้เกิดผลดีต่อตนเองและเพื่อชื่อเสียงของบริษัท พนักงานทุกคนต้องเคารพในอำนาจของผู้บังคับบัญชา และต้องปฏิบัติตามกฎและระเบียบของบริษัทที่กำหนดไว้ทุกประการโดยเคร่งครัด
					</p>
					<p>
						<ol>
							<li>พนักงานต้องแจ้งต่อฝ่ายทรัพยกรมนุษย์ถึงข้อมูลเกี่ยวกับที่พักอาศัย หมายเลขโทรศัพท์ สถานภาพการสมรส การมีบุตร การเปลี่ยนชื่อ-นามสกุล เมื่อมีการเปลี่ยนแปลงข้อมูลใดก็ตามจะต้องแจ้ง
							 ฝ่ายทรัพยากรมนุษย์ให้ทราบภายใน 7 วัน</li>
							<li>การทำงาน
								<ul class="a">
									<li>พนักงานต้องมาทำงานตรงตามเวลาและต้องปฏิบัติงานตามเวลาที่กำหนดไว้</li>
								 	<li>การมาทำงานสายถือว่าผิดวินัยและจะได้รับการดำเนินการทางวินัย</li>
								 	<li>พนักงานต้องปฏิบัติตามระเบียบว่าด้วยการลางานหรือหยุดงานโดยเคร่งครัด</li>
								 	<li>พนักงานต้องไม่ขาดงานโดยปราศจากการอนุญาตที่เป็นลายลักษณ์อักษรจากผู้บังคับบัญชาตามลำดับชั้น</li>
									<li>พนักงานที่ขาดงานโดยไม่ได้รับอนุญาตเป็นลายลักษณ์อักษรจะถูกงดจ่ายค่าจ้างในวันที่ขาดงาน และจะถูกดำเนินการทางวินัยตามความเหมาะสมด้วย</li>
								</ul>
							</li>
							<li>การขาดงาน
								<ul class="a">
							 		<li>การขาดงานโดยไม่ได้รับอนุญาตเกิน 3 วันทำงาน อาจเป็นเหตุให้ถูกปลดจากงานโดยไม่มีการบอกกล่าวล่วงหน้าและไม่จ่ายเงินชดเชย</li>
							 		<li>ในกรณีฉุกเฉินที่พนักงานไม่สามารถมารายงานตัวตามเวลาปฏิบัติงานได้ต้องโทรศัพท์แจ้งให้ผู้บังคับบัญชา หรือฝ่ายทรัพยากรมนุษย์ทราบโดยทันที</li>
								</ul>
							</li>
							<li>การเข้า-ออก บริเวณบริษัท
								<ul class="a">
							 		<li>พนักงานจะต้องเข้า-ออกทางประตูสำหรับพนักงานที่กำหนดไว้เท่านั้น</li>
							 		<li>ห้ามพนักงานบันทึก ตอกบัตร รูดบัตรลงเวลาให้กับพนักงานคนอื่น ถ้าฝ่าฝืนจะถูกดำเนินการทางวินัย</li>
							 		<li>พนักงานที่เข้ามาในบริเวณของบริษัท จะต้องแต่งกายให้สุภาพเรียบร้อยตามแบบบริษัทกำหนด</li>
							 		<li>พนักงานต้องคล้องบัตร หรือติดบัตรประจำตัวพนักงานขณะอยู่ในบริเวณบริษัท ตลอดเวลาทำงาน หรือขณะให้บริการลูกค้าประจำสาขา ประจำจุดบริการ หรือขณะให้บริการลูกค้านอกสถานที่</li>
							 		<li>นอกจากการทำงานตามเวลาทำงาน หรือตามหน้าที่ที่ได้รับมอบหมาย ห้ามพนักงานเข้ามาหรืออยู่ในสถานที่ทำงาน บริเวณของบริษัทหรือของลูกค้าโดยไม่ได้รับอนุญาต</li>
							 		<li>ห้ามนำบุคคลภายนอก ที่ไม่มีส่วนเกี่ยวข้องในการทำงานเข้าไปในสถานที่ทำงานบริเวณของบริษัท และหรือสาขาของบริษัทโดยไม่ได้รับอนุญาต</li>
								</ul>
							</li>
							<li>การตรวจค้น พนักงานต้องยินยอมให้ผู้ที่ได้รับมอบหมายจากทางบริษัท ตรวจค้นได้ทั้งในเวลาเข้า-ออก หรือขณะที่อยู่ในบริเวณบริษัท</li>
							<li>การนำของออกจากบริษัท
								<ul class="a">
							 		<li>การนำหีบห่อ สัมภาระส่วนตัว ออกนอกบริษัท บริษัทอาจให้ผู้ได้รับมอบหมายตรวจสอบก่อนจึงจะนำออกไป</li>
							 		<li>ทรัพย์สินหรืออุปกรณ์ของบริษัท หรือของลูกค้าที่นำมาฝากไว้ที่บริษัทเพื่อซ่อม เพื่อขาย หรือเพื่อการอื่นใด ที่ต้องนำออกไปเพื่อปฏิบัติงาน หรือทำกิจกรรมของบริษัท หรือเพื่อซ่อมแซมจะต้องมีใบอนุญาตนำออกโดยมีลายเซ็นของผู้จัดการแผนก/ผู้จัดการฝ่ายที่เกี่ยวข้อง และต้องให้ผู้ที่ได้รับมอบหมายจากบริษัท เซ็นชื่อรับทราบก่อนจึงนำออกไปได้ และเมื่อนำของเข้าจะต้องให้ผู้ที่ได้รับมอบหมายตรวจสอบและลงบันทึกไว้เป็นหลักฐาน</li>
								</ul>
							</li>
							<li>การใช้โทรศัพท์ส่วนตัว บริษัทอนุญาตให้พนักงานใช้โทรศัพท์ในเรื่องส่วนตัวในเวลาทำงานเฉพาะเหตุจำ เป็นเท่านั้น การใช้โทรศัพท์ทางไกลหรือมือถือให้พนักงานเป็นผู้รับผิดชอบค่าใช้จ่าย
							 โดยจะต้องจดบันทึกเลขหมายและเวลาในการใช้เพื่อเปรียบเทียบค่าใช้จ่ายกับใบแจ้งหนี้ขององค์การโทรศัพท์หรือการสื่อสารแห่งประเทศไทย</li>
							<li>พนักงานได้รับบาดเจ็บหรือประสบอุบัติเหตุขณะทำงาน ต้องรายงานให้ผู้บังคับบัญชา หรือฝ่ายทรัพยากรมนุษย์ทราบโดยทันที</li>
							<li>วินัยอื่นๆ
								<ul class="a">
							 		<li>ต้องรักษาความลับของบริษัท ของเพื่อนพนักงาน ผู้บังคับบัญชา และลูกค้าอย่างเคร่งครัด</li>
							 		<li>ต้องปฏิบัติหน้าที่ด้วยความซื่อสัตย์ เที่ยงธรรม และประพฤติตนอยู่ในความสุจริต ทั้งต้องไม่กระทำการหรือยอมให้ ผู้อื่นกระทำการหาผลประโยชน์อย่างใดๆ 
							 อันอาจเป็นทางให้เสียความเที่ยงธรรมหรือความไว้วางใจในการปฏิบัติหน้าที่</li>
							 		<li>ต้องสุภาพเรียบร้อย อยู่ในมารยาทอันดีงาม เชื่อฟังและไม่แสดงความกระด้างกระเดื่องต่อผู้บังคับบัญชา ทั้งต้องปฏิบัติตามคำสั่งของผู้บังคับบัญชาซึ่งสั่งในหน้าที่โดยชอบ 
							 และห้ามกระทำการข้ามผู้บังคับบัญชาเว้นแต่ได้รับอนุญาต</li>
							 		<li>ต้องให้บริการลูกค้าทั้งภายในและภายนอก ให้การต้อนรับ คำชี้แจง ความสะดวก ความเป็นธรรมแก่ผู้ที่มาติดต่อด้วยความสุภาพเรียบร้อย และโดยมิชักช้า</li>
							 		<li>ต้องอุทิศเวลาให้แก่กิจการของบริษัท จะละทิ้งหรือทอดทิ้งหน้าที่ไม่ได้</li>
							 		<li>ต้องรักษาและคงไว้ซึ่งความสามัคคีระหว่างพนักงาน ไม่ยุยงส่งเสริม ไม่สนับสนุนให้เกิดความแตกความสามัคคี ไม่ทะเลาะวิวาทหรือการทำร้ายร่างกายในหมู่พนักงานของบริษัท 
							 หรือระหว่างพนักงานของบริษัทกับบุคคลภายนอก</li>
							 		<li>ต้องปฏิบัติหน้าที่ด้วยความอุตสาหะ รวดเร็ว ให้เกิดผลดี และความก้าวหน้าแก่บริษัท ทั้งต้องเอาใจใส่รักษาผลประโยชน์และชื่อเสียงอันดีของบริษัท</li>
							 		<li>ต้องประพฤติตนให้อยู่ในศีลธรรมอันดี ไม่ประพฤติเสื่อมเสีย ไม่กระทำการอันได้ชื่อว่าประพฤติชั่ว เช่น ประพฤติตนเป็นคนเสเพล มีหนี้สินรุงรัง เสพสุรา ของมึนเมาจนไม่สามารถ
							 ครองสติได้ เสพยาเสพติดให้โทษ เล่นการพนัน กระทำความผิดอาญา หรือกระทำความผิดอื่นใดซึ่ง ความประพฤติหรือการกระทำดังกล่าวอาจทำให้เสื่อมเสียแก่เกียรติศักดิ์
							 ของตำแหน่งหน้าที่ของบริษัท</li>
							 		<li>ต้องไม่เสพสุรา ของมึนเมา หรือยาเสพติดก่อนปฏิบัติหน้าที่ ในระหว่างเวลาทำงาน หรือในขณะปฏิบัติหน้าที่</li>
							 		<li>ต้องไม่ดูหมิ่นเหยียดหยามบุคคลใดๆ</li>
							 		<li>ต้องรักษาความสะอาดไม่ทิ้งสิ่งของหรือสิ่งปฏิกูลใดๆ นอกภาชนะที่บริษัทได้จัดไว้</li>
							 		<li>ช่วยกันดูแลประหยัดการใช้วัสดุ อุปกรณ์ เครื่องมือเครื่องใช้ในการปฏิบัติงาน พลังงานและสิ่งอื่นๆให้สิ้นเปลืองน้อยที่สุด</li>
							 		<li>ไม่ช่วยเหลือสนับสนุน ชักจูง รู้เห็นเป็นใจ หรือเพิกเฉย ต่อการกระทำความผิดของพนักงานอื่น</li>
							 		<li>ห้ามรับจ้างทำงาน หรือดำเนินธุรกิจใดๆอันอาจเป็นผลกระทบกระเทือนเวลาทำงาน หรือกิจการของบริษัท</li>
							 		<li>ไม่ประพฤติตนหรือกระทำการใดๆให้บริษัท หรือลูกค้า หรือพนักงานของบริษัท เสื่อมเสียชื่อเสียง หรืออาจได้รับความเสียหาย</li>
							 		<li>ระมัดระวังดูแลรักษาสิ่งของหรือทรัพย์สินของบริษัทและของลูกค้า และต้องแจ้งให้หัวหน้างานทราบเมื่อทำสิ่งของ หรือของลูกค้าเสียหายหรือสูญหาย</li>
							 		<li>ห้ามสูบบุหรี่ภายในสถานที่ทำงานบริเวณบริษัท หรือก่อให้เกิดประกายไฟ ในสถานที่ซึ่งเก็บวัสดุไวไฟหรือวัตถุซึ่งเป็นเชื้อเพลิงหรือภายในบริเวณของบริษัท 
							 เว้นแต่สถานที่ที่บริษัทได้กำหนดไว้ให้เท่านั้น</li>
							 		<li>ห้ามพนักงานนำซอฟท์แวร์ หรือโปรแกรมคอมพิวเตอร์ที่ทางบริษัท ไม่ได้รับลิขสิทธิ์ หรือนำข้อมูลจากทางอินเตอร์เน็ตหรือโปรแกรมที่บริษัทฯไม่อนุญาตให้ใช้งาน 
							 และหรือไม่ได้รับอนุญาตจากเจ้าของลิขสิทธิ์ แล้วนำมาใช้งานในบริษัท หรือสาขาไม่ว่าจะนำมาแสวงหาผลประโยชน์หรือไม่ก็ตาม โดยการกระทำดังกล่าวบริษัท
							 ถือว่าเป็นการทำให้บริษัท ได้รับความเสียหาย</li>
							 		<li>ให้ศึกษาและทำความเข้าใจถึงวิธีการใช้ และตำแหน่งในด้านความปลอดภัยของทรัพย์สินของบริษัท และของพนักงานก่อนที่จะใช้เสมอ และต้องใช้เครื่องป้องกันอันตรายที่บริษัทจัดหาให้</li>
							 		<li>ให้ความร่วมมือกับบริษัท ในการสอบสวนเรื่องราวต่างๆ ที่บริษัทต้องการและในการให้ความร่วมมือดังกล่าว พนักงานจะต้องกระทำการต่างๆ ด้วยความสุจริต</li>
							 		<li>ไม่พกอาวุธหรือครอบครองสิ่งผิดกฎหมายเข้ามาบริเวณของบริษัท ทั้งในและนอกเวลาปฏิบัติหน้าที่</li>
							 		<li>ห้ามเล่นการพนันในบริเวณของบริษัท หรือ ที่ทำการของลูกค้าหรือบริเวณบ้านพักที่บริษัทจัดให้ ไม่ว่าจะเป็น เวลาทำงานหรือนอกเวลาทำงานก็ตาม ห้ามเล่นการพนันในขณะปฏิบัติหน้าที่ 
							 หรือสิ่งเสริมให้มีการเล่นการพนัน หรือมีหนี้สินจากการเล่นการพนัน หรือถูกจับกุมเนื่องจากการเล่นการพนันไม่ว่านอกหรือในสถานที่ทำงาน</li>
							 		<li>ไม่อาศัยอำนาจหน้าที่ หรือโอกาสในการทำงานกับบริษัทเพื่อแสวงหาผลประโยชน์ใดๆ อันขัดต่อจรรยาบรรณวิชาชีพแรงงาน ระเบียบประเพณีในการทำงาน 
							 กฎหมายหรือขัดต่อผลประโยชน์ของบริษัท</li>
							 		<li>ถ้าถูกฟ้องเป็นจำเลยคดีอาญาหรือคดีแพ่ง ต้องรายงานเป็นหนังสือให้ผู้บังคับบัญชาทราบโดยด่วน เว้นแต่คดีอาญาที่กระทำผิดโดยประมาทหรือความผิดลหุโทษ</li>
							 		<li>ต้องไม่รายงานเท็จ แจ้งข้อความเท็จต่อบริษัท หรือต่อผู้บังคับบัญชา หรือต่อลูกค้า การรายงานโดยปกปิด ข้อความซึ่งควรต้องรายงานถือเป็นรายงานเท็จด้วย รวมทั้งไม่เปลี่ยนแปลง 
							 ปลอม แก้ไข ตัดทอน หรือทำลายเอกสารต่างๆ ของบริษัท หรือเอกสารอื่นใดที่ต้องแสดงต่อบริษัท หรือต่อผู้บังคับบัญชา หรือต่อลูกค้า</li>
							 		<li>ต้องปฏิบัติตามระเบียบ ข้อบังคับ ประกาศ คำสั่ง หรือวิธีปฏิบัติของบริษัท โดยเคร่งครัด</li>
							 		<li>ต้องไม่เป็นกรรมการ ผู้จัดการ ที่ปรึกษา หรือดำรงตำแหน่งอื่นใดให้กับบริษัท หรือหน่วยงานอื่นๆขณะปฏิบัติงานอยู่กับบริษัท เว้นแต่ได้รับความเห็นชอบจากผู้บริหารของบริษัท</li>
							 	</ul>
							 </li>
						</ol>
					</p>
					
					<h4>หมวดที่ 10 โทษทางวินัย</h4>
					<p>
						การดำเนินความผิดทางวินัยโดยการลงโทษทางวินัยมีอยู่ 6 ประเภทดังนี้
						<ol>
							<li>ตักเตือนด้วยวาจา (บันทึกเป็นลายลักษณ์อักษร)</li>
							<li>ตักเตือนเป็นลายลักษณ์อักษร</li>
							<li>งด หรือ ลดสิทธิประโยชน์ หรือ เงินได้อื่นๆ</li>
							<li>งดขึ้นค่าจ้างเงินเดือน</li>
							<li>พักงาน</li>
							<li>ให้ออก ปลดออก ไล่ออก</li>
						</ol>
					</p>
					
					<h4>ประเภทความผิดและข้อกำหนดการลงโทษ</h4>
					<p>
						<ol>
							<li>ความผิดประเภท 1
								<ul class="a">
									<li>กรณีทำผิดครั้งแรก - ตักเตือนด้วยวาจา (บันทึกเป็นลายลักษณ์อักษร)</li>
									<li>กรณีทำผิดครั้งที่ 2 - ออกหนังสือเตือนเป็นลายลักษณ์อักษรครั้งที่ 1</li>
									<li>กรณีทำผิดครั้งที่ 3 - ออกหนังสือเตือนเป็นลายลักษณ์อักษรครั้งสุดท้าย</li>
									<li>กรณีทำผิดครั้งที่ 4 - ให้ออก ปลดออก ไล่ออกจากงานโดยไม่จ่ายเงินชดเชย</li>
								</ul>
							</li>
							<li>ความผิดประเภท 2
								<ul class="a">
									<li>กรณีทำผิดครั้งแรก - ออกหนังสือเตือนเป็นลายลักษณ์อักษรครั้งที่ 1</li>
									<li>กรณีทำผิดครั้งที่ 2 - ออกหนังสือเตือนเป็นลายลักษณ์อักษรครั้งสุดท้าย</li>
									<li>กรณีทำผิดครั้งที่ 3 - ให้ออก ปลดออก ไล่ออกจากงานโดยไม่จ่ายเงินชดเชย</li>
								</ul>
							</li>
							<li>ความผิดประเภท 3
								<ul class="a">
									<li>กรณีทำผิดครั้งแรก - ออกหนังสือเตือนเป็นลายลักษณ์อักษรครั้งสุดท้าย</li>
									<li>กรณีทำผิดครั้งที่ 2 - ให้ออก ปลดออก ไล่ออกจากงานโดยไม่จ่ายเงินชดเชย</li>
								</ul>
							</li>
							<li>ความผิดประเภท 4
								<ul class="a">
									<li>กรณีทำผิดครั้งแรก - ให้ออก ปลดออก ไล่ออกจากงานโดยไม่จ่ายเงินชดเชย</li>
								</ul>
							</li>
							<li>การลงโทษนั้น ให้ผู้บังคับบัญชาตามลำดับชั้น หรือฝ่ายทรัพยากรมนุษย์เป็นผู้สั่งลงโทษ ตามแต่กรณี และต้องสั่งลงโทษให้เหมาะสมกับความผิด และในคำสั่งลงโทษ 
							 ให้แสดงว่าผู้ถูกลงโทษกระทำผิดวินัยในกรณีใด</li>
							<li>ในกรณีที่พนักงานทำผิดตามข้อ 1 - 4 ข้างต้น ให้ผู้บังคับบัญชาตามลำดับชั้นเป็นผู้นำเสนอต่อผู้บริหาร เพื่อพิจารณาลงโทษพนักงานผู้กระทำผิดได้ตามสมควรแก่กรณีให้เหมาะสมกับความผิด 
							 หรือถ้ามีเหตุอันสมควรลดหย่อนจะนำมาประกอบการพิจารณาลดโทษด้วยก็ได้</li>
							<li>ในระหว่างที่พนักงานถูกสั่งลงโทษพักงาน ให้งดจ่ายค่าจ้าง เงินตอบแทน และสวัสดิการต่างๆ แก่พนักงานผู้นั้น</li>
							<li>ในกรณีที่มีการสั่งพักงานเพื่อดำเนินการสอบสวน พิจารณาความผิด บริษัท จะมีคำสั่งพักงานเป็นหนังสือระบุความผิดและกำหนดระยะเวลาพักงานได้ไม่เกินเจ็ดวัน 
							 โดยจะแจ้งให้พนักงานทราบก่อนการพักงาน ในระหว่างพักงานนี้บริษัทจะจ่ายค่าจ้างไม่น้อยกว่าร้อยละห้าสิบของค่าจ้างในวันทำงานที่พนักงานได้รับก่อนถูกสั่งพักงาน ถ้าการสอบสวนได้ความ
							 ว่าผู้ถูกสั่งพักงานมิได้กระทำความผิด ผู้บริหารหรือผู้ที่ได้รับมอบหมายจะสั่งให้พนักงานผู้นั้นกลับเข้าทำงานในตำแหน่งและอัตราเงินเดือนเดิม และจ่ายค่าจ้างให้แก่พนักงานเท่ากับค่าจ้างในวันทำงาน
							 นับแต่วันที่พนักงานถูกสั่งพักงาน โดยเงินที่จ่ายให้ร้อยละห้าสิบในระหว่างพักงานข้างต้นให้เป็นส่วนหนึ่งของค่าจ้าง พร้อมดอกเบี้ยร้อยละสิบห้าต่อปีถ้าการสอบสวนได้ความว่าผู้ถูกสั่งพักงาน
							 ได้กระทำผิดวินัยจริง หรือมีมลทินมัวหมอง ซึ่งมีโทษถึงขั้นตักเตือนเป็นลายลักษณ์อักษร งดหรือ ลดสิทธิประโยชน์ หรือ เงินได้อื่นซึ่งมิใช่ค่าจ้าง งดขึ้นค่าจ้างเงินเดือน ให้ออก ปลดออก ไล่ออก
							 โดยไม่จ่ายเงินชดเชย ให้มีผลนับตั้งแต่วันที่มีคำสั่งพักงาน รวมทั้งต้องชดใช้ความเสียหาย</li>
							<li>พนักงานที่ถูกสั่งลงโทษมีสิทธิอุทธรณ์เป็นหนังสือต่อผู้บังคับบัญชาตามลำดับชั้น หรือฝ่ายทรัพยากรมนุษย์ เพื่อเสนอต่อผู้บริหารให้พิจารณาภายใน 15 วันนับตั้งแต่วันรับทราบคำสั่ง 
							 โดยการอุทธรณ์นี้ไม่เป็นเหตุให้ระงับการลงโทษ และคำวินิจฉัยของผู้บริหารให้เป็นที่สุด</li>
						</ol>
					</p>
					
					<h4>ความผิดประเภท 1 มีดังนี้</h4>
					<p>
						<ol>
							<li>ไม่แจ้งให้ผู้บังคับบัญชาและฝ่ายทรัพยากรมนุษย์ทราบภายใน 7 วันทำงาน ในกรณีย้ายที่อยู่ใหม่</li>
							<li>ทำให้บริษัท ต้องสูญเสียเวลาการปฏิบัติงานโดยการใช้โทรศัพท์ของบริษัท พูดติดต่อเรื่องส่วนตัวในขณะปฏิบัติหน้าที่</li>
							<li>ปฏิบัติหน้าที่ด้วยความเฉื่อยชา ขาดความสนใจ</li>
							<li>ไม่แจ้งให้ผู้บังคับบัญชาทราบล่วงหน้าอย่างน้อย 3 ชั่วโมงในกรณีที่ไม่สามารถมาปฏิบัติงานที่ได้รับมอบหมาย โดยปราศจากเหตุผลอันสมควร</li>
							<li>ไม่รายงานทันทีที่พบผู้ได้รับบาดเจ็บภายในบริเวณบริษัท หรือเมื่อทราบว่าเครื่อง เฟอร์นิเจอร์ หรือทรัพย์สินอื่น ๆ ของบริษัท กำลังจะได้รับความเสียหาย</li>
							<li>ไม่ลงเวลาเข้า-ออกในการปฏิบัติงาน</li>
							<li>มาปฏิบัติงานสายเป็นประจำโดยไม่มีเหตุผล</li>
							<li>ไม่ปฏิบัติตามคำสั่งของบริษัท เกี่ยวกับการตรวจสุขภาพ เอกซ์เรย์ หรือการป้องกันอัคคีภัย เป็นต้น</li>
							<li>นำสิ่งของเข้ามาในบริษัท โดยไม่มีหน้าที่ หรือโดยไม่ได้รับอนุญาต</li>
							<li>อ่านหนังสือพิมพ์ หนังสือนิตยสาร หรือสิ่งพิมพ์ทุกชนิดขณะปฏิบัติงาน</li>
							<li>ขอเรี่ยไร รับบริจาคเงิน หรือสิ่งของเพื่อจุดประสงค์ใดๆ ก็ตามภายในบริษัท โดยไม่ได้รับอนุญาตจากฝ่ายบริหาร ยกเว้นกระทำเป็นทางการ</li>						
						</ol>
					</p>
					
					<h4>ความผิดประเภท 2 มีดังนี้</h4>
					<p>
						<ol>
							<li>ฝ่าฝืนข้อบังคับเกี่ยวกับสุขอนามัยหรือใช้เครื่องสุขภัณฑ์ผิดประเภท</li>
							<li>ไม่ใช้ทางเข้า-ออกของบริษัท ตามที่กำหนด</li>
							<li>ฝ่าฝืนกฎข้อบังคับเกี่ยวกับความปลอดภัยทั่วๆ ไป หรือกระทำการใดๆ ที่อาจจะทำให้บุคคลอื่นได้รับอันตราย หรือเจตนาเก็บทรัพย์สินของบริษัท หรือของลูกค้าในสถานที่ซึ่งอาจจะทำให้สูญหายหรือเสียหายได้</li>
							<li>สูบบุหรี่ต่อหน้าลูกค้าขณะปฏิบัติหน้าที่ ในบริเวณปรุงอาหาร หรือในบริเวณใดๆ ที่มีป้าย “ห้ามสูบบุหรี่” ติดอยู่</li>
							<li>ไม่ให้ความร่วมมือต่อพนักงานอื่น กล่าวให้ร้ายอาฆาต หรือใช้ภาษาและวาจาที่หยาบคายต่อพนักงานอื่น ปฏิเสธที่จะให้การหรือละเลยไม่ปฏิบัติตามระเบียบว่าด้วยการรักษาความปลอดภัยของบริษัท</li>
							<li>นำแขกหรือบุคคลภายนอกที่ไม่ได้รับอนุญาตเข้ามาในบริเวณเขตหวงห้ามของบริษัท</li>
							<li>ไม่มาปฏิบัติงานในวันและเวลาตามที่ได้รับมอบหมายรวมทั้งวันหยุดประจำสัปดาห์ หรือวันหยุดตามประเพณี
							<li>ไม่ระมัดระวัง ละเลยทำให้ทรัพย์สินของบริษัท เสียหาย หรือสูญหายเป็นมูลค่าต่ำกว่า 500 บาท</li>
							<li>ใช้เครื่อง อุปกรณ์ต่าง ๆ ของบริษัท โดยไม่ได้รับอนุญาต</li>
							<li>ปิดประกาศ ปลดออก เปลี่ยนแปลง เพิ่มเติมข้อความลงในหนังสือพิมพ์หรือประกาศของบริษัท ที่ติดอยู่ตามแผงประกาศ หรือภายในบริเวณบริษัท นอกจากจะได้รับอนุญาตจากผู้บริหาร</li>
							<li>โฆษณาขายอาหาร สินค้า หรือประกอบธุรกิจซื้อขายส่วนตัวภายในบริเวณบริษัท</li>
							<li>เล่นกีฬาในระหว่างปฏิบัติหน้าที่</li>
							<li>ให้การต้อนรับแขกของพนักงานภายในบริเวณเขตหวงห้ามของบริษัท</li>
							<li>ละทิ้งหน้าที่ในระหว่างเวลาปฏิบัติหน้าที่โดยไม่ได้รับอนุญาตจากผู้บังคับบัญชา</li>
						</ol>
					</p>
					
					<h4>ความผิดประเภท 3 มีดังนี้</h4>
					<p>
						<ol>
							<li>แจ้งอาการป่วยด้วยความเท็จ</li>
							<li>ไม่ระมัดระวัง ละเลยทำให้ทรัพย์สินของบริษัทได้รับความเสียหาย หรือสูญหายเป็นมูลค่าตั้งแต่ 500 บาทขึ้นไป</li>
							<li>ใช้ยานพาหนะของบริษัท โดยไม่ได้รับอนุญาต</li>
							<li>แจกจ่ายข้อเขียนหรือสิ่งพิมพ์ต่างๆ ที่ไม่ได้รับอนุญาตภายในบริเวณบริษัท</li>
							<li>บันทึก ตอกบัตร รูดบัตรลงเวลาให้พนักงานอื่นหรือขอร้องให้พนักงานอื่นบันทึก ตอกบัตร รูดบัตรลงเวลาให้</li>
							<li>ทำความเสียหายต่อกลไกของอุปกรณ์ของบริษัท และเครื่องจักรกลต่างๆ หรือเจตนาใช้อุปกรณ์ต่างๆ ของบริษัทผิดวัตถุประสงค์</li>
							<li>ไม่เชื่อฟัง ขัดคำสั่งของผู้บังคับบัญชาโดยชอบธรรมในการปฏิบัติงาน</li>
							<li>ใช้เครื่องมือและอุปกรณ์ต่างๆ ของบริษัท เพื่อผลประโยชน์ส่วนตัวโดยไม่ได้รับอนุญาตจากผู้บริหาร</li>
							<li>ขู่จะทำร้ายร่างกาย ขู่เข็ญ หรือบังคับพนักงานอื่นภายในบริษัท</li>
							<li>ใช้ชื่อของบริษัท เพื่อการค้าส่วนตัว เพื่อประกอบธุรกิจอันเป็นผลประโยชน์ส่วนตัวโดยไม่ได้รับอนุญาตจากฝ่ายบริหาร</li>
							<li>หลับในขณะปฏิบัติหน้าที่หรือนอนหลับภายในบริเวณบริษัท หลังจากพ้นหน้าที่แล้วโดยไม่ได้รับอนุญาตจากผู้บังคับบัญชา</li>
							<li>ให้การเท็จเมื่อมีการสอบถามหรือไต่สวน</li>
							<li>ไม่ส่งของที่เก็บได้ให้แก่ผู้บังคับบัญชาในทันทีที่พบเห็น</li>
						</ol>
					</p>
					
					<h4>ความผิดประเภท 4 มีดังนี้</h4>
					<p>
						<ol>
							<li>ดื่มสุรา เครื่องดองของเมา เสพยาเสพติด ก่อนปฏิบัติหน้าที่ ในขณะปฏิบัติหน้าที่ หรือภายในบริเวณบริษัท และมาทำงานในขณะที่มีลักษณะอาการมึนเมา หรือมีอาการผิดไปจากปกติที่เคยเป็นจนไม่สามารถปฏิบัติหน้าที่ตามที่ได้รับมอบหมายได้</li>
							<li>ทุจริตเงินของบริษัท ทุจริตในหน้าที่ หรือกระทำความผิดทางอาญา</li>
							<li>ยักยอก ขโมยทรัพย์สินของบริษัท ของลูกค้า หรือของพนักงานในบริษัท</li>
							<li>นำทรัพย์สินหรือสินค้าของบริษัท ไปจำหน่ายโดยไม่นำส่งเงินให้บริษัท ตามที่จำหน่ายได้</li>
							<li>รับบริการลูกค้าของบริษัท โดยไม่รายงานต่อบริษัท</li>
							<li>นำทรัพย์สินหรือสินค้าที่อยู่ภายในบริเวณของบริษัท ไม่ว่าจะเป็นของบริษัท หรือของลูกค้า หรือของพนักงานอื่น หรือของบุคคลอื่น ออกนอกบริเวณบริษัท โดยไม่มีหนังสืออนุญาตเป็นลายลักษณ์อักษร</li>
							<li>ครอบครองลูกกุญแจต่างๆ ของบริษัท โดยไม่ได้รับอนุญาต หรือจำลองกุญแจต่างๆ ของบริษัท</li>
							<li>ใช้ตำแหน่งหน้าที่ส่วนตัวเพื่อรับผลประโยชน์จากพนักงานอื่น ทำให้พนักงานอื่นเสียผลประโยชน์ รับเงินโดยตรงหรือทางอ้อม รับค่านายหน้าโดยมิได้รับอนุญาตหรือเสนอให้ความดีความชอบ หรือสัญญาเกี่ยวกับการพิจารณา เพื่อกระทำหรือยับยั้งการกระทำใดๆ เช่น ยับยั้งการถูกไล่ออกของพนักงาน</li>
							<li>เปลี่ยนแปลง ปลอม แก้ไข ตัดทอน หรือทำลายเอกสารต่างๆ ของบริษัทโดยมิได้รับอนุญาต หรือเอกสารอื่นใดที่ต้องแสดงต่อบริษัท หรือต่อผู้บังคับบัญชา หรือต่อลูกค้า</li>
							<li>ไม่รายงานเกี่ยวกับโรคติดต่อร้ายแรงซึ่งทราบแล้วว่าอาจจะเป็นอันตรายต่อสุขภาพของลูกค้า และพนักงานของบริษัท</li>
							<li>เสพหรือครอบครองยาเสพติดให้โทษภายในบริเวณบริษัท</li>
							<li>พกปืน ระเบิด วัตถุไวไฟ หรืออาวุธที่เป็นอันตรายร้ายแรงภายในบริเวณบริษัท</li>
							<li>เปิดเผยความลับของบริษัท หรือของลูกค้าของบริษัท ซึ่งอาจจะเป็นประโยชน์ต่อคู่แข่งขัน หรือผู้ประกอบการอื่น อันจะทำให้บริษัท เสียผลประโยชน์หรือได้รับความเสียหาย ตลอดจนการเปิดเผยความลับให้กับพนักงานอื่นๆ ซึ่งไม่มีสิทธิควรทราบ</li>
							<li>สูบบุหรี่ในเขตหวงห้าม เช่น ห้องเครื่องจักรกล ห้องและบริเวณปฏิบัติงานของช่าง บริเวณเก็บถังแก๊ส ในบริเวณโรงงาน ห้องเก็บของ โกดัง หรือ ในที่ที่มีเครื่องหมาย “ห้ามสูบบุหรี่” เป็นต้น</li>
							<li>ประพฤติหรือปฏิบัติตน หรือบริการลูกค้าหรือพนักงานอื่นในลักษณะที่หยาบโลน หรือผิดวัฒนธรรมประเพณี</li>
							<li>เจตนาไม่สุภาพ ลบหลู่หยาบคาย อวดดี หรือไม่ให้ความสำคัญในการต้อนรับหรือบริการลูกค้าของบริษัท หรือผู้มาติดต่อ</li>
							<li>ขาดงานติดต่อกันเป็นเวลา 3 วันโดยไม่ได้รับอนุญาตจากผู้บังคับบัญชา</li>
							<li>ติดต่อผู้ประกอบการค้ากับทางบริษัทเพื่อขอรับของกำนัลโดยไม่ได้รับอนุญาตเป็นลายลักษณ์อักษรจากผู้บังคับบัญชา</li>
							<li>จัดและดำเนินการซื้อสินค้าในนามของบริษัท โดยไม่ได้รับอนุญาตจากผู้บริหาร</li>
							<li>ใช้สถานที่ต่างๆ ของบริษัท เพื่อการพบปะสังสรรค์หรือจัดเลี้ยงโดยไม่ได้รับอนุญาตจากบริษัท</li>
							<li>เจตนาทำลายทรัพย์สิน ชื่อเสียงและความมั่นคงของบริษัท</li>
							<li>ต้องคดีอาญา และต้องคำพิพากษาถึงที่สุดให้จำคุก</li>
							<li>เข้าร่วมหรือจัดให้มีการเล่นพนันภายในบริเวณบริษัท</li>
							<li>ท้าทาย หรือยั่วยุให้มีการต่อสู้กัน หรือเจตนาทำร้ายร่างกายหรือทำลายทรัพย์สินของพนักงานอื่นๆ ภายในบริเวณบริษัท</li>							
						</ol>
						วินัยตามที่ได้กล่าวมาข้างต้นนั้น อาจยังไม่ครอบคลุมถึงสถานการณ์ในทุกแง่มุมได้ ดังนั้นหากพนักงานฝ่าฝืนวินัยนอกเหนือจากที่กล่าวมาข้างต้น การพิจารณาลงโทษ หรือการกำหนดบทลงโทษจึงอยู่ในดุลพินิจของบริษัทด้วยเช่นกัน
					</p>
					
					<h4>หมวดที่ 11 การร้องทุกข์</h4>
					<p> บริษัท มีนโยบายที่จะขจัดความเดือดร้อนของพนักงานด้วยความรวดเร็วและยุติธรรม ผู้บริหารไม่ประสงค์ให้พนักงานมีปัญหาใดๆ ดังนั้นหากพนักงานผู้ใดมีเรื่องราวร้องทุกข์ ให้สามารถร้องทุกข์ได้สำหรับตนเอง แต่จะไม่สามารถร้องทุกข์แทนคนอื่นหรือมอบหมายให้คนอื่นร้องทุกข์แทนได้</p>
					<p>
						<ol>
							<li>ให้ร้องทุกข์โดยทำเป็นหนังสือแจ้งต่อผู้บังคับบัญชาตามลำดับชั้น หรือฝ่ายทรัพยากรมนุษย์</li>
							<li>ให้ผู้รับคำร้องทุกข์พิจารณาแก้ไขปัญหาตามขั้นตอนความรับผิดชอบของตนโดยเร็ว ถ้าเป็นเรื่องที่ไม่สามารถแก้ไขปัญหาเองได้ให้รายงานขึ้นไปตามลำดับขั้น</li>
							<li>ผู้มีหน้าที่พิจารณาข้อร้องทุกข์ต้องพร้อมที่จะพิจารณาและดำเนินการตามความถูกต้องเป็นธรรม</li>
							<li>กรณีที่ได้พิจารณาข้อร้องทุกข์และดำเนินการโดยฝ่ายทรัพยากรมนุษย์จนถึงระดับกรรมการผู้จัดการแล้ว ยังไม่ยุติ พนักงานอาจร้องทุกข์ขอให้ผู้บริหารทบทวนคำร้องทุกข์ได้
							 โดยผ่านทางกรรมการผู้จัดการ ซึ่งให้ถือเป็นที่สุดที่ผู้เกี่ยวข้องต้องปฏิบัติตาม ผู้บริหารอาจตั้งผู้ทรงคุณวุฒิและเชื่อถือได้จากภายนอกทำหน้าที่พิจารณาเพื่อชี้ขาดและให้ถือ เป็นที่สุดที่
							 ผู้ที่กี่ยวข้องต้องปฏิบัติตามเช่นกัน</li>
							<li>หนังสือร้องทุกข์ที่ไม่ลงนามผู้ร้องทุกข์จะไม่ได้รับการพิจารณา</li>
							<li>การร้องทุกข์ที่กระทำโดยสุจริต ย่อมก่อให้เกิดประโยชน์อันยิ่งใหญ่แก่บริษัทและพนักงานเป็นส่วนรวม ดังนั้นพนักงานผู้นั้นร้องทุกข์ พนักงานผู้ให้ถ้อยคำ ให้ข้อมูล ให้ข้อเท็จจริง
							 หรือให้พยานหลักฐานใดเกี่ยวกับการร้องทุกข์ และ พนักงานที่เป็นผู้พิจารณาคำร้องทุกข์เมื่อได้กระทำไปโดยสุจริตใจ แม้จะเป็นเหตุให้เกิดข้อยุ่งยากประการใดแก่บริษัท ก็ย่อมได้รับ
							 การประกันจากบริษัทว่าจะไม่เป็นเหตุหรือถือเป็นเหตุที่จะเลิกจ้าง ลงโทษ หรือดำเนินการใดที่เกิดผลร้ายต่อพนักงานดังกล่าว</li>
						</ol>
					</p>

					<h4>หมวดที่ 12 การพ้นสภาพพนักงาน หรือพ้นสภาพการจ้าง</h4>
					<p>การพ้นสภาพพนักงาน หรือพ้นสภาพการจ้างจะเกิดขึ้นตามลักษณะดังนี้</p>
					<p>
						<ol>
							<li>การลาออก
								<ul class="a">
									<li>พนักงานที่ประสงค์จะลาออกจะต้องแจ้งให้ทางบริษัททราบเป็นลายลักษณ์อักษรตามแบบฟอร์มที่บริษัทกำหนด ผ่านทางผู้บังคับบัญชาตามลำดับชั้น หากไม่มีสัญญาระบุไว้เป็นอย่างอื่น 
									 พนักงานต้องแจ้งให้ทางบริษัททราบล่วงหน้าอย่างน้อย 30 วัน เพื่อมอบหมายงาน โดยมิให้กระทบหรือเสียหายแก่งาน</li>
									 <li>กรณีพนักงานฝ่าฝืน เพิกเฉย ละเลย จงใจไม่ปฏิบัติตามข้อ 1.1 บริษัทจะถือว่าพนักงานจงใจผิดสัญญาจ้าง ฝ่าฝืนข้อบังคับเกี่ยวกับการทำงานเป็นเหตุให้บริษัทต้องเสียหาย 
									 พนักงานต้องชดใช้ค่าเสียหายให้แก่บริษัทในการที่พนักงานจงใจผิดสัญญาจ้าง ฝ่าฝืนข้อบังคับเกี่ยวกับการทำงานเป็นเหตุให้บริษัทต้องเสียหาย รวมถึงค่าใช้จ่ายอื่นๆ (ถ้ามี)</li>
									 <li>ระหว่างพนักงานทำงานให้บริษัท หากพนักงานมีหนี้สินอื่นใด หรือพนักงานได้ทำความเสียหายอื่นใดในขณะปฏิบัติหน้าที่เป็นพนักงานของบริษัทอยู่นั้นให้แก่บริษัทไม่ว่ากรณีใดๆ 
									 บริษัทมีสิทธิเรียกร้องให้พนักงานชดใช้ชำระหนี้สิน ค่าเสียหายอื่นใดได้ตามจำนวนหนี้สิน หรือความเสียหายที่เกิดขึ้นจริง จนครบถ้วนก่อนพนักงานทำงานวันสุดท้าย</li>
								</ul>
							</li>
							<li>เลิกจ้างโดยการให้ออก ปลดออก ไล่ออก กรณีที่พนักงานทำผิดวินัยร้ายแรง หรือทำความเสียหายให้บริษัท พนักงานอาจถูกให้ออก ปลดออก ไล่ออกจากการเป็นพนักงานของบริษัท</li>
							<li>ขาดคุณสมบัติของพนักงาน หรือกรอกข้อความอันเป็นเท็จในใบสมัครงาน</li>
							<li>ถึงแก่กรรม</li>
							<li>เกษียณอายุ พนักงานจะถูกปลดเนื่องจากการเกษียณอายุในวันสิ้นเดือนที่มีอายุครบ 55 ปีบริบูรณ์ บริษัทสงวนสิทธิที่จะว่าจ้างพนักงานที่ครบเกษียณอายุแล้วต่อไปตามสัญญาการต่ออายุงานเป็นกรณีๆ ไป</li>
							<li>การเลิกจ้างเพราะเหตุเจ็บป่วย บริษัทอาจเลิกจ้างพนักงานที่ลาป่วยซึ่งไม่สามารถปฏิบัติงานตามหน้าที่ได้ และแพทย์จะเป็นผู้ลงความเห็นว่าพนักงานผู้นั้นไม่สามารถปฏิบัติงานต่อได้</li></li>
						</ol>
					</p>
					
					<h4>การเลิกจ้างโดยไม่ได้รับค่าชดเชย<br></h4>
					<p>
						<ol>
							<li>ตาย</li>
							<li>ลาออก</li>
							<li>พนักงานซึ่งบริษัท กำหนดระยะเวลาการจ้างไว้แน่นอน ซึ่งเป็นการจ้างในโครงการเฉพาะที่มิใช่งานปกติของธุรกิจ หรือการค้าของบริษัท ซึ่งต้องมีระยะเวลาเริ่มต้นและสิ้นสุดของงานที่แน่นอน หรือในงานอันมีลักษณะเป็นครั้งคราวที่มี กำหนดการสิ้นสุด หรือความสำเร็จของงาน หรือในงานที่เป็นไปตามฤดูกาลและได้จ้างในช่วงเวลาของฤดูกาลนั้น ซึ่งงานจะต้องแล้วเสร็จภายในระยะเวลา ไม่เกินสองปี โดยบริษัท และพนักงานได้ทำสัญญาเป็นหนังสือไว้ตั้งแต่เมื่อเริ่มจ้าง หรือการการจ้างตามสัญญา</li>
							<li>พนักงานซึ่งบริษัท เลิกจ้างเพราะประพฤติตนในกรณีหนึ่งกรณีใดดังต่อไปนี้
								<ul class="a">
									<li>ทุจริตต่อหน้าที่หรือกระทำความผิดอาญาโดยเจตนาแก่บริษัท</li>
									<li>จงใจทำให้บริษัท ได้รับความเสียหายไม่ว่าจะเป็นทรัพย์สิน ชื่อเสียง หรือด้านอื่นใดก็ตาม
									<li>ประมาทเลินเล่อเป็นเหตุให้บริษัท ได้รับความเสียหายอย่างร้ายแรง</li>
								 	<li>ฝ่าฝืนข้อบังคับหรือระเบียบเกี่ยวกับการทำงานหรือคำสั่งอันชอบด้วยกฎหมายของบริษัท และบริษัทได้ตักเตือนเป็นหนังสือแล้ว เว้นแต่ในกรณีร้ายแรงที่บริษัท ไม่จำเป็นต้องตักเตือน หนังสือเตือนให้มีผลบังคับได้ไม่เกินหนึ่งปีนับแต่วันที่พนักงานได้กระทำความผิด</li>
								 	<li>ละทิ้งหน้าที่เป็นเวลาสามวันทำงานติดต่อกันไม่ว่าจะมีวันหยุดคั่นหรือไม่ก็ตาม โดยไม่มีเหตุผลอันสมควร</li>
								 	<li>ได้รับโทษจำคุกตามคำพิพากษาถึงที่สุดให้จำคุก ในกรณีถ้าเป็นความผิดที่ได้กระทำโดยประมาทหรือความผิดลหุโทษ ต้องเป็นกรณีที่เป็นเหตุให้บริษัทได้รับความเสียหาย</li>
								</ul>
							</li>
							<li>พนักงานที่ถูกลงโทษให้ออก ปลดออก ไล่ออกจากงานโดยไม่จ่ายเงินชดเชยตามที่กำหนดไว้ในหมวดที่ 10 โทษทางวินัย</li>
						</ol>
					</p>
					
					<h4>การบอกกล่าวล่วงหน้า และสินจ้างแทนการบอกกล่าวล่วงหน้า</h4>
					<p>การบอกกล่าวล่วงหน้า คือ การที่บริษัท เลิกสัญญาจ้างก่อนครบกำหนดโดยมีการทำหนังสือแจ้งบอกกล่าวล่วงหน้าให้พนักงานทราบก่อน 1 งวดการจ่ายค่าจ้าง แต่ไม่เกิน 3 เดือน สินจ้างแทนการบอกกล่าวล่วงหน้า คือ เงินที่บริษัทจ่ายให้แก่พนักงาน เนื่องจากบริษัทบอกเลิกสัญญาจ้างก่อนครบกำหนดโดยไม่ได้มีการบอกกล่าวล่วงหน้า สินจ้างแทนการบอกกล่าวล่วงหน้าเท่ากับค่าจ้าง 1 เดือน</p>
					
					<h4>ข้อยกเว้นไม่ต้องมีการบอกกล่าวล่วงหน้า</h4>
					<p>
						<ol>
							<li>พนักงานจงใจขัดคำสั่งโดยชอบด้วยกฎหมายของบริษัท</li>
							<li>พนักงานละเลยไม่นำพาต่อคำสั่งของบริษัท เป็นอาจิณ</li>
							<li>พนักงานละทิ้งหน้าที่โดยไม่มีเหตุผลอันสมควรเป็นเวลานานพอสมควร</li>
							<li>พนักงานทำผิดร้ายแรง กรณีที่จะถือเป็น การทำผิดร้ายแรง มีดังต่อไปนี้
								<ul class="a">
							 		<li>ทุจริตต่อหน้าที่</li>
							 		<li>กระทำการอันถือว่าเป็นปฏิปักษ์ต่อการเป็นลูกจ้างนายจ้าง</li>
							 		<li>กระทำผิดทางอาญา</li>
							 		<li>ฝ่าฝืนระเบียบข้อบังคับในเรื่องสำคัญ</li>
							 	</ul>
							<li>พนักงานกระทำการไม่สมควรแก่การปฏิบัติหน้าที่โดยถูกต้องและสุจริต</li>
							<li>ขาดคุณสมบัติของพนักงาน โดยกรอกข้อความอันเป็นเท็จในใบสมัครงาน</li> 
							<li>พนักงานทุจริตหรือกระทำผิดอาญาโดยเจตนาต่อบริษัท</li>
							<li>พนักงานจงใจทำให้บริษัท ได้รับความเสียหาย</li>
							<li>พนักงานประมาทเลินเล่อเป็นเหตุให้บริษัท ได้รับความเสียหายร้ายแรง</li>
							<li>พนักงานทำผิดซ้ำคำเตือน โดยบริษัท ได้เตือนเป็นหนังสือแล้วและหากพนักงานฝ่าฝืนระเบียบข้อบังคับที่ร้ายแรง บริษัท ไม่จำเป็นต้องตักเตือน อาจเลิกจ้างได้ทันทีโดยไม่ต้องบอกกล่าวล่วงหน้า</li>
							<li>ละทิ้งหน้าที่เป็นเวลาสามวันทำงานติดต่อกันไม่ว่าจะมีวันหยุดคั่นหรือไม่ก็ตาม โดยไม่มีเหตุผลอันสมควร</li>
							<li>ได้รับโทษจำคุกตามคำพิพากษาถึงที่สุดให้จำคุก เว้นแต่ เป็นโทษสำหรับความผิดที่ได้กระทำโดยประมาทหรือความผิดลหุโทษ</li>
						</ol>
					</p>
					
					<h4>หมวดที่ 14 บทส่งท้าย</h4>
					<p>
						<ol>
							<li>บรรดาวิธีการประกอบ ติดตั้ง สูตรการผลิต ความคิด ราคางาน หรือควารู้ทางเทคนิคต่างๆ ที่เกี่ยวข้องกับธุรกิจงานของบริษัท อันเป็นผลงานจากการคิดค้นคว้า ศึกษาวิจัยของพนักงานผู้ปฏิบัติงาน
							 ในทุกกรณี ให้ถือเป็นลิขสิทธิ์ของบริษัท โดยสมบูรณ์</li>
							<li>บริษัทสงวนไว้ซึ่งสิทธิในการที่จะแก้ไข เปลี่ยนแปลง เพิ่มเติม หรือยกเลิกข้อความบางส่วน หรือทั้งหมดของข้อบังคับเกี่ยวกับการทำงานนี้ ตามดุลยพินิจของผู้บริหาร</li>
							<li>ประกาศ คำสั่ง กฏ ระเบียบ แนวปฏิบัติ เงื่อนไขการจ้างเพิ่มเติมที่เกี่ยวข้องกับระเบียบพนักงานที่ประกาศภายหลังวันบังคับใช้ข้อบังคับเกี่ยวกับการทำงานนี้ ให้ถือเป็นส่วนหนึ่งของข้อบังคับ
							 เกี่ยวกับการทำงานนี้ด้วย</li>
							<li>ข้อบังคับเกี่ยวกับการทำงานฉบับนี้ให้มีผลบังคับใช้ตั้งแต่วันที่ 1 มิถุนายน 2551 นี้เป็นต้นไป</li>
						</ol>
					</p>
					
					<p><br>
						(นางปัทมา วงศ์วารี)<br>
					 	รองประธานกรรมการ
					</p>
									
					<div class="blog-details-bt">
						<div class="btn-group">
							<asp:button id="backButton" runat="server" text="Back" class="btn btn-primary" OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>
						</div>
					</div>
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
				<aside>
					<div class="sidebar-news-list">
						<h4>CATEGORY</h4>
						<ul>
							<li>
								<a href="HRPolicy_BusinessEthics1.aspx" class="tran3s">ระเบียบข้อบังคับในการทำงาน KVN พ.ศ.2551</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthics2.aspx" class="tran3s">ระเบียบข้อบังคับในการทำงาน LION พ.ศ.2551</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthics3.aspx" class="tran3s">ระเบียบข้อบังคับในการทำงาน UBP พ.ศ.2551</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthics4.aspx" class="tran3s">ระเบียบข้อบังคับในการทำงาน FG พ.ศ.2551</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
		
	</div>
</article>

</asp:Content>
