﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="HRPolicy_BrandStory4.aspx.vb" Inherits="Aroma_HRPortal.HRPolicy_BrandStory4" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


<br />
<br />
<br />
<br />
<br />

  <div class="btn-group">
                                 <asp:button id="backButton" runat="server" text="Back" class="btn btn-primary"
OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>

   </div>

     <div class="container">
        <center>
        <h3>
           Value & Promise
        </h3>
        </center>
       
        <div class="border">
        </div>
        <div class="row">

            <pre>
            <font size = "3" >

         Value
             1.	มีความรู้และความสามารถรอบด้าน
             2.	การคิดล่วงหน้าถึงอนาคต
             3.	การเป็นที่พึ่งพา และไว้วางใจได้
             4.	ความใจกว้าง และกล้าได้กล้าเสีย
 
        Promise
            เราจะ ฟันฝ่าทุกอุปสรรคและความท้าทาย เพื่อนำพาทุกคนไปสู่ความสำเร็จ






					
            </font>
            </pre>

        </div>
    </div>

</asp:Content>
