﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="HRPolicy_BusinessEthicsAS4.aspx.vb" Inherits="Aroma_HRPortal.HRPolicy_BusinessEthicsAS4" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<!-- banner -->
<div class="base-banner"><img src="new/images/banner/hr-policy/hr.jpg" alt=""/></div>
<!-- end banner -->

<article class="blog-details-page">
	<div class="container">
		
		<div class="post-heading">
            <ul>
                <li><a href="index_hr.aspx">HOME</a></li>
                <li>/</li>
                <li><a href="HRPolicy_Announce.aspx">ระเบียบต่างๆ</a></li>
                <li>/</li>
                <li><a href="HRPolicy_BusinessEthicsAS.aspx">ประกาศ คำสั่ง ระเบียบเกี่ยวกับทรัพย์สิน</a></li>
            </ul>
			<h2>ระเบียบการใช้โทรศัพท์เคลื่อนที่ (Samsung Galaxy A9 Pro)</h2>
		</div> <!-- /.post-heading -->
		
		<div class="post-content">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
				<div class="blog-details-post-wrapper">
				
					<img src="new/images/banner/hr-policy/img16.jpg" alt=""/>
					
					<p style="padding: 30px 0 0;">
         		    	ด้วย อโรม่า กรุ๊ป ได้จัดให้มีโทรศัพท์เคลื่อนที่ Samsung Galaxy A9 Pro เพื่อสำหรับใช้ในการติดต่อสื่อสารต่างๆ เกี่ยวข้องในงานกิจกรรมของบริษัท ดังนั้นเพื่อให้มีความเป็นระเบียบร้อย ในการปฎิบัติเกี่ยวกับวิธีการใช้โทรศัพท์เคลื่อนที่ข้างต้น ทาง อโรม่า กรุ๊ป จึงเห็นสมควรกำหนด และใคร่ขอความร่วมมือมายังพนักงานที่ได้รับสิทธิทุกท่าน ในการปฏิบัติอย่างเคร่งครัด ดังนี้
					</p>
					
					<ol style="margin: 10px 0;">
						<li>โทรศัพท์เคลื่อนที่นี้ ผู้มีสิทธิใช้ได้เฉพาะพนักงาน อโรม่า กรุ๊ป ที่ได้รับสิทธิเท่านั้น</li>
						<li>พนักงานผู้ที่ได้รับสิทธิจะต้องดูแลและเก็บรักษาโทรศัพท์เคลื่อนที่ และอุปกรณ์ต่อพ่วงต่างๆไว้เป็นอย่างดีด้วยตัวพนักงาน</li>
						<li>พนักงานผู้ที่ได้รับสิทธิจะต้องไม่นำโทรศัพท์เคลื่อนที่ ไปใช้ในทางที่ผิดกฎหมาย หรือกระทำการใดๆ ที่ผิดกฎหมาย หรือไปใช้ในทางที่ฝ่าฝืนระเบียบข้องบังคับ ประกาศ คำสั่งบริษัท</li>
						<li>กรณีการชำรุด สูญหาย เสีย/ขัดข้องเนื่องจากการงานตามปกติ หรือใดๆก็ตามพนักงานจะต้องรีบแจ้งทางแผนกอาคารสถานที่ หากเพิกเฉยละเลยการปฏิบัติ พนักงานจะต้องรับผิดชอบค่าใช้จ่าย 
						 ค่าเสียหายเต็มจำนวนที่เกิดขึ้นจริงทั้งสิ้นหรือตามที่บริษัทเห็นควรตามแต่กรณี โดยอยู่ในดุลยพินิจของกรรมการบริษัท</li>
						<li>กรณีโทรศัพท์เคลื่อนที่ข้างต้นเกิดการสูญหาย พนักงานผู้ที่ได้รับสิทธิจะต้องเป็นผู้ที่รับผิดค่าเสียหายตามที่เกิดขึ้นจริงทั้งสิ้นหรือตามที่บริษัทเห็นควรตามแก่กรณี โดยอยู่ในดุลยพินิจของกรรมการบริษัท</li>
						<li>กรณีผู้มีสิทธิ ได้ให้/ยินยอมให้บุคคลอื่นซึ่งมิใช่ผู้ที่ได้รับสิทธิ นำโทรศัพท์เคลื่อนที่ไปใช้แทน โดยไม่มีเหตุอันควร บรรดาอัตราค่าใช้จ่ายในการโทร หรือการโทรเกินวงเงิน หรืออัตราค่าใช้บริการอื่นใด 
						 หรือเกิดการชำรุด สูญหาย เสียขัดข้องไม่สามารถใช้งานได้ตามปกติ พนักงานผู้มีสิทธินั้นๆยินดีที่จะรับผิดชอบค่าเสียหาย หรือค่าใช้จ่ายที่เกิดขึ้นจริงทั้งสิ้น ที่ได้/ให้ยินยอมให้บุคคลอื่นใช้งวดเดือนนั้นๆ</li>
						<li>ในกรณีพนักงานพ้นจากหน้าที่ตำแหน่ง หรือตามที่บริษัทแจ้ง หรือพนักงานลาออก หรือพ้นสภาพการเป็นพนักงานหรือไม่ว่าด้วยหตุใดๆก็ตาม พนักงานจะต้องส่งมอบคืนเครื่องโทรศัพท์เคลื่อนที่ข้างต้น
						 ให้กับทางบริษัทในทันที</li>
						<li>กรณีที่พนักงานของบริษัทได้ใช้สิทธิการโทร การใช้บริการอื่นใด เกินกว่าสิทธิประโยชน์กำหนดของพนักงานผู้ที่ได้รับสิทธิ จะต้องเป็นผู้รับผิดชอบค่าใช้จ่ายเองทั้งสิ้น</li>
						<li>ในกรณีที่บริษัท เป็นผู้สำรองค่าเสียหาย และ/หรือ ค่าใช้จ่ายอื่นใด ตามที่กล่าวมาใขข้อ 1-8 ข้างต้นตามแต่กรณีพนักงานผู้ได้รับสิทธิตกลงยินยอมรับผิดชอบชดใช้ค่าเสียหาย หรือค่าใช้จ่ายอื่นใด 
						 ที่เกิดขึ้นจริงทั้งหมดคืนให้แก่บริษัทภายในระยะเวลาที่บริษัทกำหนด</li>
						<li>การเปิดเครื่องโทรศัพท์รอสาย และรับสาย/ตอบกลับ พนักงานผู้ที่ได้รับสิทธิ จะต้องเปิดเครื่องโทรศัพท์รอสายและรับสาย/ให้สามารถติดต่อได้ ทุกวันตลอดเวลา 24 ชั่วโมง
							<ul class="a">
								<li>กรณีติดธุระ,ประชุม,อบรม,สัมมนา จนไม่สามารถรับสายได้ พนักงานจะต้องส่งข้อความตอบกลับว่าจะโทรกลับหรือติดต่อกลับวัน เวลาใด</li>
								<li>กรณีพนักงานผู้ได้รับสิทธิปิดเครื่อง/ไม่รับสายโดยไม่มีเหตุอันควร หรือได้รับสายแล้วไม่โทรกลับ ตอบ/ติดต่อกลับบริษัท หรือผู้บังคับบัญชาต้นสังกัด หรือหน่วยงานอื่นใดในบริษัท รายละเอียดวิธีปฏิบัติให้เป็นไปตามเอกสารแนบท้าย รายละเอียดสิทธิประโยชน์การใช้โทรศัพท์เคลื่อนที่</li>
							</ul>
						<li>บริษัทขอสงวนไว้ซึ่งสิทธิที่จะยกเลิก แก้ไข เปลี่ยนแปลงผู้ได้รับสิทธิ ยี่ห้อ/แบบและรุ่นโทรศัพท์เคลื่อนที่ สิทธิประโยชน์ และวงเงินการใช้บริการ ได้ตามเห็นสมควร โดยจะแจ้งให้ทราบเป็นคราวๆไป</li>
					</ol>
					
					<h4>เอกสารแนบท้ายประกาศ เรื่องระเบียบการใช้โทรศัพท์เคลื่อนที่ Samsung Galaxy A9 Pro</h4>
					<h4>รายละเอียดสิทธิประโยชน์การใช้โทรศัพท์เคลื่อนที่</h4>
					<p>
						<ol>
							<li>ค่าใช้บริการรายเดือน และวงเงินการใช้ที่ทางบริษัทออกค่าใช้จ่ายให้</li>
								<ul class="a">
									<li>ค่าใช้บริการเหมาจ่าย 1,400 บาทต่อเดือน</li>
									<li>รับค่าโทรทั่วไทย 1,400 บาทต่อเดือน โทรฟรีหมายเลขพิเศษ 1 หมายเลขนาทีละ 0.00 บาท</li>
									<li>โทรฟรีในเครือข่าย AIS โทรนอกเครือข่ายAISนาทีละ0.99บาท</li>
									<li>SMS ฟรี50 ข้อความ/เดือน, MMS ฟรี 10 ข้อความ/เดือน</li>
									<li>เน็ตความเร็วสูงสุด 8 G หลังจากนั้นความเร็วที่ 384 Kbps, AIS Wi-Fi unlimited นาน 24 รอบบิล ฟรี</li>
								</ul>
							<li>อัตราการใช้บริการที่พนักงานผู้ที่ได้รับสิทธิเป็นผู้ออกค่าใช้จ่ายเอง
								<ul class="a">
							 		<li>ค่าโทรส่วนเกิน 1,400 บาท/เดือน ทั้งที่โทรในกลุ่มเครือข่าย AIS และ นอกกลุ่มเครือข่าย AIS</li>
							 		<li>ค่า SMS ส่วนที่เกิน 50 ข้อความ/เดือน ส่วนเกินข้อความละ 2 บาท</li>
							 		<li>ค่า MMS ส่วนเกิน 10 ข้อความ/เดือน ส่วนเกินMMS ละ 6 บาท</li>
							 		<li>กรณีพนักงานผู้ที่ได้รับสิทธิปิดเครื่องโทรศัพท์/ไม่รับสายโดยไม่มีเหตุอันควร หรือได้รับสายแล้วไม่โทรกลับ ตอบ/ติดต่อกลับบริษัท หรือผู้บังคับบัญชาต้นสังกัด หรือหน่วยงานอื่นใดในบริษัท ภายใน 1 ชั่วโมง สะสมกันเกิน 5 ครั้งต่อเดือน พนักงานผู้ได้รับสิทธินั้นๆ ถูกปรับเงิน 100/ครั้ง (เริ่มนับตั้งแต่ครั้งแรก) โดยจะหักผ่านในระบบเงินเดือน ตามจำนวนเงินที่ถูกปรับในงวดเดือนนั้นๆ</li>
								</ul>
							<li>ระยะเวลาการรับสิทธิ์ ตามข้อ1-2 เป็นไปตามเงื่อนไขสัญญาการใช้งาน Contract Phone</li>
							<li>บริษัทขอสงวนไว้ซึ่งสิทธิที่จะยกเลิก แก้ไข เปลี่ยนแปลงรายละเอียดสิทธิประโยชน์การใช้โทรศัพท์เคลื่อนที่ข้างต้นได้ ตามเงื่อนไขสัญญาการใช้งาน Contract Phone หรือตามที่บริษัทเห็สมควร 
							 โดยจะแจ้งให้ทราบเป็นคราวๆ ไป</li>
						</ol>
					</p>
					
					<p><br>
						จึงประกาศมาเพื่อทราบโดยทั่วกัน และปฏิบัติอย่างเคร่งครัด<br><br>
	
						ทั้งนี้ ให้มีผลบังคับใช้ตั้งแต่วันที่ 1 มิถุนายน 60 เป็นต้นไป<br><br>

						ประกาศ ณ วันที่ 20 มิถุนายน 2560 
					</p>
					
					<div class="blog-details-bt">
						<div class="btn-group">
							<asp:button id="backButton" runat="server" text="Back" class="btn btn-primary" OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>
						</div>
					</div>
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
				<aside>
					<div class="sidebar-news-list">
						<h4>CATEGORY</h4>
						<ul>
							<li>
								<a href="HRPolicy_BusinessEthicsHR.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบทรัพยากรมนุษย์</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAS.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบเกี่ยวกับทรัพย์สิน</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAC.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบเกี่ยวกับบัญชี การเงิน งบประมาณ จัดซื้อ</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsIT.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบเกี่ยวกับเทคโนโลยีสารสนเทศ</a>
							</li>
							<li>
								<a href="Benefits1_1.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบอื่นๆ</a>
							</li>
						</ul>
					</div>
				</aside>
				<aside>
					<div class="sidebar-news-list">
						<h4>Related Links</h4>
						<ul>
							<li>
								<a href="HRPolicy_BusinessEthicsAS1.aspx" class="tran3s">
									ระเบียบการใช้บัตรน้ำมัน Synergy Card Fleet Card บัตรน้ำมัน
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAS2.aspx" class="tran3s">
									ระเบียบเรื่องการเบิก และใช้ทรัพย์สินบริษัท
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAS3.aspx" class="tran3s">
									ระเบียบการใช้โทรศัพท์เคลื่อนที่ (APPLE IPHONE 7128)
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAS4.aspx" class="tran3s">
									ระเบียบการใช้โทรศัพท์เคลื่อนที่ (Samsung Galaxy A9 Pro)
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAS5.aspx" class="tran3s">
									ระเบียบการใช้รถที่บริษัทเช่าให้พนักงานใช้ปฏิบัติงาน
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAS6.aspx" class="tran3s">
									ระเบียบเงินประกันชุดฟอร์มพนักงาน
								</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
		
	</div>
</article>

</asp:Content>
