﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="HRPolicy_BrandStory3.aspx.vb" Inherits="Aroma_HRPortal.HRPolicy_BrandStory3" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


<br />
<br />
<br />
<br />
<br />

  <div class="btn-group">
                                 <asp:button id="backButton" runat="server" text="Back" class="btn btn-primary"
OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>

   </div>

     <div class="container">
        <center>
        <h3>
           Vision
        </h3>
        </center>
       
        <div class="border">
        </div>
        <div class="row">

            <pre>
            <font size = "3" >

         เราจะเป็น แบบอย่าง และ แรงบันดาลใจ ให้กับธุรกิจกาแฟไทย ที่นำพาความสำเร็จ และประสบการณ์สดใหม่เกี่ยวกับธุรกิจกาแฟ มาสู่ทุกคน พร้อมตอบรับ
    ทุกความท้าทาย และ เพิ่มขีดจำกัดของเรา ด้วยการนำเทรนด์และแนวคิดใหม่ๆเข้ามา เพื่อทำให้สินค้าและบริการของเราครบวงจรยิ่งขึ้น



					
            </font>
            </pre>

        </div>
    </div>


</asp:Content>
