﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="HRPolicy_BusinessEthicsHR5.aspx.vb" Inherits="Aroma_HRPortal.HRPolicy_BusinessEthicsHR5" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<style>
	.swiper-container {
		width: 100%;
		height: 100%;
	}
	.swiper-slide {
		text-align: center;
		background: #fff;
	}
	.swiper-slide img 
	{
		width: 100%;
	}
	.swiper-pagination-bullet-active {
		opacity: 1;
		background: #af2f2f;
	}
</style>

<!-- banner -->
<div class="base-banner"><img src="new/images/banner/hr-policy/hr.jpg" alt=""/></div>
<!-- end banner -->

<article class="blog-details-page">
	<div class="container">
		
		<div class="post-heading">
            <ul>
                <li><a href="index_hr.aspx">HOME</a></li>
                <li>/</li>
                <li><a href="HRPolicy_Announce.aspx">ระเบียบต่างๆ</a></li>
                <li>/</li>
                <li><a href="HRPolicy_BusinessEthicsHR.aspx">ประกาศ คำสั่ง ระเบียบทรัพยากรมนุษย์</a></li></li>
            </ul>
			<h2>ระเบียบบ้านพักพนักงาน</h2>
		</div> <!-- /.post-heading -->
		
		<div class="post-content">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
				<div class="blog-details-post-wrapper">
				
					<img src="new/images/banner/hr-policy/img9.jpg" alt=""/>
         		    
         		    <p style="padding: 30px 0 0;">
         		    	เพื่อความเป็นระเบียบเรียบร้อยในการพักบ้านพักพนักงานของบริษัท หรือบ้านเช่า ห้องเช่าอื่นๆ ที่บริษัทเช่าให้กับพนักงาน ทางบริษัทจึงเห็นสมควรกำหนดระเบียบดังกล่าว เพื่อให้พนักงานที่ได้รับสิทธิเข้าพัก หรือพนักงานอื่นๆ ของบริษัทปฏิบัติอย่างเคร่งครัด ดังนี้
					</p>
					
					<h4>คุณสมบัติของผู้ที่จะเข้าพักอาศัย</h4>
					<p>
						<ol>
							<li>เป็นพนักงานของ อโรม่า กรุ๊ป</li>
							<li>ลักษณะงานในหน้าที่ที่มีความจำเป็นจะต้องพักอยู่ในบริเวณที่ทำงาน</li>
							<li>มีภูมิลำเนาอยู่ต่างจังหวัด และไม่มีที่พักอาศัย</li>
							<li>การเดินทางมาปฏิบัติหน้าที่ลำบาก เช่น อยู่ไกลมากหรือคมนาคมไม่สะดวก</li>
							<li>ประพฤติตนเรียบร้อย และต้องปฏิบัติตามระเบียบของบ้านพักพนักงาน</li>
							<li>มีความจำเป็นอื่นๆ ที่บริษัทได้พิจารณาแล้วเห็นสมควรเป็นรายๆ ไป</li>
						</ol>
					</p>
					
					<h4>วิธีการเข้าพัก และการย้ายออกจากบ้านพัก การเข้าพัก<br></h4>
					<p>
						<ol>
							<li>พนักงานแจ้งความประสงค์ที่จะเข้าพักอาศัยเป็นลายลักษณ์อักษรต่อบริษัท ตามแบบฟอร์มที่บริษัทกำหนด โดยผ่านทางผู้บังคับบัญชาต้นสังกัด และผ่านฝ่ายทรัพยากรมนุษย์ เพื่อนำเสนอพิจารณาอนุมัติต่อกรรมการบริหาร</li>
							<li>เมื่อเรื่องผ่านการอนุมัติแล้ว ฝ่ายทรัพยากรมนุษย์จะแจ้งให้พนักงานทราบ เพื่อลงชื่อเบิก หรือรับอุปกรณ์ เครื่องใช้ ทรัพย์สินประจำห้อง ค่าใช้จ่าย (ถ้ามี) และรับทราบข้อปฏิบัติของระเบียบ บ้านพักพนักงานเสร็จเรียบร้อยก่อน ถึงจะอนุญาตให้เข้าพัก</li>
						</ol>
					</p>
					
					<h4>การย้ายออก</h4>
					<p>
						<ol>
							<li>พนักงานแจ้งความประสงค์ที่จะย้ายออกเป็นลายลักษณ์อักษรต่อบริษัท ตามแบบฟอร์มที่บริษัทกำหนดให้ทางบริษัททราบล่วงหน้าอย่างน้อย 15 วัน โดยผ่านทางผู้บังคับบัญชาต้นสังกัด และผ่านฝ่ายทรัพยากรมนุษย์ เพื่อทราบและดำเนินการต่อ</li>
							<li>ฝ่ายทรัพยากรมนุษย์ หรือผู้บังคับบัญชาต้นสังกัดตามแต่กรณี ตรวจสอบความสะอาดเรียบร้อยของห้องพัก การรับมอบคืนอุปกรณ์ เครื่องใช้ ทรัพย์สินประจำห้อง ค่าใช้จ่าย (ถ้ามี) จากพนักงานผู้ย้ายออก กรณีพบว่าสิ่งใดชำรุด เสียหาย สูญหาย พนักงานผู้ย้ายออกนั้นๆ จะต้องชดใช้ความเสียหาย ค่าเสียหายชำรุดตามที่เกิดขึ้นจริงทั้งหมดก่อนถึงย้ายออกได้</li>
						</ol>
					</p>
					
					<h4>ระเบียบของบ้านพักพนักงาน</h4>
					<p>
						พนักงานผู้พักอาศัยอยู่ในบ้านพักพนักงาน จะต้องปฏิบัติตามระเบียบของบ้านพักพนักงานอย่างเคร่งครัด รวมทั้งระเบียบของห้องเช่า/บ้านเช่าอื่นๆ ที่บริษัทได้เช่าให้พนักงานพักอยู่อาศัยนั้นๆ ดังนี้
						<ol>
							<li>ไม่เปิดวิทยุ ทีวี หรือทำเสียงอื่นใดดังเกินความจำเป็น เป็นที่รบกวนแก่ผู้อื่น และเพื่อนร่วมห้อง</li>
							<li>ห้ามนำ หรือยินยอมให้บุคคลภายนอก รวมถึงพนักงานของบริษัทที่ไม่ได้พัก เข้าพักโดยมิได้รับอนุญาตจากบริษัท</li>
							<li>ห้ามต่อเติม ดัดแปลง รื้อถอน ส่วนประกอบของอาคารบ้านพัก</li>
							<li>ห้ามติดสติ๊กเกอร์ เทปกาว ยึดตะปู หรือขีดเขียนอื่นใดในห้องพัก</li>
							<li>ห้ามต่อไฟ เดินสายไฟเพิ่มเติมจากที่ได้จัดไว้ให้</li>
							<li>ห้ามนำอาวุธ หรือครอบครองสิ่งผิดกฎหมายเข้ามาบริเวณบ้านพัก</li>
							<li>ห้ามดื่มสุรา หรือของมึนเมาอื่นใดในบริเวณบ้านพัก</li>
							<li>ห้ามนำยาเสพติดทุกชนิดเข้ามาในบริเวณบ้านพัก</li>
							<li>ห้ามก่อการวิวาท ทำร้ายร่างกาย พูดจาหยาบคาย หรือสนับสนุน ยุยง ส่งเสริมให้เกิดความแตกความสามัคคีในบ้านพัก</li>
							<li>ห้ามนำอาหารที่มีกลิ่นรบกวนมารับประทานหรือเก็บไว้ในบ้านพัก รวมถึงห้ามหุงหาอาหารในห้องพักโดยเด็ดขาด หากต้องการจะหุงหาอาหารให้ใช้สถานที่ที่ซึ่งจัดไว้</li>
							<li>ห้ามสูบบุหรี่ภายในห้องพัก หรือก่อให้เกิดประกายไฟ ในสถานที่ซึ่งเก็บวัสดุไวไฟหรือวัตถุซึ่งเป็นเชื้อเพลิง หรือภายในบริเวณของบ้านพัก เว้นแต่สถานที่ที่ได้กำหนดไว้ให้เท่านั้น</li>
							<li>ห้ามสร้างกรณีชู้สาวในบริเวณบ้านพัก</li>
							<li>ห้ามเล่นการพนัน หรือสิ่งเสริมให้มีการเล่นการพนันทุกชนิดในบ้านพัก</li>
							<li>ต้องระมัดระวังดูแลรักษาสิ่งของตนเอง หรือทรัพย์สินของบริษัท ของเพื่อนร่วมห้อง และข้างห้อง และต้องแจ้งให้ฝ่ายทรัพยากรมนุษย์ทราบทันที โดยผ่านทางผู้บังคับบัญชาต้นสังกัด (หัวหน้างาน) ตามแต่กรณี เมื่อพบสิ่งผิดปกติใดๆ ในบริเวณบ้านพัก หรือทำสิ่งของ ทรัพย์สินย์ของบ้านพักชำรุด เสียหาย สูญหาย
							<li>ความเสียหายใดๆ ที่เกิดขึ้น เนื่องจากเหตุสุดวิสัยหรือตามกาลเวลาของการใช้สอย ให้แจ้งฝ่ายทรัพยากรมนุษย์ทราบโดยด่วน เพื่อจะได้ดำเนินการแก้ไขหรือจัดการซ่อมแซมต่อไป</li>
							<li>ความเสียหายใดๆ ที่เกิดขึ้น เนื่องจากเจตนา จงใจทำเสียหาย ชำรุด สูญหาย ผู้กระทำจะต้องรับผิดชอบชดใช้ให้แก่บริษัทตามมูลค่าที่เกิดขึ้นจริงทั้งหมด</li>
							<li>ถ้าพนักงานผู้ใดกระทำผิดระเบียบบ้านพักพนักงาน ซึ่งทางฝ่ายทรัพยากรมนุษย์ หรือผู้บังคับบัญชาต้นสังกัด ได้ว่ากล่าวตักเตือนแล้ว แต่ไม่ปฏิบัติตาม ทางบริษัทมีสิทธิให้ออกจากบ้านพักได้ตามแต่กรณี</li>
							<li>ในกรณีที่กระทำผิดระเบียบอย่างร้ายแรงจนเกิดความเสียหายแก่ผู้อื่น ทางบริษัทจะให้ออกจากบ้านพักทันที</li>
							<li>ห้ามยักยอก ขโมยทรัพย์สินของบริษัท หรือของบุคคลอื่น</li>
							<li>ห้ามตากเครื่องแต่งกาย หรือสิ่งของใดๆ ในบริเวณที่ห้ามตาก กรณีตากให้ตากที่สถานที่กำหนดไว้ให้</li>
							<li>ห้ามวางรองเท้า หรือสิ่งของอื่นใดบริเวณทางเดินส่วนกลาง โดยกำหนดให้ไว้ในห้องพัก หรือสถานที่กำหนดให้เท่านั้น</li>
							<li>ให้จัดเก็บ จอดยานพาหนะส่วนตัว (หากมี) ในสถานที่กำหนด และให้เป็นระเบียบเรียบร้อยตามแถว แนวกำหนด</li>
							<li>บริเวณบ้านพัก จะต้องช่วยกันรักษาความสะอาด รวมถึงไม่ทิ้งสิ่งของหรือสิ่งปฏิกูลใดๆ นอกภาชนะที่บริษัทได้จัดไว้</li>
							<li>ต้องช่วยกันรักษาความสะอาดภายในห้องพัก และอุปกรณ์เครื่องใช้ต่างๆในบ้านพัก/ห้องพัก รวมถึงต้องเช็ดถูให้สะอาดและช่วยกันจัดให้เรียบร้อยอยู่เป็นนิจ</li>
							<li>ต้องช่วยกันรักษาความสะอาดของห้องน้ำ พื้นที่ส่วนกลาง รวมถึงห้ามทิ้งสิ่งของ หรือผ้าอนามัยลงในโถส้วม</li>
							<li>ห้ามทิ้งเศษอาหารทุกชนิดลงในอ่างน้ำ หรือบริเวณบ้านพัก ซึ่งไม่ใช่ที่ทิ้งขยะหรือถังขยะ</li>
							<li>ในระหว่างที่พักอยู่ในบ้านพัก ห้ามโยกย้ายสับเปลี่ยนเตียงนอน อุปกรณ์ สิ่งของต่างๆ ภายในบริเวณบ้านพักโดยพละการ</li>
							<li>กรณีประสงค์จะโยกย้ายสับเปลี่ยนห้องพัก จะต้องแจ้งให้ฝ่ายทรัพยากรมนุษย์ทราบ เพื่อพิจาณาถึงความจำเป็น หรือเหมาะสมก่อนถึงจะโยกย้ายสับเปลี่ยน</li>
						</ol>
					</p>
					
					<h4>อื่นๆ</h4>
					<p>
						<ol>
							<li>บ้านพัก หมายถึง บ้านพักพนักงานของบริษัท บ้านเช่า หรือห้องเช่าอื่นๆ ที่บริษัทเช่าให้พนักงานพักอาศัย</li>
							<li>การพิจารณาอนุมัติเกี่ยวกับบ้านพัก ให้อยู่ในดุลยพินิจของกรรมการบริหาร หรือผู้ที่ได้รับมอบหมายตามแต่กรณี</li>
							<li>ระเบียบตามที่ได้กล่าวมาข้างต้นนั้น อาจยังไม่ครอบคลุมถึงสถานการณ์ในทุกแง่มุมได้ ดังนั้นหากผู้พักอาศัย หรือพนักงานฝ่าฝืนระเบียบนอกเหนือจากที่กล่าวมาข้างต้น 
							 จึงให้อยู่ในดุลพินิจของบริษัทเป็นกรณีๆ ไป</li>
							<li>การลงโทษผู้กระทำผิด ฝ่าฝืนระเบียบบ้านพัก สามารถทำได้ตามสมควรแก่กรณีให้เหมาะสมกับความผิด โดยอยู่ในดุลยพินิจของบริษัท</li>
							<li>บริษัท ขอสงวนไว้ซึ่งสิทธิที่จะแก้ไข เพิ่มเติม เปลี่ยนแปลงระเบียบบ้านพักได้ตามเห็นสมควร โดยจะแจ้งให้ทราบเป็นคราวๆ ไป</li>
						</ol>
					</p>
					<p><br>
						จึงประกาศมาเพื่อทราบโดยทั่วกัน และปฏิบัติอย่างเคร่งครัด ตั้งแต่บัดนี้เป็นต้นไป<br><br>

						ประกาศ ณ วันที่ 1 กรกฏาคม 2552
					</p>
					
					<div class="blog-details-bt">
						<div class="btn-group">
							<asp:button id="backButton" runat="server" text="Back" class="btn btn-primary" OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>
						</div>
					</div>
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
				<aside>
					<div class="sidebar-news-list">
						<h4>CATEGORY</h4>
						<ul>
							<li>
								<a href="HRPolicy_BusinessEthicsHR.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบทรัพยากรมนุษย์</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAS.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบเกี่ยวกับทรัพย์สิน</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAC.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบเกี่ยวกับบัญชี การเงิน งบประมาณ จัดซื้อ</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsIT.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบเกี่ยวกับเทคโนโลยีสารสนเทศ</a>
							</li>
							<li>
								<a href="Benefits1_1.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบอื่นๆ</a>
							</li>
						</ul>
					</div>
				</aside>
				<aside>
					<div class="sidebar-news-list">
						<h4>Related Links</h4>
						<ul>
							<li>
								<a href="HRPolicy_BusinessEthicsHR1.aspx" class="tran3s">
									การคล้อง ติดบัตรพนักงาน
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsHR2.aspx" class="tran3s">
									การลาพักผ่อนประจำปี
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsHR3.aspx" class="tran3s">
									การแต่งกายพนักงานขาย (พีซี)
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsHR4.aspx" class="tran3s">
									การลงนามอนุมัติเกินอำนาจดำเนินการ หรือความเสียหายจากการปฏิบัติหน้าที่
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsHR5.aspx" class="tran3s">
									ระเบียบบ้านพักพนักงาน
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsHR6.aspx" class="tran3s">
									ระเบียบการลงโทษพนักงานทุจริต
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsHR7.aspx" class="tran3s">
									ทดลองจัดวันเวลาทำงานและวันหยุด (เป็นกรณีพิเศษ) ทำงานวันจันทร์ - ศุกร์
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsHR8.aspx" class="tran3s">
									ระเบียบการแต่งกายพนักงานประจำสำนักงาน
								</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
		
	</div>
</article>
    
<!-- Swiper JS -->
<script src="new/js/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
	var swiper1 = new Swiper('.swiper1', {
		spaceBetween: 30,
		pagination: {
        el: '.swiper-pagination1',
        clickable: true,
      },
    });
</script>

</asp:Content>
