﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="HRPolicy_BrandStory1.aspx.vb" Inherits="Aroma_HRPortal.HRPolicy_BrandStory1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<br />
<br />
<br />
<br />
<br />

  <div class="btn-group">
                                 <asp:button id="backButton" runat="server" text="Back" class="btn btn-primary"
OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>

   </div>

     <div class="container">
        <center>
        <h3>
           History AROMA GROUP
        </h3>
        </center>
       
        <div class="border">
        </div>
        <div class="row">

            <pre>
            <font size = "3" >

            ก่อตั้งขึ้นโดยครอบครัว วงศ์วารี จากผู้ผลิต และจำหน่ายกาแฟโบราณ “ตราหัวสิงห์ 3 ดาว” ณ ร้านมงคลสวัสดิ์ ซึ่งดำเนินธุรกิจจนเติบโต
  ด้วยหลักการทำงานที่สำคัญ คือ ความขยัน มุ่งมั่น ไม่เกียจคร้าน และความซื่อสัตย์ มีสัจจะในคำพูดจนได้รับความเชื่อใจจากลูกค้าตลอดมา จวบจนเมื่อวัฒนธรรม
  กาแฟสดเข้ามามีบทบาทแทนที่กาแฟโบราณ วิกฤติกลับกลายเป็นโอกาส เพราะความไม่ย่อท้อในการหาความรู้ศึกษาวัฒนธรรมกาแฟสดอย่างจริงจัง พร้อมรับมือ
  กับการเปลี่ยนแปลง และปรับตัวตามความต้องการของลูกค้า จนนำมาสู่การพัฒนากาแฟคุณภาพที่กลายเป็นที่ชื่นชอบของผู้บริโภคในปัจจุบัน และนั่นคือจุดเริ่มต้น
  ของกาแฟคั่วบด “อโรม่า” กาแฟสูตรพิเศษที่เกิดจากการหล่อหลอมประสบการณ์  ผสานความสามารถ และยึดมั่นในหลักการ สิ่งเหล่านี้ล้วนทำให้ อโรม่า 
  เติบโตอย่างแข็งแรง และเดินหน้าอย่างมั่นคง 	เป็นเวลากว่า 60 ปีที่  “อโรม่า กรุ๊ป” เติบโตเคียงคู่วงการกาแฟไทย จากธุรกิจกาแฟโบราณ ก้าวขึ้นสู่การเป็น
  ผู้นำตลาดกาแฟสดครบวงจร ความสำเร็จถูกส่งต่อ จากรุ่นที่หนึ่งสู่รุ่นที่สอง พร้อมส่งต่ออุดมการณ์ซึ่งเป็นหัวใจสำคัญในการทำงานไม่เปลี่ยนแปลง นับตั้งแต่
  การให้ความใส่ใจในการผลิตทุกขั้นตอน ความพิถีพิถัน ในการคัดเลือกวัตถุดิบ เพื่อผลิตเป็นกาแฟคั่วบดคุณภาพสูง ทั้งไม่หยุดยั้งพัฒนาผลิตภัณฑ์ และธุรกิจอื่นๆ 
  ในอุตสาหกรรมอาหาร และเครื่องดื่ม เพื่อเป้าหมายที่สำคัญที่สุดคือการตอบสนองความต้องการของผู้บริโภคให้ดีที่สุด...มากขึ้นทุกวัน
				
            </font>
            </pre>

        </div>
    </div>

</asp:Content>
