﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="HRPolicy_BrandStory6.aspx.vb" Inherits="Aroma_HRPortal.HRPolicy_BrandStory6" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">



<br />
<br />
<br />
<br />
<br />

  <div class="btn-group">
                                 <asp:button id="backButton" runat="server" text="Back" class="btn btn-primary"
OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>

   </div>

     <div class="container">
        <center>
        <h3>
            Our people
        </h3>
        </center>
       
        <div class="border">
        </div>
        <div class="row">

            <pre>
            <font size = "3" >

          ในปัจจุบัน อโรม่า กรุ๊ป มีพนักงานกว่า 800 คน โดยพนักงานของเรามีความรู้ ความชำนาญ และเชี่ยวชาญเฉพาะในแต่ละด้าน ซึ่งในแต่ละแผนกก็มีส่วนสำคัญ
 ในการสนับสนุนและผลักดันธุรกิจของ อโรม่า กรุ๊ป ให้เติบโตไปได้อย่างยั่งยืน เริ่มตั้งแต่
 
 สายการผลิต 
       อโรม่า กรุ๊ป เรามีโรงงานคั่วบดเมล็ดกาแฟและฐานการผลิตสินค้าในเครือ อโรม่า กรุ๊ป อยู่ที่ อำเภอ บางปะกง จังหวัดฉะเชิงเทรา โดยโรงงานของ อโรม่า กรุ๊ป 
 ได้รับมาตรฐานรับรอง ISO 14001 ซึ่งเป็นมาตรฐานรับรองระบบการจัดการสิ่งแวดล้อม ISO 22000 มาตรฐานระดับสากลที่เกี่ยวข้องกับระบบการบริหารจัดการด้านความปลอดภัย
 ของอาหาร เทียบเท่ากับ ISO 9000 + HACCP และได้รับมาตรฐานรับรอง Good Manufacturing Practice (GMP) จากสำนักงานคณะกรรมการอาหารและยา
 ในระดับที่ดีมากอีกด้วย
       ขั้นตอนการผลิตกาแฟของเราเริ่มตั้งแต่การคัดเลือกวัตถุดิบที่มีคุณภาพ เรามีทีมงานคุณภาพที่มีความเชี่ยวชาญในเรื่องเมล็ดกาแฟที่ใส่ใจตั้งแต่การคัดแยกเมล็ดกาแฟดิบ
 ที่ตรงตามมาตรฐาน คัดแยกสิ่งปลอมปนอื่นๆ ก่อนที่จะไปสู่ขั้นตอนการคั่วด้วยวิธีการและส่วนผสมที่เฉพาะในแต่ละสูตร โดยปัจจุบันโรงงานของ อโรม่า กรุ๊ป สามารถคั่วอบเมล็ดกาแฟ
 ได้หลากหลายสูตรเพื่อตอบโจทย์กับทุกความต้องการของตลาด นอกจากนี้เรายังมีการควบคุมคุณภาพของกาแฟทั้งขณะการคั่วและหลังจากการคั่วโดยผู้เชี่ยวชาญจากแผนกควบคุมคุณภาพ 
 เพื่อให้มั่นใจว่ากาแฟของเราทุกชนิดจะมีมาตรฐานที่ดีในทุกรอบการผลิต ในขั้นตอนการบรรจุเมล็ดกาแฟ อโรม่า กรุ๊ป ใช้ระบบเครื่องจักรที่ได้มาตรฐาน สะอาด ปลอดภัย 
 โดยกาแฟที่ผ่านการคั่วอบแล้วจะมีการเติมก๊าซไนโตรเจนเข้าไปในบรรจุภัณฑ์เพื่อยืดอายุการเก็บรักษาและคุณภาพของเมล็ดกาแฟให้คงความใหม่ สด เสมอ 
       สำหรับเครื่องดื่มอื่นๆ  อโรม่า กรุ๊ป คัดสรรวัตถุดิบคุณภาพสูงจากหลายแหล่งผลิต โดยวัตถุดิบของเราจะถูกเก็บรักษาอย่างดีในห้องเก็บที่มีการควบคุมอุณหภูมิเพื่อ
 รักษาคุณภาพของวัตถุดิบให้คงเดิมและพร้อมเตรียมเข้าสู่ขั้นตอนการผลิตด้วยสูตรเฉพาะของ อโรม่า กรุ๊ป 
       ในขั้นตอนการบรรจุภัณฑ์ อโรม่า กรุ๊ป ยังได้นำเครื่องจักรและเทคโนโลยีที่ทันสมัยเข้ามาใช้ในการบรรจุสินค้า ทำให้เรามีศักยภาพสามารถบรรจุหีบห่อได้หลายหลายรูปแบบ
 และขนาด เพื่อให้ตรงกับความต้องการของลูกค้ามากที่สุด และในกระบวนการตรวจสอบคุณภาพ นอกจากเราจะมีการตรวจสอบคุณภาพสินค้าในทุกๆ ขั้นตอนแล้ว ก่อนที่สินค้าของ 
 อโรม่า กรุ๊ป ทุกชิ้นจะถูกส่งออกจากโรงงาน ทีมงานผู้เชี่ยวชาญจะต้องนำสินค้าเข้าสู่การตรวจสอบคุณภาพสินค้าในขั้นตอนสุดท้ายด้วยเครื่องเอกซเรย์สแกนและตรวจสอบลักษณะ
 บรรจุภัณฑ์อีกครั้งเพื่อรอจัดจำหน่าย  
 
 แผนกขนส่ง 
       อโรม่า กรุ๊ป เรามีทีมขนส่งที่มีความพร้อมในการกระจายสินค้าในทุกภูมิภาค โดยมีศูนย์กลางการกระจายสินค้าอยู่ที่คลังสินค้าคลองตัน เพื่อการกระจายสินค้าอย่างครอบคลุม
 และเข้าถึงในทุกภูมิภาคของประเทศ โดยทีมงานที่มีความชำนาญเพื่อให้ลูกค้าของ อโรม่า กรุ๊ป ได้รับสินค้าคุณภาพของเราอย่างรวดเร็ว 
 
 ทีมบริการ 
       อโรม่า กรุ๊ป ยึดมั่นในเรื่องของการบริการเป็นสิ่งสำคัญในการประกอบธุรกิจ ซึ่งหัวใจแห่งการบริการเป็นวัฒนธรรมของ อโรม่า กรุ๊ป ที่ถูกส่งต่อจากรุ่นสู่รุ่น เราให้ความสำคัญ
 กับการดูแลลูกค้า โดยใช้ความจริงใจ ซื่อสัตย์ ตรงไปตรงมา และเราเชื่อว่าสิ่งเหล่านี้ทำให้ อโรม่า กรุ๊ป สามารถดำรงธุรกิจอยู่มาได้อย่างยาวนานกว่า 50 ปี 
	   ซึ่ง อโรม่า กรุ๊ป ได้รวมบุคลากรที่มีความชำนาญอย่างรอบด้าน เริ่มตั้งแต่ ทีมปฏิบัติการ ทีมขาย ทีมเซอร์วิส ทีมวางแผนการตลาด ทีมดูแลลูกค้า ทีมออกแบบดีไซน์ 
 ทีมซ่อมบำรุง ฯลฯ ซึ่งแต่ละทีมล้วนมีความชำนาญในเฉพาะทางอย่างแท้จริงและมาทำงานร่วมกันโดยมีเป้าหมายเพื่อผลักดันให้คู่ค้าทางธุรกิจของ อโรม่า กรุ๊ป ดำเนินไปได้
 อย่างราบรื่นแบบรอบด้านและยั่งยืน 
	   นอกจากนั้น อโรม่า กรุ๊ป ยังให้ความสำคัญกับการพัฒนานวัตกรรม ความรู้ อย่างไม่หยุดนิ่ง โดยเรามีแผนกวิจัยและพัฒนา ที่ดูแล รับผิดชอบการพัฒนาผลิตภัณฑ์ต่างๆ 
 เพื่อให้ผลิตภัณฑ์ของ อโรม่า กรุ๊ป ตอบโจทย์ความต้องการของตลาดได้อย่างตรงจุด 
	   รวมไปถึง สถาบันสอนพัฒนาธุรกิจกาแฟ หรือที่รู้จักกันดีในนาม Aroma Coffee Academy (ACA) โรงเรียนสอนและพัฒนาธุรกิจกาแฟที่มุ่งมั่นส่งต่อความรู้ 
 สานต่อความฝัน เติมเต็มแรงบันดาลใจให้กับผู้ที่มีความฝันในเส้นทางกาแฟและเครื่องดื่ม ซึ่ง Aroma Coffee Academy (ACA) นับเป็นสถาบันที่สามารถสร้างบุคลากรคุณภาพ
 เข้าสู่วงการกาแฟมาอย่างต่อเนื่องกว่า 3,000 คนต่อปี
	   จนในวันนี้ด้วยศักยภาพบุคลากรของอโรม่า กรุ๊ป ที่มีความรอบรู้ มองการณ์ไกล พร้อมตอบรับทุกความท้าทายและสามารถไว้เนื้อเชื่อใจและพึ่งพาได้ ทำให้เราสามารถพูด
 ได้อย่างเต็มภาคภูมิว่า อโรม่า กรุ๊ป มีความพร้อมในทุกๆ ด้าน ที่จะมุ่งพัฒนาก้าวไปข้างหน้าเคียงคู่กับสังคมไทยอย่างยั่งยืน ด้วยแนวคิด Brewing Fresh Experience 
 อย่างแท้จริง 




					
            </font>
            </pre>

        </div>
    </div>

</asp:Content>
