﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="HRPolicy_BusinessEthicsAC1.aspx.vb" Inherits="Aroma_HRPortal.HRPolicy_BusinessEthicsAC1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

<!-- banner -->
<div class="base-banner"><img src="new/images/banner/hr-policy/hr.jpg" alt=""/></div>
<!-- end banner -->

<article class="blog-details-page">
	<div class="container">
		
		<div class="post-heading">
            <ul>
                <li><a href="index_hr.aspx">HOME</a></li>
                <li>/</li>
                <li><a href="HRPolicy_Announce.aspx">ระเบียบต่างๆ</a></li>
                <li>/</li>
                <li><a href="HRPolicy_BusinessEthicsAC.aspx">ประกาศ คำสั่ง ระเบียบเกี่ยวกับบัญชี การเงิน งบประมาณ จัดซื้อ</a></li>
            </ul>
			<h2>ระเบียบการเบิก-เคลียร์ค่าใช้จ่ายต่างๆ</h2>
		</div> <!-- /.post-heading -->
		
		<div class="post-content">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 p-fix">
				<div class="blog-details-post-wrapper">
				
					<img src="new/images/banner/hr-policy/img19.jpg" alt=""/>
					
					<p style="padding: 30px 0 0;">
         		    	เพื่อให้การทำงานทุกหน่วยงานเป็นไปในทิศทางเดียวกัน เข้าใจระบบการทำงานแบบเดียวกัน และมีหลักในการปฏิบัติในเรื่องการเบิก – เคลียร์ อย่างมีประสิทธิภาพสูงสุด ทางฝ่ายบัญชี การเงิน และฝ่ายควบคุมงบประมาณ และตรวจติดตาม จึงขอกำหนดระเบียบการดำเนินงานต่างๆไว้ดังนี้
					</p>
					
					<h4>เบิกเงินทดรองจ่าย<br>
					ค่าใช้จ่ายที่สามารถเบิกจ่ายในระบบเงินทดรองจ่ายได้ตามกรณีดังนี้</h4>
					<p>
						<ul class="a" style="margin: 10px 0;">
							<li>ค่าใช้จ่ายประจำเซลล์</li>
							<li>ค่าใช่จ่ายงานช่าง</li>
							<li>ค่าใช้จ่ายบัญชี Audit</li>
							<li>พนักงานที่ออกปฏิบัติงานนอกสถานที่เป็นครั้งคราว</li>
							<li>พาลูกค้าไปดูงานต่างๆ</li>
							<li>ออกงาน Exhibition เฉพาะค่าใช้จ่ายที่ไม่ได้ติดต่อผ่าน Supplier เท่านั้น</li>
							<li>ติดตั้งเครื่องเพื่อขาย</li>
							<li>กิจกรรมตามคำสั่ง</li>
							<li>ไปดูงานต่างปะเทศ</li>
							<li>อบรมสัมมนาต่างๆ</li>
							<li>ซื้อสินค้ากรณีที่ไม่สามารถกำหนดจำนวนเงินได้ชัดเจนหรือ ราคาสินค้ามีการเปลี่ยนแปลงตลอดเวลา เช่น การซื้อทองคำ</li>	
						</ul>
							การจ่ายเงินทดรองจ่ายให้ยกเว้นการจ่ายเงินให้กับ Supplier ทั้งที่เป็นนิติบุคคล และบุคคลธรรมดากรณีมีความจำเป็นที่ต้องชำระเงินเป็นเงินสดให้ดำเนินการเข้าระบบ PR, PO ปกติ โดยการทำล่วงหน้า ตามระเบียบค่าใช้จ่ายที่ต้องดำเนินการเปิด PR (ใบขอซื้อ) และ PO (ใบสั่งซื้อ) การเบิกเงินทดรองจ่ายจะต้องดำเนินการตั้งเบิกล่วงหน้าอย่างน้อย 15 วันทำการ
					</p>
					
					<h4>เอกสารประกอบการเบิกเงินทดรองจ่าย</h4>
					<p>
						<ol>
							<li>ใบเบิกเงินทดรองจ่าย</li>
							<li>แผนงานออกงาน</li>
							<li>บันทึกภายในเรื่องที่ต้องการดำเนินการ</li>
							<li>เอกสารประกอบอื่นๆ ที่จำเป็น</li>
						</ol>
					</p>
					
					<h4>เอกสารประกอบการเบิกเงินทดรองจ่าย</h4>
					<p>
						<ol>
							<li>ใบเบิกเงินทดรองจ่าย</li>
							<li>แผนงานออกงาน</li>
							<li>บันทึกภายในเรื่องที่ต้องการดำเนินการ</li>
							<li>เอกสารประกอบอื่นๆ ที่จำเป็น</li>
						</ol>
					</p>
					
					<h4>เบิกเงินสำรองจ่าย<br>
					ค่าใช้จ่ายที่เป็นการสำรองจ่ายจากหน่วยงานต่างๆ ตามกลุ่มค่าใช้จ่ายดังนี้</h4>
					<p>
						<ol>
							<li>ค่าใช้จ่ายประจำเดือนของพนักงานเท่านั้น</li>
							<li>ค่ารับรอง สำหรับลูกค้า</li>
							<li>ค่าใช้จ่ายที่เบิกเป็นทดรองจ่ายไปตามรอบ</li>
						</ol>
					</p>
					
					<h4>เอกสารประกอบการเบิกสำรองจ่าย</h4>
					<p>
						<ol>
							<li>ใบขอเบิกเงินสำรองจ่าย</li>
							<li>ใบเสร็จรับเงิน /ใบกำกับภาษี</li>
							<li>เอกสารประกอบการเบิกต่างๆ (แบบเดียวกับการเคลียร์เงินทดรองจ่าย)</li>
						</ol>
					</p>
					
					<h4>เคลียร์เงินทดรองจ่าย ประกอบด้วยเอกสารดังนี้</h4>
					<p>
						<ol>
							<li>แบบฟอร์มใบเคลียร์เงินทดรองจ่าย</li>
							<li>ตารางเวลาการปฏิบัติงานที่อนุมัติแล้ว</li>
							<li>ใบเสร็จรับเงิน / ใบกำกับภาษี</li>
							<li>เอกสารประกอบการเบิกที่จำเป็น เช่น รูปภาพการทำงาน หลักฐานอื่นๆ</li>
							<li>ระยะเวลาการเคลียร์ ไม่เกิน 7 วัน นับจากวันที่ใช้จ่ายแล้วเสร็จ กรณีเอกสารประกอบการเบิกเกิน 2 เดือน ถือเป็นเอกสารที่ไม่สามารถใช้ในการเบิกจ่ายได้ เพราะอาจส่งผลกระทบต่อระบบบัญชี และภาษีได้ 
							 กรณีค่าใช้จ่ายที่มีภาษีหัก ณ ที่จ่าย จะต้องส่งเอกสารให้ทางฝ่ายบัญชี และการเงินภายในวันที่ 1 ของเดือนถัดไป ถ้าส่งล่าช้าผู้เบิกจะต้องรับผิดชอบจ่ายค่าเบี้ยปรับเงินเพิ่มในการชำระภาษีล่าช้าด้วย เช่น 
							 มีค่าใช้จ่ายเป็นค่าเช่ารถยนต์ จะต้องหักภาษี ณ ที่จ่าย 5% จะต้องส่งเอกสารให้ฝ่ายบัญชีภายในวันที่ 1 ของเดือนถัดไป ต.ย. ค่าใช้จ่ายเกิดขึ้นในในเดือน ม.ค. จะต้องนำส่ง ภาษีหัก ณ ที่จ่าย
							 ภายในวันที่ 1 ก.พ.</li>
						</ol>
						เอกสารการเคลียร์เงินทดรองจ่ายจะต้องเคลียร์ให้แล้วเสร็จหลังจากใช้งานจริงไม่เกิน 7 วันกรณีที่เบิกไปแล้วไม่ได้ใช้จริงหรือมีการเปลี่ยนแปลงระยะเวลาให้ดำเนินการเคลียร์คืนก่อน เมื่อกำหนดวันที่จะใช้ได้แล้วให้ทำเบิกทดรองจ่ายใหม่ แต่ถ้าเลื่อนกำหนดชัดเจนไม่เกิน 15 วัน ให้ทำบันทึกขออนุมัติจากต้นสังกัดเพื่อแจ้งเลื่อนกำหนดการเคลียร์เงินทดรองจ่ายออกไปตามกำหนดที่วางแผนไว้ตามแผนงาน
					</p>
					
					<h4>ค่าใช้จ่ายที่ต้องดำเนินการเปิด PR (ใบขอซื้อ) และ PO (ใบสั่งซื้อ)</h4>
					<p>
						<ol>
							<li>การซื้อของ หรือสินค้า เป็นเงินสด, เงินมัดจำ และจ่ายล่วงหน้าต่างๆ</li>
							<li>การจ้างงาน เช่น ค่าจ้างSupplier ออกงาน, Pretty, MC, พนักงานชั่วคราว, จ้างแรงงานต่างๆ, ศิลปินดาราหนักแสดง, ค่าเช่ายานพาหนะ, ค่าจ้าง Organize</li>
							<li>ค่าขนส่ง</li>
							<li>ค่าจ้างซ่อม หรือ PM</li>
							<li>ค่าใช้จ่ายตามสัญญาทุกกรณี</li>
							<li>ซื้อสินค้าตัวอย่าง</li>
							<li>ซื้อทรัพย์สิน</li>
							<li>ค่าใช้จ่ายในการออกงาน เช่น ค่าพื้นที่, ค่าสาธารณูปโภค และค่าใช้จ่ายที่ซื้อผ่าน Supplier โดยตรง</li>
							<li>ซื้อวัตถุดิบหลักที่เข้าคลังสินค้า และเข้าโรงงาน</li>
							<li>ซื้อสินค้า Premium ส่งเสริมการขาย การตลาดต่างๆ</li>
							<li>สื่อโฆษณา, สิ่งพิมพ์ Website, Media</li>
							<li>ค่าอบรมสัมมนา</li>
						</ol>
						**ยกเว้นส้นค่าวัตถุดิบย่อยที่ซื้อเพื่อใช้หน้าร้าน หรือสาขา**<br><br>
	
						หลักการจ่ายเงินตามเครดิตของ Supplier ขอให้ทางจัดซื้อหรือผู้ที่ติดต่อ Supplier พิจารณาระยะเวลาการจ่ายเงินด้วยเนื่องจากทางบัญชีการเงิน จะต้องมีระยะเวลาในการดำเนินการตามขั้นตอน
						ของเอกสารโดยใช้ระยะเวลาอย่างน้อยที่สุดในการดำเนินการแบบเร็วที่สุด 15 วัน ดังนั้น ถ้าต้องซื้อสินค้าที่ต้องจ่ายเป็นเงินสดหรือเครดิต 0 วัน ให้ดำเนินการล่วงหน้าอย่างน้อย 15 วัน<br><br>

						การตั้งเบิกค่าคอมมิชชั่นของฝ่ายขายให้ปฏิบัติดังนี้ ฝ่ายขายดำเนินการคำนวณ และตรวจสอบการจ่ายค่าคอมมิชชั่นพร้อมส่งคุณพริษฐ์ พิจารณาอนุมัติให้แล้วเสร็จภายในวันที่ 10 ของทุกเดือน 
						ส่งฝ่ายงบประมาณเพื่อบันทึกงบประมาณภายในวันที่ 11 ส่งฝ่ายบัญชีภายในวันที่ 11 และทางฝ่ายบัญชีจะทำการตรวจสอบยอดรายการจ่ายทั้งหมด กรณีเกิดข้อผิดพลาดจะส่งคืนฝ่ายขายเพื่อแก้ไขยอดกับทาง
						ฝ่ายงบประมาณ เมื่อแก้ไขเรียบร้อยแล้วจะส่งให้ฝ่ายการเงินเพื่อทำการตั้งจ่ายภายในวันที่ 20 ของทุกเดือน และค่าคอมจะจ่ายให้กับพนักงานภายในสิ้นเดือนของทุกเดือน<br><br>

						ทั้งนี้ให้มีผลตั้งแต่วันที่ 1 กุมภาพันธ์ 2559 จนกว่าจะมีการเปลี่ยนแปลง
					</p>
					
					<div class="blog-details-bt">
						<div class="btn-group">
							<asp:button id="backButton" runat="server" text="Back" class="btn btn-primary" OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>
						</div>
					</div>
				
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 p-fix">
				<aside>
					<div class="sidebar-news-list">
						<h4>CATEGORY</h4>
						<ul>
							<li>
								<a href="HRPolicy_BusinessEthicsHR.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบทรัพยากรมนุษย์</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAS.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบเกี่ยวกับทรัพย์สิน</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAC.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบเกี่ยวกับบัญชี การเงิน งบประมาณ จัดซื้อ</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsIT.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบเกี่ยวกับเทคโนโลยีสารสนเทศ</a>
							</li>
							<li>
								<a href="Benefits1_1.aspx" class="tran3s">ประกาศ คำสั่ง ระเบียบอื่นๆ</a>
							</li>
						</ul>
					</div>
				</aside>
				<aside>
					<div class="sidebar-news-list">
						<h4>Related Links</h4>
						<ul>
							<li>
								<a href="HRPolicy_BusinessEthicsAC1.aspx" class="tran3s">
									ระเบียบการเบิก-เคลียร์ค่าใช้จ่ายต่างๆ
								</a>
							</li>
							<li>
								<a href="HRPolicy_BusinessEthicsAC2.aspx" class="tran3s">
									ระเบียบการเบิกทดรองจ่ายฝ่ายขาย Aroma Shop
								</a>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
		
	</div>
</article>

</asp:Content>