﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="HRPolicy_BusinessEthics5.aspx.vb" Inherits="Aroma_HRPortal.HRPolicy_BusinessEthics5" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


        <br />
        <br />
        <br />
         <br />
        <br />

       
  <div class="btn-group">
                                 <asp:button id="backButton" runat="server" text="Back" class="btn btn-primary"
OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>

   </div>


      <div class="container">
        <h3>
            ข้อบังคับเกี่ยวกับการทำงาน 
        </h3>
        <h3>บริษัท  ฟู้ด  แกลเลอรี่  จำกัด 
        </h3>
         <h4>
        พ.ศ. 2551
        </h4>



        <div class="border">
        </div>
        <div class="row">

            <pre>
            โดยที่เห็นเป็นการสมควรปรับปรุงข้อบังคับเกี่ยวกับการทำงานของพนักงานให้เหมาะสม  จึงให้ยกเลิกข้อบังคับเกี่ยวกับการทำงานพนักงานทุกฉบับที่ได้ประกาศมาก่อนหน้านี้  
และให้ใช้ข้อบังคับเกี่ยวกับการทำงานนี้แทน   ดังนี้

หมวดที่ 1  ข้อความทั่วไป  ในระเบียบนี้
“บริษัท”		ให้หมายถึง	บริษัท  ฟู้ด  แกลเลอรี่  จำกัด  ทั้งในส่วนสำนักงานใหญ่  และสำนักงานสาขา  
“ผู้บริหาร”	ให้หมายถึง	ประธานกรรมการบริหาร  รองประธานกรรมการบริหาร  คณะกรรมการบริหาร   และกรรมการ
ผู้จัดการ
“พนักงาน”	ให้หมายถึง	พนักงานที่บริษัท มีคำสั่งทดลองปฏิบัติงาน  หรือบรรจุเป็นพนักงานประจำ
“รอบปีดำเนินงาน”	ให้หมายถึง	ระหว่างวันที่ 1 มกราคม ถึง 31 ธันวาคม ของปี
“วันทำงาน”	ให้หมายถึง	วันที่บริษัท กำหนดให้เปิดทำงานตามปกติ
“วันหยุด”	ให้หมายถึง	วันที่บริษัท กำหนดให้พนักงานหยุดประจำสัปดาห์  หยุดตามประเพณี  หรือหยุดพักผ่อน
ประจำปี

หมวดที่ 2  บริษัท  ฟู้ด  แกลเลอรี่  จำกัด
สำนักงานใหญ่
ตั้งอยู่ที่:	396   ถนนโชคชัย  4  แขวงลาดพร้าว   เขตลาดพร้าว   กรุงเทพมหานคร 10230
	โทรศัพท์ : 0-2538-3979    โทรสาร :  0-2538-7731  
หน้าที่:	บริษัท  ฟู้ด  แกลเลอรี่  จำกัด   คือผู้จัดหาและนำเข้าสินค้าประเภทอาหาร  เครื่องดื่ม  ผัก  ผลไม้  และเบเกอรี่ระดับพรีเมี่ยม หลากหลายประเภท  ให้บริการสำหรับกลุ่มลูกค้า  
Food  Service , Catering , Supermarket , Convenient  Store  รวมถึงร้าน     เบเกอรี่ทั่วไป 
กิจกรรม:จัดหาและนำเข้าจำหน่ายสินค้าประเภทอาหาร  เครื่องดื่ม  ผัก  ผลไม้  และเบเกอรี่ระดับพรีเมี่ยมหลากหลายประเภท  



หมวดที่ 3  คุณสมบัติของพนักงาน
คุณสมบัติของพนักงานมีดังต่อไปนี้
1.	มีสัญชาติไทยหรือสัญชาติอื่นที่ได้รับอนุญาตจากรัฐบาลไทยให้ประกอบอาชีพในประเทศไทยได้
2.	อายุไม่ต่ำกว่า 18 ปีบริบูรณ์
3.	ไม่เป็นผู้มีร่างกายทุพลภาพจนไม่สามารถปฏิบัติหน้าที่ได้  ไร้ความสามารถ  หรือจิตฟั่นเฟือนไม่สมประกอบ   โดยต้องมีใบรับรองแพทย์ของโรงพยาบาล ตามที่บริษัทมีความเชื่อถือได้ว่า
ไม่เป็นโรคตามหลักเกณฑ์ของบริษัทกำหนด ในการรับเข้าสมัครเป็นพนักงาน  รวมทั้งไม่เป็นโรคดังต่อไปนี้
3.1	โรคเรื้อน
3.2	วัณโรคในระยะอันตราย
3.3	โรคเท้าช้างในระยะที่ปรากฏอาการเป็นที่รังเกียจแก่สังคม
3.4	โรคยาเสพติด  เสพสารเสพติด
3.5	โรคพิษสุราเรื้อรัง
 3.6	  โรคติดต่อร้ายแรงอื่นๆ
4.	ไม่เป็นผู้มีความประพฤติเสื่อมเสีย  หรือบกพร่องในศีลธรรมอันดี
5.	ไม่เป็นผู้มีหนี้สินล้นพ้นตัว
6.	ไม่เป็นหรือเคยเป็นบุคคลล้มละลาย
7.	ไม่เป็นผู้เคยรับโทษจำคุกโดยคำพิพากษาถึงที่สุดให้จำคุก  เว้นแต่เป็นคดีอาญาที่ได้กระทำโดยประมาทหรือความผิด          ลหุโทษ
8.	ไม่เป็นผู้เคยถูกลงโทษให้ออก หรือปลดออก  หรือไล่ออก  จากหน่วยงานใด ๆ  เพราะกระทำผิดวินัย  หรือทุจริตต่อหน้าที่ 
9.	ต้องมีคุณวุฒิ หรือ วิทยฐานะ หรือมีความสามารถตรงตามที่บริษัท ต้องการและตรงกับที่ได้แจ้งไว้กับทางบริษัท ในใบสมัคร และเอกสารประกอบการสมัครงาน 
10.	ไม่เป็นกรรมการ  ผู้จัดการ  ที่ปรึกษา  หรือดำรงตำแหน่งอื่นใดให้กับบริษัท หรือหน่วยงานอื่นๆขณะปฏิบัติงานอยู่กับบริษัท    เว้นแต่ได้รับความเห็นชอบจากผู้บริหารของบริษัท
11.	คุณสมบัติอื่น ๆ ที่บริษัท จะได้พิจารณากำหนดขึ้นเป็นกรณี ๆ ไป ตามสภาพการจ้างแต่ละบุคคล แต่ละหน้าที่งาน
12.	หากพนักงานผู้ใดขาดคุณสมบัติข้างต้น ไม่ว่าข้อใดข้อหนึ่ง หรือกรอกข้อความอันเป็นเท็จในใบสมัครงาน  บริษัทบอกเลิกสัญญาจ้างได้ทันที  

หมวดที่ 4 หลักประกัน หรือการค้ำประกันความเสียหาย
    บริษัท ขอสงวนไว้ซึ่งสิทธิในอันที่จะเรียกหรือรับหลักประกันการทำงาน หรือหลักประกันความเสียหายในการทำงาน หรือการไม่ปฏิบัติตามคำสั่งหรือระเบียบของบริษัทจากการกระทำ
หรืองดเว้นการกระทำของพนักงาน ตามลักษณะ หรือสภาพของงานที่ทำนั้นพนักงานที่ต้องรับผิดชอบเกี่ยวกับการเงิน หรือทรัพย์สินของบริษัท ซึ่งอาจก่อให้เกิดความเสียหายแก่บริษัทได้ 
โดยจะเรียกเก็บจากพนักงานตามหลักเกณฑ์และวิธีการเรียกเก็บเงินที่รัฐมนตรีว่าการกระทรวงแรงงานประกาศกำหนด และพนักงานจะต้องมีบุคคลค้ำประกันความเสียหายก่อนและ
หรือหลังวันเริ่มปฏิบัติงาน จำนวนไม่น้อยกว่า 1  คนตามแต่กรณี ซึ่งต้องเป็นบุคคลที่บริษัทยอมรับได้เท่านั้น  ทั้งนี้ให้เป็นไปตามเงื่อนไขข้อตกลงในสัญญาค้ำประกัน  
โดยพนักงานขอรับรองว่าผู้ค้ำประกันที่ได้จัดหามามีความสามารถชดใช้ค่าเสียหายให้แก่บริษัทได้ทันทีโดยไม่เกินความเสียหายที่เกิดขึ้นจริง  และบริษัทขอสงวนสิทธิในการยกเลิก 
หรือเพิกถอนผู้ค้ำประกัน   หากภายหลังผู้ค้ำประกันเสียชีวิต หรือบริษัทไม่สามารถติดต่อผู้ค้ำประกันได้ พนักงานผู้นั้นต้องหาผู้ค้ำประกันรายใหม่มาทำสัญญาค้ำประกันแทน
ภายในระยะเวลาที่บริษัทกำหนด               มิฉะนั้นบริษัทจะถือว่าขาดคุณสมบัติการเป็นพนักงานของบริษัททันที 
โดยเฉพาะเมื่อพนักงานทราบถึงสถานภาพของบุคคลค้ำประกัน       ว่ามีการเปลี่ยนแปลงทางสถานภาพทางกฎหมาย ต้องรีบแจ้งให้ทาง
บริษัททราบและรีบจัดหาผู้ค้ำประกันรายใหม่มาทำสัญญาค้ำประกันเป็นการด่วน
            
 คุณสมบัติของผู้ค้ำประกัน  มีดังนี้
1. พนักงานรัฐวิสาหกิจหรือบริษัทเอกชน  (ยกเว้นสามี/ภรรยา/บุตรของพนักงาน)  มีฐานเงินเดือนตั้งแต่  8,000  บาท          
    ขึ้นไป  หรือ
2. ข้าราชการตั้งแต่ระดับ 3  ขึ้นไป หรือ ตำรวจ ทหาร ชั้นสัญญาบัตรขึ้นไป  
3. ผู้ค้ำประกันมีอายุไม่เกิน 50  ปี
4. ผู้ค้ำประกัน ได้ผ่านการทดลองงงานและบรรจุแล้ว  โดยมีอายุการทำงานในสถานที่ปัจจุบันไม่ต่ำกว่า  6  เดือน  
5. ต้องยื่นและแสดงเอกสาร  ดังนี้
                       - สำเนาบัตรข้าราชการ หรือสำเนาบัตรประชาชน ตามแต่กรณี  พร้อมแสดงเอกสารตัวจริง  
	                   - สำเนาทะเบียนบ้าน  พร้อมแสดงเอกสารตัวจริง  
                       - หนังสือรับรองการทำงาน พร้อมระบุตำแหน่งเงินเดือน  หรือสลิปเงินเดือนปัจจุบัน  (ฉบับจริง)

         การคืนหลักประกัน 
		บริษัท  จะคืนหลักประกัน ให้กับพนักงานที่บริษัทเลิกจ้าง      หรือพนักงานลาออกถูกต้อง    หรือสิ้นสุดสัญญาจ้าง  หลังจากที่ได้ตรวจสอบหนี้สินความเสียหายของทรัพย์สิน
ของบริษัทเสร็จสิ้น ภายใน 7 วัน  อนึ่งหลักประกันความเสียหายที่คืนให้นั้น   บริษัท จะคืนให้หลังจากที่หักค่าหนี้สินความเสียหายต่าง ๆ ที่เกิดขึ้นแล้วเท่านั้น

หมวดที่ 5  ประเภทของการจ้างงาน
หลักการจ้างของบริษัท  มีดังต่อไปนี้
ประเภทที่ 1 การจ้างชั่วคราว
1.   พนักงานที่จ้างในโครงการเฉพาะที่มิใช่งานปกติของธุรกิจ   หรือการค้าของบริษัท                 ซึ่งต้องมีระยะเวลาเริ่มต้น
       และสิ้นสุดของงานที่แน่นอน   หรือในงานอันมีลักษณะเป็นครั้งคราวที่มีกำหนดการสิ้นสุด หรือความสำเร็จของงาน หรือ   
       ในงานที่เป็นไปตามฤดูกาลและได้จ้างในช่วงเวลาของฤดูกาลนั้น  ซึ่งงานจะต้องแล้วเสร็จภายในระยะเวลาไม่เกินสองปี   
       โดยบริษัท   และพนักงานได้ทำสัญญาเป็นหนังสือไว้ตั้งแต่เมื่อเริ่มจ้าง  ทางบริษัท  จะเลิกจ้างพนักงานเมื่อครบกำหนด
       โดยไม่จ่ายเงินค่าชดเชย
2.    หากพนักงานชั่วคราวขาดงาน  ทางบริษัท จะงดจ่ายค่าจ้างตามจำนวนวันที่ขาดงาน
ประเภทที่ 2 การจ้างตามสัญญา
สำหรับพนักงานที่ได้รับการว่าจ้างให้ปฏิบัติหน้าที่ในโครงการพิเศษในระยะเวลาที่กำหนดไว้อย่างแน่นอน  จะมีการทำ
สัญญาว่าจ้างแยกต่างหากเป็นกรณีไป  
ประเภทที่  3 การทดลองงาน และการจ้างประจำ
1.	พนักงานทุกคนต้องผ่านระยะทดลองงานไม่เกิน  119  วัน  ก่อนได้รับบรรจุเป็นพนักงานประจำ  
2.	 บริษัท  อาจขยายระยะเวลาทดลองงานต่อได้  หากเมื่อประเมินผลแล้วพนักงานไม่ผ่านการทดลองงานตามข้อแรก
3.	ในระยะทดลองงานพนักงานทุกคนจะมีการทำสัญญาจ้างกำหนดระยะเวลาแน่นอน  หากพนักงานคนใดประพฤติ ปฏิบัติไม่เหมาะสม หรือมีผลงานไม่เป็นที่น่าพอใจไม่ว่าด้วยเหตุใดก็ตาม 
 สัญญาจ้างย่อมสิ้นสุดลงเมื่อครบกำหนดระยะเวลาในสัญญาจ้างโดยมิต้องบอกกล่าวล่วงหน้า   โดยไม่จ่ายเงินค่าชดเชย
4.	ถ้าพนักงานทดลองงานขาดงาน  ทางบริษัท จะงดจ่ายค่าจ้างตามจำนวนวันที่ขาด  
5.	พนักงานที่มีคุณสมบัติตามข้อกำหนดของบริษัท  และปฏิบัติงานได้เป็นที่พอใจ  อีกทั้งแสดงให้เห็นถึงการมีทัศนคติที่ดี
หลังจากผ่านการจ้างตามสัญญาจ้างข้อแรกแล้ว     จะได้รับการยืนยันการจ้างงานและบรรจุเป็นพนักงานประจำเป็นลาย  
ลักษณ์อักษรจากผู้บริหารของบริษัท หรือผู้ที่ได้รับมอบอำนาจจากบริษัท  หรือจากฝ่ายทรัพยากรมนุษย์ของบริษัทตามที่ได้รับมอบหมาย   
6.	เมื่อพนักงานทำงานให้บริษัทจนเป็นที่พอใจ  บริษัทเห็นควรปรับเปลี่ยน โยกย้าย และหรือเลื่อนตำแหน่งให้กับพนักงานได้ตามสมควร   เพื่อไปปฏิบัติงานให้กับหน่วยงานหนึ่งหน่วยงานใด
ของบริษัท หรือในเครือของบริษัท  ทั้งในประเทศและต่างประเทศ  

หมวดที่ 6  วันทำงาน  เวลาทำงานปกติ  วันหยุด  และเวลาพัก
1.  พนักงานต้องมีชั่วโมงการทำงานปกติ 8 ชั่วโมงต่อวัน  หรือสัปดาห์ละ 48 ชั่วโมงโดยไม่รวมเวลาพักและรับประทานอาหารกลางวันละ 1 ชั่วโมง  
2. สำหรับพนักงานประจำสำนักงานวันทำงานปกติคือ ตั้งแต่วันจันทร์ ถึง วันเสาร์  เวลาทำงานปกติตั้งแต่ 08.00 น. - 17.00 น.  เวลาพักรับประทานอาหารกำหนดให้ไม่เกินหนึ่งชั่วโมง  
ระหว่างเวลา 12.00 น. - 13.00 น.  วันหยุดประจำสัปดาห์คือ   
     วันอาทิตย์  ในกรณีที่มีการทำงานล่วงเวลาต่อจากเวลาทำงานปกติไม่น้อยกว่า  2  ชั่วโมง  ให้พนักงานพัก  30  นาทีก่อนที่พนักงานเริ่มทำงานล่วงเวลา
3. สำหรับพนักงานประจำสำนักงานสาขา  ประจำจุดขาย  ประจำจุดบริการ  ทำงานสัปดาห์ละ  6  วัน   โดยไม่เกินสัปดาห์ละ   48  ชั่วโมง   มีเวลาพักไม่เกินหนึ่งชั่วโมงต่อวัน  
4. การลงเวลาทำงาน  (ให้หมายถึง  การบันทึกเวลา/ตอกบัตร/รูดบัตรทำงาน)   พนักงานทุกคนต้องลงเวลาทำงาน    เข้า – ออก  
    ตามแบบที่บริษัทกำหนด      เว้นแต่พนักงานระดับตำแหน่งผู้จัดการฝ่ายอาวุโสขึ้นไป หรือพนักงานอื่นที่ผู้ บริหารได้มีมติ
    อนุมัติเป็นรายบุคคลและเป็นการชั่วคราวให้ปฏิบัติเป็นแบบอื่นแทนการลงเวลาทำงาน   อาทิ   ดูจากการลงนามเอกสาร
    การเข้าประชุม   เป็นต้น   การลงเวลาทำงานถือเป็นหลักฐานการปฏิบัติงานของ พนักงาน  กรณีที่ไม่ลงเวลา ทำงาน    ให้ถือ
    ว่าพนักงานผู้นั้นขาดงาน    ยกเว้นพนักงานที่ต้องปฏิบัติงานนอกสถานที่  หากไม่สามารถลงเวลาทำงานได้เมื่อกลับเข้า
    บริษัทแล้วต้องลงเวลาเข้า – ออก     และแจ้งให้ผู้บังคับบัญชาทราบถึงการปฏิบัติ      เพื่อจะได้ลงลายมือชื่อรับทราบในแบบ
    บันทึกเวลา  ถ้าไม่ปฏิบัติตามจะถือว่าพนักงานผู้นั้นขาดงานในวันดังกล่าว
5.  ห้ามพนักงานบันทึกเวลาแทนกันโดยเด็ดขาด  ไม่ว่าจะมีเจตนาหรือไม่มีเจตนาก็ตาม  บริษัทถือว่าเป็นการกระทำผิดระเบียบ ข้อบังคับเกี่ยวกับการทำงานขั้นร้ายแรง
6.  พนักงานซึ่งปฏิบัติงานประจำสาขาของบริษัท/ห้าง/ร้าน  ให้ลงเวลา และยึดถือปฏิบัติ ตามระเบียบข้อบังคับของบริษัท/ห้าง   
      /ร้าน ที่พนักงานปฏิบัติหน้าที่ประจำอยู่ 
7.  วันหยุดตามประเพณี  คือวันหยุดทำงานในรอบปีดำเนินงานตามที่บริษัท ประกาศกำหนด  ไม่น้อยกว่าปีละสิบสามวัน โดยรวมวันแรงงานแห่งชาติ   ซึ่งทางบริษัท  จะประกาศให้พนักงาน
ทราบล่วงหน้าในแต่ละปี และจ่ายค่าจ้างให้เท่ากับวันทำงานตามปกติ  ถ้าวันหยุดตามประเพณีวันใดตรงกับวันหยุดประจำสัปดาห์ให้เลื่อนวันหยุดตามประเพณีนั้นไปหยุดชดเชยในวันทำงานถัดไป
	8.   วันหยุดพักผ่อนประจำปี  คือ  วันที่พนักงานมีสิทธิหยุดได้ตามหลักเกณฑ์ดังนี้
     	8.1  พนักงานประจำทุกคนที่ทำงานครบ 1 ปี มีสิทธิได้หยุดพักผ่อนประจำปีตามอายุงานและระดับดังนี้
	อายุงาน			ระดับ A		ระดับ B		ระดับ C		ระดับ D
	    เกิน 1 ปีแต่ไม่เกิน 5 ปี	 	12  วัน		  9  วัน		   9  วัน		  6  วัน
	    เกิน 5 ปีแต่ไม่เกิน 10 ปี	 	15  วัน		 12 วัน		  12 วัน		  9  วัน
	    เกิน10 ปีแต่ไม่เกิน 15 ปี	 	17  วัน		 15 วัน		  15 วัน		 12 วัน
	    ตั้งแต่ 15 ปีขึ้นไป		19  วัน		 17 วัน		  17 วัน		 15 วัน

          ทั้งนี้ระดับพนักงาน  A , B , C  และ  D ให้เป็นไปตามประกาศกำหนดระดับพนักงานของบริษัท
8.2. พนักงานประจำจะได้รับค่าจ้างระหว่างวันหยุดพักผ่อนประจำปีด้วย
8.3. วันหยุดพักผ่อนประจำปีจะนำไปสะสมหยุดในปีต่อไปไม่ได้
8.4	บริษัท จะเป็นผู้กำหนดวันหยุดพักผ่อนประจำปีให้แก่พนักงานล่วงหน้าในแต่ละปี   แต่พนักงานจะต้องแจ้งขอหยุดพักผ่อนประจำปีเป็นลายลักษณ์อักษรตามแบบฟอร์มที่บริษัท กำหนดล่วงหน้าเ
ป็นเวลาอย่างน้อย 7 วัน  ต่อผู้บังคับบัญชาเพื่ออนุมัติก่อน จึงจะหยุดได้โดยได้รับค่าจ้าง

หมวดที่ 7  การจ่ายเงินเดือน  ค่าล่วงเวลา  ค่าทำงานในวันหยุด  ค่าล่วงเวลาในวันหยุด และสวัสดิการพนักงาน
1. บริษัท  จะจ่ายเงินเดือน ค่าล่วงเวลา  ค่าทำงานในวันหยุด และค่าล่วงเวลาในวันหยุดเดือนละหนึ่งครั้งในวันทำงานปกติวัน
    สุดท้ายของเดือน  โดยจะจ่ายผ่านทางธนาคารตามที่บริษัทกำหนด  หรือจ่ายเป็นเงินสด  ตามแต่กรณี
2. บริษัท อาจให้พนักงานทำงานล่วงเวลาในวันทำงาน หรือทำงานในวันหยุด รวมถึงล่วงเวลาในวันหยุดได้เป็นครั้งคราว  
    โดยได้รับความยินยอมจากพนักงานเป็นแต่ละคราวไป  เว้นแต่ในกรณีที่ลักษณะหรือสภาพของงานต้องทำติดต่อกันไป ถ้า
     หยุดจะเสียหายแก่งาน หรือเป็นงานฉุกเฉิน  บริษัทจะให้พนักงานทำงานล่วงเวลาในวันทำงาน  ทำงานในวันหยุด  และ
     ทำงานล่วงเวลาในวันหยุดได้เท่าที่จำเป็นโดยไม่ต้องได้รับความยินยอมจากพนักงานก่อน    การทำงานล่วงเวลาในวันทำงาน  ทำงานในวันหยุด  และล่วงเวลาในวันหยุด  
     จะไม่เกินสัปดาห์ละ 36  ชั่วโมง
3.  เมื่อผู้บังคับบัญชาเห็นสมควรให้พนักงานปฏิบัติงานนอกหรือเกินเวลาทำงานปกติหรือทำงานในวันหยุด  ให้เสนอเรื่องต่อผู้บังคับบัญชาตามลำดับชั้น  เมื่อได้รับอนุมัติจากผู้บังคับบัญชาตามลำดับชั้น
แล้วจึงจะปฏิบัติงานนอกหรือเกินเวลาทำงานปกติหรือทำงานในวันหยุดได้
4.  การทำงานในวันหยุดโดยปกติให้เริ่มและสิ้นสุดการปฏิบัติงานในวันนั้น ๆ  เช่นเดียวกับเวลาทำงานของวันทำงานปกติ  
      เว้นแต่ผู้บังคับบัญชาเห็นสมควรให้พนักงานทำงานเกินเวลาดังกล่าวเพื่อประโยชน์ของบริษัท  และจะต้องมีหนังสืออนุมัติ
      จากผู้บังคับบัญชาตามลำดับชั้น
5.  บริษัท กำหนดให้มีการจ่ายค่าล่วงเวลาและค่าทำงานในวันหยุดตามอัตราดังนี้
5.1. ค่าล่วงเวลาในวันทำงานปกติ  หมายถึง       ค่าล่วงเวลาที่เกิดจากการทำงานนอกหรือเกินเวลาทำงานปกติ  โดย    
       บริษัทจะจ่ายค่าตอบแทนให้ในอัตรา 1.5 เท่าของอัตราค่าจ้างต่อชั่วโมง คูณด้วยจำนวนชั่วโมงที่ทำงาน
5.2	ค่าทำงานในวันหยุดประจำสัปดาห์  วันหยุดตามประเพณี  และวันหยุดพักผ่อนประจำปี  หมายถึง  ค่าตอบแทนการทำงานในเวลาทำงานปกติในวันหยุดประจำสัปดาห์  วันหยุดตามประเพณี  
และวันหยุดพักผ่อนประจำปีบริษัทจะจ่ายค่าทำงานในวันหยุดให้แก่พนักงานในอัตรา ดังต่อไปนี้
     5.2.1 สำหรับพนักงานที่ได้รับค่าจ้างในวันหยุด       บริษัทจะจ่ายให้เพิ่มขึ้น 1 เท่าของอัตราค่าจ้างต่อชั่วโมงใน
     วันทำงานตามจำนวนชั่วโมงที่ทำงาน
     5.2.2 สำหรับพนักงานที่ไม่มีสิทธิ์ได้รับค่าจ้างในวันหยุด   บริษัทจะจ่ายให้ 2 เท่าของอัตราค่าจ้างต่อชั่วโมงในวัน             
              ทำงานตามจำนวนชั่วโมงที่ทำงาน
5.3	ค่าล่วงเวลาในวันหยุดประจำสัปดาห์  วันหยุดตามประเพณี  และวันหยุดพักผ่อนประจำปี  หมายถึง  ค่าล่วงเวลาที่เกิดขึ้นจากการทำงานนอกหรือเกินเวลาทำงานปกติ 8 ชั่วโมงแรกในวันหยุด  
บริษัทจะจ่ายค่าตอบแทนให้ในอัตรา 3 เท่าของอัตราค่าจ้างต่อชั่วโมงในวันทำงานตามจำนวนชั่วโมงที่ทำงาน
5.4	ค่าล่วงเวลาและค่าทำงานในวันหยุดประจำสัปดาห์  วันหยุดตามประเพณี  และวันหยุดพักผ่อนประจำปี  จะจ่ายให้ในวันเดียวกับการจ่ายเงินเดือน  
6.  ในกรณีที่บริษัทเลิกจ้างพนักงาน  บริษัทจะจ่ายค่าจ้าง  ค่าล่วงเวลา  ค่าทำงานในวันหยุด และค่าล่วงเวลาในวันหยุดตามที่
      พนักงานมีสิทธิได้รับ ให้แก่พนักงานภายใน  3  วันนับแต่วันที่เลิกจ้าง
7.  บริษัท  กำหนดให้มีสวัสดิการให้แก่พนักงานตามสมควร ดังนี้ 
7.1 ซื้อสินค้าบริษัท ในราคาสวัสดิการ
7.2 เบี้ยขยัน
7.3 ค่าโทรศัพท์มือถือเพื่อใช้ในการติดต่องานของบริษัท
7.4 ค่าน้ำมันรวมค่าสึกหรอยานพาหนะ
7.5 เครื่องแบบพนักงาน ตามแต่ตำแหน่งงาน
7.6 ค่าเบี้ยเลี้ยงและค่าที่พักในกรณีเดินทางไปติดต่องานนอกสถานที่ต่างจังหวัดหรือต่างประเทศ
7.7 บ้านพักพนักงาน  เป็นกรณีๆ ไป 
7.8 ค่าคอมมิชชั่น  เป็นต้น

หมวดที่  8  การลาและหลักเกณฑ์การลา
	การลาป่วย ลากิจและการหยุดพักผ่อนประจำปี  ไม่นับวันหยุดทำงานของบริษัท  รวมเข้าเป็นวันลาด้วย  ไม่ว่าวันหยุดนั้นจะอยู่ในระหว่างหรือก่อนหรือหลังวันลา  
การลา  การหยุดทุกกรณี  พนักงานต้องใช้แบบฟอร์มตามที่บริษัทกำหนด
1.	การลาป่วย  
	พนักงานมีสิทธิลาป่วยได้เท่าที่ป่วยจริง  โดยได้รับค่าจ้างไม่เกิน 30 วันทำงานในหนึ่งปี   ตามที่กำหนดไว้ใน กฎหมายแรงงาน
	เมื่อเกิดอาการเจ็บป่วย  พนักงานต้องแจ้งให้ผู้บังคับบัญชาทราบก่อนเริ่มงาน หรือทันที   โดยการแจ้งด้วยตนเอง  โทรศัพท์   โทรสาร  อีเมล์  หรือวิธีอื่นใดที่จะให้ผู้บังคับบัญชาทราบ
	พนักงานต้องยื่นใบลาป่วยต่อผู้บังคับบัญชาในวันแรกที่กลับมาทำงาน
	การลาป่วยตั้งแต่ 3 วันทำงานขึ้นไปไม่ว่าจะมีวันหยุดอื่นคั่นหรือไม่ก็ตาม   พนักงานจะต้องแสดงใบรับรองแพทย์แผนปัจจุบันชั้น 1  และต้องยื่นใบลาป่วยต่อผู้บังคับบัญชาในวันแรกที่กลับมาทำงาน  
    ในกรณีพนักงานไม่อาจแสดงใบรับรองของแพทย์แผนปัจจุบันชั้นหนึ่ง  หรือของสถานพยาบาลของทางราชการได้ ให้พนักงานชี้แจงให้บริษัททราบ  ถ้าบริษัทจัดแพทย์ไว้ ให้แพทย์นั้นเป็นผู้ออกใบรับรอง  
    เว้นแต่พนักงานไม่สามารถให้แพทย์นั้นตรวจได้
	พนักงานผู้ใดละเลยหรือเจตนาหลีกเลี่ยงไม่ปฏิบัติตามข้อ 1.2 ,1.3 และ 1.4  ให้ถือเป็นการขาดงานซึ่งมิใช่การลาป่วย
2.	การลากิจ
	พนักงานมีสิทธิลากิจธุระอันจำเป็นโดยได้รับค่าจ้างไม่เกิน 6 วันทำงานในหนึ่งปี โดยมีเหตุอันควร   แต่ช่วงระหว่างทดลองงานพนักงานลากิจธุระอันจำเป็นได้แต่ไม่ได้รับค่าจ้าง
	พนักงานที่มีความประสงค์จะลากิจจะต้องแจ้งเป็นลายลักษณ์อักษรต่อผู้บังคับบัญชาเพื่ออนุมัติล่วงหน้าอย่างน้อย         2 วัน ในกรณีฉุกเฉินไม่สามารถส่งใบลาล่วงหน้าได้ให้แจ้งต่อ
    ผู้บังคับบัญชาโดยทางโทรศัพท์ โดยเร็วที่สุด  และให้ส่งใบลาในวันแรกที่มาปฏิบัติงาน พร้อมแสดงเอกสารหลักฐานแนบประกอบการลา
3.	การลาคลอดบุตร
	พนักงานซึ่งเป็นหญิงมีสิทธิลาคลอดครรภ์หนึ่งไม่เกิน 90 วันปฏิทิน  โดยจะได้รับค่าจ้าง 45 วันปฏิทิน
	พนักงานซึ่งเป็นหญิงที่จะลาคลอดจะต้องแจ้งให้ผู้บังคับบัญชาทราบถึงวันครบกำหนดคลอดล่วงหน้า 2 เดือน  และจะต้องยื่นใบขอลาคลอดให้ฝ่ายทรัพยากรมนุษย์ ก่อนวันครบกำหนดคลอด  
    การลาคลอดจะต้องมีใบรับรองแพทย์แผนปัจจุบันชั้น 1 ประกอบการลาด้วย  
	พนักงานหญิงมีครรภ์ ให้แจ้งบริษัททราบทันที ที่ทราบถึงการตั้งครรภ์  
	ในกรณีพนักงานซึ่งเป็นหญิงมีครรภ์มีใบรับรองของแพทย์แผนปัจจุบันชั้น 1 มาแสดงว่าไม่อาจทำงานในหน้าที่เดิมต่อไปได้  ให้พนักงานซึ่งเป็นหญิงมีครรภ์มีสิทธิขอให้บริษัทเปลี่ยนงานในหน้าที่เดิม
    เป็นการชั่วคราวก่อนหรือหลังคลอดได้  และทางบริษัทจะพิจารณาเปลี่ยนงานที่เหมาะสมให้แก่พนักงานนั้น
4.	พนักงานมีสิทธิลาเพื่อทำหมันได้ และมีสิทธิลาเนื่องจากการทำหมันโดยได้รับค่าจ้างตามระยะเวลาที่แพทย์แผนปัจจุบันชั้นหนึ่งกำหนด  และออกใบรับรอง  
5.	การลาอุปสมบทหรือลาไปประกอบพิธีฮัจย์ ณ เมืองเมกกะ ประเทศซาอุดิอาระเบีย  พนักงานที่ยังไม่เคยอุปสมบทหรือประกอบพิธีฮัจย์ และมีอายุการทำงานในบริษัทมาแล้วไม่น้อยกว่าหนึ่งปี    
จะลาอุปสมบทหรือประกอบพิธีฮัจย์ได้มี
กำหนดไม่เกินสามสิบวันโดยไม่ได้รับค่าจ้าง  โดยให้ยื่นใบลาเป็นลายลักษณ์อักษรล่วงหน้าอย่างน้อย  30 วันต่อผู้บังคับบัญชาต้นสังกัดเพื่อทราบ และให้นำเสนอต่อผู้บริหารเพื่ออนุมัติ 
และเมื่อลาสิกขาบทหรือเดินทางกลับจากการประกอบพิธีฮัจย์แล้ว ต้องกลับเข้าทำงานทันทีและถือว่าสิทธิการลาประเภทนี้สิ้นสุดแม้จะยังไม่ครบวันลา  



6.	การลาเพื่อเข้ารับราชการทหาร  ให้ได้รับค่าจ้างตามระยะเวลาที่ทางราชการกำหนดแต่ปีหนึ่งไม่เกิน 60 วัน  พนักงานที่ได้รับหมายเรียกหรือหนังสือเพื่อเข้ารับราชการทหาร  
ให้แจ้งและเขียนใบลาเสนอต่อผู้บังคับบัญชาพร้อมแสดงหมายเรียกหรือหนังสือเพื่อเข้ารับราชการทหารในทันที   การถูกเกณฑ์เข้ารับราชการทหารไม่อยู่ภายใต้บังคับของการลาประเภทนี้ 
 เมื่อพ้นจากการถูกเกณฑ์เข้ารับราชการทหารโดยไม่มีความเสียหายอาจขอกลับเข้าทำงานในบริษัท  ได้อีกถ้ามีตำแหน่งว่างและเหมาะสม  ทั้งนี้ให้อยู่ในดุลยพินิจของผู้บริหาร
7.    การลาเพื่อฝึกอบรมหรือพัฒนาความรู้  ให้พนักงานมีสิทธิลาเพื่อการฝึกอบรมหรือพัฒนาความรู้ความสามารถ  โดยไม่ได้
       รับค่าจ้าง  ในกรณีดังต่อไปนี้
7.1	เพื่อประโยชน์ต่อการแรงงานและสวัสดิการสังคม   หรือการเพิ่มทักษะความชำนาญเพื่อประสิทธิภาพในการทำงานของพนักงาน  
7.2	การสอบวัดผลทางการศึกษาที่ทางราชการจัดหรืออนุญาตให้จัดขึ้น  แต่ไม่รวมไปถึงการลาศึกษาต่อ   
7.3	ให้ยื่นใบลาเป็นลายลักษณ์อักษรล่วงหน้าไม่น้อยกว่า   7  วันต่อผู้บังคับบัญชาต้นสังกัดเพื่อทราบ และให้นำเสนอต่อผู้บริหารเพื่ออนุมัติ   เมื่อบริษัทอนุญาตแล้วจึงจะลาหยุดเพื่อการดังกล่าวได้
8. การลาพิเศษ  พนักงานมีสิทธิขอลานอกเหนือไปจากการลาหยุดพักผ่อนประจำปีและหลักเกณฑ์ที่กำหนดไว้ในข้อ 1           
     ถึงข้อ  7 ได้โดยไม่ได้รับค่าจ้างและเงินตอบแทน  โดยถือเป็นการลาพิเศษ  โดยจะต้องมีการพิจารณาเป็นรายกรณีไป
9. อำนาจในการอนุญาตให้ลา
9.1	ลาป่วย  ลากิจ  หยุดพักผ่อนประจำปี  ไม่เกิน 3 วัน  เป็นอำนาจของผู้บังคับบัญชาตั้งแต่ระดับหัวหน้างานขึ้นไป  จนถึงระดับผู้จัดการฝ่ายหรือเทียบเท่า  ตามแต่กรณี
9.2	ลาป่วย  ลากิจ  ลาหยุดพักผ่อนประจำปี  เกิน 3 วันขึ้นไป  ลาคลอดบุตร  ลาทำหมัน  ลาเพื่อเข้ารับราชการทหาร  ลาอุปสมบทหรือลาไปประกอบพิธีฮัจย์  ลาเพื่อฝึกอบรมหรือพัฒนาความรู้  
 เป็นอำนาจของผู้บริหาร หรือผู้ที่ได้รับมอบหมายแล้วแต่กรณี
9.3	กรณีพนักงานขอลาที่ถือเป็นการลาพิเศษ  ให้เป็นอำนาจของผู้บริหาร หรือผู้ที่ได้รับมอบหมายแล้วแต่กรณี   ทั้งนี้โดยให้คำนึงถึงความเสียหายของบริษัท  ว่าจะเกิดความเสียหายหรือไม่

หมวดที่ 9  วินัย
	นโยบายโดยทั่วไปสำหรับวินัยของพนักงานบริษัทนั้น   คือทางบริษัทต้องการให้พนักงานแต่ละคนปฏิบัติงานในหน้าที่ให้ดีที่สุดตามความสามารถของแต่ละคน  และต้องประพฤติปฏิบัติตนทั้งใน
    ขณะปฏิบัติหน้าที่และเมื่ออยู่ภายนอกบริษัท  เพื่อก่อให้เกิดผลดีต่อตนเองและเพื่อชื่อเสียงของบริษัท  พนักงานทุกคนต้องเคารพในอำนาจของผู้บังคับบัญชา  และต้องปฏิบัติตามกฎและระเบียบของ
    บริษัทที่กำหนดไว้ทุกประการโดยเคร่งครัด
1. พนักงานต้องแจ้งต่อฝ่ายทรัพยกรมนุษย์ถึงข้อมูลเกี่ยวกับที่พักอาศัย  หมายเลขโทรศัพท์  สถานภาพการสมรส  การมีบุตร  การเปลี่ยนชื่อ-นามสกุล  เมื่อมีการเปลี่ยนแปลงข้อมูลใดก็ตามจะต้องแจ้ง
ฝ่ายทรัพยากรมนุษย์ให้ทราบภายใน 7 วัน
2. การทำงาน
2.1.	พนักงานต้องมาทำงานตรงตามเวลาและต้องปฏิบัติงานตามเวลาที่กำหนดไว้  
2.2.	การมาทำงานสายถือว่าผิดวินัยและจะได้รับการดำเนินการทางวินัย
2.3.	พนักงานต้องปฏิบัติตามระเบียบว่าด้วยการลางานหรือหยุดงานโดยเคร่งครัด
2.4.	พนักงานต้องไม่ขาดงานโดยปราศจากการอนุญาตที่เป็นลายลักษณ์อักษรจากผู้บังคับบัญชาตามลำดับชั้น
2.5.	พนักงานที่ขาดงานโดยไม่ได้รับอนุญาตเป็นลายลักษณ์อักษรจะถูกงดจ่ายค่าจ้างในวันที่ขาดงาน  และจะถูกดำเนินการทางวินัยตามความเหมาะสมด้วย


3. การขาดงาน
3.1.	การขาดงานโดยไม่ได้รับอนุญาตเกิน 3 วันทำงาน  อาจเป็นเหตุให้ถูกปลดจากงานโดยไม่มีการบอกกล่าวล่วงหน้าและไม่จ่ายเงินชดเชย
3.2.	ในกรณีฉุกเฉินที่พนักงานไม่สามารถมารายงานตัวตามเวลาปฏิบัติงานได้ต้องโทรศัพท์แจ้งให้ผู้บังคับบัญชา  หรือฝ่ายทรัพยากรมนุษย์ทราบโดยทันที
4. การเข้า-ออก บริเวณบริษัท
4.1. พนักงานจะต้องเข้า-ออกทางประตูสำหรับพนักงานที่กำหนดไว้เท่านั้น
4.2.	ห้ามพนักงานบันทึก ตอกบัตร  รูดบัตรลงเวลาให้กับพนักงานคนอื่น  ถ้าฝ่าฝืนจะถูกดำเนินการทางวินัย
4.3.	พนักงานที่เข้ามาในบริเวณของบริษัท  จะต้องแต่งกายให้สุภาพเรียบร้อยตามแบบบริษัทกำหนด
4.4.	พนักงานต้องคล้องบัตร หรือติดบัตรประจำตัวพนักงานขณะอยู่ในบริเวณบริษัท ตลอดเวลาทำงาน  หรือขณะให้บริการลูกค้าประจำสาขา   ประจำจุดบริการ  หรือขณะให้บริการลูกค้านอกสถานที่
4.5.	นอกจากการทำงานตามเวลาทำงาน  หรือตามหน้าที่ที่ได้รับมอบหมาย  ห้ามพนักงานเข้ามาหรืออยู่ในสถานที่ทำงาน  บริเวณของบริษัทหรือของลูกค้าโดยไม่ได้รับอนุญาต
4.6.	ห้ามนำบุคคลภายนอก ที่ไม่มีส่วนเกี่ยวข้องในการทำงานเข้าไปในสถานที่ทำงานบริเวณของบริษัท  และหรือสาขาของบริษัทโดยไม่ได้รับอนุญาต
5. การตรวจค้น  พนักงานต้องยินยอมให้ผู้ที่ได้รับมอบหมายจากทางบริษัท  ตรวจค้นได้ทั้งในเวลาเข้า-ออก หรือขณะที่อยู่ใน
    บริเวณบริษัท
6. การนำของออกจากบริษัท
6.1.	การนำหีบห่อ สัมภาระส่วนตัว  ออกนอกบริษัท  บริษัทอาจให้ผู้ได้รับมอบหมายตรวจสอบก่อนจึงจะนำออกไป
6.2.	ทรัพย์สินหรืออุปกรณ์ของบริษัท   หรือของลูกค้าที่นำมาฝากไว้ที่บริษัทเพื่อซ่อม เพื่อขาย หรือเพื่อการอื่นใด  ที่ต้องนำออกไปเพื่อปฏิบัติงาน หรือทำกิจกรรมของบริษัท  
หรือเพื่อซ่อมแซมจะต้องมีใบอนุญาตนำออกโดยมีลายเซ็นของผู้จัดการแผนก/ผู้จัดการฝ่ายที่เกี่ยวข้อง  และต้องให้ผู้ที่ได้รับมอบหมายจากบริษัท  เซ็นชื่อรับทราบก่อนจึงนำออกไปได้  
และเมื่อนำของเข้าจะต้องให้ผู้ที่ได้รับมอบหมายตรวจสอบและลงบันทึกไว้เป็นหลักฐาน
7. การใช้โทรศัพท์ส่วนตัว  บริษัทอนุญาตให้พนักงานใช้โทรศัพท์ในเรื่องส่วนตัวในเวลาทำงานเฉพาะเหตุจำ เป็นเท่านั้น  การใช้โทรศัพท์ทางไกลหรือมือถือให้พนักงานเป็นผู้รับผิดชอบค่าใช้จ่าย
โดยจะต้องจดบันทึกเลขหมายและเวลาในการใช้เพื่อเปรียบเทียบค่าใช้จ่ายกับใบแจ้งหนี้ขององค์การโทรศัพท์หรือการสื่อสารแห่งประเทศไทย
8. พนักงานได้รับบาดเจ็บหรือประสบอุบัติเหตุขณะทำงาน    ต้องรายงานให้ผู้บังคับบัญชา หรือฝ่ายทรัพยากรมนุษย์ทราบ
    โดยทันที
9. วินัยอื่น ๆ
9.1.	ต้องรักษาความลับของบริษัท  ของเพื่อนพนักงาน  ผู้บังคับบัญชา  และลูกค้าอย่างเคร่งครัด
9.2.	ต้องปฏิบัติหน้าที่ด้วยความซื่อสัตย์ เที่ยงธรรม และประพฤติตนอยู่ในความสุจริต  ทั้งต้องไม่กระทำการหรือยอมให้ ผู้อื่นกระทำการหาผลประโยชน์อย่างใด ๆ อันอาจเป็นทางให้เสียความเที่ยงธรรม
หรือความไว้วางใจในการปฏิบัติหน้าที่   
9.3.	ต้องสุภาพเรียบร้อย  อยู่ในมารยาทอันดีงาม  เชื่อฟังและไม่แสดงความกระด้างกระเดื่องต่อผู้บังคับบัญชา  ทั้งต้องปฏิบัติตามคำสั่งของผู้บังคับบัญชาซึ่งสั่งในหน้าที่โดยชอบ  
และห้ามกระทำการข้ามผู้บังคับบัญชาเว้นแต่ได้รับอนุญาต
9.4.	ต้องให้บริการลูกค้าทั้งภายในและภายนอก  ให้การต้อนรับ คำชี้แจง ความสะดวก ความเป็นธรรมแก่ผู้ที่มาติดต่อด้วยความสุภาพเรียบร้อย  และโดยมิชักช้า


9.5.	ต้องอุทิศเวลาให้แก่กิจการของบริษัท จะละทิ้งหรือทอดทิ้งหน้าที่ไม่ได้  
9.6.	ต้องรักษาและคงไว้ซึ่งความสามัคคีระหว่างพนักงาน  ไม่ยุยงส่งเสริม  ไม่สนับสนุนให้เกิดความแตกความสามัคคี  ไม่ทะเลาะวิวาทหรือการทำร้ายร่างกายในหมู่พนักงานของบริษัท  
หรือระหว่างพนักงานของบริษัทกับบุคคลภายนอก 
9.7.	ต้องปฏิบัติหน้าที่ด้วยความอุตสาหะ  รวดเร็ว  ให้เกิดผลดี และความก้าวหน้าแก่บริษัท  ทั้งต้องเอาใจใส่รักษาผลประโยชน์และชื่อเสียงอันดีของบริษัท
9.8.	ต้องประพฤติตนให้อยู่ในศีลธรรมอันดี  ไม่ประพฤติเสื่อมเสีย  ไม่กระทำการอันได้ชื่อว่าประพฤติชั่ว  เช่น  ประพฤติตนเป็นคนเสเพล มีหนี้สินรุงรัง เสพสุรา ของมึนเมาจนไม่สามารถครองสติได้ 
เสพยาเสพติดให้โทษ  เล่นการพนัน  กระทำความผิดอาญา  หรือกระทำความผิดอื่นใดซึ่ง ความประพฤติหรือการกระทำดังกล่าวอาจทำให้เสื่อมเสียแก่เกียรติศักดิ์ของตำแหน่งหน้าที่ของบริษัท
9.9.	 ต้องไม่เสพสุรา  ของมึนเมา  หรือยาเสพติดก่อนปฏิบัติหน้าที่   ในระหว่างเวลาทำงาน หรือในขณะปฏิบัติหน้าที่
9.10.	ต้องไม่ดูหมิ่นเหยียดหยามบุคคลใด ๆ
9.11.	ต้องรักษาความสะอาดไม่ทิ้งสิ่งของหรือสิ่งปฏิกูลใดๆ  นอกภาชนะที่บริษัทได้จัดไว้
9.12.	ช่วยกันดูแลประหยัดการใช้วัสดุ  อุปกรณ์  เครื่องมือเครื่องใช้ในการปฏิบัติงาน  พลังงานและสิ่งอื่นๆให้สิ้นเปลือง 
   น้อยที่สุด
9.13.	ไม่ช่วยเหลือสนับสนุน  ชักจูง  รู้เห็นเป็นใจ  หรือเพิกเฉย  ต่อการกระทำความผิดของพนักงานอื่น
9.14.	ห้ามรับจ้างทำงาน  หรือดำเนินธุรกิจใดๆอันอาจเป็นผลกระทบกระเทือนเวลาทำงาน  หรือกิจการของบริษัท
9.15.	ไม่ประพฤติตนหรือกระทำการใดๆให้บริษัท  หรือลูกค้า  หรือพนักงานของบริษัท เสื่อมเสียชื่อเสียง  หรืออาจได้รับ
   ความเสียหาย
9.16.	ระมัดระวังดูแลรักษาสิ่งของหรือทรัพย์สินของบริษัทและของลูกค้า  และต้องแจ้งให้หัวหน้างานทราบเมื่อทำสิ่งของ
          หรือของลูกค้าเสียหายหรือสูญหาย
9.17.	ห้ามสูบบุหรี่ภายในสถานที่ทำงานบริเวณบริษัท  หรือก่อให้เกิดประกายไฟ  ในสถานที่ซึ่งเก็บวัสดุไวไฟหรือวัตถุซึ่ง
          เป็นเชื้อเพลิงหรือภายในบริเวณของบริษัท  เว้นแต่สถานที่ที่บริษัทได้กำหนดไว้ให้เท่านั้น     
9.18.	ห้ามพนักงานนำซอฟท์แวร์  หรือโปรแกรมคอมพิวเตอร์ที่ทางบริษัท ไม่ได้รับลิขสิทธิ์    หรือนำข้อมูลจากทาง
   อินเตอร์เน็ตหรือโปรแกรมที่บริษัทฯไม่อนุญาตให้ใช้งาน   และหรือไม่ได้รับอนุญาตจากเจ้าของลิขสิทธิ์  แล้ว
          นำมาใช้งานในบริษัท หรือสาขาไม่ว่าจะนำมาแสวงหาผลประโยชน์หรือไม่ก็ตาม   โดยการกระทำดังกล่าวบริษัท
          ถือว่าเป็นการทำให้บริษัท ได้รับความเสียหาย    
9.19.	ให้ศึกษาและทำความเข้าใจถึงวิธีการใช้   และตำแหน่งในด้านความปลอดภัยของทรัพย์สินของบริษัท       และของ    
          พนักงานก่อนที่จะใช้เสมอ  และต้องใช้เครื่องป้องกันอันตรายที่บริษัทจัดหาให้
9.20.	ให้ความร่วมมือกับบริษัท  ในการสอบสวนเรื่องราวต่างๆ    ที่บริษัทต้องการและในการให้ความร่วมมือดังกล่าว  
           พนักงานจะต้องกระทำการต่างๆ  ด้วยความสุจริต
9.21.	ไม่พกอาวุธหรือครอบครองสิ่งผิดกฎหมายเข้ามาบริเวณของบริษัท  ทั้งในและนอกเวลาปฏิบัติหน้าที่
9.22.	ห้ามเล่นการพนันในบริเวณของบริษัท   หรือ  ที่ทำการของลูกค้าหรือบริเวณบ้านพักที่บริษัทจัดให้  ไม่ว่าจะเป็น
           เวลาทำงานหรือนอกเวลาทำงานก็ตาม  ห้ามเล่นการพนันในขณะปฏิบัติหน้าที่  หรือสิ่งเสริมให้มีการเล่นการพนัน     
           หรือมีหนี้สินจากการเล่นการพนัน  หรือถูกจับกุมเนื่องจากการเล่นการพนันไม่ว่านอกหรือในสถานที่ทำงาน
9.23.	ไม่อาศัยอำนาจหน้าที่  หรือโอกาสในการทำงานกับบริษัทเพื่อแสวงหาผลประโยชน์ใดๆ  อันขัดต่อจรรยาบรรณ
          วิชาชีพแรงงาน  ระเบียบประเพณีในการทำงาน  กฎหมายหรือขัดต่อผลประโยชน์ของบริษัท



9.24.	ถ้าถูกฟ้องเป็นจำเลยคดีอาญาหรือคดีแพ่ง  ต้องรายงานเป็นหนังสือให้ผู้บังคับบัญชาทราบโดยด่วน  เว้นแต่คดีอาญา  
          ที่กระทำผิดโดยประมาทหรือความผิดลหุโทษ
9.25.	ต้องไม่รายงานเท็จ  แจ้งข้อความเท็จต่อบริษัท    หรือต่อผู้บังคับบัญชา    หรือต่อลูกค้า     การรายงานโดยปกปิด   
ข้อความซึ่งควรต้องรายงานถือเป็นรายงานเท็จด้วย  รวมทั้งไม่เปลี่ยนแปลง  ปลอม  แก้ไข  ตัดทอน  หรือทำลายเอก  
   สารต่างๆ  ของบริษัท หรือเอกสารอื่นใดที่ต้องแสดงต่อบริษัท หรือต่อผู้บังคับบัญชา  หรือต่อลูกค้า  
9.26.	ต้องปฏิบัติตามระเบียบ ข้อบังคับ ประกาศ  คำสั่ง หรือวิธีปฏิบัติของบริษัท โดยเคร่งครัด
9.27.	ต้องไม่เป็นกรรมการ  ผู้จัดการ  ที่ปรึกษา  หรือดำรงตำแหน่งอื่นใดให้กับบริษัท หรือหน่วยงานอื่นๆขณะปฏิบัติงาน
  อยู่กับบริษัท    เว้นแต่ได้รับความเห็นชอบจากผู้บริหารของบริษัท  

หมวดที่ 10  โทษทางวินัย
การดำเนินความผิดทางวินัยโดยการลงโทษทางวินัยมีอยู่ 6  ประเภทดังนี้
1.  ตักเตือนด้วยวาจา  (บันทึกเป็นลายลักษณ์อักษร)  
2.  ตักเตือนเป็นลายลักษณ์อักษร
3.  งด  หรือ  ลดสิทธิประโยชน์  หรือ  เงินได้อื่นๆ 
4.  งดขึ้นค่าจ้างเงินเดือน
5.  พักงาน
6.  ให้ออก  ปลดออก  ไล่ออก

ประเภทความผิดและข้อกำหนดการลงโทษ
1.	ความผิดประเภท 1
•	กรณีทำผิดครั้งแรก	-	ตักเตือนด้วยวาจา (บันทึกเป็นลายลักษณ์อักษร)  
•	กรณีทำผิดครั้งที่ 2	-	ออกหนังสือเตือนเป็นลายลักษณ์อักษรครั้งที่ 1
•	กรณีทำผิดครั้งที่ 3	-	ออกหนังสือเตือนเป็นลายลักษณ์อักษรครั้งสุดท้าย
•	กรณีทำผิดครั้งที่ 4	-	ให้ออก  ปลดออก  ไล่ออกจากงานโดยไม่จ่ายเงินชดเชย
2.	ความผิดประเภท 2
•	กรณีทำผิดครั้งแรก	-	ออกหนังสือเตือนเป็นลายลักษณ์อักษรครั้งที่ 1
•	กรณีทำผิดครั้งที่ 2	-	ออกหนังสือเตือนเป็นลายลักษณ์อักษรครั้งสุดท้าย
•	กรณีทำผิดครั้งที่ 3	-	ให้ออก  ปลดออก  ไล่ออกจากงานโดยไม่จ่ายเงินชดเชย
3.    ความผิดประเภท 3
•	กรณีทำผิดครั้งแรก	-	ออกหนังสือเตือนเป็นลายลักษณ์อักษรครั้งสุดท้าย
•	กรณีทำผิดครั้งที่ 2	-	ให้ออก  ปลดออก  ไล่ออกจากงานโดยไม่จ่ายเงินชดเชย
4.   ความผิดประเภท 4
•	กรณีทำผิดครั้งแรก	-	ให้ออก  ปลดออก  ไล่ออกจากงานโดยไม่จ่ายเงินชดเชย
5.  การลงโทษนั้น  ให้ผู้บังคับบัญชาตามลำดับชั้น หรือฝ่ายทรัพยากรมนุษย์เป็นผู้สั่งลงโทษ ตามแต่กรณี     และต้องสั่งลงโทษให้เหมาะสมกับความผิด  และในคำสั่งลงโทษ 
ให้แสดงว่าผู้ถูกลงโทษกระทำผิดวินัยในกรณีใด
6. ในกรณีที่พนักงานทำผิดตามข้อ 1 - 4 ข้างต้น  ให้ผู้บังคับบัญชาตามลำดับชั้นเป็นผู้นำเสนอต่อผู้บริหาร  เพื่อพิจารณาลงโทษพนักงานผู้กระทำผิดได้ตามสมควรแก่กรณีให้เหมาะสมกับความผิด 
 หรือถ้ามีเหตุอันสมควรลดหย่อนจะนำมาประกอบการพิจารณาลดโทษด้วยก็ได้
7. ในระหว่างที่พนักงานถูกสั่งลงโทษพักงาน  ให้งดจ่ายค่าจ้าง  เงินตอบแทน และสวัสดิการต่าง ๆ แก่พนักงานผู้นั้น
8. ในกรณีที่มีการสั่งพักงานเพื่อดำเนินการสอบสวน พิจารณาความผิด    บริษัท จะมีคำสั่งพักงานเป็นหนังสือระบุความผิด
     และกำหนดระยะเวลาพักงานได้ไม่เกินเจ็ดวัน  โดยจะแจ้งให้พนักงานทราบก่อนการพักงาน  ในระหว่างพักงานนี้บริษัท
     จะจ่ายค่าจ้างไม่น้อยกว่าร้อยละห้าสิบของค่าจ้างในวันทำงานที่พนักงานได้รับก่อนถูกสั่งพักงาน   ถ้าการสอบสวนได้ความ
     ว่าผู้ถูกสั่งพักงานมิได้กระทำความผิด             ผู้บริหารหรือผู้ที่ได้รับมอบหมายจะสั่งให้พนักงานผู้นั้นกลับเข้าทำงานใน
      ตำแหน่งและอัตราเงินเดือนเดิม  และจ่ายค่าจ้างให้แก่พนักงานเท่ากับค่าจ้างในวันทำงานนับแต่วันที่พนักงานถูกสั่งพักงาน  
      โดยเงินที่จ่ายให้ร้อยละห้าสิบในระหว่างพักงานข้างต้นให้เป็นส่วนหนึ่งของค่าจ้าง   พร้อมดอกเบี้ยร้อยละสิบห้าต่อปี       
      ถ้าการสอบสวนได้ความว่าผู้ถูกสั่งพักงานได้กระทำผิดวินัยจริง หรือมีมลทินมัวหมอง  ซึ่งมีโทษถึงขั้นตักเตือนเป็นลาย
      ลักษณ์อักษร งดหรือ ลดสิทธิประโยชน์  หรือ  เงินได้อื่นซึ่งมิใช่ค่าจ้าง  งดขึ้นค่าจ้างเงินเดือน  ให้ออก    ปลดออก  ไล่ออก
     โดยไม่จ่ายเงินชดเชย ให้มีผลนับตั้งแต่วันที่มีคำสั่งพักงาน รวมทั้งต้องชดใช้ความเสียหาย
9.  พนักงานที่ถูกสั่งลงโทษมีสิทธิอุทธรณ์เป็นหนังสือต่อผู้บังคับบัญชาตามลำดับชั้น  หรือฝ่ายทรัพยากรมนุษย์   เพื่อเสนอต่อผู้บริหารให้พิจารณาภายใน 15 วันนับตั้งแต่วันรับทราบคำสั่ง  
โดยการอุทธรณ์นี้ไม่เป็นเหตุให้ระงับการลงโทษ  และคำวินิจฉัยของผู้บริหารให้เป็นที่สุด

ความผิดประเภท 1 มีดังนี้
1.  ไม่แจ้งให้ผู้บังคับบัญชาและฝ่ายทรัพยากรมนุษย์ทราบภายใน 7 วันทำงาน  ในกรณีย้ายที่อยู่ใหม่
2.  ทำให้บริษัท ต้องสูญเสียเวลาการปฏิบัติงานโดยการใช้โทรศัพท์ของบริษัท พูดติดต่อเรื่องส่วนตัวในขณะปฏิบัติหน้าที่
3.	ปฏิบัติหน้าที่ด้วยความเฉื่อยชา  ขาดความสนใจ	
4.	ไม่แจ้งให้ผู้บังคับบัญชาทราบล่วงหน้าอย่างน้อย 3 ชั่วโมงในกรณีที่ไม่สามารถมาปฏิบัติงานที่ได้รับมอบหมาย      โดย
       ปราศจากเหตุผลอันสมควร
5.	ไม่รายงานทันทีที่พบผู้ได้รับบาดเจ็บภายในบริเวณบริษัท  หรือเมื่อทราบว่าเครื่อง เฟอร์นิเจอร์ หรือทรัพย์สินอื่น ๆ ของบริษัท กำลังจะได้รับความเสียหาย
6.	ไม่ลงเวลาเข้า-ออกในการปฏิบัติงาน
7.	มาปฏิบัติงานสายเป็นประจำโดยไม่มีเหตุผล
8.	ไม่ปฏิบัติตามคำสั่งของบริษัท  เกี่ยวกับการตรวจสุขภาพ เอกซ์เรย์ หรือการป้องกันอัคคีภัย เป็นต้น
9.	นำสิ่งของเข้ามาในบริษัท โดยไม่มีหน้าที่  หรือโดยไม่ได้รับอนุญาต
10.	อ่านหนังสือพิมพ์ หนังสือนิตยสาร หรือสิ่งพิมพ์ทุกชนิดขณะปฏิบัติงาน
11.	ขอเรี่ยไร  รับบริจาคเงิน หรือสิ่งของเพื่อจุดประสงค์ใด ๆ ก็ตามภายในบริษัท โดยไม่ได้รับอนุญาตจากฝ่ายบริหาร  ยกเว้นกระทำเป็นทางการ

ความผิดประเภท 2 มีดังนี้
1.	ฝ่าฝืนข้อบังคับเกี่ยวกับสุขอนามัยหรือใช้เครื่องสุขภัณฑ์ผิดประเภท
2.	ไม่ใช้ทางเข้า-ออกของบริษัท ตามที่กำหนด
3.	ฝ่าฝืนกฎข้อบังคับเกี่ยวกับความปลอดภัยทั่ว ๆ ไป  หรือกระทำการใด ๆ ที่อาจจะทำให้บุคคลอื่นได้รับอันตราย  หรือเจตนาเก็บทรัพย์สินของบริษัท หรือของลูกค้าในสถานที่ซึ่งอาจ
จะทำให้สูญหายหรือเสียหายได้
4.	สูบบุหรี่ต่อหน้าลูกค้าขณะปฏิบัติหน้าที่  ในบริเวณปรุงอาหาร  หรือในบริเวณใด ๆ ที่มีป้าย “ห้ามสูบบุหรี่” ติดอยู่
5.	ไม่ให้ความร่วมมือต่อพนักงานอื่น  กล่าวให้ร้ายอาฆาต  หรือใช้ภาษาและวาจาที่หยาบคายต่อพนักงานอื่น
6.	ปฏิเสธที่จะให้การหรือละเลยไม่ปฏิบัติตามระเบียบว่าด้วยการรักษาความปลอดภัยของบริษัท
7.	นำแขกหรือบุคคลภายนอกที่ไม่ได้รับอนุญาตเข้ามาในบริเวณเขตหวงห้ามของบริษัท 
8.	ไม่มาปฏิบัติงานในวันและเวลาตามที่ได้รับมอบหมายรวมทั้งวันหยุดประจำสัปดาห์ หรือวันหยุดตามประเพณี
9.	ไม่ระมัดระวัง ละเลยทำให้ทรัพย์สินของบริษัท เสียหาย หรือสูญหายเป็นมูลค่าต่ำกว่า 500 บาท
10.	ใช้เครื่อง อุปกรณ์ต่าง ๆ ของบริษัท โดยไม่ได้รับอนุญาต
11.	ปิดประกาศ ปลดออก เปลี่ยนแปลง เพิ่มเติมข้อความลงในหนังสือพิมพ์หรือประกาศของบริษัท ที่ติดอยู่ตามแผงประกาศ  หรือภายในบริเวณบริษัท นอกจากจะได้รับอนุญาตจากผู้บริหาร
12.	โฆษณาขายอาหาร สินค้า หรือประกอบธุรกิจซื้อขายส่วนตัวภายในบริเวณบริษัท
13.	เล่นกีฬาในระหว่างปฏิบัติหน้าที่
14.	ให้การต้อนรับแขกของพนักงานภายในบริเวณเขตหวงห้ามของบริษัท
15.	ละทิ้งหน้าที่ในระหว่างเวลาปฏิบัติหน้าที่โดยไม่ได้รับอนุญาตจากผู้บังคับบัญชา

ความผิดประเภท 3 มีดังนี้
1.   แจ้งอาการป่วยด้วยความเท็จ
2.    ไม่ระมัดระวัง ละเลยทำให้ทรัพย์สินของบริษัทได้รับความเสียหาย หรือสูญหายเป็นมูลค่าตั้งแต่ 500 บาทขึ้นไป
3.   ใช้ยานพาหนะของบริษัท โดยไม่ได้รับอนุญาต
4.   แจกจ่ายข้อเขียนหรือสิ่งพิมพ์ต่าง ๆ ที่ไม่ได้รับอนุญาตภายในบริเวณบริษัท
5.   บันทึก ตอกบัตร รูดบัตรลงเวลาให้พนักงานอื่นหรือขอร้องให้พนักงานอื่นบันทึก ตอกบัตร รูดบัตรลงเวลาให้
6.  ทำความเสียหายต่อกลไกของอุปกรณ์ของบริษัท  และเครื่องจักรกลต่าง ๆ  หรือเจตนาใช้อุปกรณ์ต่าง ๆ ของบริษัทผิดวัตถุประสงค์
7.   ไม่เชื่อฟัง ขัดคำสั่งของผู้บังคับบัญชาโดยชอบธรรมในการปฏิบัติงาน
8.   ใช้เครื่องมือและอุปกรณ์ต่าง ๆ ของบริษัท เพื่อผลประโยชน์ส่วนตัวโดยไม่ได้รับอนุญาตจากผู้บริหาร
9.   ขู่จะทำร้ายร่างกาย  ขู่เข็ญ  หรือบังคับพนักงานอื่นภายในบริษัท
10. ใช้ชื่อของบริษัท  เพื่อการค้าส่วนตัว  เพื่อประกอบธุรกิจอันเป็นผลประโยชน์ส่วนตัวโดยไม่ได้รับอนุญาตจากฝ่ายบริหาร
11. หลับในขณะปฏิบัติหน้าที่หรือนอนหลับภายในบริเวณบริษัท	หลังจากพ้นหน้าที่แล้วโดยไม่ได้รับอนุญาตจากผู้บังคับบัญชา
12.	ให้การเท็จเมื่อมีการสอบถามหรือไต่สวน
13.	ไม่ส่งของที่เก็บได้ให้แก่ผู้บังคับบัญชาในทันทีที่พบเห็น

ความผิดประเภท 4 มีดังนี้
1.   ดื่มสุรา  เครื่องดองของเมา  เสพยาเสพติด  ก่อนปฏิบัติหน้าที่  ในขณะปฏิบัติหน้าที่  หรือภายในบริเวณบริษัท และมาทำงานในขณะที่มีลักษณะอาการมึนเมา   
หรือมีอาการผิดไปจากปกติที่เคยเป็นจนไม่สามารถปฏิบัติหน้าที่ตามที่ได้รับมอบหมายได้ 
2.   ทุจริตเงินของบริษัท  ทุจริตในหน้าที่  หรือกระทำความผิดทางอาญา
3.   ยักยอก ขโมยทรัพย์สินของบริษัท  ของลูกค้า  หรือของพนักงานในบริษัท
4.   นำทรัพย์สินหรือสินค้าของบริษัท  ไปจำหน่ายโดยไม่นำส่งเงินให้บริษัท ตามที่จำหน่ายได้
5.   รับบริการลูกค้าของบริษัท  โดยไม่รายงานต่อบริษัท
6.  นำทรัพย์สินหรือสินค้าที่อยู่ภายในบริเวณของบริษัท  ไม่ว่าจะเป็นของบริษัท  หรือของลูกค้า หรือของพนักงานอื่น หรือของบุคคลอื่น ออกนอกบริเวณบริษัท โดยไม่มีหนังสืออนุญาตเป็นลายลักษณ์อักษร
7.   ครอบครองลูกกุญแจต่าง ๆ ของบริษัท โดยไม่ได้รับอนุญาต  หรือจำลองกุญแจต่าง ๆ ของบริษัท
8.  ใช้ตำแหน่งหน้าที่ส่วนตัวเพื่อรับผลประโยชน์จากพนักงานอื่น  ทำให้พนักงานอื่นเสียผลประโยชน์  รับเงินโดยตรงหรือทางอ้อม  รับค่านายหน้าโดยมิได้รับอนุญาตหรือเสนอให้ความดีความชอบ  
หรือสัญญาเกี่ยวกับการพิจารณา เพื่อกระทำหรือยับยั้งการกระทำใด ๆ เช่น ยับยั้งการถูกไล่ออกของพนักงาน
9.   เปลี่ยนแปลง  ปลอม  แก้ไข  ตัดทอน  หรือทำลายเอกสารต่างๆ  ของบริษัทโดยมิได้รับอนุญาต  หรือเอกสารอื่นใดที่ต้อง
      แสดงต่อบริษัท หรือต่อผู้บังคับบัญชา  หรือต่อลูกค้า  
10.ไม่รายงานเกี่ยวกับโรคติดต่อร้ายแรงซึ่งทราบแล้วว่าอาจจะเป็นอันตรายต่อสุขภาพของลูกค้า และพนักงานของบริษัท
11. เสพหรือครอบครองยาเสพติดให้โทษภายในบริเวณบริษัท
12. พกปืน ระเบิด วัตถุไวไฟ หรืออาวุธที่เป็นอันตรายร้ายแรงภายในบริเวณบริษัท
13. เปิดเผยความลับของบริษัท หรือของลูกค้าของบริษัท  ซึ่งอาจจะเป็นประโยชน์ต่อคู่แข่งขัน  หรือผู้ประกอบการอื่น  อัน  
      จะทำให้บริษัท  เสียผลประโยชน์หรือได้รับความเสียหาย  ตลอดจนการเปิดเผยความลับให้กับพนักงานอื่น ๆ ซึ่งไม่มี
       สิทธิควรทราบ
14.	สูบบุหรี่ในเขตหวงห้าม  เช่น ห้องเครื่องจักรกล  ห้องและบริเวณปฏิบัติงานของช่าง  บริเวณเก็บถังแก๊ส  ในบริเวณโรงงาน  ห้องเก็บของ  โกดัง หรือ ในที่ที่มีเครื่องหมาย “ห้ามสูบบุหรี่” เป็นต้น
15.	ประพฤติหรือปฏิบัติตน  หรือบริการลูกค้าหรือพนักงานอื่นในลักษณะที่หยาบโลน หรือผิดวัฒนธรรมประเพณี
16.	เจตนาไม่สุภาพ  ลบหลู่หยาบคาย  อวดดี  หรือไม่ให้ความสำคัญในการต้อนรับหรือบริการลูกค้าของบริษัท   หรือ              ผู้มาติดต่อ
17.	ขาดงานติดต่อกันเป็นเวลา 3 วันโดยไม่ได้รับอนุญาตจากผู้บังคับบัญชา  
18.	ติดต่อผู้ประกอบการค้ากับทางบริษัทเพื่อขอรับของกำนัลโดยไม่ได้รับอนุญาตเป็นลายลักษณ์อักษรจากผู้บังคับบัญชา  
19.	จัดและดำเนินการซื้อสินค้าในนามของบริษัท โดยไม่ได้รับอนุญาตจากผู้บริหาร  
20.	ใช้สถานที่ต่าง ๆ ของบริษัท  เพื่อการพบปะสังสรรค์หรือจัดเลี้ยงโดยไม่ได้รับอนุญาตจากบริษัท  
21.	เจตนาทำลายทรัพย์สิน  ชื่อเสียงและความมั่นคงของบริษัท
22.	ต้องคดีอาญา  และต้องคำพิพากษาถึงที่สุดให้จำคุก  
23.	เข้าร่วมหรือจัดให้มีการเล่นพนันภายในบริเวณบริษัท
24.	ท้าทาย หรือยั่วยุให้มีการต่อสู้กัน หรือเจตนาทำร้ายร่างกายหรือทำลายทรัพย์สินของพนักงานอื่นๆ ภายในบริเวณบริษัท

วินัยตามที่ได้กล่าวมาข้างต้นนั้น  อาจยังไม่ครอบคลุมถึงสถานการณ์ในทุกแง่มุมได้  ดังนั้นหากพนักงานฝ่าฝืนวินัยนอกเหนือจากที่กล่าวมาข้างต้น  การพิจารณาลงโทษ  
หรือการกำหนดบทลงโทษจึงอยู่ในดุลพินิจของบริษัทด้วยเช่นกัน

หมวดที่ 11  การร้องทุกข์
	บริษัท  มีนโยบายที่จะขจัดความเดือดร้อนของพนักงานด้วยความรวดเร็วและยุติธรรม  ผู้บริหารไม่ประสงค์ให้พนักงานมีปัญหาใด ๆ  ดังนั้นหากพนักงานผู้ใดมีเรื่องราวร้องทุกข์ให้
    สามารถร้องทุกข์ได้สำหรับตนเอง  แต่จะไม่สามารถร้องทุกข์แทนคนอื่นหรือมอบหมายให้คนอื่นร้องทุกข์แทนได้
1.    ให้ร้องทุกข์โดยทำเป็นหนังสือแจ้งต่อผู้บังคับบัญชาตามลำดับชั้น  หรือฝ่ายทรัพยากรมนุษย์
2.    ให้ผู้รับคำร้องทุกข์พิจารณาแก้ไขปัญหาตามขั้นตอนความรับผิดชอบของตนโดยเร็ว  ถ้าเป็นเรื่องที่ไม่สามารถแก้ไข
        ปัญหาเองได้ให้รายงานขึ้นไปตามลำดับขั้น
3.     ผู้มีหน้าที่พิจารณาข้อร้องทุกข์ต้องพร้อมที่จะพิจารณาและดำเนินการตามความถูกต้องเป็นธรรม
4.     กรณีที่ได้พิจารณาข้อร้องทุกข์และดำเนินการโดยฝ่ายทรัพยากรมนุษย์จนถึงระดับกรรมการผู้จัดการแล้ว     ยังไม่ยุติ 
        พนักงานอาจร้องทุกข์ขอให้ผู้บริหารทบทวนคำร้องทุกข์ได้โดยผ่านทางกรรมการผู้จัดการ          ซึ่งให้ถือเป็นที่สุดที่
        ผู้เกี่ยวข้องต้องปฏิบัติตาม  ผู้บริหารอาจตั้งผู้ทรงคุณวุฒิและเชื่อถือได้จากภายนอกทำหน้าที่พิจารณาเพื่อชี้ขาดและให้ถือ
        เป็นที่สุดที่ผู้ที่กี่ยวข้องต้องปฏิบัติตามเช่นกัน
5.     หนังสือร้องทุกข์ที่ไม่ลงนามผู้ร้องทุกข์จะไม่ได้รับการพิจารณา
6.     การร้องทุกข์ที่กระทำโดยสุจริต ย่อมก่อให้เกิดประโยชน์อันยิ่งใหญ่แก่บริษัทและพนักงานเป็นส่วนรวม ดังนั้นพนักงาน
        ผู้ยื่นคำร้องทุกข์  พนักงานผู้ให้ถ้อยคำ  ให้ข้อมูล  ให้ข้อเท็จจริง  หรือให้พยานหลักฐานใดเกี่ยวกับการร้องทุกข์ และ
        พนักงานที่เป็นผู้พิจารณาคำร้องทุกข์เมื่อได้กระทำไปโดยสุจริตใจ แม้จะเป็นเหตุให้เกิดข้อยุ่งยากประการใดแก่บริษัท   ก็
        ย่อมได้รับการประกันจากบริษัทว่าจะไม่เป็นเหตุหรือถือเป็นเหตุที่จะเลิกจ้าง  ลงโทษ หรือดำเนินการใดที่เกิดผลร้ายต่อ
        พนักงานดังกล่าว

หมวดที่ 12  การพ้นสภาพพนักงาน  หรือพ้นสภาพการจ้าง
การพ้นสภาพพนักงาน หรือพ้นสภาพการจ้างจะเกิดขึ้นตามลักษณะดังนี้
1.	การลาออก
1.1	พนักงานที่ประสงค์จะลาออกจะต้องแจ้งให้ทางบริษัททราบเป็นลายลักษณ์อักษรตามแบบฟอร์มที่บริษัทกำหนด  ผ่านทางผู้บังคับบัญชาตามลำดับชั้น หากไม่มีสัญญาระบุไว้เป็นอย่างอื่น  
พนักงานต้องแจ้งให้ทางบริษัททราบล่วงหน้าอย่างน้อย  30 วัน  เพื่อมอบหมายงาน โดยมิให้กระทบหรือเสียหายแก่งาน  
1.2	กรณีพนักงานฝ่าฝืน  เพิกเฉย  ละเลย  จงใจไม่ปฏิบัติตามข้อ 1.1    บริษัทจะถือว่าพนักงานจงใจผิดสัญญาจ้าง   ฝ่าฝืนข้อบังคับเกี่ยวกับการทำงานเป็นเหตุให้บริษัทต้องเสียหาย   
 พนักงานต้องชดใช้ค่าเสียหายให้แก่บริษัทในการที่พนักงานจงใจผิดสัญญาจ้าง  ฝ่าฝืนข้อบังคับเกี่ยวกับการทำงานเป็นเหตุให้บริษัทต้องเสียหาย  รวมถึงค่าใช้จ่ายอื่นๆ (ถ้ามี)   
1.3	ระหว่างพนักงานทำงานให้บริษัท   หากพนักงานมีหนี้สินอื่นใด หรือพนักงานได้ทำความเสียหายอื่นใดในขณะปฏิบัติหน้าที่เป็นพนักงานของบริษัทอยู่นั้นให้แก่บริษัทไม่ว่ากรณีใดๆ   
บริษัทมีสิทธิเรียกร้องให้พนักงานชดใช้ชำระหนี้สิน  ค่าเสียหายอื่นใดได้ตามจำนวนหนี้สิน หรือความเสียหายที่เกิดขึ้นจริง   จนครบถ้วนก่อนพนักงานทำงานวันสุดท้าย
2.	เลิกจ้างโดยการให้ออก  ปลดออก  ไล่ออก  กรณีที่พนักงานทำผิดวินัยร้ายแรง   หรือทำความเสียหายให้บริษัท        พนักงาน
      อาจถูกให้ออก  ปลดออก  ไล่ออกจากการเป็นพนักงานของบริษัท
3.	ขาดคุณสมบัติของพนักงาน   หรือกรอกข้อความอันเป็นเท็จในใบสมัครงาน  
4.	ถึงแก่กรรม
5.	เกษียณอายุ
	พนักงานจะถูกปลดเนื่องจากการเกษียณอายุในวันสิ้นเดือนที่มีอายุครบ  55  ปีบริบูรณ์
	บริษัทสงวนสิทธิที่จะว่าจ้างพนักงานที่ครบเกษียณอายุแล้วต่อไปตามสัญญาการต่ออายุงานเป็นกรณี ๆ ไป
6.	การเลิกจ้างเพราะเหตุเจ็บป่วย
บริษัทอาจเลิกจ้างพนักงานที่ลาป่วยซึ่งไม่สามารถปฏิบัติงานตามหน้าที่ได้   และแพทย์จะเป็นผู้ลงความเห็นว่าพนักงานผู้นั้นไม่สามารถปฏิบัติงานต่อได้ 



หมวดที่ 13  การเลิกจ้าง   ค่าชดเชย  และค่าชดเชยพิเศษ
การเลิกจ้างโดยได้รับเงินชดเชยและอัตราการจ่ายค่าชดเชย
1.	พนักงานประจำที่ถูกเลิกจ้างดังต่อไปนี้จะมีสิทธิได้รับเงินชดเชย
	พนักงานที่ถูกให้ออก ปลดออกเมื่อหมดงาน
	พนักงานที่ครบเกษียณอายุ  หรือเข้าโครงการขอเกษียณอายุงาน
2.	การจ่ายค่าชดเชยแก่พนักงานที่ถูกเลิกจ้างมีเงื่อนไขดังต่อไปนี้ 
	พนักงานประจำที่ทำงานครบ 120 วัน  หรือผ่านช่วงการทดลองงานแล้ว  แต่ไม่ครบ 1 ปี  จะมีสิทธิได้รับค่าชดเชยเท่ากับ 30 วันของอัตราค่าจ้างสุดท้าย
	 พนักงานประจำที่ทำงานติดต่อกันครบ 1 ปี แต่ไม่ครบ 3 ปี  จะมีสิทธิได้รับค่าชดเชยเท่ากับ 90 วันของอัตราค่าจ้างสุดท้าย
	พนักงานประจำที่ทำงานติดต่อกันครบ 3 ปี แต่ไม่ครบ 6 ปี จะมีสิทธิได้รับค่าชดเชยเท่ากับ 180 วันของอัตราค่าจ้างสุดท้าย
	พนักงานประจำที่ทำงานติดต่อกันครบ 6 ปี แต่ไม่ครบ 10 ปี จะมีสิทธิได้รับค่าชดเชยเท่ากับ 240 วันของอัตราค่าจ้างสุดท้าย
	พนักงานประจำที่ทำงานติดต่อกันครบ 10ปี ขึ้นไป จะมีสิทธิได้รับค่าชดเชยเท่ากับ 300 วันของอัตราค่าจ้างสุดท้าย
3.	ในกรณีที่บริษัทย้ายสถานประกอบกิจการไปตั้ง  ณ  สถานที่อื่น  อันมีผลกระทบสำคัญต่อการดำรงตามปกติของพนักงานหรือครอบครัว บริษัทจะแจ้งให้พนักงานทราบล่วงหน้าไม่น้อยกว่า 30 วัน
ก่อนย้ายสถานประกอบกิจการ  ในการนี้ถ้าพนักงานไม่ประสงค์จะไปทำงานด้วย  ให้พนักงานมีสิทธิบอกเลิกสัญญาจ้าง ได้ภายใน  30  วันนับแต่วันที่ได้รับแจ้งจากบริษัท  หรือวันที่บริษัทย้ายถานประกอบกิจการ 
แล้วแต่กรณี  โดยพนักงานมีสิทธิได้รับค่าชดเชยพิเศษไม่น้อยกว่าอัตราค่าชดเชยที่พนักงานพึงมีสิทธิได้รับตามข้อ 2.1 ถึงข้อ 2.5 
ในกรณีที่บริษัทไม่แจ้งให้พนักงานทราบก่อนล่วงหน้า  ตามวรรคแรก  บริษัทจะจ่ายค่าชดเชยพิเศษแทนการบอกกล่าวล่วงหน้า  เท่ากับค่าจ้างอัตราสุดท้าย  30  วัน  หรือเท่ากับ
ค่าจ้างของการทำงาน  30 วันสุดท้าย  สำหรับพนักงานซึ่งได้รับค่าจ้างตามผลงานโดยคำนวณเป็นหน่วย  
บริษัทจะจ่ายค่าชดเชยพิเศษ  หรือค่าชดเชยพิเศษแทนการบอกกล่าวล่วงหน้าให้แก่พนักงานภายใน  7  วันนับแต่วันที่พนักงานบอกเลิกสัญญา
ในกรณีที่บริษัทไม่จ่ายค่าชดเชยพิเศษ หรือค่าชดเชยพิเศษแทนการบอกกล่าวล่วงหน้า  ให้พนักงานมีสิทธิยื่นคำร้องต่อคณะกรรมการสวัสดิการแรงงานภายใน  30  วัน  
นับแต่วันครบกำหนดการจ่ายค่าชดเชยพิเศษ หรือค่าชดเชยพิเศษแทนการบอกกล่าวล่วงหน้า
4.	ในกรณีที่บริษัทเลิกจ้างพนักงาน  เพราะเหตุที่บริษัทฯ ปรับปรุงหน่วยงาน  กระบวนการผลิต    การ	จำหน่าย  หรือ  การบริการอันเนื่องมาจากการนำเครื่องจักรมาใช้หรือเปลี่ยนแปลงเครื่องจักร  
หรือเทคโนโลยี  ซึ่งเป็นเหตุให้ต้องลดจำนวนพนักงาน  บริษัทจะแจ้งวันที่จะเลิกจ้าง  เหตุผลของการเลิกจ้าง  และรายชื่อลูกจ้างต่อพนักงานตรวจแรงงานและลูกจ้างที่จะเลิกจ้างทราบล่วงหน้าไม่น้อยกว่า 60 วัน  
ก่อนวันที่จะเลิกจ้างในกรณีที่บริษัทไม่สามารถแจ้งได้หรือ  แจ้งการเลิกจ้างน้อยกว่า  60  วันจะจ่ายค่าชดเชยพิเศษแทนการบอกกล่าวล่วงหน้าเท่ากับค่าจ้างอัตราสุดท้าย  60  วัน  
หรือเท่ากับค่าจ้างของการทำงาน  60  วันสุดท้าย  สำหรับพนักงานซึ่งได้รับค่าจ้างตามผลงานโดยคำนวณเป็นหน่วยด้วย ในกรณีที่บริษัทเลิกจ้างพนักงาน  และพนักงานนั้นทำงานติดต่อกันเกิน 6 ปีขึ้นไป  
โดยรวมวันหยุด  วันลา  และวันที่บริษัทสั่งให้หยุดงานเพื่อประโยชน์ของบริษัท  บริษัทจะจ่ายค่าชดเชยพิเศษเพิ่มขึ้นจากค่าชดเชยตามข้อ 2.1 ถึง 2.5 ไม่น้อยกว่าค่าจ้างอัตราสุดท้าย 15 วัน  
ต่อการทำงานครบ  1  ปี  หรือ  ไม่น้อยกว่าค่าจ้างของการทำงาน  15  วันสุดท้ายต่อการทำงานครบ  
1  ปี  สำหรับพนักงานซึ่งได้รับค่าจ้างตามผลงานโดยคำนวณเป็นหน่วย  แต่ค่าชดเชยตามข้อนี้รวมแล้วต้องไม่เกินค่าจ้างอัตราสุดท้าย  360  วัน  หรือไม่เกินค่าจ้างของการทำงาน  360  วันสุดท้าย  
สำหรับพนักงานซึ่งได้รับค่าจ้างตามผลงานโดยคำนวณเป็นหน่วย กรณีระยะเวลาทำงานไม่ครบ  1  ปี  ถ้าเศษของระยะเวลาทำงานมากว่า  180  วัน  ให้นับเป็นการทำงานครบ  1  ปี

    	การเลิกจ้างโดยไม่ได้รับค่าชดเชย
1.  ตาย
2.  ลาออก  
3. พนักงานซึ่งบริษัท กำหนดระยะเวลาการจ้างไว้แน่นอน  ซึ่งเป็นการจ้างในโครงการเฉพาะที่มิใช่งานปกติของธุรกิจ   หรือ
         การค้าของบริษัท  ซึ่งต้องมีระยะเวลาเริ่มต้นและสิ้นสุดของงานที่แน่นอน     หรือในงานอันมีลักษณะเป็นครั้งคราวที่มี  
         กำหนดการสิ้นสุด หรือความสำเร็จของงาน หรือในงานที่เป็นไปตามฤดูกาลและได้จ้างในช่วงเวลาของฤดูกาลนั้น  ซึ่งงาน
        จะต้องแล้วเสร็จภายในระยะเวลาไม่เกินสองปี      โดยบริษัท และพนักงานได้ทำสัญญาเป็นหนังสือไว้ตั้งแต่เมื่อเริ่มจ้าง  
                     หรือการการจ้างตามสัญญา
4.  พนักงานซึ่งบริษัท  เลิกจ้างเพราะประพฤติตนในกรณีหนึ่งกรณีใดดังต่อไปนี้
4.1.  ทุจริตต่อหน้าที่หรือกระทำความผิดอาญาโดยเจตนาแก่บริษัท
4.2.	จงใจทำให้บริษัท ได้รับความเสียหายไม่ว่าจะเป็นทรัพย์สิน  ชื่อเสียง  หรือด้านอื่นใดก็ตาม
4.3.	ประมาทเลินเล่อเป็นเหตุให้บริษัท ได้รับความเสียหายอย่างร้ายแรง
4.4.	ฝ่าฝืนข้อบังคับหรือระเบียบเกี่ยวกับการทำงานหรือคำสั่งอันชอบด้วยกฎหมายของบริษัท  และบริษัทได้ตักเตือนเป็นหนังสือแล้ว  เว้นแต่ในกรณีร้ายแรงที่บริษัท ไม่จำเป็นต้องตักเตือน  
หนังสือเตือนให้มีผลบังคับได้ไม่เกินหนึ่งปีนับแต่วันที่พนักงานได้กระทำความผิด
4.5.	ละทิ้งหน้าที่เป็นเวลาสามวันทำงานติดต่อกันไม่ว่าจะมีวันหยุดคั่นหรือไม่ก็ตาม โดยไม่มีเหตุผลอันสมควร
4.6.	ได้รับโทษจำคุกตามคำพิพากษาถึงที่สุดให้จำคุก  ในกรณีถ้าเป็นความผิดที่ได้กระทำโดยประมาทหรือความผิดลหุโทษ  ต้องเป็นกรณีที่เป็นเหตุให้บริษัทได้รับความเสียหาย
5.	พนักงานที่ถูกลงโทษให้ออก  ปลดออก  ไล่ออกจากงานโดยไม่จ่ายเงินชดเชยตามที่กำหนดไว้ในหมวดที่ 10 โทษทางวินัย

การบอกกล่าวล่วงหน้า และสินจ้างแทนการบอกกล่าวล่วงหน้า
การบอกกล่าวล่วงหน้า คือ การที่บริษัท เลิกสัญญาจ้างก่อนครบกำหนดโดยมีการทำหนังสือแจ้งบอกกล่าวล่วงหน้าให้พนักงานทราบก่อน 1 งวดการจ่ายค่าจ้าง  แต่ไม่เกิน 3 เดือน
สินจ้างแทนการบอกกล่าวล่วงหน้า คือ เงินที่บริษัทจ่ายให้แก่พนักงาน เนื่องจากบริษัทบอกเลิกสัญญาจ้างก่อนครบกำหนดโดยไม่ได้มีการบอกกล่าวล่วงหน้า สินจ้างแทนการบอกกล่าวล่วงหน้าเท่ากับค่าจ้าง 1 เดือน

ข้อยกเว้นไม่ต้องมีการบอกกล่าวล่วงหน้า
1.	พนักงานจงใจขัดคำสั่งโดยชอบด้วยกฎหมายของบริษัท
2.	พนักงานละเลยไม่นำพาต่อคำสั่งของบริษัท เป็นอาจิณ
3.	พนักงานละทิ้งหน้าที่โดยไม่มีเหตุผลอันสมควรเป็นเวลานานพอสมควร
4.	พนักงานทำผิดร้ายแรง กรณีที่จะถือเป็น การทำผิดร้ายแรง มีดังต่อไปนี้
4.1	ทุจริตต่อหน้าที่
4.2	กระทำการอันถือว่าเป็นปฏิปักษ์ต่อการเป็นลูกจ้างนายจ้าง
4.3	กระทำผิดทางอาญา
4.4	ฝ่าฝืนระเบียบข้อบังคับในเรื่องสำคัญ
5.	พนักงานกระทำการไม่สมควรแก่การปฏิบัติหน้าที่โดยถูกต้องและสุจริต
6.	ขาดคุณสมบัติของพนักงาน  โดยกรอกข้อความอันเป็นเท็จในใบสมัครงาน  
7.	พนักงานทุจริตหรือกระทำผิดอาญาโดยเจตนาต่อบริษัท
8.	พนักงานจงใจทำให้บริษัท ได้รับความเสียหาย
9.	พนักงานประมาทเลินเล่อเป็นเหตุให้บริษัท ได้รับความเสียหายร้ายแรง
10.	พนักงานทำผิดซ้ำคำเตือน โดยบริษัท ได้เตือนเป็นหนังสือแล้วและหากพนักงานฝ่าฝืนระเบียบข้อบังคับที่ร้ายแรง บริษัท ไม่จำเป็นต้องตักเตือน อาจเลิกจ้างได้ทันทีโดยไม่ต้องบอกกล่าวล่วงหน้า
11.	ละทิ้งหน้าที่เป็นเวลาสามวันทำงานติดต่อกันไม่ว่าจะมีวันหยุดคั่นหรือไม่ก็ตาม โดยไม่มีเหตุผลอันสมควร
12.	ได้รับโทษจำคุกตามคำพิพากษาถึงที่สุดให้จำคุก  เว้นแต่ เป็นโทษสำหรับความผิดที่ได้กระทำโดยประมาทหรือความผิดลหุโทษ

หมวดที่ 14  บทส่งท้าย
1.  บรรดาวิธีการประกอบ  ติดตั้ง  สูตรการผลิต  ความคิด  ราคางาน  หรือควารู้ทางเทคนิคต่างๆ ที่เกี่ยวข้องกับธุรกิจงานของบริษัท อันเป็นผลงานจากการคิดค้นคว้า  ศึกษาวิจัยของพนักงาน
ผู้ปฏิบัติงานในทุกกรณี  ให้ถือเป็นลิขสิทธิ์ของบริษัท โดยสมบูรณ์
2.  บริษัทสงวนไว้ซึ่งสิทธิในการที่จะแก้ไข เปลี่ยนแปลง เพิ่มเติม หรือยกเลิกข้อความบางส่วน หรือทั้งหมดของข้อบังคับเกี่ยวกับการทำงานนี้  ตามดุลยพินิจของผู้บริหาร
3.  ประกาศ  คำสั่ง  กฏ  ระเบียบ แนวปฏิบัติ  เงื่อนไขการจ้างเพิ่มเติมที่เกี่ยวข้องกับระเบียบพนักงานที่ประกาศภายหลังวันบังคับใช้ข้อบังคับเกี่ยวกับการทำงานนี้  ให้ถือเป็นส่วนหนึ่ง
ของข้อบังคับเกี่ยวกับการทำงานนี้ด้วย
4.  ข้อบังคับเกี่ยวกับการทำงานฉบับนี้ให้มีผลบังคับใช้ตั้งแต่วันที่  1  มิถุนายน  2551   นี้เป็นต้นไป



							   (นางสาววรางคณา  วงศ์วารี)
						                         กรรมการบริหาร







            </pre>

        </div>
    </div>

</asp:Content>
