﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="index_BirthdayEmp.aspx.vb" Inherits="Aroma_HRPortal.index_BirthdayEmp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>

<style>
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
        top: 1px;
        left: 0px;
        height: 200px;
        width: 202px;
    }

/* Caption text */
.text {
  color: black;
  font-size: 17px;
  padding: 8px 12px;
  position: absolute;
  bottom: -21px;
  width: 102%;
  text-align: center;
  background-color: white;
        left: 0px;
    }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: white;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 240px) {
  .text {font-size: 12px}
}
    #form1
    {
        height: 202px;
        width: 198px;
    }
</style>

<body>

     <%--  <table width=90% style="border:2px dotted hotpink;" cellpadding="4" 
                            cellspacing="4"><tr><td style="border:2px dotted lightpink;"><font size="1">เขียนตรงนี้เลย</td></tr></table>
--%>
   
   <form id="form1" runat="server" width="200px" Height="220px"  >      
     <div class="slideshow-container">
        
        <div ID="div1" runat="server"   class="mySlides fade" >
          <asp:Image ID="Image1" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label1.Text%></div>
        </div>

        <div ID="div2" runat="server"   class="mySlides fade" >
          <asp:Image ID="Image2" runat="server"  width="200px" Height="220px" />
           <div class="text"><%=Label2.Text%></div>
        </div>

        <div ID="div3" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image3" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label3.Text%></div>
        </div>

         <div ID="div4" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image4" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label4.Text%></div>
        </div>

         <div ID="div5" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image5" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label5.Text%></div>
        </div>

         <div ID="div6" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image6" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label6.Text%></div>
        </div>

         <div ID="div7" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image7" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label7.Text%></div>
        </div>

         <div ID="div8" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image8" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label8.Text%></div>
        </div>

         <div ID="div9" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image9" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label9.Text%></div>
        </div>

         <div ID="div10" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image10" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label10.Text%></div>
        </div>

         <div ID="div11" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image11" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label11.Text%></div>
        </div>

         <div ID="div12" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image12" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label12.Text%></div>
        </div>

         <div ID="div13" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image13" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label13.Text%></div>
        </div>

         <div ID="div14" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image14" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label14.Text%></div>
        </div>

         <div ID="div15" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image15" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label15.Text%></div>
        </div>

         <div ID="div16" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image16" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label16.Text%></div>
        </div>

         <div ID="div17" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image17" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label17.Text%></div>
        </div>

         <div ID="div18" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image18" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label18.Text%></div>
        </div>

         <div ID="div19" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image19" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label19.Text%></div>
        </div>

         <div ID="div20" runat="server"  class="mySlides fade" >
          <div class="numbertext">3 / 3</div>
          <asp:Image ID="Image20" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label20.Text%></div>

        <div ID="div21" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image21" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label21.Text%></div>
        </div>
        </div>

         <div ID="div22" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image22" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label22.Text%></div>
        </div>

         <div ID="div23" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image23" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label23.Text%></div>
        </div>

         <div ID="div24" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image24" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label24.Text%></div>
        </div>

         <div ID="div25" runat="server"  class="mySlides fade" >
          <asp:Image ID="Image25" runat="server"  width="200px" Height="220px" />
          <div class="text"><%=Label25.Text%></div>
        </div>

    </div>

   
    <div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

    <asp:Label ID="Label1" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label2" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label3" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label4" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label5" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label6" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label7" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label8" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label9" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label10" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label11" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label12" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label13" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label14" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label15" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label16" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label17" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label18" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label19" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label20" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label21" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label22" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label23" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label24" runat="server" Text="Label" ForeColor="White"></asp:Label>
    <asp:Label ID="Label25" runat="server" Text="Label" ForeColor="White"></asp:Label>


<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }


</script>


           


           </form>


</body>
</html>
