﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Master_HR.Master" CodeBehind="WebBenefits11_1.aspx.vb" Inherits="Aroma_HRPortal.WebBenefits11_1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">


<br />
<br />
    <style>
    pre {
    background-color: white;
    border-width: 0px;
    font-size: 14px;
    font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;	

}
</style>
 
  <div class="btn-group">
                                 <asp:button id="backButton" runat="server" text="Back" class="btn btn-primary"
OnClientClick="JavaScript:window.history.back(1);return false;"></asp:button>

   </div>

<section class="py-5"><div class="container">
               
<pre> 
                            
           
         		        <big> <b> สวัสดิการตรวจสุขภาพประจำปี</b></big>


	ตรวจสุขภาพประจำปี
	พนักงานทระดับ A , B , C , D ได้รับสิทธิ 
	เกณฑ์พิจารณา
	1.โปรแกรมการตรวจดตามบริษัทกำหนด
	2.ค่าใช้จ่ายการตรวจทางบริษัทเป็นผู้ออกให้ 
	3.พนักงานที่มีอายุการทำงานไม่น้อยกว่า 6 เดือนนับถึงวันที่ตรวจ หรือตามที่บริษัทกำหนด
	4.กำหนดวันเวลาตรวจ ทางฝ่ายทรัพยากรมนุษย์จะแจ้งเป็นปีๆ ไป
	5.กรณีพบว่าพนักงานท่านใดเพิกเฉย ละเลย ฝ่าฝืนการไม่ปฏิบัติตรวจสุขภาพตามวันเวลากำหนดโดยไม่มีเหตุผลอันสมควร ทางบริษัทฯ จำเป็นอย่างยิ่งที่จะต้องให้พนักงานไปตรวจ
	 และเป็นผู้ออกค่าใช้จ่ายการตรวจสุขภาพเองทั้งสิ้น ตามโปรแกรมที่บริษัทกำหนด และดำเนินนการอื่ื่นๆ ตามระเบียบบริษัทกำหนด

	หมายเหตุ
1.รายการสวัสดิการข้างต้น พนักงานที่ได้รับสิทธิจะต้องผ่านการทดลองงานและได้บรรจุเป็นพนักงานบริษัทแล้วเท่านั้น ยกเว้นบางสวัสดิการให้เป็นไปตามหลักเกณฑ์/เงื่อนไขสวัสดิการนั้นๆ กำหนด
2.ระดับพนักงาน A คือ ผู้ช่วยรองกรรมการผู้จัดการขึ้นไป , ระดับ B คือ ผู้จัดการฝ่าย - ผู้จัดการทั่วไป , ระดับ C คือ หัวหน้าส่วน - ผู้จัดการแผนก , ระดับ D คือ พนักงาน - หัวหน้างาน 
3.การเบิกจ่าย พนักงานจะต้องดำเนินการเขียนใบเบิก พร้อมแนบเอกสารหลักฐานประกอบการเบิกทุกครั้ง ถึงจะได้รับการพิจารณาอนุมัติเบิกจ่าย
4.กำหนดตั้งเรื่องเบิกจ่ายผ่านฝ่ายทรัพยากรมนุษย์ตรวจสอบ และส่งต่อฝ่ายบัญชีและการเงินทำจ่าย ตามเวลากำหนดข้างต้น มิฉะนั้นจะถือว่าพนักงานสละสิทธิ โดยไม่มีข้อโต้แย้งแต่อย่างใดทั้งสิ้น 
5.การเบิกสวัสดิการพนักงาน ที่ไม่สามารถใช้สิทธิเบิกได้ มีกรณีต่างๆ ดังนี้ ทำร้ายร่างกายตน การใช้สารเสพติดตามกฏหมายสารเสพติด การกระทำการใดๆ เพื่อความสวยงามโดยไม่มีข้อบ่งชี้ทางการแพทย์ 
 การรักษาที่อยู่ ระหว่างการค้นคว้าทดลอง การรักษาภาวะมีบุตรยาก การตรวจเนื้อเยื่อเพื่อการผ่าตัดเปลี่ยนอวัยวะ การผ่าตัดเปลี่ยนอวัยวะ การเปลี่ยนเพศ การผสมเทียม ทันตกรรม และแว่นตา เป็นต้น
6.ผู้มีอำนาจอนุมัติเบิกจ่ายรายการสวัสดิการข้างต้น ได้แก่กรรมการบริหาร หรือผู้ที่ได้รับมอบหมาย 
7.กรณีตรวจสอบพบว่าผู้บังคับบัญชาต้นสังกัดลงนามรับรองผิดพลาดจากการเหตุการณ์จริง/เดินทางจริง ส่วนที่ผิดพลาดผู้ลงนามรับรองนั้นๆ จะต้องเป็นผู้จ่ายเงินคืนให้บริษัท
8.บริษัทขอสงวนไว้ซึ่งสิทธิที่จะยกเลิก แก้ไข เพิ่มเติม เปลี่ยนแปลงอัตราข้างต้นได้ตามเห็นสมควร
9.ทั้งนี้ให้มีผลตั้งแต่วันที่ 1 มกราคม 2558 เป็นต้นไป จนกว่าจะมีประกาศเปลี่ยนแปลง
				
				
    
        </pre>


      </div>
    </section>
            
 <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    
       <!-- Bootstrap core CSS -->
<%--    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">--%>

    <!-- Custom styles for this template -->
    <link href="css/full-width-pics.css" rel="stylesheet">

</asp:Content>
