﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="zWebForm1.aspx.vb" Inherits="Aroma_HRPortal.zWebForm1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Width Pics - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/full-width-pics.css" rel="stylesheet">

<%--    <style>
    pre {
    background-color: white;
    border-width: 0px;
    font-size: 10px;
    font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;	
}
</style>--%>


  </head>
</head>
<body>
    <form id="form1" runat="server">
  
      <section class="py-5"><div class="container">
               
        <pre >
        ที่ H100/017-1/50		                           
                                    ประกาศ
         		เรื่อง   ระเบียบการเบิกจ่าย/ส่งคืน  อุปกรณ์เครื่องมือ/ทรัพย์สินบริษัท

	ตามที่บริษัทฯ  ได้มีอุปกรณ์เครื่องมือ/ทรัพย์สินบริษัท   เพื่ออำนวยความสะดวกในการปฏิบัติงานสำหรับพนักงานบางตำแหน่งงาน    
ดังนั้นเพื่อให้มีความเป็นระเบียบเรียบร้อยในการเบิกจ่าย  
และส่งมอบคืนทรัพย์สินบริษัท  ทางกลุ่มบริษัท อโรม่า   จึงเห็นสมควรกำหนด  และใคร่ขอความร่วมมือมายังพนักงานทุกท่าน  ในการปฏิบัติอย่างเคร่งครัด  ดังนี้	
    
	1.พนักงานผู้มีสิทธิในการเบิกจ่าย/ส่งมอบคืน อุปกรณ์เครื่องมือ/ทรัพย์สินบริษัทฯ  เฉพาะพนักงานกลุ่มบริษัท  อโรม่า  ซึ่งได้รับมอบหมายจากบริษัท  หรือผู้บังคับบัญชาต้นสังกัด เท่านั้น
	2.พนักงานผู้ที่ได้รับสิทธิจะต้องใช้อุปกรณ์เครื่องมือ/ทรัพย์สินบริษัทฯ  เฉพาะในงานของกลุ่มบริษัท อโรม่า  ซึ่งได้รับมอบหมายงานจากบริษัท หรือผู้บังคับบัญชาต้นสังกัด เท่านั้น หากพบว่า
      การใช้ไม่เป็นไปตามวัตถุประสงค์ข้างต้น บริษัทฯ ขอสงวนไว้ซึ่งสิทธิ ที่จะขอตัดสิทธิในการใช้อุปกรณ์เครื่องมือ/ทรัพย์สินบริษัทฯ รวมทั้งพนักงานจะต้องส่งมอบคืนบริษัทในสภาพ
      เรียบร้อยและครบถ้วนสมบูรณ์ทันที
	3.ตามข้อ 2.กรณีเกิดความเสียหายเนื่องจากการใช้ไม่เป็นไปตามวัตถุประสงค์  พนักงานผู้ที่ใช้จะต้องรับผิดชอบค่าใช้จ่ายที่เกิดขึ้นเองทั้งหมด
	4.การเบิกจ่าย/ส่งมอบคืนอุปกรณ์เครื่องมือ/ทรัพย์สินบริษัทฯ ทุกครั้ง พนักงานผู้ได้รับสิทธิจะต้องเป็นผู้ดำเนินการเขียนรายละเอียดลงในแบบฟอร์มเบิกจ่าย/ส่งคืนอุปกรณ์เครื่องมือ/ทรัพย์สิน  	 
      ตามที่บริษัทกำหนดเป็นลายลักษณ์อักษรด้วยตนเอง   เสร็จเสนออนุมัติต่อกรรมการบริหาร โดยผ่านผู้บังคับบัญชาต้นสังกัดเห็นชอบ   ฝ่ายทรัพยากรมนุษย์ตรวจสอบ  และเบิกจ่ายกับแผนกงาน		   
	  ที่ได้รับมอบหมายในการรับผิดชอบดูแลทรัพย์สินนั้นๆ เช่น  อุปกรณ์คอมพิวเตอร์เบิกที่แผนกเทคโนโลยีสารสนเทศ   การเบิกจ่ายยานยนต์ที่แผนกยานยนต์ เป็นต้น
	5.พนักงานที่พ้นสภาพการเป็นพนักงาน  หมดภาระหน้าที่รับผิดชอบปัจจุบัน  หรือการใช้ไม่เป็นไปตามข้อ 2. พนักงานผู้ได้รับสิทธิใช้นั้นๆ  จะต้องส่งมอบคืนอุปกรณ์เครื่องมือ/ทรัพย์สินบริษัท  	
	  โดยจะต้องดำเนินการเขียนเอกสาร   และเสนออนุมัติตามข้อ 4. เสร็จ  ให้พนักงานส่งมอบคืนกับแผนกงานที่ได้รับมอบหมายในการรับผิดชอบดูแลทรัพย์สินนั้นๆ  ในสภาพที่เรียบร้อยและ	
      ครบถ้วนสมบูรณ์ในวันที่สิ้นสุดนั้นๆ   กรณีส่งมอบคืนไม่ครบ   ถ้วนสมบูรณ์   บริษัทฯ อาจจะพิจารณาเรียกร้องค่าใช้จ่ายเกี่ยวกับอุปกรณ์เครื่องมือ/ทรัพย์สินไม่ครบถ้วนสมบูรณ์เป็นกรณีๆ ไป	
	  ตามความเหมาะสม   
	6.บริษัทฯ ขอสงวนไว้ซึ่งสิทธิที่จะยกเลิก แก้ไข เปลี่ยนแปลงระเบียบการเบิกจ่าย/ส่งมอบคืน อุปกรณ์เครื่องมือ/ทรัพย์สินบริษัท   พนักงานผู้ได้รับสิทธิได้ตามเห็นสมควร  โดยจะแจ้งให้ทราบ
      เป็นคราวๆ ไป
    
	ทั้งนี้  ให้ปฏิบัติอย่างเคร่งครัดนับตั้งแต่วันที่เบิกอุปกรณ์เครื่องมือ/ทรัพย์สินบริษัท เป็นต้นไป

	จึงประกาศมาเพื่อทราบโดยทั่วกัน  
		
	ประกาศ  ณ  วันที่  21 มีนาคม  2550    
        
        </pre>


      </div>
    </section>

  

  
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    </form>
</body>
</html>
