@charset "UTF-8";

@font-face {
  font-family: "font-aroma";
  src:url("../fonts/font-aroma.eot");
  src:url("../fonts/font-aroma.eot?#iefix") format("embedded-opentype"),
    url("../fonts/font-aroma.woff") format("woff"),
    url("../fonts/font-aroma.ttf") format("truetype"),
    url("../fonts/font-aroma.svg#font-aroma") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "font-aroma" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  /*line-height: 1;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "font-aroma" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  /*line-height: 1;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-001-technology:before {
  content: "\61";
}
.icon-002-computer-1:before {
  content: "\62";
}
.icon-003-networking:before {
  content: "\63";
}
.icon-004-computer:before {
  content: "\64";
}
.icon-005-network-1:before {
  content: "\65";
}
.icon-006-network:before {
  content: "\66";
}
.icon-007-browser:before {
  content: "\67";
}
.icon-008-money-2:before {
  content: "\68";
}
.icon-009-pay:before {
  content: "\69";
}
.icon-010-shirt:before {
  content: "\6a";
}
.icon-011-samsung-galaxy:before {
  content: "\6b";
}
.icon-012-cell-phone:before {
  content: "\6c";
}
.icon-013-gas-station:before {
  content: "\6d";
}
.icon-014-transport-2:before {
  content: "\6e";
}
.icon-015-money-1:before {
  content: "\6f";
}
.icon-016-teacher:before {
  content: "\70";
}
.icon-017-doctor-2:before {
  content: "\71";
}
.icon-018-employee:before {
  content: "\72";
}
.icon-019-handshake:before {
  content: "\73";
}
.icon-020-signs:before {
  content: "\74";
}
.icon-021-transport-1:before {
  content: "\75";
}
.icon-022-sun-umbrella:before {
  content: "\76";
}
.icon-023-coupon:before {
  content: "\77";
}
.icon-024-scissors:before {
  content: "\78";
}
.icon-025-team:before {
  content: "\79";
}
.icon-026-man-1:before {
  content: "\7a";
}
.icon-027-money:before {
  content: "\41";
}
.icon-028-food-2:before {
  content: "\42";
}
.icon-029-interface-1:before {
  content: "\43";
}
.icon-030-presentation-2:before {
  content: "\44";
}
.icon-031-presentation-1:before {
  content: "\45";
}
.icon-032-building:before {
  content: "\46";
}
.icon-033-food-1:before {
  content: "\47";
}
.icon-034-breakfast:before {
  content: "\48";
}
.icon-035-coffee:before {
  content: "\49";
}
.icon-036-heartbeat:before {
  content: "\4a";
}
.icon-037-speaking:before {
  content: "\4b";
}
.icon-038-people-4:before {
  content: "\4c";
}
.icon-039-people-3:before {
  content: "\4d";
}
.icon-040-people-2:before {
  content: "\4e";
}
.icon-041-doctor-1:before {
  content: "\4f";
}
.icon-042-diploma-1:before {
  content: "\50";
}
.icon-043-syringe-1:before {
  content: "\51";
}
.icon-044-transport:before {
  content: "\52";
}
.icon-045-skills:before {
  content: "\53";
}
.icon-046-megaphone:before {
  content: "\54";
}
.icon-047-new-year-1:before {
  content: "\55";
}
.icon-048-confetti:before {
  content: "\56";
}
.icon-049-new-year:before {
  content: "\57";
}
.icon-050-champagne:before {
  content: "\58";
}
.icon-051-sparkler:before {
  content: "\59";
}
.icon-052-company:before {
  content: "\5a";
}
.icon-053-coffee-cup:before {
  content: "\30";
}
.icon-054-food:before {
  content: "\31";
}
.icon-055-piggy-bank:before {
  content: "\32";
}
.icon-056-handcuffs:before {
  content: "\33";
}
.icon-057-diploma:before {
  content: "\34";
}
.icon-058-study:before {
  content: "\35";
}
.icon-059-develop:before {
  content: "\36";
}
.icon-060-man:before {
  content: "\37";
}
.icon-061-draw:before {
  content: "\38";
}
.icon-062-cup:before {
  content: "\39";
}
.icon-063-book-2:before {
  content: "\21";
}
.icon-064-medal:before {
  content: "\22";
}
.icon-065-book-1:before {
  content: "\23";
}
.icon-066-first-aid-kit-1:before {
  content: "\24";
}
.icon-067-student:before {
  content: "\25";
}
.icon-068-skyline:before {
  content: "\26";
}
.icon-069-banknote:before {
  content: "\27";
}
.icon-070-sheet-1:before {
  content: "\28";
}
.icon-071-medical:before {
  content: "\29";
}
.icon-072-worker:before {
  content: "\2a";
}
.icon-073-coins-1:before {
  content: "\2b";
}
.icon-074-sheet:before {
  content: "\2c";
}
.icon-075-book:before {
  content: "\2d";
}
.icon-076-restaurant:before {
  content: "\2e";
}
.icon-077-summer:before {
  content: "\2f";
}
.icon-078-script:before {
  content: "\3a";
}
.icon-079-injury:before {
  content: "\3b";
}
.icon-080-presentation:before {
  content: "\3c";
}
.icon-081-meeting:before {
  content: "\3d";
}
.icon-082-calendar:before {
  content: "\3e";
}
.icon-083-house:before {
  content: "\3f";
}
.icon-084-id-card-3:before {
  content: "\40";
}
.icon-085-id-card-2:before {
  content: "\5b";
}
.icon-086-id-card-1:before {
  content: "\5d";
}
.icon-087-id-card:before {
  content: "\5e";
}
.icon-088-stethoscope:before {
  content: "\5f";
}
.icon-089-credit-card:before {
  content: "\60";
}
.icon-090-feather-pen:before {
  content: "\7b";
}
.icon-091-coins:before {
  content: "\7c";
}
.icon-092-accident:before {
  content: "\7d";
}
.icon-093-time-1:before {
  content: "\7e";
}
.icon-094-money-bag:before {
  content: "\5c";
}
.icon-095-syringe:before {
  content: "\e000";
}
.icon-096-criminal:before {
  content: "\e001";
}
.icon-097-document:before {
  content: "\e002";
}
.icon-098-coffee-machine:before {
  content: "\e003";
}
.icon-099-time:before {
  content: "\e004";
}
.icon-100-tag:before {
  content: "\e005";
}
.icon-101-commerce-1:before {
  content: "\e006";
}
.icon-102-bullhorn:before {
  content: "\e007";
}
.icon-103-interface:before {
  content: "\e008";
}
.icon-104-programmer:before {
  content: "\e009";
}
.icon-105-doctor:before {
  content: "\e00a";
}
.icon-106-businessman:before {
  content: "\e00b";
}
.icon-107-man-with-company:before {
  content: "\e00c";
}
.icon-108-announcement:before {
  content: "\e00d";
}
.icon-109-signing-a-contract:before {
  content: "\e00e";
}
.icon-110-island-with-palm-trees:before {
  content: "\e00f";
}
.icon-111-heart-insurance:before {
  content: "\e010";
}
.icon-112-airplane-shape:before {
  content: "\e011";
}
.icon-113-people-1:before {
  content: "\e012";
}
.icon-114-people:before {
  content: "\e013";
}
.icon-115-square:before {
  content: "\e014";
}
.icon-116-commerce:before {
  content: "\e015";
}
.icon-117-edit:before {
  content: "\e016";
}
.icon-118-text-document:before {
  content: "\e017";
}
.icon-119-businessman-discussing-a-progress-report:before {
  content: "\e018";
}
.icon-120-traveler-with-a-suitcase:before {
  content: "\e019";
}
.icon-121-worker-money-time:before {
  content: "\e01a";
}
.icon-122-certificate-diploma:before {
  content: "\e01b";
}
.icon-123-first-aid-kit:before {
  content: "\e01c";
}
.icon-bank:before {
  content: "\e01d";
}
.icon-bank-1:before {
  content: "\e01e";
}
.icon-bank-2:before {
  content: "\e01f";
}
.icon-checked:before {
  content: "\e020";
}
.icon-funds:before {
  content: "\e021";
}
.icon-transfer:before {
  content: "\e022";
}
