/*** 

====================================================================
  Global Settings
====================================================================

 ***/

@font-face {
    font-family: 'db_ozone_xlight';
    src: url('../fonts/db_ozone_x_li.eot');
    src: url('../fonts/db_ozone_x_li.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_ozone_x_li.woff2') format('woff2'),
         url('../fonts/db_ozone_x_li.woff') format('woff'),
         url('../fonts/db_ozone_x_li.ttf') format('truetype'),
         url('../fonts/db_ozone_x_li.svg#db_ozone_xlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_ozone_xregular';
    src: url('../fonts/db_ozone_x.eot');
    src: url('../fonts/db_ozone_x.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_ozone_x.woff2') format('woff2'),
         url('../fonts/db_ozone_x.woff') format('woff'),
         url('../fonts/db_ozone_x.ttf') format('truetype'),
         url('../fonts/db_ozone_x.svg#db_ozone_xregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_ozone_xbold';
    src: url('../fonts/db_ozone_x_bd.eot');
    src: url('../fonts/db_ozone_x_bd.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_ozone_x_bd.woff2') format('woff2'),
         url('../fonts/db_ozone_x_bd.woff') format('woff'),
         url('../fonts/db_ozone_x_bd.ttf') format('truetype'),
         url('../fonts/db_ozone_x_bd.svg#db_ozone_xbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
 body {
  font-family: 'db_ozone_xlight';
  font-weight: normal;
  color:#6f6f6f;
  font-size: 22px;
  position: relative;
 }
.main-page-wrapper {
  overflow-x:hidden;
}
 h1,h2,h3,h4,h5,h6,p,ul { margin:0;padding: 0;}
 h1,h2,h3,h4,h5,h6 {font-family: 'db_ozone_xregular';color:#292929; text-transform: uppercase;font-weight: 700;}
 h1 {font-size: 48px;}
 h2 {font-size: 36px;}
 h3 {font-size: 28px;}
 h4 {font-size: 24px;}
 h5 {font-size: 22px;}
 h6 {font-size: 18px;}
 p {line-height: 26px;}
 ul {list-style-type: none;}
 a {
	 color: #6f6f6f;
	 text-decoration: none;
	 display: inline-block;
	 transition: all ease 0.4s;
	 -webkit-transition: all ease 0.4s;
	 -moz-transition: all ease 0.4s;
 }
 a:visited {color: #6f6f6f;}
 a:hover,a:focus,a:active {color: #292929; text-decoration: none; outline: none;}
 img {max-width: 100%; /*display: block;*/}

 button {border:none;outline: none;box-shadow: none;display: block; padding: 0;}
 input,textarea {outline: none; box-shadow: none;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}

.clear-fix { clear:both;}
.clear-fix:after {
  display: table;
  content: '';
  clear: both;
 }
.tran3s,.theme-main-menu .navbar-nav>li a,#project-section .project-gallery .single-img .opacity,
#team-section .team-member-wrapper .single-team-member .member-name h6,
#team-section .team-member-wrapper .single-team-member .member-name p,
#team-section .team-member-wrapper .single-team-member .member-name ul,
#our-client .owl-theme .owl-dots .owl-dot span {
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
 }
.tran4s,#service-section .single-service-content p,#project-section .project-gallery .single-img .opacity ul,
#project-section .project-gallery .single-img .opacity h6 a {
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
       -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
 }
.float-left {float:left;}
.float-right {float:right;}
.round-border {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
}
.theme-title {
  text-align: center;
  margin: 95px 0 0 0;
}
.tt-edit {
  text-align: center;
  margin: 95px 0 25px;
}
.theme-title ul {
  margin: 0 0 10px;
}
.theme-title ul li {
  display: inline-block;
  margin: 0 3px;
  color: #6f6f6f;
  font-family: 'db_ozone_xregular';
  font-size: 24px;
}
.theme-title ul li a {
  color:#6f6f6f;
}
.theme-title ul li a:hover {
  color:#e51937;
}
.theme-title ul li:last-child {
  color:#e51937;
}
.theme-title h2 {
  position: relative;
}
.theme-title h2:before {
  content: '';
  width: 25px;
  height: 3px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -12px;
}
.theme-title p {
  font-size: 24px;
  width: 75%;
  margin: 60px auto 0 auto;
}
.theme-title div {
  margin: 60px auto 0 auto;
}
.theme-title div select {
    padding: 5px 10px;
    margin: 0 2.5px;
}
.p-color,.theme-main-menu .navbar-nav>li.active>a,
.theme-main-menu .navbar-nav>li>a:hover,#about-us .single-about-content:hover h5 a,
#service-section .single-service-content:hover .icon-heading .icon,
#service-section .single-service-content:hover .icon-heading h6 a,
#pricing-section .single-price-table a:hover,#blog-section .single-news-item .img a,
#news-section .single-price-table a:hover,#blog-section .single-news-item .img a,
#blog-section .single-news-item:hover .post p a,#blog-section .single-news-item .post h6:hover a,
#contact-section .contact-address-content .left-side ul li:hover .icon,
#contact-section .send-message form button:hover,.inner-page-banner .opacity ul li:last-child,
.blog-details-page aside .sidebar-news-list ul li a i,.monthly-header-title,
.blog-details-page aside .sidebar-news-list ul li a:hover,.blog-details-page aside .sidebar-archives ul li a i,
.blog-details-page aside .sidebar-archives ul li a:hover,.blog-details-page aside .sidebar-archives ul li a.active,
.blog-details-page aside .sidebar-news-list ul li a.active,.recent-single-post .post a:hover,
.sidebar-tags ul li a:hover,.blog-details-post-wrapper .list-img-wrapper ul li a i,
.blog-details-post-wrapper .list-img-wrapper ul li a:hover,.blog-details-post-wrapper .post-comment form button:hover,
.blog-details-post-wrapper .post-share-area .share li a:hover,.theme-main-menu.navbar .nav>li ul li a:hover,
.blog-details-post-wrapper .post-share-area .share li a.active {
  color:#e51937;
}
.p-color-bg,.theme-title h2:before,#about-us .single-about-content:hover .icon,
#skill-section .codeconSkillbar .skillBar,#our-client .owl-theme .owl-dots .owl-dot.active span,
#our-client .owl-theme .owl-dots .owl-dot:hover span,
.blog-details-post-wrapper .comment-area .single-comment .comment button:hover {
  background: #e51937;
}
.banner .project-button,#about-us .icon,#about-us .single-about-content a.more,
#service-section .single-service-content:hover,#project-section .project-menu ul li.active,
#project-section .project-menu ul li:hover,.page-middle-banner .opacity a,
#team-section .team-member-wrapper .single-team-member .img .opacity h3,
#pricing-section .single-price-table a,#news-section .single-price-table a,
#our-client .owl-theme .owl-dots .owl-dot.active span, #our-client .owl-theme .owl-dots .owl-dot:hover span,
#contact-section .contact-address-content .left-side ul li .icon,#contact-section .send-message form button,
.sidebar-tags ul li a:hover,.blog-details-post-wrapper .post-comment form button,
.blog-details-post-wrapper .post-comment textarea:focus,.blog-details-post-wrapper .post-comment input:focus {
  border-color:#e51937;
  border-style: solid;
}

/*** 

====================================================================
  Css me
====================================================================

 ***/

/* menu */
.size-headbar {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 999;
}
.headbar {
    width: 100%;
    /*background: rgba(52, 47, 44, 0.7);*/
}
.headbar-con {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}
.logo-aroma {
    position: absolute;
    line-height: 0;
    top: 0;
    left: 0;
    z-index: 9;
}
.headbar-r {
    float: right;
    margin: 5px 0;
}
.headbar-r-menu {
    float: left;
    border-left: solid 1px rgba(255, 255, 255, 0.2);
}
.headbar-r-menu a {
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 0 10px;
}
.headbar-r-menu a:hover {
    color: #e51937;
    text-decoration: none;
}

/* button */
.btn-group .btn-primary {
	background-color: #e51937;
}
.btn-group .btn-primary:hover {
	background-color: #fff;
}
.btn-group .btn {
	font-size: 22px;
	line-height: 45px;
	font-weight: normal;
	padding: 0;
	text-transform: uppercase;
	-moz-border-radius: 0; 
    -webkit-border-radius: 0; 
	border-radius: 0;
	width: 130px;
    color: #fff;
    margin-top: 22px;
	border: 1px solid #fff;
}
.btn-group .btn:hover {
    color: #e51937;
	border: 1px solid #e51937;
}

/* banner */
.base-banner {
	line-height: 0;
}

/* footer */
footer {
    background: #1d1d1d;
}
.size-bgfooter {
    width: 100%;
    line-height: 0;
}
.size-bgfooter img {
    width: 100%;
}
.footer-con {
    width: 1140px;
    padding: 30px 15px;
    margin: 0 auto;  
}
.footer-l {
    float: left;
    width: 16.66%;
    padding: 0 15px;
}
.footer-head-m {
    color: #fff;
    text-transform: uppercase;
    min-height: 48px;
	line-height: 22px;
	font-family: 'db_ozone_xregular';
}
.footer-line {
    background: #ed1c24;
    width: 20px;
    height: 3px;
    margin: 20px 0;
}
.footer-m {
    padding: 5px 0;
}
.footer-m a {
    color: #bababa;
    font-size: 18px;
    line-height: 18px;
}
.footer-m a:hover {
	color: #e51937;
}
.footer-bot {
	padding: 30px 0;
}
.footer-logo {
	line-height: 0;
	text-align: center;
}
.footer-bot-txt {
	text-align: center;
	font-size: 16px;
	color: #fff;
	padding: 20px 0 0;
}

/*** 

====================================================================
  About section
====================================================================

 ***/
#about-us .single-about-content {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 100px;
}
#about-us .icon {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-width: 2px;
  font-size: 48px;
  color:#292929;
}
#about-us .icon i {
	line-height: 150px;
}
#about-us h3 a {
  color:#292929;
  margin: 35px 0 0;
  min-height: 90px;
}
#about-us .single-about-content a.more {
  width: 130px;
  line-height: 45px;
  color:#292929;
  border-width: 1px;
  margin-top:22px;
}
#about-us .single-about-content a.more:hover,
#about-us .single-about-content:hover .icon {
  color:#fff;
}
#about-us .single-about-content p {
  margin: 20px 0 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 76px;
}
.more {
  width: 130px;
  line-height: 45px;
  color:#292929;
  border-width: 1px;
  margin-top:22px;
  border-color: #e51937;
  border-style: solid;
}
.more:hover {
  color:#fff;
}
.blog-category {
	margin: 0 0 95px;
}
.blog-category-bt {
	text-align: center;
}
.category-title {
    text-align: center;
	margin: 95px 0 60px;
}
.category-title ul {
  margin: 0 0 10px;
}
.category-title ul li {
  display: inline-block;
  margin: 0 3px;
  color: #6f6f6f;
  font-family: 'db_ozone_xregular';
  font-size: 24px;
}
.category-title ul li a {
  color:#6f6f6f;
}
.category-title ul li a:hover {
  color:#e51937;
}
.category-title ul li:last-child {
  color:#e51937;
}

/*** 

====================================================================
  Content Menu section
====================================================================

 ***/
#about-us .menu-content {
  margin-top: 30px;
  margin-bottom: 30px;
}

/*** 

====================================================================
  Team Section
====================================================================

 ***/
.bg-team-section {
	background: #292929;
	padding-bottom: 65px;
}
.bg-team-section .theme-title h2, .bg-team-section .theme-title p {
    color: #fff;
}
#team-section .team-member-wrapper {
  margin: 55px 0;
}
#team-section .team-member-wrapper .float-left {
  /*width: 33.333333333%;*/
  width: 25%;
  padding: 0 15px;
  overflow: hidden;
  margin-bottom: 30px;
}
#team-section .team-member-wrapper .float-left-h {
  width: 100%;
  max-width: 275px;
  overflow: hidden;
  margin: 30px auto;
}
#team-section .team-member-wrapper .single-team-member,
#team-section .team-member-wrapper .single-team-member .img {
  overflow: hidden;
  position: relative;
  text-align: center;
}
#team-section .team-member-wrapper .single-team-member .img img {
  width: 100%;
  height: 213px;
}
#team-section .team-member-wrapper .single-team-member .img .opacity {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background: rgba(230,230,230,0.9);
  /*padding: 55px 0 20px 0;*/
  padding: 20px 0;
  opacity: 0;
  -webkit-transform: scale(1,0);
     -moz-transform: scale(1,0);
      -ms-transform: scale(1,0);
       -o-transform: scale(1,0);
          transform: scale(1,0);
  -ms-transform-origin: 0% 0%; /* IE 9 */
  -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
  transform-origin: 0% 0%;
}
#team-section .team-member-wrapper .single-team-member .img .opacity h4,
#team-section .team-member-wrapper .single-team-member .img .opacity span {
  color:#696f78;
  text-transform: capitalize;
}
#team-section .team-member-wrapper .single-team-member .img .opacity h4 {
  /*line-height: 40px;*/
  line-height: 30px;
  padding: 0 10px;
  border-width: 1px;
  display: inline-block;
}
#team-section .team-member-wrapper .single-team-member .img .opacity span {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  display: block;
  /*margin: 22px 0 15px 0;*/
  margin: 10px;
}
#team-section .team-member-wrapper .single-team-member .img .opacity p {
  color: #373a3f;
  /*padding: 0 40px;*/
  padding: 0 10px;
  font-size: 18px;
}
#team-section .team-member-wrapper .single-team-member .img .opacity p a {
  font-size: 18px;
}
#team-section .team-member-wrapper .single-team-member .img .opacity h3,
#team-section .team-member-wrapper .single-team-member .img .opacity span,
#team-section .team-member-wrapper .single-team-member .img .opacity p {
  opacity: 0;
  -webkit-transition-delay: 0.2s; /* Safari */
  transition-delay: 0.2s;
}
#team-section .team-member-wrapper .single-team-member:hover .img .opacity {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
#team-section .team-member-wrapper .single-team-member:hover .img .opacity h3,
#team-section .team-member-wrapper .single-team-member:hover .img .opacity span,
#team-section .team-member-wrapper .single-team-member:hover .img .opacity p {
  opacity: 1;
}
#team-section .team-member-wrapper .single-team-member .member-name {
  background: #e6e6e6;
  overflow: hidden;
  position: relative;
  min-height: 70px;
}
#team-section .team-member-wrapper .single-team-member .member-name h5 {
  text-transform: capitalize;
  color:#696f78;
  margin-top: 10px;
}
#team-section .team-member-wrapper .single-team-member .member-name p {
  color:#373a3f;
  margin: 5px 10px;
  min-height: 78px;
  font-size: 22px;
  line-height: 22px;
}
#team-section .team-member-wrapper .single-team-member:hover .member-name h5,
#team-section .team-member-wrapper .single-team-member:hover .member-name p {
  visibility: hidden;
  -webkit-transform: translate3D(0,-100px,0);
     -moz-transform: translate3D(0,-100px,0);
      -ms-transform: translate3D(0,-100px,0);
       -o-transform: translate3D(0,-100px,0);
          transform: translate3D(0,-100px,0);
}
#team-section .team-member-wrapper .single-team-member .member-name ul li {
  display: inline-block;
  margin-top: 28px;
}
#team-section .team-member-wrapper .single-team-member .member-name ul li a {
  width: 42px;
  line-height: 40px;
  font-size: 18px;
  margin: 0 5px;
  border:1px solid transparent;
}
#team-section .team-member-wrapper .single-team-member .member-name ul li a i {
  line-height: 40px;
}
#team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(1) a,
.blog-details-post-wrapper .post-share-area .share-icon li:nth-child(2) a {
  color: #677fb5;
  border-color:#677fb5;
}
#team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(2) a,
.blog-details-post-wrapper .post-share-area .share-icon li:nth-child(3) a {
  color: #70c2e9;
  border-color:#70c2e9;
}
#team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(3) a,
.blog-details-post-wrapper .post-share-area .share-icon li:nth-child(4) a {
  color: #d8545d;
  border-color:#d8545d;
}
#team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(4) a,
.blog-details-post-wrapper .post-share-area .share-icon li:nth-child(5) a {
  color: #007ab9;
  border-color:#007ab9;
}
#team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(1) a:hover,
.blog-details-post-wrapper .post-share-area .share-icon li:nth-child(2) a:hover {
  background: #677fb5;
}
#team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(2) a:hover,
.blog-details-post-wrapper .post-share-area .share-icon li:nth-child(3) a:hover {
  background: #70c2e9;
}
#team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(3) a:hover,
.blog-details-post-wrapper .post-share-area .share-icon li:nth-child(4) a:hover {
  background: #d8545d;
}
#team-section .team-member-wrapper .single-team-member .member-name ul li:nth-child(4) a:hover,
.blog-details-post-wrapper .post-share-area .share-icon li:nth-child(5) a:hover {
  background: #007ab9;
}
#team-section .team-member-wrapper .single-team-member .member-name ul li a:hover {
  color:#fff !important;
}
#team-section .team-member-wrapper .single-team-member .member-name ul {
  position: absolute;
  width: 100%;
  top: 12px;
  left: 0;
  -webkit-transform: translate3D(0,100px,0);
     -moz-transform: translate3D(0,100px,0);
      -ms-transform: translate3D(0,100px,0);
       -o-transform: translate3D(0,100px,0);
          transform: translate3D(0,100px,0);
}
#team-section .team-member-wrapper .single-team-member:hover .member-name ul {
  -webkit-transform: translate3D(0,0,0);
     -moz-transform: translate3D(0,0,0);
      -ms-transform: translate3D(0,0,0);
       -o-transform: translate3D(0,0,0);
          transform: translate3D(0,0,0);
}

.box-bd-ne {
	position: relative;
}
.box-bd-ne-l {
	float: left;
	width: 50%;
}
.box-bd-ne-r {
	float: left;
	width: 50%;
}
.mh-bd-ne {
	min-height: 130px;
}

/*** 

====================================================================
  Blog Employee Out
====================================================================

 ***/
.employee_out {
	overflow: hidden;
    position: relative;
    text-align: center;
}
.employee_out img {
	overflow: hidden;
    position: relative;
    text-align: center;
}
.employee_name {
	background: #e6e6e6;
    overflow: hidden;
    position: relative;
	padding: 10px;
}
.employee_name h5 {
    text-transform: capitalize;
    color: #696f78;
}
.employee_name p {
	/*min-height: 78px;*/
}
.employee_name div {
	font-size: 18px;
}

.size-menu-img {
    position: relative;
	margin: 55px 0 0;
}
.menu-img-l {
    float: left;
    width: 25%;
	line-height: 0;
    position: relative;
}
.menu-img-l img {
	width: 100%;
}
#hr-policy .menu-img-l .img {
  overflow: hidden;
  position: relative;
}
#hr-policy .menu-img-l .img a {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background: rgba(229, 25, 55, 0.5);
  text-align: center;
  font-size: 28px;
  opacity: 0;
  visibility: hidden;
  border-radius: 50%;
  -webkit-transform: scale(0.2);
     -moz-transform: scale(0.2);
      -ms-transform: scale(0.2);
       -o-transform: scale(0.2);
          transform: scale(0.2);
}
#hr-policy .menu-img-l .img a i {
  position: relative;
  top:50%;
  display: block;
  margin-top: -14px;
  color: #fff;
}
#hr-policy .menu-img-l:hover .img a {
  opacity: 1;
  visibility: visible;
  border-radius: 0;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
#hr-policy .menu-img-l .img img {
  -webkit-transition: all .6s ease-in-out;
     -moz-transition: all .6s ease-in-out;
      -ms-transition: all .6s ease-in-out;
       -o-transition: all .6s ease-in-out;
          transition: all .6s ease-in-out;
}
#hr-policy .menu-img-l:hover .img img {
  -webkit-transform: scale3d(1.15,1.15,1);
     -moz-transform: scale3d(1.15,1.15,1);
      -ms-transform: scale3d(1.15,1.15,1);
       -o-transform: scale3d(1.15,1.15,1);
          transform: scale3d(1.15,1.15,1);
}

/*** 

====================================================================
  Pricing Section
====================================================================

 ***/
#pricing-section {
  padding: 100px 0;
  /*margin-top: 45px;*/
}
#pricing-section .single-price-table {
  position: relative;
  border: 1px solid #dfdfdf;
  text-align: center;
  /*tpadding: 40px 20px;*/
}
#pricing-section .single-price-table i {
  font-size: 36px;
  color: #e51937;
  margin: 0 0 20px;
}
#pricing-section .single-price-table h4 {
  margin: 0 0 20px;
  padding: 20px 20px 0;
}
#pricing-section .single-price-table p {
  margin: 0 0 10px;
  padding: 0 20px;
}
#pricing-section .single-price-table a {
  border: 0;
  color: #e51937;
  padding: 0 20px 20px;
}
#pricing-section .single-price-table:after {
    content: "";
    background-color: #292929;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
}
#pricing-section .single-price-table:hover:after {
    width: 100%;
}
#pricing-section .single-price-table h4 {
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}
#pricing-section .single-price-table:hover h4 {
    color: #fff;
}

/*** 

====================================================================
  News Section
====================================================================

 ***/
#news-section {
  /*padding: 100px 0;
  margin-top: 45px;*/
}
#news-section .single-price-table {
  position: relative;
  border: 1px solid #dfdfdf;
  text-align: left;
  margin: 0 0 30px;
  /*padding: 40px 20px;*/
}
#news-section .single-price-table i {
  font-size: 36px;
  color: #e51937;
  margin: 0 0 20px;
}
#news-section .single-price-table h4 {
  /*min-height: 46px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;*/
} 
#news-section .single-price-table h4 a {
  padding: 0 20px;
  margin: 20px 0 10px;
  font-family: 'db_ozone_xregular';
  color: #292929;
  min-height: 52px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#news-section .single-price-table h4 a:hover {
  color: #e51937;
} 
#news-section .single-price-table p {
  /*margin: 0 0 10px;*/
  padding: 0 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 78px;
}
#news-section .single-price-table a {
  border: 0;
  color: #e51937;
  padding: 0 20px 20px;
}
#news-section .news-wrapper {
    margin: 55px 0;
}
#news-section .news-date a {
  border: 0;
  color: #6f6f6f;
  padding: 0 20px 20px;
}
/*#news-section .single-price-table:after {
    content: "";
    background-color: #292929;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
}
#news-section .single-price-table:hover:after {
    width: 100%;
}
#news-section .single-price-table h4 a {
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}
#news-section .single-price-table:hover h4 a {
    color: #fff;
}*/

/***

====================================================================
  Sidebar Recent Post 
====================================================================

 ***/
.sidebar-recent-post .recent-single-post {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom:1px solid #dfdfdf;
}
.sidebar-recent-post .recent-single-post img {
  margin-right: 10px;
  max-width: 105px;
}
.sidebar-recent-post h4,
.sidebar-tags h4 {
  margin-bottom: 32px;
}
.sidebar-recent-post {
  margin-bottom: 40px;
}
.sidebar-recent-post .recent-single-post:last-child {
  border: none;
}
.sidebar-tags ul li {
  display: inline-block;
  margin: 0 8px 10px 0;
}
.sidebar-tags ul li a {
  color:#6f6f6f;
  line-height: 35px;
  padding: 0 12px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
.sidebar-recent-post .recent-single-post .post {
  width: 67%;
}
.sidebar-recent-post .recent-single-post .post a {
  font-size: 20px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 40px;
}
.sidebar-recent-post .recent-single-post .post span {
  font-size: 18px;
  line-height: 20px;
}

/***

====================================================================
  Inner Page Banner 
====================================================================

 ***/
.inner-page-banner {
  background-size: cover;
  text-align: center;
  margin-bottom: 100px;
}
.inner-page-banner .opacity {
  height: 100%;
  background:rgba(0,0,0,0.5);
  padding: 146px 0 70px 0;
}
.inner-page-banner .opacity h1 {
  color:#fff;
  margin-top: 18px;
}
.inner-page-banner .opacity ul li {
  display: inline-block;
  margin: 0 3px;
  font-size: 22px;
  color: #fff;
}
.inner-page-banner .opacity ul li a {
  color:#fff;
}

/***

====================================================================
  Guide Line 
====================================================================

 ***/
/*.guide-line {
  text-align: center;
  margin-bottom: 60px;
}
.guide-line .opacity {
  height: 100%;
}
.guide-line .opacity h2 {
  position: relative;
  margin-top: 15px;
}
.guide-line .opacity h2:before {
  content: '';
  width: 25px;
  height: 3px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -12px;
  background: #e51937;
}
.guide-line .opacity ul li {
  display: inline-block;
  margin: 0 3px;
  color: #6f6f6f;
  font-family: 'db_ozone_xregular';
  font-size: 24px;
}
.guide-line .opacity ul li a {
  color:#6f6f6f;
}
.guide-line .opacity ul li a:hover {
  color:#e51937;
}
.guide-line .opacity ul li:last-child {
  color:#e51937;
}*/

/*** 

====================================================================
  Blog Details Post
====================================================================

 ***/
.blog-details-page {
	margin: 100px 0;
}
.blog-details-post-wrapper ol {
	padding: 0 0 0 20px;
}
.blog-details-post-wrapper ul {
	padding: 0 0 0 20px;
	margin: 0 0 10px 0;
}
.blog-details-post-wrapper ul.p {
	padding: 0;
	margin: 0 0 10px 0;
}
.blog-details-post-wrapper ul.p li {
	background: url(../images/icon-img/pdf.png) no-repeat 0 7px;
    padding: 0 0 0 24px;
}
.blog-details-post-wrapper ul.n li {
	background: url(../images/icon-img/notepad.png) no-repeat 0 6px;
    padding: 0 0 0 24px;
}
.blog-details-post-wrapper ul.a {
	list-style-type: disc;
}
.blog-details-post-wrapper ul.b {
	list-style-type: circle;
}
.blog-details-post-wrapper ul.t {
	list-style-type: upper-latin;
}
.blog-details-post-wrapper ol ol {
	margin: 10px 0 20px;
}
.blog-details-post-wrapper ol ul {
	padding: 0 0 0 20px;
	margin: 10px 0;
}
.post-heading {
  text-align: center;
  position: relative;
}
.post-heading ul {
  margin: 0 0 10px;
}
.post-heading ul li {
  display: inline-block;
  margin: 0 3px;
  color: #6f6f6f;
  font-family: 'db_ozone_xregular';
  font-size: 24px;
}
.post-heading ul li a {
  color:#6f6f6f;
}
.post-heading ul li a:hover {
  color:#e51937;
}
.post-heading ul li:last-child {
  color:#e51937;
}
.post-heading h2 {
  position: relative;
  margin-bottom: 60px
}
.post-heading h2:before {
  content: '';
  width: 25px;
  height: 3px;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -12px;
  background: #e51937;
}
/*.blog-details-post-wrapper .post-heading h2 {
  margin: 0;
  text-transform: none;
}*/
.blog-details-post-wrapper .post-heading {
  /*padding-bottom: 25px;
  border-bottom: 1px solid #dfdfdf;*/
  margin-bottom: 25px;
}
.blog-details-post-wrapper img {
	border: 10px solid #dfdfdf;
}
.blog-details-post-wrapper > h4 {
  margin: 30px 0 10px 0;
  text-transform: none;
}
.sidebar-news-list ul li {
	font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
	background: url(../images/icon-img/right-arrow.png) no-repeat 0 9px;
    padding: 0 0 0 18px;
}
.sidebar-news-list ul.p li {
	font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
	background: url(../images/icon-img/pdf.png) no-repeat 0 4px;
    padding: 0 0 0 24px;
}
.sidebar-news-list ul li i {
	margin-right: 8px;
    font-size: 14px;
}
.blog-details-bt {
	padding: 30px 0 0;
}
.table {
	margin: 20px 0;
}
.table .thead-inverse th {
    color: #363636;
    background-color: #fff;
    border-color: #e51937;
}
.blog-details-post-wrapper>.row {
  margin-top: 35px;
  margin-bottom: 25px;
}
.blog-details-post-wrapper>.row p {
  font-style: italic;
  color:#292929;
  padding-left: 18px;
}
.blog-details-post-wrapper>.row p i {
  color:#9d9f9f;
  margin: 0 4px;
}
.blog-details-post-wrapper>.row p i.fa-quote-left {
  margin-left: -16px;
}
.blog-details-post-wrapper .list-img-wrapper {
  margin: 34px 0 40px 0;
}
.blog-details-post-wrapper .list-img-wrapper img {
  width: 48%;
}
.blog-details-post-wrapper .list-img-wrapper ul {
  padding-left: 30px;
}
.blog-details-post-wrapper .list-img-wrapper ul li a {
  color:#292929;
  margin-bottom: 12px;
}
.blog-details-post-wrapper .list-img-wrapper ul li a i {
  margin-right: 8px;
}
.blog-details-post-wrapper .post-share-area .share li {
  display: inline-block;
  margin-top: 5px;
}
.blog-details-post-wrapper .post-share-area .share li a {
  color:#6f6f6f;
}
.blog-details-post-wrapper .post-share-area {
  padding-bottom: 30px;
  border-bottom: 1px solid #dfdfdf;
}
.blog-details-post-wrapper .post-share-area .share-icon li {
  display: inline-block;
  text-align: center;
}
.blog-details-post-wrapper .post-share-area .share-icon li a {
  width: 32px;
  line-height: 30px;
  margin: 0 5px;
  border:1px solid transparent;
}
.blog-details-post-wrapper .post-share-area .share-icon li:first-child {
  margin-right: 15px;
}
.blog-details-post-wrapper .post-share-area .share-icon li a:hover {
  color:#fff;
}
.blog-details-post-wrapper .comment-area h3 {
  margin: 55px 0 42px 0;
  padding-bottom: 32px;
  border-bottom: 1px solid #dfdfdf;
}
.blog-details-page aside .sidebar-news-list ul {
  margin: 32px 0 40px 0;
}
.blog-details-tb-address {
  position: relative;
}
.blog-details-tb-address-l {
	float: left;
	width: 9%;
}
.blog-details-tb-address-l2 {
	float: left;
	width: 1%;
}
.blog-details-tb-address-r {
	float: left;
	width: 90%;
	padding: 0 10px;
}
